Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

Fix framework policy review follow-ups (#694)
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/framework_policy.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/reporting/test_framework_package_integration.py
  apps/backend/tests/reporting/test_framework_policy.py
  docs/ssot/framework-reporting.md
  docs/ssot/reporting.md
Due: validate-schemas

Complete framework-aware report package epic
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/framework_policy.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/reporting/test_framework_policy.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-020.framework-aware-personal-reporting.md
  docs/ssot/framework-reporting.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

Harden product source trust proof
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/integration/test_reporting_e2e.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/lib/types.ts
  common/ssot/check_critical_proof_matrix.py
  common/ssot/check_source_coverage_matrix.py
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/reference/api.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/critical-proof-matrix.yaml
  docs/ssot/source-coverage-matrix.yaml
  tests/tooling/test_check_critical_proof_matrix.py
  tests/tooling/test_personal_report_package_fixture_contract.py
  tests/tooling/test_source_coverage_matrix.py
  tools/check_source_coverage_matrix.py
Due: validate-schemas, frontend-lint

Raise frontend coverage baseline
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/coverageBaseline.test.ts
  apps/frontend/src/__tests__/investmentPerformanceSchedule.test.tsx
  apps/frontend/src/__tests__/journalPage.test.tsx
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/__tests__/sankeyChartComponent.test.tsx
  apps/frontend/src/__tests__/toastProviderComponent.test.tsx
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/vitest.config.ts
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/coverage.md
Due: frontend-lint

Align report readiness smoke with framework selection
  apps/frontend/playwright/report-readiness.spec.ts
Due: frontend-lint

Restore report package frontend coverage
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
Due: frontend-lint

Raise frontend coverage baseline (#699)
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/coverageBaseline.test.ts
  apps/frontend/src/__tests__/investmentPerformanceSchedule.test.tsx
  apps/frontend/src/__tests__/journalPage.test.tsx
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/__tests__/sankeyChartComponent.test.tsx
  apps/frontend/src/__tests__/toastProviderComponent.test.tsx
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/vitest.config.ts
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/coverage.md
Due: frontend-lint

Harden product source trust proof (#697)
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/integration/test_reporting_e2e.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/lib/types.ts
  common/ssot/check_critical_proof_matrix.py
  common/ssot/check_source_coverage_matrix.py
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/reference/api.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/critical-proof-matrix.yaml
  docs/ssot/source-coverage-matrix.yaml
  tests/tooling/test_check_critical_proof_matrix.py
  tests/tooling/test_personal_report_package_fixture_contract.py
  tests/tooling/test_source_coverage_matrix.py
  tools/check_source_coverage_matrix.py
Due: validate-schemas, frontend-lint

Add Stage 1 approval gate regression tests
  apps/backend/tests/review/test_statement_validation.py
  apps/frontend/playwright/inline-edit-happy-path.spec.ts
  apps/frontend/playwright/mobile-ux.spec.ts
  apps/frontend/src/__tests__/TransactionTable.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
Due: frontend-lint

Fix Stage 1 edit approval gates
  apps/backend/src/services/statement_validation.py
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/TransactionTable.tsx
  docs/ssot/confirmation-workflow.md
Due: frontend-lint

ci: enforce fifo post-merge staging train
  .github/workflows/staging-deploy.yml
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_common_tooling_modules.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/_lib/ci/wait_post_merge_train_turn.py
  tools/wait_post_merge_train_turn.py
Due: frontend-lint

Stabilize dashboard analytics test wait
  apps/frontend/src/__tests__/dashboardPage.test.tsx
Due: frontend-lint

[finance_report_audit] Complete framework-aware report package epic (#698)
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/framework_policy.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/reporting/test_framework_policy.py
  apps/frontend/playwright/report-readiness.spec.ts
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-020.framework-aware-personal-reporting.md
  docs/ssot/framework-reporting.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

Simplify edit approval cancel handler
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
Due: frontend-lint

ci: enforce fifo post-merge staging train (#700)
  .github/workflows/staging-deploy.yml
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_common_tooling_modules.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/_lib/ci/wait_post_merge_train_turn.py
  tools/wait_post_merge_train_turn.py
Due: frontend-lint

Align dirty account test with balance approval gate
  apps/backend/tests/extraction/test_account_last4_defense.py
Due: none

Harden upload-to-report cockpit action contract
  apps/backend/src/schemas/workflow.py
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/api/test_workflow_router.py
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/__tests__/workflowApi.test.ts
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/workflow-events.md
Due: validate-schemas, frontend-lint

[finance_report_ui] Fix Stage 1 approval gates (#702)
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/extraction/test_account_last4_defense.py
  apps/backend/tests/review/test_statement_validation.py
  apps/frontend/playwright/inline-edit-happy-path.spec.ts
  apps/frontend/playwright/mobile-ux.spec.ts
  apps/frontend/src/__tests__/TransactionTable.test.tsx
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/TransactionTable.tsx
  docs/ssot/confirmation-workflow.md
Due: frontend-lint

Fix framework market data readiness review feedback
  apps/backend/src/services/framework_policy.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/reporting/test_framework_package_integration.py
Due: none

Fix workflow cockpit CI coverage checks
  apps/backend/tests/api/test_workflow_router.py
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/vitest.config.ts
Due: frontend-lint

ci: harden staging workflow triggers
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/infra.yml
  .github/workflows/staging-deploy.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  tests/tooling/test_issue_template_contract.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

Restore frontend types coverage reporting
  apps/frontend/vitest.config.ts
Due: frontend-lint

ci: harden staging workflow triggers (#709)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/infra.yml
  .github/workflows/staging-deploy.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  tests/tooling/test_issue_template_contract.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_vision] Harden upload-to-report cockpit action contract (#708)
  apps/backend/src/schemas/workflow.py
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/api/test_workflow_router.py
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/__tests__/workflowApi.test.ts
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/workflow-events.md
Due: validate-schemas, frontend-lint

Fix framework market data readiness review feedback (#703)
  apps/backend/src/services/framework_policy.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/reporting/test_framework_package_integration.py
Due: none

test: add EPIC-021 advisor framing contract
  tests/e2e/test_application_ai_advisor_epic021.py
  tests/tooling/test_application_ai_advisor_epic021_contract.py
Due: none

docs: frame EPIC-021 application AI advisor
  README.md
  common/ssot/generate_ac_registry.py
  docs/project/EPIC-021.application-ai-advisor.md
  docs/project/README.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/ai.md
  mkdocs.yml
Due: none

test: add typed package source anchor coverage
  apps/backend/tests/api/test_personal_report_package_contract.py
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
Due: none

fix: harden package source traceability anchors
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/report_readiness.py
  apps/frontend/src/lib/types.ts
  docs/ssot/reporting.md
  docs/ssot/schema.md
Due: validate-schemas, frontend-lint

docs: register EPIC-021 e2e ownership
  docs/project/EPIC-008.testing-strategy.md
Due: none

ci: tighten delivery pipeline gates
  README.md
  common/ci/change_classifier.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/development.md
  docs/ssot/environments.md
  tests/tooling/test_ci_change_classifier.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

test: cover source anchor detail helpers
  apps/backend/tests/api/test_personal_report_package_contract.py
Due: none

[finance_report_vision] Frame EPIC-021 application AI advisor (#714)
  README.md
  common/ssot/generate_ac_registry.py
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-021.application-ai-advisor.md
  docs/project/README.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/ai.md
  mkdocs.yml
  tests/e2e/test_application_ai_advisor_epic021.py
  tests/tooling/test_application_ai_advisor_epic021_contract.py
Due: none

fix: force redeploy existing pr previews
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

ci: tighten delivery pipeline gates (#716)
  README.md
  common/ci/change_classifier.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/development.md
  docs/ssot/environments.md
  tests/tooling/test_ci_change_classifier.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_ui] Harden frontend stability
  apps/frontend/Dockerfile
  apps/frontend/next.config.mjs
  apps/frontend/src/__tests__/api-urls.test.ts
  apps/frontend/src/__tests__/assetsPage.test.tsx
  apps/frontend/src/__tests__/holdingDetailPage.test.tsx
  apps/frontend/src/__tests__/investmentPerformanceSchedule.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/__tests__/types.test.ts
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/app/(main)/portfolio/[ticker]/page.tsx
  apps/frontend/src/components/portfolio/AllocationChart.tsx
  apps/frontend/src/components/portfolio/HoldingsTable.tsx
  apps/frontend/src/components/portfolio/InvestmentPerformanceSchedule.tsx
  apps/frontend/src/lib/api.ts
  apps/frontend/src/lib/currency.test.ts
  apps/frontend/src/lib/currency.ts
  apps/frontend/src/lib/types.ts
  docker-compose.yml
  docs/ssot/ci-cd.md
  docs/ssot/frontend-patterns.md
  tests/tooling/test_docker_compose_routing.py
Due: frontend-lint

test: cover env stage ci matrix
  docs/project/EPIC-008.testing-strategy.md
  tests/tooling/test_ci_change_classifier.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

ci: model env stage matrix gates
  .github/workflows/ci.yml
  common/ci/change_classifier.py
  docs/ssot/ci-cd.md
  docs/ssot/environments.md
Due: none

fix: recreate stale pr preview composes
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

[finance_report_test_and_doc] Model CI as env-stage matrix (#719)
  .github/workflows/ci.yml
  common/ci/change_classifier.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/environments.md
  tests/tooling/test_ci_change_classifier.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none
