Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

fix(reconciliation): align stage two approval contract
  apps/backend/src/reconciliation/extension/review_queue.py
  apps/backend/src/routers/review.py
  apps/backend/src/schemas/review.py
  apps/frontend/openapi.json
  apps/frontend/src/__tests__/reviewLandingPage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.actions.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.coverage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/reviewRunPage.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueParts.test.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/components/review/stage2/PendingMatchesPanel.tsx
  apps/frontend/src/lib/api-types.ts
Due: validate-schemas, frontend-lint

fix(reconciliation): guard reviewed disposition input
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
Due: frontend-lint

test(reconciliation): await reviewed disposition state
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
Due: frontend-lint

fix(reconciliation): bind review draft to transaction
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
Due: frontend-lint

fix(reconciliation): publish disposition trace boundary
  apps/backend/src/extraction/__init__.py
  apps/backend/src/reconciliation/extension/reviewed_disposition.py
  common/extraction/contract.py
  common/reconciliation/contract.py
Due: none

fix(reconciliation): anchor reviewed disposition traces
  apps/backend/ci/backend-test-durations.json
  apps/backend/src/composition.py
  apps/backend/src/extraction/base/disposition.py
  apps/backend/src/extraction/extension/disposition_trace.py
  apps/backend/src/reconciliation/__init__.py
  apps/backend/src/reconciliation/extension/review_queue.py
  apps/backend/src/reconciliation/extension/reviewed_disposition.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/schemas/reconciliation.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/extraction/test_disposition_policy.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/backend/tests/reconciliation/test_signature_surgery.py
  common/extraction/contract.py
  common/reconciliation/contract.py
  common/reconciliation/readme.md
  docs/user-guide/reconciliation.md
Due: validate-schemas

test(reconciliation): reject deleted raw handlers
  apps/backend/tests/reconciliation/test_signature_surgery.py
Due: none

test(reconciliation): stabilize combined package gates
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  common/meta/data/delivery-layer-baseline.json
Due: frontend-lint

fix(reconciliation): scope unmatched exclusions by tenant
  apps/backend/src/reconciliation/extension/reviewed_disposition.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
Due: none

test(tooling): accept grouped Money imports
  tests/tooling/test_orm_value_type_boundary.py
Due: none

fix(ledger): publish trace policy registry
  apps/backend/src/ledger/__init__.py
  apps/backend/src/ledger/extension/__init__.py
  apps/backend/src/ledger/extension/anchored_posting.py
  apps/backend/tests/ledger/test_decision_anchor.py
  common/ledger/contract.py
Due: none

test(ledger): prove anchored command rollback
  apps/backend/tests/ledger/test_decision_anchor.py
  common/ledger/contract.py
Due: none

feat(ledger): publish decision-anchored journal contributions
  apps/backend/src/ledger/__init__.py
  apps/backend/src/ledger/base/__init__.py
  apps/backend/src/ledger/base/contribution.py
  apps/backend/src/ledger/extension/__init__.py
  apps/backend/src/ledger/extension/contribution.py
  apps/backend/tests/ledger/test_decision_anchor.py
  common/ledger/contract.py
Due: none

fix(extraction): fail closed on missing source authority
  apps/backend/src/extraction/extension/statement_posting.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/ledger/test_decision_anchor.py
  common/extraction/contract.py
  common/ledger/contract.py
Due: none

test(ledger): use anchored command fixtures
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/integration/test_onboarding_e2e.py
  apps/backend/tests/reconciliation/test_reconciliation_endpoints.py
  apps/backend/tests/reporting/test_reports_errors.py
  apps/backend/tests/statement_ingestion.py
Due: none

feat(pricing): publish decision-backed valuation contributions
  apps/backend/src/pricing/__init__.py
  apps/backend/src/pricing/base/__init__.py
  apps/backend/src/pricing/base/contribution.py
  apps/backend/src/pricing/base/observation.py
  apps/backend/src/pricing/extension/__init__.py
  apps/backend/src/pricing/extension/manual.py
  apps/backend/src/pricing/extension/repository.py
  apps/backend/src/pricing/extension/valuation.py
  apps/backend/src/pricing/extension/valuation_contribution.py
  apps/backend/src/routers/assets.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  apps/backend/tests/pricing/test_resolved_valuation_contribution.py
  common/pricing/contract.py
  common/pricing/readme.md
Due: none

fix(pricing): seal valuation contribution cutover
  apps/backend/src/pricing/__init__.py
  apps/backend/src/pricing/base/contribution.py
  apps/backend/src/pricing/extension/__init__.py
  apps/backend/src/pricing/extension/valuation.py
  apps/backend/src/pricing/extension/valuation_contribution.py
  apps/backend/tests/pricing/test_resolved_valuation_contribution.py
  apps/backend/tests/pricing/test_valuation_lines.py
  apps/frontend/openapi.json
  apps/frontend/src/lib/api-types.ts
  common/pricing/contract.py
  common/pricing/readme.md
Due: frontend-lint

[finance-report-1915-pricing] Publish decision-backed valuation contributions (#1916)
  apps/backend/src/pricing/__init__.py
  apps/backend/src/pricing/base/__init__.py
  apps/backend/src/pricing/base/contribution.py
  apps/backend/src/pricing/base/observation.py
  apps/backend/src/pricing/extension/__init__.py
  apps/backend/src/pricing/extension/manual.py
  apps/backend/src/pricing/extension/repository.py
  apps/backend/src/pricing/extension/valuation.py
  apps/backend/src/pricing/extension/valuation_contribution.py
  apps/backend/src/routers/assets.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  apps/backend/tests/pricing/test_resolved_valuation_contribution.py
  apps/backend/tests/pricing/test_valuation_lines.py
  apps/frontend/openapi.json
  apps/frontend/src/lib/api-types.ts
  common/pricing/contract.py
  common/pricing/readme.md
Due: frontend-lint

fix(extraction): fail closed for malformed contributions
  apps/backend/src/extraction/base/contribution.py
  apps/backend/src/extraction/extension/statement_contribution.py
  apps/backend/tests/extraction/test_statement_contribution.py
  common/extraction/contract.py
  common/extraction/readme.md
Due: none

feat(extraction): publish decision-backed statement contributions
  apps/backend/src/extraction/__init__.py
  apps/backend/src/extraction/base/__init__.py
  apps/backend/src/extraction/base/contribution.py
  apps/backend/src/extraction/extension/statement_contribution.py
  apps/backend/tests/extraction/test_statement_contribution.py
  common/extraction/contract.py
  common/extraction/readme.md
Due: none

[finance-report-1681-source-contributions] Publish decision-backed statement contributions (#1918)
  apps/backend/src/extraction/__init__.py
  apps/backend/src/extraction/base/__init__.py
  apps/backend/src/extraction/base/contribution.py
  apps/backend/src/extraction/extension/statement_contribution.py
  apps/backend/tests/extraction/test_statement_contribution.py
  common/extraction/contract.py
  common/extraction/readme.md
Due: none

fix(extraction): make staging statement canary fail closed
  .github/workflows/deploy.yml
  common/extraction/contract.py
  common/runtime/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

fix(deploy): verify release tag against exact source sha
  .github/workflows/deploy.yml
  common/extraction/contract.py
  common/runtime/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

docs(runtime): use one audit replay term
  common/runtime/ci-cd.md
Due: none

test(runtime): align reusable canary contract
  tests/tooling/test_ci_gate_inventory.py
Due: none

test(frontend): wait for unmatched amount render
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
Due: frontend-lint

[finance-report-1834-composed-ingestion] Fail-close staged statement canary (#1921)
  .github/workflows/deploy.yml
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  common/extraction/contract.py
  common/runtime/ci-cd.md
  tests/tooling/test_ci_gate_inventory.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: frontend-lint

[finance_report_audit_1894] Generate the DDD dependency impact plane (#1905)
  .github/workflows/ci.yml
  common/meta/__init__.py
  common/meta/base/__init__.py
  common/meta/base/dependency_graph.py
  common/meta/contract.py
  common/meta/data/__init__.py
  common/meta/data/projection.py
  common/meta/extension/check_package_contract.py
  common/meta/extension/dependency_report.py
  common/meta/readme.md
  tests/tooling/test_ddd_dependency_report.py
  tools/report_ddd_dependencies.py
Due: none

test(audit): restore main coverage ratchet
  apps/backend/tests/audit/test_boundary_codecs.py
  apps/backend/tests/extraction/test_statement_result_contract.py
Due: none

test(meta): make coverage proofs traceable
  apps/backend/tests/audit/test_boundary_codecs.py
  apps/backend/tests/extraction/test_statement_result_contract.py
Due: none

fix(testing): preflight AC proof traceability
  .opencode/skills/domain/preflight/SKILL.md
  common/testing/preflight.py
  tests/tooling/test_preflight.py
Due: none

[finance-report-950-coverage-ratchet] test(audit): restore main coverage ratchet (#1922)
  .opencode/skills/domain/preflight/SKILL.md
  apps/backend/tests/audit/test_boundary_codecs.py
  apps/backend/tests/extraction/test_statement_result_contract.py
  common/testing/preflight.py
  tests/tooling/test_preflight.py
Due: none

test(#1923): await unmatched detail readiness
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
Due: frontend-lint

[finance-report-1923-unmatched-flag-proof] Stabilize UnmatchedBoard flag readiness proof (#1924)
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
Due: frontend-lint

fix(ledger): preserve immutable rows in authority migration
  apps/backend/migrations/versions/0056_decision_anchored_journal_entries.py
  apps/backend/tests/ledger/test_historical_authority_migration.py
  common/ledger/contract.py
  common/ledger/readme.md
  common/meta/data/migration-risk.yaml
Due: none

docs(ledger): complete historical migration proof
  common/ledger/contract.py
Due: none
