Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

[finance_report_pic] Separate reconciliation config values from runtime and ledger reads (#2024)
  apps/backend/src/reconciliation/__init__.py
  apps/backend/src/reconciliation/base/__init__.py
  apps/backend/src/reconciliation/base/config.py
  apps/backend/src/reconciliation/extension/config.py
  apps/backend/src/reconciliation/extension/entry_reads.py
  apps/backend/src/reconciliation/extension/matching.py
  apps/backend/src/reconciliation/extension/phases/many_to_one.py
  apps/backend/src/reconciliation/extension/phases/normal_matching.py
  apps/backend/src/reconciliation/extension/review_queue.py
  apps/backend/tests/reconciliation/test_config_boundary.py
  apps/backend/tests/reconciliation/test_reconciliation_scoring.py
  apps/backend/tests/reconciliation/test_signature_surgery.py
  common/meta/data/base-purity-baseline.json
  common/reconciliation/contract.py
  common/reconciliation/readme.md
  tests/tooling/test_orm_value_type_boundary.py
  tests/tooling/test_reconciliation_config_boundary.py
Due: none

docs(extraction): distinguish domain purity from package bootstrap
  apps/backend/src/extraction/base/source_vocabulary.py
  common/extraction/contract.py
  common/extraction/readme.md
Due: none

fix(frontend): complete first-use account and opening balance setup (#2025)
  apps/frontend/src/__tests__/openingBalanceModal.test.tsx
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/components/accounts/AccountFormModal.tsx
  apps/frontend/src/components/accounts/OpeningBalanceModal.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
  common/ledger/contract.py
  common/ledger/readme.md
  common/reconciliation/contract.py
  common/reconciliation/readme.md
Due: frontend-lint

test(reconciliation): await completed queue refresh instead of navigation
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
Due: frontend-lint

fix(accounts): label currency and verify saved-account results
  apps/frontend/src/__tests__/accountFormModalComponent.test.tsx
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/components/accounts/AccountFormModal.tsx
Due: frontend-lint

[finance_report_infra] Migrate to infra2-sdk v1.5.0: SDK-owned manifest fold, empty-env safety, decision source classes (#2005)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .opencode/skills/domain/secrets-management/SKILL.md
  apps/backend/pyproject.toml
  apps/backend/src/config.py
  apps/backend/tests/infra/test_config.py
  apps/backend/uv.lock
  common/extraction/readme.md
  common/observability/observability.md
  common/runtime/ci-cd.md
  common/runtime/contract.py
  common/runtime/deployment.md
  common/runtime/required-env.generated.json
  docker-compose.pr-preview.yml
  docker-compose.yml
  tests/tooling/test_app_deploy_request.py
  tests/tooling/test_required_env_manifest.py
  tests/tooling/test_staging_toolchain_retry.py
  tools/_lib/dev/pr_preview_lifecycle/_preview.py
  tools/generate_env_reference.py
Due: check-env-keys, validate-schemas

[finance_report_infra] Defer env_ignore_empty: Settings.model_config is part of every accessed-field projection (#2005)
  apps/backend/src/config.py
  apps/backend/tests/infra/test_config.py
  common/runtime/contract.py
Due: check-env-keys, validate-schemas

[finance_report_infra] generate_env_reference: an unknown ENV_SOURCE_CLASSES name exits with the field names, not a traceback (#2005)
  tools/generate_env_reference.py
Due: none

governance(reconciliation): prove economic disposition invariants
  apps/backend/tests/reconciliation/test_economic_disposition.py
  apps/backend/tests/reconciliation/test_economic_disposition_governance.py
  common/reconciliation/contract.py
  common/reconciliation/extension/__init__.py
  common/reconciliation/extension/governance_detector.py
  common/reconciliation/readme.md
Due: none

[finance_report_infra] test: an unknown ENV_SOURCE_CLASSES name exits with the field name (#2005)
  tests/tooling/test_required_env_manifest.py
Due: none

refactor(reconciliation): unify live and audit candidate policy
  apps/backend/src/reconciliation/__init__.py
  apps/backend/src/reconciliation/extension/candidate_policy.py
  apps/backend/src/reconciliation/extension/matching.py
  apps/backend/src/reconciliation/extension/phases/many_to_one.py
  apps/backend/src/reconciliation/extension/phases/normal_matching.py
  apps/backend/src/reconciliation/extension/reconciliation_audit.py
  apps/backend/tests/reconciliation/test_candidate_policy.py
  apps/backend/tests/reconciliation/test_economic_disposition.py
  apps/backend/tests/reconciliation/test_economic_disposition_governance.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reconciliation/test_signature_surgery.py
  common/reconciliation/contract.py
  common/reconciliation/extension/governance_detector.py
  common/reconciliation/readme.md
Due: none

[finance_report_infra] Migrate to infra2-sdk v1.5.0: SDK-owned manifest fold, empty-env safety, decision source classes (#2005) (#2028)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  .opencode/skills/domain/secrets-management/SKILL.md
  apps/backend/pyproject.toml
  apps/backend/src/config.py
  apps/backend/uv.lock
  common/extraction/readme.md
  common/observability/observability.md
  common/runtime/ci-cd.md
  common/runtime/deployment.md
  common/runtime/required-env.generated.json
  docker-compose.pr-preview.yml
  docker-compose.yml
  tests/tooling/test_app_deploy_request.py
  tests/tooling/test_required_env_manifest.py
  tests/tooling/test_staging_toolchain_retry.py
  tools/_lib/dev/pr_preview_lifecycle/_preview.py
  tools/generate_env_reference.py
Due: check-env-keys, validate-schemas

fix(reconciliation): report detector input failures and align owner docs
  apps/backend/src/reconciliation/extension/candidate_policy.py
  apps/backend/tests/reconciliation/test_economic_disposition_governance.py
  common/reconciliation/extension/governance_detector.py
  common/reconciliation/readme.md
Due: none

test(testing): preserve declared proof strength in conformance fixtures
  common/testing/contract.py
  common/testing/readme.md
  tests/tooling/test_workflow_selection_conformance.py
Due: none

test(testing): explain missing scenario coverage explicitly
  tests/tooling/test_workflow_selection_conformance.py
Due: none

[finance_report] Stop shipping empty values for alias-chain env names
  .env.example
  apps/backend/src/runtime/extension/env_keys.py
  common/runtime/contract.py
  common/runtime/readme.md
  docker-compose.pr-preview.yml
  docker-compose.yml
  tests/tooling/test_check_env_keys.py
  tests/tooling/test_env_empty_value_producers.py
  tests/tooling/test_env_reference.py
  tests/tooling/test_required_env_manifest.py
  tools/generate_env_reference.py
Due: check-env-keys

Require `=` directly after the key in a commented example (Copilot review)
  apps/backend/src/runtime/extension/env_keys.py
  tests/tooling/test_check_env_keys.py
  tests/tooling/test_env_empty_value_producers.py
  tests/tooling/test_env_reference.py
  tools/generate_env_reference.py
Due: none

[finance_report] Stop shipping empty values for alias-chain env names (#2033)
  .env.example
  apps/backend/src/runtime/extension/env_keys.py
  common/runtime/contract.py
  common/runtime/readme.md
  docker-compose.pr-preview.yml
  docker-compose.yml
  tests/tooling/test_check_env_keys.py
  tests/tooling/test_env_empty_value_producers.py
  tests/tooling/test_env_reference.py
  tests/tooling/test_required_env_manifest.py
  tools/generate_env_reference.py
Due: check-env-keys

[finance_report] Patch the two critical Next.js RCEs blocking every release
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

[finance_report] Patch the two critical Next.js RCEs blocking every release (#2034)
  apps/frontend/package-lock.json
  apps/frontend/package.json
Due: none

[finance_report] Derive workflow SDK acquisition from the backend lock (#2004)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  README.md
  common/runtime/contract.py
  common/runtime/deployment.md
  common/runtime/readme.md
  common/runtime/sdk_pin.py
  tests/tooling/test_app_deploy_request.py
  tests/tooling/test_sdk_pin.py
  tests/tooling/test_staging_toolchain_retry.py
  tools/sdk_pin.py
Due: none

fix(tooling): conform SDK pin entrypoint to wrapper contract
  tools/sdk_pin.py
Due: none

fix(tooling): use the standard CLI signature and exit contract
  tools/sdk_pin.py
Due: none

fix(ci): pin available MinIO artifacts and guard every acquisition lane
  .github/workflows/ci.yml
  common/meta/development.md
  common/runtime/check_toolchain_contract.py
  common/runtime/readme.md
  docker-compose.pr-preview.yml
  docker-compose.yml
  tests/tooling/test_toolchain_contract.py
  toolchain.toml
Due: none

fix(ci): detect MinIO acquisition independently of step labels
  common/runtime/check_toolchain_contract.py
  tests/tooling/test_toolchain_contract.py
Due: none

fix(ci): compare complete Compose image values across harmless formatting
  common/runtime/check_toolchain_contract.py
  tests/tooling/test_toolchain_contract.py
Due: none

fix(runtime): explain malformed SDK pins and prove wheel installation
  common/runtime/readme.md
  common/runtime/sdk_pin.py
  tests/tooling/test_sdk_pin.py
  tests/tooling/test_staging_toolchain_retry.py
Due: none

Replace redundant pip mirror with concrete SDK installation proof
  tests/tooling/test_staging_toolchain_retry.py
Due: none

[finance_report] Consolidate SDK pins and restore reproducible CI dependency acquisition (#2036)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  README.md
  common/meta/development.md
  common/runtime/check_toolchain_contract.py
  common/runtime/contract.py
  common/runtime/deployment.md
  common/runtime/readme.md
  common/runtime/sdk_pin.py
  docker-compose.pr-preview.yml
  docker-compose.yml
  tests/tooling/test_app_deploy_request.py
  tests/tooling/test_sdk_pin.py
  tests/tooling/test_staging_toolchain_retry.py
  tests/tooling/test_toolchain_contract.py
  toolchain.toml
  tools/sdk_pin.py
Due: none

Exercise SDK pin CLI output and fail-closed boundary in coverage
  common/runtime/readme.md
  tests/tooling/test_sdk_pin.py
Due: none

[finance_report] Restore measured proof of the SDK pin CLI boundary (#2038)
  common/runtime/readme.md
  tests/tooling/test_sdk_pin.py
Due: none

fix(extraction): preserve source facts and custody identity
  apps/backend/migrations/versions/0061_txn_identity.py
  apps/backend/src/extraction/__init__.py
  apps/backend/src/extraction/base/paged_extraction.py
  apps/backend/src/extraction/base/types.py
  apps/backend/src/extraction/extension/brokerage_positions.py
  apps/backend/src/extraction/extension/brokerage_statement_payload.py
  apps/backend/src/extraction/extension/deduplication.py
  apps/backend/src/extraction/extension/service.py
  apps/backend/src/extraction/extension/statement_parsing.py
  apps/backend/src/extraction/extension/statement_validation.py
  apps/backend/src/extraction/extension/transaction_identity.py
  apps/backend/src/extraction/extension/transaction_membership.py
  apps/backend/src/extraction/orm/layer2.py
  apps/backend/src/routers/statements.py
  apps/backend/tests/extraction/test_deduplication.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/extraction/test_source_ingestion_integrity.py
  apps/backend/tests/extraction/test_statement_brokerage_import_bridge.py
  apps/backend/tests/extraction/test_tolerant_date_parsing.py
  common/extraction/contract.py
  common/extraction/readme.md
Due: none

fix(reporting): preserve opening stock and economic report integrity
  apps/backend/src/ledger/extension/fx_revaluation.py
  apps/backend/src/reporting/base/cash_flow_types.py
  apps/backend/src/reporting/base/l1_registry.py
  apps/backend/src/reporting/base/package_contribution.py
  apps/backend/src/reporting/base/types.py
  apps/backend/src/reporting/extension/_core.py
  apps/backend/src/reporting/extension/cash_flow.py
  apps/backend/src/reporting/extension/framework_policy.py
  apps/backend/src/reporting/extension/framework_report.py
  apps/backend/src/reporting/extension/income_statement.py
  apps/backend/src/reporting/extension/package_document.py
  apps/backend/src/reporting/extension/portfolio_market.py
  apps/backend/src/reporting/extension/report_traceability.py
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/reporting/test_cash_event_projection.py
  apps/backend/tests/reporting/test_framework_package_integration.py
  apps/backend/tests/reporting/test_framework_policy.py
  apps/backend/tests/reporting/test_report_integrity.py
  apps/frontend/openapi.json
  apps/frontend/src/__tests__/cashFlowPage.test.tsx
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/components/reports/package/PackageScheduleSections.tsx
  apps/frontend/src/lib/api-types.ts
  common/reporting/contract.py
  common/reporting/readme.md
  docs/reference/api.md
  docs/reference/router-contract-maturity.md
Due: validate-schemas, frontend-lint

fix(ledger): preserve source-backed opening stock and review recovery (#2040)
  apps/backend/migrations/versions/0060_opening_positions.py
  apps/backend/src/composition.py
  apps/backend/src/extraction/extension/review_queue.py
  apps/backend/src/extraction/extension/statement_posting.py
  apps/backend/src/extraction/extension/statement_workflow.py
  apps/backend/src/ledger/__init__.py
  apps/backend/src/ledger/base/__init__.py
  apps/backend/src/ledger/base/opening.py
  apps/backend/src/ledger/extension/__init__.py
  apps/backend/src/ledger/extension/accounting.py
  apps/backend/src/ledger/extension/anchored_posting.py
  apps/backend/src/ledger/extension/opening_positions.py
  apps/backend/src/ledger/orm/opening_position.py
  apps/backend/src/reconciliation/extension/repository.py
  apps/backend/src/reconciliation/extension/reviewed_disposition.py
  apps/backend/src/reconciliation/orm/reconciliation.py
  apps/backend/src/routers/accounts.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/tests/integration/test_statement_opening_balance_auto_post.py
  apps/backend/tests/ledger/test_opening_balance_readiness.py
  apps/backend/tests/ledger/test_opening_position.py
  apps/backend/tests/ledger/test_opening_position_migration.py
  apps/backend/tests/reconciliation/test_rejection_recovery.py
  common/extraction/contract.py
  common/extraction/readme.md
  common/ledger/contract.py
  common/ledger/readme.md
  common/meta/data/migration-risk.yaml
  common/reconciliation/contract.py
  common/reconciliation/readme.md
  docs/reference/router-contract-maturity.md
Due: none

fix(extraction): retain current PDF lineage for opening stock
  apps/backend/src/extraction/extension/deduplication.py
  apps/backend/src/extraction/extension/evidence_graph_materialization.py
  apps/backend/src/routers/evidence.py
  apps/backend/tests/extraction/test_opening_evidence_lineage.py
  common/extraction/contract.py
  common/extraction/evidence-lineage.md
Due: none

test(testing): prove PDF upload through source-backed financial reports
  apps/backend/migrations/versions/0061_txn_identity.py
  apps/backend/tests/integration/test_pdf_report_checkpoint.py
  common/testing/contract.py
  common/testing/readme.md
Due: none

fix: retain public API contracts and complete source-stock regression proofs
  apps/backend/migrations/versions/0060_opening_positions.py
  apps/backend/migrations/versions/0061_txn_identity.py
  apps/backend/src/extraction/extension/deduplication.py
  apps/backend/src/extraction/extension/statement_posting.py
  apps/backend/src/extraction/orm/layer2.py
  apps/backend/src/ledger/__init__.py
  apps/backend/src/ledger/extension/__init__.py
  apps/backend/src/ledger/extension/accounting.py
  apps/backend/src/ledger/orm/opening_position.py
  apps/backend/src/routers/accounts.py
  apps/backend/src/routers/evidence.py
  apps/backend/src/runtime/extension/snapshot_anonymizer.py
  apps/backend/tests/e2e/test_statement_corpus_journeys.py
  apps/backend/tests/extraction/test_opening_evidence_lineage.py
  apps/backend/tests/extraction/test_source_ingestion_integrity.py
  apps/backend/tests/infra/test_snapshot_anonymizer.py
  apps/backend/tests/ledger/test_opening_entry_compatibility.py
  apps/backend/tests/ledger/test_opening_position.py
  apps/backend/tests/ledger/test_opening_position_migration.py
  apps/backend/tests/reporting/test_report_integrity.py
  common/audit/data/fk-cascade-ownership.json
  common/extraction/contract.py
  common/extraction/readme.md
  common/ledger/contract.py
  common/ledger/readme.md
  common/llm/contract.py
  common/llm/readme.md
  common/runtime/readme.md
  tests/tooling/test_fk_cascade_ownership.py
Due: none
