Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

[finance_report_vision] fix(llm): api_key_version must be BigInteger (fingerprint overflows int32)
  apps/backend/migrations/versions/0043_llm_provider_config.py
  apps/backend/src/models/llm_config.py
Due: none

[finance_report_vision] fix(llm): address Copilot review on PR3
  apps/backend/src/llm/factory.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/tests/ai/test_ai_streaming.py
  docs/project/EPIC-023.llm-provider-abstraction.md
Due: none

[finance_report_ui] fix(observability): inject FE OTel endpoint at runtime via server layout (not build-time NEXT_PUBLIC) (#1166)
  apps/frontend/src/__tests__/frontendTelemetry.test.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/FrontendTelemetry.tsx
Due: frontend-lint

[finance_report_vision] feat(llm): EPIC-023 PR3 — DB config foundation + cut AI streaming onto litellm (AC23.3.1/.2) (#1165)
  apps/backend/migrations/versions/0043_llm_provider_config.py
  apps/backend/pyproject.toml
  apps/backend/src/llm/__init__.py
  apps/backend/src/llm/client.py
  apps/backend/src/llm/db_config.py
  apps/backend/src/llm/factory.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/llm_config.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/reconciliation_scoring.py
  apps/backend/tests/ai/test_ai_streaming.py
  apps/backend/tests/integration/test_llm_db_config.py
  apps/backend/tests/unit/llm/test_catalog.py
  apps/backend/tests/unit/llm/test_client.py
  apps/backend/uv.lock
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-023.llm-provider-abstraction.md
Due: none

docs(llm): register AC23.4.x for EPIC-023 PR4 (/llm API + per-user config)
  docs/project/EPIC-023.llm-provider-abstraction.md
Due: none

[finance_report_test_and_doc] refactor(dry-ssot): EPIC-025 — behavior-preserving simplification of reporting/statements/FE-contracts/tests (#1158)
  apps/backend/src/routers/income.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/annualized_income.py
  apps/backend/src/services/reporting.py
  apps/backend/src/services/reporting_calc.py
  apps/backend/src/services/statement_workflow.py
  apps/backend/tests/accounting/test_accounting_equation.py
  apps/backend/tests/accounting/test_accounting_integration.py
  apps/backend/tests/accounting/test_accounting_service_errors.py
  apps/backend/tests/accounting/test_core_unit_coverage.py
  apps/backend/tests/api/test_statement_workflow_service.py
  apps/backend/tests/conftest.py
  apps/backend/tests/reporting/_report_fixtures.py
  apps/backend/tests/reporting/test_annualized_income_schedule.py
  apps/backend/tests/reporting/test_fx_revaluation.py
  apps/backend/tests/reporting/test_income_typed_currency.py
  apps/backend/tests/reporting/test_report_fixtures_shared.py
  apps/backend/tests/reporting/test_reporting.py
  apps/backend/tests/reporting/test_reporting_calc_extraction.py
  apps/backend/tests/reporting/test_reporting_extreme_fallbacks.py
  apps/backend/tests/reporting/test_reporting_fx.py
  apps/frontend/src/__tests__/contractTypes.test.ts
  apps/frontend/src/lib/types.ts
  docs/analysis/traceability-exceptions.md
  docs/project/EPIC-025.dry-ssot-simplification.md
  mkdocs.yml
Due: frontend-lint

[finance_report_infra] feat(deploy): wire app-repo sender for report-branch-main (#1072)
  .github/workflows/notify-infra2-report-main.yml
Due: none

chore(ci): register report-main sender job in the CI gate inventory (AC8.13.142)
  docs/ssot/ci-gate-inventory.yaml
Due: none

[finance_report_audit] feat(money): EPIC-002 #1170 — common/money value types (AC2.19–.21)
  common/money/__init__.py
  common/money/balances.py
  common/money/convert.py
  common/money/currency.py
  common/money/errors.py
  common/money/money.py
  common/money/rounding.py
  docs/project/EPIC-002.double-entry-core.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/accounting.md
  tests/tooling/test_money_value_type.py
Due: none

chore(ci): opt report-main sender workflow into Node24 actions runtime (AC8.13.16)
  .github/workflows/notify-infra2-report-main.yml
Due: none

[finance_report_test_and_doc] fix(tests): repoint statement/reporting test imports to service + reporting_calc after EPIC-025 extraction
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/reporting/test_reporting.py
Due: none

test(observability): E2E proof FE OTel spans + OpenPanel events emit (#1169)
  .github/workflows/ci.yml
  apps/frontend/.gitignore
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
  apps/frontend/playwright.telemetry.config.ts
  apps/frontend/playwright/telemetry-emission.spec.ts
  apps/frontend/src/__tests__/telemetryEmission.test.ts
  docs/project/EPIC-024.frontend-observability.md
Due: frontend-lint

[finance_report_test_and_doc] test(infra): document statement_workflow as an allowed service commit boundary (AC25.2.1)
  apps/backend/tests/infra/test_transaction_boundaries.py
Due: none

test(observability): address #1175 review — accurate emission-proof wording (#1169)
  apps/frontend/src/__tests__/telemetryEmission.test.ts
  docs/project/EPIC-024.frontend-observability.md
Due: frontend-lint

[finance_report_audit] feat(money): cross-language conformance standard for common/money (#1170)
  common/money/conformance/README.md
  common/money/conformance/__init__.py
  common/money/conformance/vectors.json
  common/money/contract/money.contract.md
  docs/project/EPIC-002.double-entry-core.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/accounting.md
  tests/tooling/test_money_conformance.py
Due: none

[finance_report_audit] feat(money): share canonical ISO-4217 set via conformance vectors (#1170)
  common/money/conformance/vectors.json
  tests/tooling/test_money_conformance.py
Due: none

[finance_report_audit] feat(money): frontend money module conforming to the cross-language standard (#1171 FE)
  apps/frontend/src/lib/money/currency.ts
  apps/frontend/src/lib/money/index.ts
  apps/frontend/src/lib/money/iso4217.ts
  apps/frontend/src/lib/money/money.conformance.test.ts
  apps/frontend/src/lib/money/money.ts
Due: frontend-lint

[finance_report_vision] feat(llm): EPIC-023 PR4 backend — per-user /llm config API + retire legacy ai_models (AC23.4)
  .env.example
  apps/backend/migrations/versions/0044_llm_config_per_user.py
  apps/backend/src/boot.py
  apps/backend/src/config.py
  apps/backend/src/llm/catalog.py
  apps/backend/src/llm/db_config.py
  apps/backend/src/llm/factory.py
  apps/backend/src/main.py
  apps/backend/src/models/llm_config.py
  apps/backend/src/routers/__init__.py
  apps/backend/src/routers/ai_models.py
  apps/backend/src/routers/chat.py
  apps/backend/src/routers/llm.py
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/ai_models.py
  apps/backend/src/schemas/llm.py
  apps/backend/src/services/__init__.py
  apps/backend/src/services/ai_models.py
  apps/backend/tests/ai/test_ai_models.py
  apps/backend/tests/ai/test_ai_models_edge_cases.py
  apps/backend/tests/ai/test_ai_models_integration.py
  apps/backend/tests/ai/test_ai_models_router.py
  apps/backend/tests/ai/test_chat_router.py
  apps/backend/tests/ai/test_model_catalog.py
  apps/backend/tests/ai/test_models_repr.py
  apps/backend/tests/api/test_ai_models_router.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/integration/test_llm_api.py
  apps/frontend/openapi.json
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-006.ai-advisor.md
  docs/reference/api.md
  docs/ssot/env-reference.generated.md
Due: check-env-keys, validate-schemas

[finance_report_audit] test(money): prove shipped backend to_money conforms to the standard (#1170)
  apps/backend/tests/accounting/test_money_conformance_backend.py
Due: none

docs(vault): correct app Vault auth to AppRole (the pilot) — fix wrong recovery (#257)
  .opencode/skills/domain/secrets-management/SKILL.md
  docs/ssot/deployment.md
Due: none

[finance_report_test_and_doc] test+docs: add EPIC-025 E2E owner, README EPIC map row, regen router-contract doc
  README.md
  apps/backend/tests/e2e/test_epic025_dry_ssot_e2e.py
  docs/reference/router-contract-maturity.md
Due: none

[finance_report_vision] feat(llm): EPIC-023 PR4 frontend — first-run modal + scene×model settings (AC23.4)
  apps/frontend/src/__tests__/firstRunModal.test.tsx
  apps/frontend/src/__tests__/llmApiFunctions.test.ts
  apps/frontend/src/__tests__/llmSettingsPage.test.tsx
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/__tests__/shellAndAuth.test.tsx
  apps/frontend/src/__tests__/useLlmConfigStatus.test.ts
  apps/frontend/src/app/(main)/settings/llm/page.tsx
  apps/frontend/src/components/AppShell.tsx
  apps/frontend/src/components/llm/FirstRunModal.tsx
  apps/frontend/src/components/llm/ProviderForm.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/hooks/useLlmConfigStatus.ts
  apps/frontend/src/lib/api-types.ts
  apps/frontend/src/lib/api.ts
  apps/frontend/src/lib/types.ts
Due: frontend-lint

[finance_report_ui] test(observability): E2E proof FE OTel spans + OpenPanel events emit (#1169) (#1175)
  .github/workflows/ci.yml
  apps/frontend/.gitignore
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
  apps/frontend/playwright.telemetry.config.ts
  apps/frontend/playwright/telemetry-emission.spec.ts
  apps/frontend/src/__tests__/telemetryEmission.test.ts
  docs/project/EPIC-024.frontend-observability.md
Due: frontend-lint

[finance_report_audit] fix(money): address CR + green CI on #1170
  apps/backend/tests/accounting/test_money_conformance_backend.py
  common/money/__init__.py
  common/money/balances.py
  common/money/conformance/vectors.json
  common/money/currency.py
  common/money/rounding.py
  tests/tooling/test_money_value_type.py
Due: none

[finance_report_audit] fix(money): address CR on frontend money module (#1177)
  apps/frontend/src/lib/money/iso4217.ts
  apps/frontend/src/lib/money/money.conformance.test.ts
  apps/frontend/src/lib/money/money.ts
Due: frontend-lint

[finance_report_test_and_doc] docs(testing): register EPIC-025 E2E file in EPIC-008 product-E2E ownership index (AC8.13.50)
  docs/project/EPIC-008.testing-strategy.md
Due: none

[finance_report_vision] chore(llm): EPIC-023 PR4 gate fixes — typed delete, schema docs, traceability
  apps/backend/src/llm/db_config.py
  apps/backend/src/routers/llm.py
  apps/backend/src/schemas/llm.py
  apps/backend/tests/integration/test_llm_api.py
  apps/frontend/openapi.json
  apps/frontend/src/lib/api-types.ts
  docs/analysis/traceability-exceptions.md
  docs/reference/api.md
  docs/reference/router-contract-maturity.md
Due: validate-schemas, frontend-lint

[finance_report_audit] fix(money): tag money @ac_proof with ci_tier=pr_ci (#1170)
  apps/backend/tests/accounting/test_money_conformance_backend.py
  tests/tooling/test_money_conformance.py
  tests/tooling/test_money_value_type.py
Due: none

docs(vault): address Copilot review on the AppRole doc update (#257)
  .opencode/skills/domain/secrets-management/SKILL.md
  docs/ssot/deployment.md
Due: none

[finance_report_audit] feat(money): frontend money module conforming to the cross-language standard (#1167) (#1177)
  apps/frontend/src/lib/money/currency.ts
  apps/frontend/src/lib/money/index.ts
  apps/frontend/src/lib/money/iso4217.ts
  apps/frontend/src/lib/money/money.conformance.test.ts
  apps/frontend/src/lib/money/money.ts
Due: frontend-lint

[finance_report_test_and_doc] test: address Copilot review — exact HALF_EVEN assertion + UUID annotation
  apps/backend/tests/reporting/_report_fixtures.py
  apps/backend/tests/reporting/test_reporting_calc_extraction.py
Due: none

[finance_report_audit] fix(money): add AC refs to FE conformance test (check8) (#1170)
  apps/frontend/src/lib/money/money.conformance.test.ts
Due: frontend-lint

[finance_report_vision] fix(llm): EPIC-023 PR4 CI fixes — status const, repoint all /ai/models consumers
  apps/backend/src/routers/llm.py
  apps/backend/tests/api/test_api_surface_consistency.py
  apps/frontend/src/__tests__/aiModels.test.ts
  apps/frontend/src/lib/aiModels.ts
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/ai.md
  docs/ssot/extraction.md
  docs/ssot/observability-logging.md
  tests/e2e/test_brokerage_upload_to_portfolio_value.py
  tests/e2e/test_core_journeys.py
  tests/e2e/test_four_asset_net_worth_golden_path.py
  tests/e2e/test_personal_financial_report_package.py
  tests/e2e/test_statement_full_journey.py
Due: frontend-lint

chore(repo): point repo/ submodule at infra2 main + reconcile cross-repo contracts (#257)
  tests/tooling/test_issue_459_infra_contracts.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_ssot_hls_family_model.py
Due: none

chore(repo): point repo/ submodule at infra2 main + reconcile cross-repo contracts (#257) (#1180)
  tests/tooling/test_issue_459_infra_contracts.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_ssot_hls_family_model.py
Due: none

[finance_report_infra] docs(vault): correct app Vault auth to AppRole — fix wrong recovery for the pilot (#257) (#1178)
  .opencode/skills/domain/secrets-management/SKILL.md
  docs/ssot/deployment.md
Due: none

[finance_report_test_and_doc] refactor(dry-ssot): EPIC-025 — close #1158 DRY/SSOT simplification (reporting, statements, FE contracts, tests) (#1176)
  README.md
  apps/backend/src/routers/income.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/annualized_income.py
  apps/backend/src/services/reporting.py
  apps/backend/src/services/reporting_calc.py
  apps/backend/src/services/statement_workflow.py
  apps/backend/tests/accounting/test_accounting_equation.py
  apps/backend/tests/accounting/test_accounting_integration.py
  apps/backend/tests/accounting/test_accounting_service_errors.py
  apps/backend/tests/accounting/test_core_unit_coverage.py
  apps/backend/tests/api/test_statement_workflow_service.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/conftest.py
  apps/backend/tests/e2e/test_epic025_dry_ssot_e2e.py
  apps/backend/tests/infra/test_transaction_boundaries.py
  apps/backend/tests/reporting/_report_fixtures.py
  apps/backend/tests/reporting/test_annualized_income_schedule.py
  apps/backend/tests/reporting/test_fx_revaluation.py
  apps/backend/tests/reporting/test_income_typed_currency.py
  apps/backend/tests/reporting/test_report_fixtures_shared.py
  apps/backend/tests/reporting/test_reporting.py
  apps/backend/tests/reporting/test_reporting_calc_extraction.py
  apps/backend/tests/reporting/test_reporting_extreme_fallbacks.py
  apps/backend/tests/reporting/test_reporting_fx.py
  apps/frontend/src/__tests__/contractTypes.test.ts
  apps/frontend/src/lib/types.ts
  docs/analysis/traceability-exceptions.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-025.dry-ssot-simplification.md
  docs/reference/router-contract-maturity.md
  mkdocs.yml
Due: frontend-lint

[finance_report_vision] fix(llm): address Copilot review — UUID/url validation, test contracts, AC23.4.5 scope
  apps/backend/src/routers/llm.py
  apps/backend/src/schemas/llm.py
  apps/backend/tests/integration/test_llm_api.py
  apps/frontend/src/__tests__/llmApiFunctions.test.ts
  docs/project/EPIC-023.llm-provider-abstraction.md
Due: validate-schemas, frontend-lint

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
