Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

[frontend_modular_audit_ssot] docs(flows): align Flow 5 references to /portfolio/evidence and GuidedEvidenceForm
  apps/backend/tests/api/test_assets_valuation_api.py
  docs/reference/thirty-wealth-flows.md
Due: none

[audit_harness_parity] fix(testing): validate lsof exit code and capture all staged index states (#2139)
  common/testing/extension/worktree_doctor.py
  tests/tooling/test_worktree_doctor.py
Due: none

[audit_harness_parity] test(testing): complete coverage and gate-main-contract compliance for worktree doctor (#2139)
  common/testing/extension/worktree_doctor.py
  tests/tooling/test_worktree_doctor.py
  tools/worktree_doctor.py
Due: none

[frontend_modular_audit_ssot] refactor(fe): retire orphaned ChatWidget zombie component, relocate misplaced tests, and purge fake api.test.ts
  apps/frontend/src/__tests__/ChatPageClient.test.tsx
  apps/frontend/src/__tests__/ChatWidget.test.tsx
  apps/frontend/src/__tests__/api.test.ts
  apps/frontend/src/__tests__/chatComponents.test.tsx
  apps/frontend/src/__tests__/exportCsvButton.test.tsx
  apps/frontend/src/components/ChatWidget.tsx
  common/advisor/contract.py
  docs/project/EPIC-006.ai-advisor.md
  docs/project/traceability-exceptions.md
Due: frontend-lint

[frontend_modular_audit_ssot] refactor(fe): retire redundant /events and /statements/upload ghost routes
  apps/frontend/src/__tests__/eventsPage.test.tsx
  apps/frontend/src/__tests__/notificationsPage.test.tsx
  apps/frontend/src/__tests__/workflowActionRoutes.test.tsx
  apps/frontend/src/app/(main)/events/page.tsx
  apps/frontend/src/app/(main)/statements/upload/page.tsx
  common/platform/contract.py
Due: frontend-lint

[frontend_modular_audit_ssot] refactor(fe): retire /review ghost route, extract settings panels to components, and relocate misplaced tests
  apps/frontend/src/__tests__/aiSettingsPage.test.tsx
  apps/frontend/src/__tests__/conflictResolutionDialogKeydown.test.tsx
  apps/frontend/src/__tests__/generalSettingsPage.test.tsx
  apps/frontend/src/__tests__/llmSettingsPage.test.tsx
  apps/frontend/src/__tests__/processingSummaryCard.test.tsx
  apps/frontend/src/__tests__/reviewLandingPage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/settingsPage.test.tsx
  apps/frontend/src/__tests__/statementReviewBalance.test.ts
  apps/frontend/src/__tests__/transactionTableKeyEvents.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.confidenceAndAiQueue.test.tsx
  apps/frontend/src/__tests__/useFocusTrap.test.tsx
  apps/frontend/src/app/(main)/review/page.tsx
  apps/frontend/src/app/(main)/settings/page.tsx
  apps/frontend/src/components/settings/AiSettingsPanel.tsx
  apps/frontend/src/components/settings/GeneralSettingsPanel.tsx
  apps/frontend/src/components/settings/LlmSettingsPanel.tsx
  common/reconciliation/contract.py
  docs/project/traceability-exceptions.md
  tests/tooling/test_ci_change_classifier.py
Due: frontend-lint

fix(ci): replace blocked quay.io minio images with hardened chainguard images
  .github/workflows/ci.yml
  common/meta/development.md
  docker-compose.pr-preview.yml
  docker-compose.yml
  toolchain.toml
Due: none

[audit_harness_parity] feat(testing): harden preflight gate parity, inventory discovery, and worktree doctor (#2139) (#2140)
  .github/workflows/ci.yml
  common/meta/development.md
  common/testing/contract.py
  common/testing/extension/__init__.py
  common/testing/extension/worktree_doctor.py
  common/testing/preflight.py
  docker-compose.pr-preview.yml
  docker-compose.yml
  tests/tooling/test_preflight.py
  tests/tooling/test_worktree_doctor.py
  toolchain.toml
  tools/worktree_doctor.py
Due: none

[audit_gate_redundancy_ssot] refactor(observability): adopt infra2-sdk telemetry SSOT and tag runtime error IDs (#2136)
  apps/backend/src/main.py
  apps/backend/src/observability/error_ids.py
  apps/backend/src/observability/logger.py
  apps/backend/src/observability/telemetry_metrics.py
  apps/backend/src/runtime/extension/api/health.py
  apps/backend/tests/infra/test_main.py
  apps/backend/tests/infra/test_observability_contract.py
  apps/backend/tests/infra/test_telemetry_metrics.py
  apps/backend/tests/runtime/test_health_parity.py
  common/observability/observability.md
Due: none

[audit_gate_redundancy_ssot] fix(observability): add endpoint fallback, CI tier resolution, and mock request properties (#2136)
  apps/backend/src/observability/logger.py
  apps/backend/src/observability/telemetry_metrics.py
  apps/backend/tests/infra/test_logger.py
  apps/backend/tests/infra/test_main.py
  apps/backend/tests/infra/test_telemetry_metrics.py
Due: none

[frontend_modular_audit_ssot] fix(smoke): update smoke test route for statement upload from /statements/upload to /upload
  tools/_lib/shell/smoke_test.sh
Due: none

[audit_gate_redundancy_ssot] refactor(observability): adopt infra2-sdk telemetry SSOT and tag runtime error IDs (#2136) (#2138)
  apps/backend/src/main.py
  apps/backend/src/observability/error_ids.py
  apps/backend/src/observability/logger.py
  apps/backend/src/observability/telemetry_metrics.py
  apps/backend/src/runtime/extension/api/health.py
  apps/backend/tests/infra/test_logger.py
  apps/backend/tests/infra/test_main.py
  apps/backend/tests/infra/test_observability_contract.py
  apps/backend/tests/infra/test_telemetry_metrics.py
  apps/backend/tests/runtime/test_health_parity.py
  common/observability/observability.md
Due: none

refactor(tests): prune brittle mocks and redundant duplicate DB tests
  apps/backend/tests/accounting/test_account_service_unit.py
  apps/backend/tests/accounting/test_accounts_service.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reporting/test_reporting_net_worth_components.py
  common/ledger/contract.py
Due: none

refactor(ddd): establish pure balance sheet calculation core, ports, cta translation, and boundary contracts
  apps/backend/src/reporting/base/balance_sheet_calculator.py
  apps/backend/src/reporting/base/ports.py
  apps/backend/src/reporting/extension/balance_sheet.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/extraction/test_unsupported_document_fallback.py
  apps/backend/tests/ledger/test_accounting_equation_mutations.py
  apps/backend/tests/pricing/test_valuation_liquidity_contract.py
  apps/backend/tests/reporting/test_balance_sheet_multicurrency_cta.py
  apps/backend/tests/reporting/test_pure_balance_sheet.py
  apps/frontend/openapi.json
Due: validate-schemas

refactor(reporting): route balance sheet monetary rounding through to_money
  apps/backend/src/reporting/base/balance_sheet_calculator.py
Due: none

chore(reporting): sync api response vectors with cta_adjustment field
  common/reporting/conformance/vectors.json
Due: none

test(benchmarks): tighten assertions, integrate property valuation, and eliminate e2e test bypasses
  docs/benchmarks/v0.1.64/report.html
  docs/benchmarks/v0.1.64/summary.json
  tests/e2e/test_core_journeys.py
  tests/e2e/test_e2e_flows.py
  tools/_lib/benchmarks/run_financial_scenario_benchmark.py
Due: none

[deploy_latest_to_prod] fix(reporting): resolve copilot benchmark assertions, account status validation, and frontend cta types
  apps/backend/tests/reporting/test_pure_balance_sheet.py
  apps/frontend/playwright/report-readiness.spec.ts
  apps/frontend/src/__tests__/useAssetTrend.test.ts
  apps/frontend/src/hooks/dashboard/useDashboardSnapshot.ts
  apps/frontend/src/lib/api-types.ts
  docs/benchmarks/v0.1.64/report.html
  docs/benchmarks/v0.1.64/summary.json
  tools/_lib/benchmarks/run_financial_scenario_benchmark.py
Due: frontend-lint

[finance_report_issue2144_squash_prune] fix(testing): recognize squash-merged PR branches in worktree doctor (#2144)
  common/testing/contract.py
  common/testing/extension/worktree_doctor.py
  tests/tooling/test_worktree_doctor.py
Due: none

[deploy_latest_to_prod] fix(e2e): use re.compile for regex title match in test_dashboard_ui_load
  tests/e2e/test_core_journeys.py
Due: none

[finance_report_issue2144_squash_prune] fix(testing): recognize squash-merged PR branches in worktree doctor (#2144) (#2145)
  common/testing/contract.py
  common/testing/extension/worktree_doctor.py
  tests/tooling/test_worktree_doctor.py
Due: none

[deploy_latest_to_prod] refactor(ddd): establish pure balance sheet core, IAS 21 CTA translation, and prune mock tests (#2143)
  apps/backend/src/reporting/base/balance_sheet_calculator.py
  apps/backend/src/reporting/base/ports.py
  apps/backend/src/reporting/extension/balance_sheet.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/accounting/test_account_service_unit.py
  apps/backend/tests/accounting/test_accounts_service.py
  apps/backend/tests/extraction/test_unsupported_document_fallback.py
  apps/backend/tests/ledger/test_accounting_equation_mutations.py
  apps/backend/tests/pricing/test_valuation_liquidity_contract.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reporting/test_balance_sheet_multicurrency_cta.py
  apps/backend/tests/reporting/test_pure_balance_sheet.py
  apps/backend/tests/reporting/test_reporting_net_worth_components.py
  apps/frontend/openapi.json
  apps/frontend/playwright/report-readiness.spec.ts
  apps/frontend/src/__tests__/useAssetTrend.test.ts
  apps/frontend/src/hooks/dashboard/useDashboardSnapshot.ts
  apps/frontend/src/lib/api-types.ts
  common/ledger/contract.py
  common/reporting/conformance/vectors.json
  docs/benchmarks/v0.1.64/report.html
  docs/benchmarks/v0.1.64/summary.json
  tests/e2e/test_core_journeys.py
  tests/e2e/test_e2e_flows.py
  tools/_lib/benchmarks/run_financial_scenario_benchmark.py
Due: validate-schemas, frontend-lint

[finance_report_issue2142_health_latency] perf(runtime): optimize /api/health liveness latency below 1ms (#2142)
  apps/backend/src/runtime/extension/api/health.py
  apps/backend/tests/infra/test_main.py
  apps/backend/tests/runtime/test_health_parity.py
  common/runtime/contract.py
Due: none

[finance_report_issue2142_health_latency] test(runtime): address copilot review on health readiness assertions and liveness db guard
  apps/backend/tests/infra/test_main.py
  apps/backend/tests/runtime/test_health_parity.py
Due: none

[finance_report_issue2142_health_latency] test(observability): request full=True in health observability contract test
  apps/backend/tests/infra/test_observability_contract.py
Due: none

[finance_report_issue2142_health_latency] refactor(runtime): eliminate redundant db branch in health endpoint
  apps/backend/src/runtime/extension/api/health.py
Due: none

[finance_report_issue2142_health_latency] perf(runtime): optimize /api/health liveness latency below 1ms (#2142) (#2146)
  apps/backend/src/runtime/extension/api/health.py
  apps/backend/tests/infra/test_main.py
  apps/backend/tests/infra/test_observability_contract.py
  apps/backend/tests/runtime/test_health_parity.py
  common/runtime/contract.py
Due: none

[finance_report_issue2151_bench_v2_ui] feat(testing): align balance sheet CTA UI and bridge bench V2 scenarios to browser E2E (#2151)
  apps/frontend/src/__tests__/balanceSheetPage.test.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  tests/e2e/bench_ui_bridge.py
  tests/e2e/test_bench_v2_ui_golden_paths.py
  tests/e2e/test_e2e_flows.py
  tools/_lib/benchmarks/run_financial_scenario_benchmark.py
Due: frontend-lint

[finance_report_issue2147_ci_refine] refactor(ci): refine and dehydrate CI workflow through composite actions and preflight SSOT (#2147)
  .github/actions/gitleaks-scan/action.yml
  .github/actions/setup-backend-env/action.yml
  .github/workflows/ci.yml
  apps/frontend/openapi.json
  apps/frontend/src/lib/api-types.ts
  common/testing/preflight.py
  tests/tooling/test_build_secret_scan_contract.py
  tests/tooling/test_secret_scan_gate.py
Due: frontend-lint

[finance_report_issue2148_fe_ssot] fix(fe): resolve wire DTO monkey-patching in UnmatchedBoard, fix normalization in StatementTransactionsTable, and align route SSOT (#2148)
  apps/backend/src/schemas/extraction.py
  apps/backend/src/schemas/reconciliation.py
  apps/frontend/openapi.json
  apps/frontend/src/__tests__/normalizers.test.ts
  apps/frontend/src/app/(main)/statements/[id]/_components/StatementTransactionsTable.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
  apps/frontend/src/lib/api-types.ts
  apps/frontend/src/lib/normalizers.ts
  apps/frontend/src/lib/types.ts
Due: validate-schemas, frontend-lint

[finance_report_issue2151_bench_v2_ui] fix(testing): satisfy execution matrix and doc consistency for bench v2 e2e (#2151)
  common/testing/matrix.py
  docs/project/traceability-exceptions.md
  tests/e2e/test_bench_v2_ui_golden_paths.py
Due: none

[finance_report_issue2147_ci_refine] test(tooling): cover preflight CI group formatting and error annotations (#2147)
  tests/tooling/test_preflight.py
Due: none

[finance_report_issue2151_bench_v2_ui] fix(e2e): address review feedback on auth validation, kpi formatting, route landmarks, and epic ownership (#2151)
  docs/project/EPIC-008.testing-strategy.md
  tests/e2e/bench_ui_bridge.py
  tests/e2e/test_bench_v2_ui_golden_paths.py
  tests/e2e/test_e2e_flows.py
Due: none

[finance_report_issue2147_ci_refine] fix(ci): enforce unconditional gitleaks checksum verification and fix cassette fixture globs (#2147)
  .github/actions/gitleaks-scan/action.yml
  common/testing/preflight.py
  tests/tooling/test_preflight.py
Due: none

[finance_report_issue2147_ci_refine] fix(tooling): prevent false positive LLM test classification in test_preflight (#2147)
  tests/tooling/test_preflight.py
Due: none

chore(conformance): update extraction api response vectors with balance_after (#2148)
  common/extraction/conformance/vectors.json
Due: none

[finance_report_issue2151_bench_v2_ui] fix(e2e): specify exact=True for Dashboard analytics label to prevent strict mode collision (#2151)
  tests/e2e/test_bench_v2_ui_golden_paths.py
  tests/e2e/test_e2e_flows.py
Due: none

[finance_report_issue2147_ci_refine] test(tooling): satisfy mirror-assertion ratchet in test_preflight (#2147)
  tests/tooling/test_preflight.py
Due: none

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
