Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

test: pin the setup-uv wrapper by step identity, not a job count
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

fix(testing): a partial re-run can pass the executed-proof evidence gates (#2049)
  common/testing/check_pr_ci_evidence.py
  common/testing/contract.py
  common/testing/executed_proof.py
  common/testing/package_governance_observations.py
  common/testing/readme.md
  tests/tooling/test_executed_proof.py
  tests/tooling/test_package_governance_observations.py
Due: none

ci: use every runner CPU, probe Postgres sooner, boot MinIO in the background
  .github/workflows/ci.yml
  common/testing/ci-cd.md
Due: none

perf(meta): build the DDD base snapshot concurrently with HEAD
  common/meta/extension/dependency_report.py
Due: none

ci: shard backend files, not items; shard Tier-1; run the DDD report in the background
  .github/workflows/ci.yml
  apps/backend/ci/backend-tier1-test-durations.json
  common/meta/data/ci-gate-inventory.yaml
  common/meta/extension/metrics_contract.py
  common/testing/backend_shard.py
  common/testing/ci-cd.md
  common/testing/contract.py
  common/testing/matrix.py
  common/testing/mirror-assertion-baseline.json
  common/testing/package_governance_observations.py
  common/testing/readme.md
  tests/tooling/test_backend_shard.py
  tests/tooling/test_ci_metrics_contract.py
  tests/tooling/test_package_governance_observations.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/backend_shard_files.py
Due: none

[ci] Round 2: PR pipeline toward <= 3 min (Tier-1 sharding, backend collection cost, setup-uv retry) (#2050)
  .github/actions/setup-uv-retry/action.yml
  .github/workflows/ci.yml
  apps/backend/ci/backend-tier1-test-durations.json
  common/meta/data/ci-gate-inventory.yaml
  common/meta/extension/dependency_report.py
  common/meta/extension/metrics_contract.py
  common/testing/backend_shard.py
  common/testing/check_pr_ci_evidence.py
  common/testing/ci-cd.md
  common/testing/contract.py
  common/testing/executed_proof.py
  common/testing/matrix.py
  common/testing/mirror-assertion-baseline.json
  common/testing/package_governance_observations.py
  common/testing/readme.md
  tests/tooling/test_backend_shard.py
  tests/tooling/test_ci_metrics_contract.py
  tests/tooling/test_executed_proof.py
  tests/tooling/test_package_governance_observations.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/backend_shard_files.py
Due: none

fix(ci): avoid router cross-import, add traceability exception, and cover statement deletion
  apps/backend/src/routers/statements.py
  apps/frontend/src/__tests__/statementDetailPage.coverage.test.tsx
  docs/project/traceability-exceptions.md
Due: frontend-lint

feat(benchmark): add multi-version HTML reporter and observatory dashboard for GitHub Pages
  .github/workflows/benchmark.yml
  docs/benchmarks/index.html
  docs/benchmarks/manifest.json
  docs/benchmarks/v0.1.52/report.html
  docs/benchmarks/v0.1.52/summary.json
  docs/reference/benchmarks.md
  mkdocs.yml
  tools/_lib/benchmarks/__init__.py
  tools/_lib/benchmarks/benchmark_html_reporter.py
  tools/_lib/benchmarks/generate_benchmark_index.py
  tools/_lib/benchmarks/run_financial_scenario_benchmark.py
  tools/_lib/benchmarks/sync_benchmark_fixtures.py
  tools/generate_benchmark_index.py
  tools/sync_benchmark_fixtures.py
Due: none

fix(ci): compose auto-fill, address review findings, and register benchmark gate
  .gitignore
  apps/backend/src/composition.py
  apps/backend/src/routers/statements.py
  benchmark_run_report.json
  common/meta/data/ci-gate-inventory.yaml
  common/testing/fixtures/benchmarks/manifest.yaml
  docs/reference/router-contract-maturity.md
  tools/_lib/benchmarks/benchmark_html_reporter.py
  tools/_lib/benchmarks/generate_benchmark_index.py
  tools/_lib/benchmarks/run_financial_scenario_benchmark.py
Due: none

fix(ci): refactor migration test to satisfy mirror assertion ratchet
  tests/tooling/test_enum_casing_integrity.py
Due: none

fix(review): tighten pdf preview sandbox and harmonize benchmark details keys
  apps/frontend/src/components/review/PdfPreviewPane.tsx
  tools/_lib/benchmarks/benchmark_html_reporter.py
  tools/_lib/benchmarks/run_financial_scenario_benchmark.py
Due: frontend-lint

feat(infra): unify preview environment domain to report-preview.zitian.party
  .github/workflows/preview.yml
  common/runtime/environments.md
  docker-compose.pr-preview.yml
Due: none

fix(ci): resolve TS2554 in review page and register error-taxonomy in SSOT contract
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  common/meta/contract.py
Due: frontend-lint

fix(schema): ensure enum casing compatibility in migration 0063 and ORM models
  apps/backend/migrations/versions/0063_enum_case_compat.py
  apps/backend/src/advisor/orm/chat.py
  apps/backend/src/ledger/orm/journal.py
  tests/tooling/test_enum_casing_integrity.py
Due: none

fix(ci): register benchmark workflow and gh-pages action in runtime inventory
  common/meta/extension/workflow_contract.py
  common/testing/data/github-action-runtime.yaml
Due: none

feat(benchmarks): add 5-scenario financial temporal benchmark framework and live runner
  benchmark_run_report.json
  common/testing/fixtures/benchmarks/.gitignore
  common/testing/fixtures/benchmarks/README.md
  common/testing/fixtures/benchmarks/manifest.yaml
  tools/run_financial_scenario_benchmark.py
  tools/sync_benchmark_fixtures.py
Due: none

chore(benchmarks): record clean verification benchmark run
  benchmark_run_report.json
Due: none

feat(review): unblock statement approval with category auto-fill, statement deletion, and error taxonomy
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/review.py
  apps/backend/tests/api/test_statements_router.py
  apps/frontend/src/app/(main)/statements/[id]/_components/StatementHeader.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/PdfPreviewPane.tsx
  apps/frontend/src/lib/api-types.ts
  common/meta/data/error-taxonomy.yaml
Due: validate-schemas, frontend-lint

fix(ci): restore pdf preview iframe same-origin sandbox and scope tools coverage policy
  apps/frontend/src/components/review/PdfPreviewPane.tsx
  common/meta/extension/coverage/policy.py
Due: frontend-lint

test: add coverage for enum case deserialization and stage 1 auto fill branches
  apps/backend/tests/api/test_statements_router.py
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
Due: frontend-lint

fix(review): scope default counter account matching and refine benchmark workflow status
  .github/workflows/benchmark.yml
  apps/backend/src/composition.py
Due: none

ci: omit scenario benchmark tools from tooling coverage rc to match coverage policy
  .github/workflows/ci.yml
Due: none

fix(ci): round coverage ratchet epsilon to avoid float precision drops and refine continuity checks
  apps/backend/src/extraction/extension/chain_repair.py
  apps/backend/src/extraction/extension/service.py
  apps/backend/src/extraction/extension/statement_posting.py
  apps/backend/src/ledger/data/account_coverage.py
  apps/backend/tests/accounting/test_account_statement_coverage.py
  apps/backend/tests/extraction/test_chain_break_repair.py
  apps/backend/tests/extraction/test_statement_opening_guards.py
  common/testing/coverage/calculate_unified_coverage.py
  tests/tooling/test_calculate_unified_coverage.py
  unified-coverage.json
Due: none

test(extraction): add coverage for chain repair defensive branches and custody fallback
  apps/backend/tests/extraction/test_bank_custody_binding.py
  apps/backend/tests/extraction/test_chain_break_repair.py
Due: none

fix(review): address copilot feedback on break_info, gap weekend check, binding limit, and balance tolerance
  apps/backend/src/extraction/extension/chain_repair.py
  apps/backend/src/extraction/extension/service.py
  apps/backend/src/extraction/extension/statement_posting.py
  apps/backend/src/ledger/data/account_coverage.py
Due: none

fix(review): address copilot feedback on custody validation, weekend gap precision, and confidence threshold constant
  apps/backend/src/extraction/extension/service.py
  apps/backend/src/ledger/data/account_coverage.py
  apps/backend/tests/accounting/test_account_statement_coverage.py
  apps/backend/tests/extraction/test_bank_custody_binding.py
Due: none

[ci] Fix coverage ratchet IEEE-754 precision and refine financial continuity checks (#2054)
  apps/backend/src/extraction/extension/chain_repair.py
  apps/backend/src/extraction/extension/service.py
  apps/backend/src/extraction/extension/statement_posting.py
  apps/backend/src/ledger/data/account_coverage.py
  apps/backend/tests/accounting/test_account_statement_coverage.py
  apps/backend/tests/extraction/test_bank_custody_binding.py
  apps/backend/tests/extraction/test_chain_break_repair.py
  apps/backend/tests/extraction/test_statement_opening_guards.py
  common/testing/coverage/calculate_unified_coverage.py
  tests/tooling/test_calculate_unified_coverage.py
  unified-coverage.json
Due: none

feat(ci): consolidate test runners from 16 to 6 shards with saturated parallelism
  .github/workflows/ci.yml
  ci/tooling-test-durations.json
  common/meta/data/ci-gate-inventory.yaml
  common/meta/extension/metrics_contract.py
  common/meta/extension/workflow_contract.py
  common/testing/ci-cd.md
  common/testing/contract.py
  tests/tooling/test_backend_shard.py
  tests/tooling/test_ci_metrics_contract.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

fix(ci): name tooling coverage shard /2
  .github/workflows/ci.yml
Due: none

fix(review): address copilot feedback on shard wording and step names
  .github/workflows/ci.yml
Due: none

[ci] Consolidate test runners from 16 to 6 shards with saturated parallelism (#2055)
  .github/workflows/ci.yml
  ci/tooling-test-durations.json
  common/meta/data/ci-gate-inventory.yaml
  common/meta/extension/metrics_contract.py
  common/meta/extension/workflow_contract.py
  common/testing/ci-cd.md
  common/testing/contract.py
  tests/tooling/test_backend_shard.py
  tests/tooling/test_ci_metrics_contract.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[ci] Scope Staging Phase 2 deploy gate to gold smoke and add Case 2 benchmark runner
  .github/workflows/deploy.yml
  common/runtime/ci-cd.md
  common/testing/matrix.py
  tests/tooling/test_benchmark_scenario_suite.py
  tools/_lib/benchmarks/run_financial_scenario_benchmark.py
Due: none

fix(review): refine docstrings to match implementation and repository English-only standard
  tools/_lib/benchmarks/run_financial_scenario_benchmark.py
Due: none

[ci] Right-scope Staging Phase 2 deploy gate to smoke tests and add Case 2 benchmark runner (#2056)
  .github/workflows/deploy.yml
  common/runtime/ci-cd.md
  common/testing/matrix.py
  tests/tooling/test_benchmark_scenario_suite.py
  tools/_lib/benchmarks/run_financial_scenario_benchmark.py
Due: none

feat(flows): guarantee 30 flows consistency via TDD and SSOT registry
  apps/backend/src/ledger/splits.py
  apps/backend/src/reporting/__init__.py
  apps/backend/src/reporting/diagnostics.py
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/streaming.py
  apps/backend/tests/flows/test_thirty_flows_consistency.py
  apps/backend/tests/reconciliation/test_specialized_splits.py
  apps/backend/tests/reporting/test_annual_tax_package.py
  apps/backend/tests/reporting/test_equation_diagnostics.py
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/__tests__/thirtyFlowsConsistency.test.tsx
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
  apps/frontend/src/components/review/LowConfidenceReviewModal.tsx
  common/meta/flows/thirty_flows_ssot.json
  docs/reference/api.md
  docs/reference/router-contract-maturity.md
Due: validate-schemas, frontend-lint

docs(traceability): register 30-flows consistency suites in exceptions registry
  docs/project/traceability-exceptions.md
Due: none

docs(agents): strip ontology jargon, define boundary matrix, and inject engineering writing standards
  AGENTS.md
Due: none

fix(frontend): preserve category requirement when onSaveCorrection callback is absent
  apps/frontend/src/components/review/LowConfidenceReviewModal.tsx
Due: frontend-lint

fix(review): address Copilot review findings on canonical money rounding, exact integer cents, and single-submit
  apps/backend/src/ledger/splits.py
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/LowConfidenceReviewModal.tsx
Due: frontend-lint
