Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

fix(accounting): keep accounting module importable without FastAPI
  apps/backend/src/services/accounting.py
Due: none

fix(portfolio): label return-on-cost by valuation date, not reporting period
  apps/frontend/src/__tests__/performanceCard.test.tsx
  apps/frontend/src/components/portfolio/InvestmentPerformanceSchedule.tsx
  apps/frontend/src/components/portfolio/PerformanceCard.tsx
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/reporting.md
Due: frontend-lint

docs(api): regenerate API reference after merging main
  docs/reference/api.md
Due: none

refactor(services): rename openrouter_* AI modules to provider-neutral ai_* (#896)
  apps/backend/src/routers/ai_models.py
  apps/backend/src/routers/chat.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/__init__.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/ai_models.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/reconciliation.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  apps/backend/tests/ai/test_ai_models.py
  apps/backend/tests/ai/test_ai_models_integration.py
  apps/backend/tests/ai/test_ai_streaming.py
  apps/backend/tests/ai/test_models_repr.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_ai_csv_parsing.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/extraction/test_extraction_flow.py
  apps/backend/tests/extraction/test_pdf_parsing.py
  apps/backend/tests/reconciliation/test_ai_reconciliation.py
Due: none

[finance_report_ui] #914 reframe asset-dashboard performance answer (#980)
  apps/frontend/playwright/portfolio-provenance.spec.ts
  apps/frontend/src/__tests__/investmentPerformanceSchedule.test.tsx
  apps/frontend/src/__tests__/performanceCard.test.tsx
  apps/frontend/src/__tests__/portfolioPerformance.test.ts
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/components/portfolio/InvestmentPerformanceSchedule.tsx
  apps/frontend/src/components/portfolio/PerformanceCard.tsx
  apps/frontend/src/lib/portfolioPerformance.ts
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/reporting.md
Due: frontend-lint

fix(accounting): address opening-balance review (#949, Copilot)
  apps/backend/src/services/account_service.py
  apps/backend/src/services/accounting.py
  apps/backend/tests/accounting/test_opening_balance.py
  docs/project/EPIC-002.double-entry-core.md
Due: none

refactor(services): rename openrouter_* AI modules to provider-neutral ai_* (#896) (#986)
  apps/backend/src/routers/ai_models.py
  apps/backend/src/routers/chat.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/__init__.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/ai_models.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/reconciliation.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  apps/backend/tests/ai/test_ai_models.py
  apps/backend/tests/ai/test_ai_models_integration.py
  apps/backend/tests/ai/test_ai_streaming.py
  apps/backend/tests/ai/test_models_repr.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_ai_csv_parsing.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/extraction/test_extraction_flow.py
  apps/backend/tests/extraction/test_pdf_parsing.py
  apps/backend/tests/reconciliation/test_ai_reconciliation.py
Due: none

fix(accounting): validate opening-balance currency per account (#949, Copilot)
  apps/backend/src/schemas/account.py
  apps/backend/src/services/accounting.py
  apps/backend/tests/accounting/test_opening_balance.py
  docs/project/EPIC-002.double-entry-core.md
Due: validate-schemas

fix(accounting): reject system-account targets in opening balances + test types (#949, Copilot)
  apps/backend/src/services/accounting.py
  apps/backend/tests/accounting/test_opening_balance.py
  docs/project/EPIC-002.double-entry-core.md
Due: none

refactor(ac-registry): promote live ACs into EPICs, retire the override graveyard
  docs/ac_registry_overrides.yaml
  docs/project/EPIC-001.phase0-setup.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-006.ai-advisor.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
Due: none

test(e2e): Tier-1 report journeys assert real numbers, not just key presence (#993)
  apps/backend/tests/e2e/test_core_journeys.py
Due: none

fix(accounting): strip()+upper() currency normalization (#949, Copilot)
  apps/backend/src/schemas/account.py
  apps/backend/src/services/accounting.py
Due: validate-schemas

test(integration): augmentation-layer seam reaches the report correctly (#992, AC8.16.1)
  apps/backend/tests/integration/test_augmentation_seam_e2e.py
  docs/project/EPIC-008.testing-strategy.md
Due: none

[finance_report_vision] feat: guided opening balances (#949) + year-scale reporting validation (#951) (#985)
  apps/backend/src/routers/accounts.py
  apps/backend/src/schemas/account.py
  apps/backend/src/services/account_service.py
  apps/backend/src/services/accounting.py
  apps/backend/tests/accounting/test_opening_balance.py
  apps/backend/tests/reporting/test_year_scale_reporting.py
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/reference/api.md
Due: validate-schemas

test(e2e): tolerate transient rollout gateway errors on staging upload (#944)
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: none

feat(migrations): auto-classify Alembic migration risk (AC7.11.5)
  common/ci/migration_risk.py
  docs/project/EPIC-007.deployment.md
  docs/ssot/migration-risk.yaml
  docs/ssot/schema.md
  tests/tooling/test_migration_risk_contract.py
Due: none

fix(users): return 409 (not 500) when ledger immutability blocks account deletion (#988)
  apps/backend/src/routers/users.py
  apps/backend/tests/api/test_users_router.py
  docs/project/EPIC-002.double-entry-core.md
Due: none

feat(migrations): auto-classify Alembic migration risk (AC7.11.5) (#1013)
  common/ci/migration_risk.py
  docs/project/EPIC-007.deployment.md
  docs/ssot/migration-risk.yaml
  docs/ssot/schema.md
  tests/tooling/test_migration_risk_contract.py
Due: none

docs(extraction): document intentional brokerage-vs-bank balance-invalid routing (#981)
  apps/backend/src/services/extraction.py
  docs/ssot/extraction.md
Due: none

fix(extraction): JSON-repair retry for recoverable model responses (#982)
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/extraction/test_extraction_flow.py
  apps/backend/tests/extraction/test_json_repair.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/extraction.md
Due: none

refactor(ac-registry): promote live ACs into EPICs, retire the override graveyard (#1014)
  docs/ac_registry_overrides.yaml
  docs/project/EPIC-001.phase0-setup.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-006.ai-advisor.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
Due: none

[finance_report_infra] feat(config): generate .env.example backend block + env reference from config.py (Infra-014 C3)
  .env.example
  apps/backend/src/config.py
  apps/backend/tests/infra/test_env_reference_generated.py
  common/config/env_keys.py
  docs/ssot/env-reference.generated.md
  tools/generate_env_reference.py
Due: check-env-keys, validate-schemas

[finance_report_ui] fix(#963): same-origin authenticated PDF preview (AC16.33.5)
  apps/backend/src/routers/statements.py
  apps/backend/tests/api/test_statements_router.py
  apps/frontend/next.config.mjs
  apps/frontend/src/__tests__/epic016Components.test.tsx
  apps/frontend/src/__tests__/reviewPages.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/PdfPreviewPane.tsx
  docs/project/EPIC-016.two-stage-review-ui.md
Due: frontend-lint

test(extraction): deterministic scoring/routing regression for #989 (AC13.13)
  apps/backend/tests/extraction/test_extraction_determinism.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

[finance_report_ui] feat(#949): guided opening-balance flow on Accounts page (AC2.15.8)
  apps/frontend/src/__tests__/openingBalanceModal.test.tsx
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/components/accounts/OpeningBalanceModal.tsx
  docs/project/EPIC-002.double-entry-core.md
Due: frontend-lint

fix(extraction): recover single-line fenced JSON; fix doc table (#982)
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_json_repair.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

docs(ssot): balance-sheet opening-balance semantics (#949) + balance_after dedup sync
  docs/ssot/extraction.md
  docs/ssot/reporting.md
Due: none

test(extraction): fingerprint full AtomicTransaction identity in #989 determinism guard
  apps/backend/tests/extraction/test_extraction_determinism.py
Due: none

docs(extraction): fix CR — Python conditional syntax + CSV-inferred-balance exception (#981)
  docs/ssot/extraction.md
Due: none

docs(epic-002): CR — add () to AC2.14.6 test function name for table consistency (#988)
  docs/project/EPIC-002.double-entry-core.md
Due: none

test(e2e): CR — handle non-idempotent 409 after a transient gateway retry (#944)
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: none

[finance_report_infra] fix(config): ruff-format config.py, env-ref CR fixes + tooling coverage (Infra-014 C3)
  apps/backend/src/config.py
  apps/backend/tests/infra/test_env_reference_generated.py
  docs/ssot/env-reference.generated.md
  tests/tooling/test_env_reference.py
  tools/generate_env_reference.py
Due: check-env-keys, validate-schemas

[finance_report_ui] fix(#962): Stage-1 conflict resolution unblocks stuck statements (AC16.34)
  apps/backend/migrations/versions/0039_stmt_conflicts_resolved.py
  apps/backend/src/models/statement_summary.py
  apps/backend/src/routers/review.py
  apps/backend/src/schemas/review.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/api/test_statements_router.py
  apps/frontend/src/__tests__/ConflictResolutionDialog.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/ConflictResolutionDialog.tsx
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/migration-risk.yaml
Due: validate-schemas, frontend-lint

[finance_report_ui] fix(#963): regenerate API reference + cover PdfPreviewPane branches
  apps/frontend/src/__tests__/reviewPages.test.tsx
  docs/reference/api.md
Due: frontend-lint

[finance_report_infra] fix(env-ref): lazy backend import + mkdocs nav (Infra-014 C3 CI)
  mkdocs.yml
  tools/generate_env_reference.py
Due: none

[finance_report_ui] test(#949): cover opening-balance modal branches for the 98% gate
  apps/frontend/src/__tests__/accountsPage.test.tsx
  apps/frontend/src/__tests__/openingBalanceModal.test.tsx
Due: frontend-lint

[finance_report_ui] fix(#962): regenerate API reference + cover conflict-resolve flow
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  docs/reference/api.md
Due: frontend-lint

[finance_report_infra] fix(env-ref): load config by path + register doc in MANIFEST (Infra-014 C3 CI)
  docs/ssot/MANIFEST.yaml
  tools/generate_env_reference.py
Due: none

[finance_report_hacker] test(e2e): tolerate rollout 502/504 on staging upload gate (#944) (#1012)
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: none

[finance_report_hacker] fix(users): 409 instead of 500 when ledger immutability blocks account deletion (#988) (#1016)
  apps/backend/src/routers/users.py
  apps/backend/tests/api/test_users_router.py
  docs/project/EPIC-002.double-entry-core.md
Due: none
