Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

Consolidate application workflows
  .github/workflows/deploy.yml
  .github/workflows/ghcr-sha-retention.yml
  .github/workflows/maintenance.yml
  .github/workflows/notify-infra2.yml
  .github/workflows/preview.yml
  .github/workflows/production-release.yml
  .github/workflows/release-images.yml
  .github/workflows/staging-ai-ocr-gate.yml
  README.md
  apps/backend/tests/e2e/test_core_journeys.py
  apps/backend/tests/e2e/test_seeded_statement_journey.py
  common/ci/change_classifier.py
  common/ci/check_toolchain_contract.py
  common/ci/release_evidence.py
  common/ci/workflow_contract.py
  docs/project/EPIC-007.deployment.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/ci-cd.md
  docs/ssot/ci-gate-inventory.yaml
  docs/ssot/delivery-gates.yaml
  docs/ssot/deployment.md
  docs/ssot/development.md
  docs/ssot/environments.md
  docs/ssot/observability-logging.md
  tests/tooling/test_ci_change_classifier.py
  tests/tooling/test_cleanup_pr_preview_resources.py
  tests/tooling/test_frontend_same_origin_contract.py
  tests/tooling/test_ghcr_sha_retention.py
  tests/tooling/test_issue_489_deployment_contracts.py
  tests/tooling/test_issue_575_effective_env_verify.py
  tests/tooling/test_migration_risk_contract.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
  tests/tooling/test_publish_only_contract.py
  tests/tooling/test_staging_toolchain_retry.py
  tests/tooling/test_tier2_http_e2e.py
  tests/tooling/test_toolchain_contract.py
  tests/tooling/test_vps_host_hygiene.py
  tests/tooling/test_workflow_contract.py
Due: none

[finance_report_audit] fix(test): ratchet regex recognizes no-whitespace writes (Copilot #1332)
  tests/tooling/test_orm_value_type_boundary.py
Due: none

feat(#1306): vision extraction cassette + fix drift gate to be direction-aware
  apps/backend/tests/extraction/test_extraction_cassette_replay.py
  apps/backend/tests/fixtures/llm_cassettes/d2bef919d2918989d2a6dbc8bbf019bd6bd2107d97f2e1bd85c91185c36e4fd0.json
  apps/backend/tests/fixtures/vision/simple_statement.pdf
  common/ssot/check_llm_cassettes.py
  tests/tooling/test_llm_cassette_integrity.py
Due: none

fix(#1306): preserve record-mode key + correct gate-test comment (Copilot)
  apps/backend/tests/extraction/test_extraction_cassette_replay.py
  tests/tooling/test_llm_cassette_integrity.py
Due: none

[finance_report_audit] feat(orm): finish ManagedPosition pilot + ratchet guard (AC12.35.4) (#1332)
  apps/backend/src/services/assets.py
  apps/backend/src/services/performance_report.py
  docs/project/EPIC-012.foundation-libs.md
  tests/tooling/test_base_package_migration_cleanup.py
  tests/tooling/test_orm_value_type_boundary.py
Due: none

Consolidate application workflows (#1333)
  .github/workflows/deploy.yml
  .github/workflows/ghcr-sha-retention.yml
  .github/workflows/maintenance.yml
  .github/workflows/notify-infra2.yml
  .github/workflows/preview.yml
  .github/workflows/production-release.yml
  .github/workflows/release-images.yml
  .github/workflows/staging-ai-ocr-gate.yml
  README.md
  apps/backend/tests/e2e/test_core_journeys.py
  apps/backend/tests/e2e/test_seeded_statement_journey.py
  common/ci/change_classifier.py
  common/ci/check_toolchain_contract.py
  common/ci/release_evidence.py
  common/ci/workflow_contract.py
  docs/project/EPIC-007.deployment.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/ci-cd.md
  docs/ssot/ci-gate-inventory.yaml
  docs/ssot/delivery-gates.yaml
  docs/ssot/deployment.md
  docs/ssot/development.md
  docs/ssot/environments.md
  docs/ssot/observability-logging.md
  tests/tooling/test_ci_change_classifier.py
  tests/tooling/test_cleanup_pr_preview_resources.py
  tests/tooling/test_frontend_same_origin_contract.py
  tests/tooling/test_ghcr_sha_retention.py
  tests/tooling/test_issue_489_deployment_contracts.py
  tests/tooling/test_issue_575_effective_env_verify.py
  tests/tooling/test_migration_risk_contract.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
  tests/tooling/test_publish_only_contract.py
  tests/tooling/test_staging_toolchain_retry.py
  tests/tooling/test_tier2_http_e2e.py
  tests/tooling/test_toolchain_contract.py
  tests/tooling/test_vps_host_hygiene.py
  tests/tooling/test_workflow_contract.py
Due: none

[finance_report_ui] Vision extraction cassette + direction-aware cassette gate fix (#1306) (#1334)
  apps/backend/tests/extraction/test_extraction_cassette_replay.py
  apps/backend/tests/fixtures/llm_cassettes/d2bef919d2918989d2a6dbc8bbf019bd6bd2107d97f2e1bd85c91185c36e4fd0.json
  apps/backend/tests/fixtures/vision/simple_statement.pdf
  common/ssot/check_llm_cassettes.py
  tests/tooling/test_llm_cassette_integrity.py
Due: none

[finance_report_audit] feat(orm): JournalLine.money accessor + reconciliation sums via Money.sum (AC12.37)
  apps/backend/src/models/journal.py
  apps/backend/src/services/reconciliation_config.py
  docs/project/EPIC-012.foundation-libs.md
  tests/tooling/test_orm_value_type_boundary.py
Due: none

[finance_report_audit] fix(orm): JournalLine.money falls back to default only on None currency (Copilot #1335)
  apps/backend/src/models/journal.py
Due: none

[finance_report_audit] feat(orm): JournalLine.money accessor + reconciliation sums via Money.sum (AC12.37) (#1335)
  apps/backend/src/models/journal.py
  apps/backend/src/services/reconciliation_config.py
  docs/project/EPIC-012.foundation-libs.md
  tests/tooling/test_orm_value_type_boundary.py
Due: none

[finance_report_audit] feat(orm): income-statement slow-path FX is Money-native via convert_money (AC12.37.3)
  apps/backend/src/services/reporting/income_statement.py
  apps/backend/tests/reporting/test_reporting_fx_fallbacks.py
  docs/project/EPIC-012.foundation-libs.md
  tests/tooling/test_orm_value_type_boundary.py
Due: none

[finance_report_audit] fix(test): robust AC12.37.3 guard — forbid any convert_amount in income_statement (Copilot #1337)
  tests/tooling/test_orm_value_type_boundary.py
Due: none

[finance_report_audit] feat(orm): income-statement FX is Money-native via convert_money (AC12.37.3) (#1337)
  apps/backend/src/services/reporting/income_statement.py
  apps/backend/tests/reporting/test_reporting_fx_fallbacks.py
  docs/project/EPIC-012.foundation-libs.md
  tests/tooling/test_orm_value_type_boundary.py
Due: none

docs: update agent workflow references
  .opencode/skills/domain/development/SKILL.md
  .opencode/skills/domain/github-operations/SKILL.md
  .opencode/skills/domain/secrets-management/SKILL.md
  apps/backend/tests/e2e/test_core_journeys.py
  docker-compose.pr-preview.yml
  docs/project/EPIC-007.deployment.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/ci-gate-inventory.yaml
  tests/tooling/test_ci_gate_inventory.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/_lib/dev/pr_preview_lifecycle/_preview.py
Due: none

docs: update agent workflow references (#1336)
  .opencode/skills/domain/development/SKILL.md
  .opencode/skills/domain/github-operations/SKILL.md
  .opencode/skills/domain/secrets-management/SKILL.md
  apps/backend/tests/e2e/test_core_journeys.py
  docker-compose.pr-preview.yml
  docs/project/EPIC-007.deployment.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/ci-gate-inventory.yaml
  tests/tooling/test_ci_gate_inventory.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/_lib/dev/pr_preview_lifecycle/_preview.py
Due: none

test: enforce consolidated workflow contracts
  common/ci/workflow_contract.py
  docs/ssot/ci-cd.md
  tests/tooling/test_workflow_contract.py
Due: none

test(frontend): wait for report readiness state
  apps/frontend/src/__tests__/reportsCockpit.test.tsx
Due: frontend-lint

test(ci): clarify infra workflow drift output
  common/ci/workflow_contract.py
  tests/tooling/test_workflow_contract.py
Due: none

[finance_report_test_and_doc] Enforce consolidated workflow contracts (#1338)
  apps/frontend/src/__tests__/reportsCockpit.test.tsx
  common/ci/workflow_contract.py
  docs/ssot/ci-cd.md
  tests/tooling/test_workflow_contract.py
Due: frontend-lint

[finance_report_audit] feat(currency): single base SSOT + typed balance core (Phase C, AC12.38, #1339)
  apps/backend/src/ledger/store/posting.py
  apps/backend/src/models/journal.py
  apps/backend/src/services/annualized_income.py
  apps/backend/src/services/fx_revaluation.py
  apps/backend/src/services/processing_account.py
  docs/project/EPIC-012.foundation-libs.md
  tests/tooling/test_orm_value_type_boundary.py
Due: none

feat(#1342): map AssetType BOND/OTHER to L1 lines + L2->L1 completeness gate
  apps/backend/src/services/framework_policy.py
  apps/backend/tests/reporting/test_framework_policy_coverage.py
  docs/project/EPIC-020.framework-aware-personal-reporting.md
Due: none

test(#1342): update existing tests for BOND/OTHER now mapped
  apps/backend/tests/reporting/test_framework_package_integration.py
Due: none

chore(ci): retire per-env legacy scalar classifier outputs (AC8.13.110/.112)
  common/ci/change_classifier.py
  docs/project/DELIVERY_ENGINE_RECOMMENDATIONS.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/ci-gate-inventory.yaml
  tests/tooling/test_ci_change_classifier.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

fix(#1342): OTHER->private_asset (provenance) + gate requires concrete line_mappings (Copilot)
  apps/backend/src/services/framework_policy.py
  apps/backend/tests/reporting/test_framework_package_integration.py
  apps/backend/tests/reporting/test_framework_policy_coverage.py
Due: none

[finance_report_audit] fix: normalize base currency at config + Currency.of compare + tighten ratchet (Copilot #1343)
  apps/backend/src/config.py
  apps/backend/src/ledger/store/posting.py
  tests/tooling/test_orm_value_type_boundary.py
  tests/tooling/test_processing_account_service_unit.py
Due: check-env-keys, validate-schemas

docs(epic-008): mark Residual A (per-env scalar shims) retired (Copilot review)
  docs/project/EPIC-008.testing-strategy.md
Due: none

[finance_report_audit] feat(currency): single base SSOT + typed balance core (Phase C, AC12.38) (#1343)
  apps/backend/src/config.py
  apps/backend/src/ledger/store/posting.py
  apps/backend/src/models/journal.py
  apps/backend/src/services/annualized_income.py
  apps/backend/src/services/fx_revaluation.py
  apps/backend/src/services/processing_account.py
  docs/project/EPIC-012.foundation-libs.md
  tests/tooling/test_orm_value_type_boundary.py
  tests/tooling/test_processing_account_service_unit.py
Due: check-env-keys, validate-schemas

[finance_report_ui] L2→L1 reporting-line coverage: map BOND/OTHER + completeness gate (#1342) (#1344)
  apps/backend/src/services/framework_policy.py
  apps/backend/tests/reporting/test_framework_package_integration.py
  apps/backend/tests/reporting/test_framework_policy_coverage.py
  docs/project/EPIC-020.framework-aware-personal-reporting.md
Due: none

[finance_report_audit] feat(currency): editable DB-backed base currency (Phase D, AC12.39, #1340)
  apps/backend/migrations/versions/0050_add_app_config.py
  apps/backend/src/main.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/app_config.py
  apps/backend/src/routers/app_config.py
  apps/backend/src/schemas/app_config.py
  apps/backend/src/services/app_config.py
  apps/backend/tests/api/test_app_config_router.py
  apps/frontend/src/__tests__/generalSettingsPage.test.tsx
  apps/frontend/src/app/(main)/settings/general/page.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/lib/api.ts
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-012.foundation-libs.md
Due: validate-schemas, frontend-lint

[finance_report_audit] fix(ci): regen API reference + add General Settings to nav pinned-list test (Phase D)
  apps/frontend/src/__tests__/navigation.test.ts
  docs/reference/api.md
Due: frontend-lint

[finance_report_hacker] chore(ci): retire per-env legacy scalar classifier outputs (AC8.13.110/.112) (#1346)
  common/ci/change_classifier.py
  docs/project/DELIVERY_ENGINE_RECOMMENDATIONS.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/ci-gate-inventory.yaml
  tests/tooling/test_ci_change_classifier.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_audit] fix(ci): app_config commit boundary + FE coverage for base-currency (Phase D)
  apps/backend/src/routers/app_config.py
  apps/backend/src/services/app_config.py
  apps/frontend/src/__tests__/apiFunctions.test.ts
  apps/frontend/src/__tests__/generalSettingsPage.test.tsx
Due: frontend-lint

[finance_report_audit] fix(ci): regenerate openapi.json + api-types for base-currency endpoint (Phase D)
  apps/frontend/openapi.json
  apps/frontend/src/lib/api-types.ts
Due: frontend-lint

[finance_report_audit] feat(currency): editable DB-backed base currency (Phase D, AC12.39, #1340) (#1347)
  apps/backend/migrations/versions/0050_add_app_config.py
  apps/backend/src/main.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/app_config.py
  apps/backend/src/routers/app_config.py
  apps/backend/src/schemas/app_config.py
  apps/backend/src/services/app_config.py
  apps/backend/tests/api/test_app_config_router.py
  apps/frontend/openapi.json
  apps/frontend/src/__tests__/apiFunctions.test.ts
  apps/frontend/src/__tests__/generalSettingsPage.test.tsx
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/app/(main)/settings/general/page.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/lib/api-types.ts
  apps/frontend/src/lib/api.ts
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-012.foundation-libs.md
  docs/reference/api.md
Due: validate-schemas, frontend-lint

feat(currency): establish transaction currency at ingest with human review (Phase E)
  apps/backend/migrations/versions/0050_add_currency_unresolved.py
  apps/backend/src/models/layer2.py
  apps/backend/src/routers/review.py
  apps/backend/src/schemas/review.py
  apps/backend/src/services/currency_resolution.py
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/extraction/service.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/services/test_currency_resolution.py
  docs/project/EPIC-012.foundation-libs.md
Due: validate-schemas

test(reconciliation): retire enable_4_layer_read test scaffolding
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
Due: none

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
