Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

test(#575): rename AC7.13 -> AC7.14 test ids (AC7.13 taken by merged #1050)
  tests/tooling/test_issue_575_effective_env_verify.py
Due: none

fix(#575): verify effective prod app env before health wait, fail-fast on stale deploy
  docs/ssot/deployment.md
  tests/tooling/test_issue_575_effective_env_verify.py
  tools/_lib/shell/dokploy_deploy.sh
Due: none

docs(epic-007): register #575 ACs as AC7.14 (AC7.13 belongs to merged #1050)
  docs/project/EPIC-007.deployment.md
Due: none

[finance_report_infra] feat(frontend): surface missing OpenPanel client id in deployed envs (Infra-014 C5) (#1045)
  apps/frontend/src/__tests__/rootLayout.test.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/lib/analytics-env.ts
Due: frontend-lint

ci(audit): activate the dormant AC behavioral-score ratchet (#1055 PR2)
  .github/workflows/ci.yml
  apps/backend/tests/integration/test_augmentation_seam_e2e.py
  docs/ssot/ac-score-baseline.json
Due: none

audit(contracts): kick off router contract-maturity audit (#1055 PR3, #1000)
  .github/workflows/ci.yml
  common/ssot/audit_router_contracts.py
  docs/reference/router-contract-maturity.md
  tests/tooling/test_audit_router_contracts.py
  tools/audit_router_contracts.py
Due: none

test(tooling): include ac-behavioral-ratchet in finish needs assertion (#1055 PR2)
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

feat(frontend): surface the confidence loop in the UI (#1055 PR4, #1003)
  apps/frontend/src/__tests__/confidence.test.ts
  apps/frontend/src/__tests__/confidenceTrendPage.test.tsx
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/app/(main)/confidence/page.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/lib/api.ts
  apps/frontend/src/lib/confidence.ts
  apps/frontend/src/lib/types.ts
Due: frontend-lint

feat(#1007): paginate portfolio list endpoints (AC17.30)
  apps/backend/src/routers/portfolio.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  docs/project/EPIC-017.portfolio-management.md
Due: none

fix(audit): register findings doc in mkdocs nav + tooling-test exception + coverage (#1055 PR3)
  docs/analysis/traceability-exceptions.md
  mkdocs.yml
  tests/tooling/test_audit_router_contracts.py
Due: none

docs: classify the two confidence-view frontend tests in traceability-exceptions (#1055 PR4)
  docs/analysis/traceability-exceptions.md
Due: none

feat(#356): make S3 orphan-sweep grace period + interval config-driven (AC3.8.14-16)
  .env.example
  apps/backend/src/config.py
  apps/backend/src/services/storage_sweep.py
  apps/backend/tests/services/test_storage_sweep.py
  docs/project/EPIC-003.statement-parsing.md
  docs/ssot/env-reference.generated.md
  docs/ssot/extraction.md
Due: check-env-keys, validate-schemas

fix(extraction): harden self-consistency retry resilience + JSON-repair object pick (#996)
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_json_repair.py
  apps/backend/tests/extraction/test_self_consistency.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

feat(#1006): typed contract for chat/export streaming endpoints (AC6.33)
  apps/backend/src/routers/chat.py
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/streaming.py
  apps/backend/tests/ai/test_streaming_contract.py
  apps/backend/tests/reporting/test_reports_router.py
  docs/project/EPIC-006.ai-advisor.md
  docs/ssot/ai.md
  docs/ssot/reporting.md
Due: validate-schemas

fix(#1002): type Evidence Graph properties + fail-fast on materialization blockers (AC18.31)
  apps/backend/src/routers/evidence.py
  apps/backend/src/schemas/evidence.py
  apps/backend/tests/api/test_evidence_lineage_router.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/reference/api.md
  docs/ssot/evidence-lineage.md
Due: validate-schemas

fix(extraction): harden self-consistency retry resilience + JSON-repair object pick (#996) (#1061)
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_json_repair.py
  apps/backend/tests/extraction/test_self_consistency.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

fix(audit): close gate bypasses + clarify findings doc (#1059 CR)
  common/ssot/audit_router_contracts.py
  docs/reference/router-contract-maturity.md
  tests/tooling/test_audit_router_contracts.py
Due: none

test: assert net-worth isolation too, fulfilling the AC8.16.2 claim (#1056 CR)
  apps/backend/tests/integration/test_cross_user_report_isolation_e2e.py
Due: none

test(#575): fix AC7.14 docstrings (traceability) — renamed group left stale AC7.13 ids
  tests/tooling/test_issue_575_effective_env_verify.py
Due: none

ci: make the behavioral ratchet block merge + wait for frontend junit (#1057 CR)
  .github/workflows/ci.yml
Due: none

fix(confidence): guard blank/missing proportions in trend + sparkline (#1060 CR)
  apps/frontend/src/__tests__/confidence.test.ts
  apps/frontend/src/lib/confidence.ts
Due: frontend-lint

[finance_report_infra] feat(preflight): add frontend, env-reference, and tooling gates
  .opencode/skills/domain/preflight/SKILL.md
  common/ssot/preflight.py
  tests/tooling/test_preflight.py
Due: none

fix(#1006): reject header-injection chars in export filename (AC6.33.9)
  apps/backend/src/schemas/streaming.py
  apps/backend/tests/ai/test_streaming_contract.py
  docs/project/EPIC-006.ai-advisor.md
Due: validate-schemas

fix(#1002): omit null keys from typed Evidence properties for backward-compat (AC18.31.1)
  apps/backend/src/schemas/evidence.py
  apps/backend/tests/api/test_evidence_lineage_router.py
Due: validate-schemas

fix(#356): drop stale sweep alias constants; env-independent defaults test
  apps/backend/src/services/storage_sweep.py
  apps/backend/tests/services/test_storage_sweep.py
Due: none

fix(#1007): deterministic holdings order + regen API ref + real default-cap test (AC17.30)
  apps/backend/src/services/portfolio.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  docs/reference/api.md
Due: none

fix(extraction): default AI_JSON_SEED off — glm-4.6v rejects seed with 400 (#989)
  .env.example
  apps/backend/src/config.py
  apps/backend/tests/extraction/test_seed_determinism.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/env-reference.generated.md
  docs/ssot/extraction.md
Due: check-env-keys, validate-schemas

[finance_report_ui] fix(#575): verify effective prod app env before health wait, fail-fast on stale deploy (Infra-009) (#1051)
  docs/project/EPIC-007.deployment.md
  docs/ssot/deployment.md
  tests/tooling/test_issue_575_effective_env_verify.py
  tools/_lib/shell/dokploy_deploy.sh
Due: none

[finance_report_ui] feat(#1007): paginate portfolio list endpoints (AC17.30) (#1062)
  apps/backend/src/routers/portfolio.py
  apps/backend/src/services/portfolio.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  docs/project/EPIC-017.portfolio-management.md
  docs/reference/api.md
Due: none

[finance_report_ui] feat(#356): make S3 orphan-sweep grace period + interval config-driven (AC3.8.14-16) (#1063)
  .env.example
  apps/backend/src/config.py
  apps/backend/src/services/storage_sweep.py
  apps/backend/tests/services/test_storage_sweep.py
  docs/project/EPIC-003.statement-parsing.md
  docs/ssot/env-reference.generated.md
  docs/ssot/extraction.md
Due: check-env-keys, validate-schemas

[finance_report_ui] feat(#1006): typed contract for chat/export streaming endpoints (AC6.33) (#1064)
  apps/backend/src/routers/chat.py
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/streaming.py
  apps/backend/tests/ai/test_streaming_contract.py
  apps/backend/tests/reporting/test_reports_router.py
  docs/project/EPIC-006.ai-advisor.md
  docs/ssot/ai.md
  docs/ssot/reporting.md
Due: validate-schemas

[finance_report_ui] fix(#1002): type Evidence Graph properties + fail-fast on materialization blockers (AC18.31) (#1065)
  apps/backend/src/routers/evidence.py
  apps/backend/src/schemas/evidence.py
  apps/backend/tests/api/test_evidence_lineage_router.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/reference/api.md
  docs/ssot/evidence-lineage.md
Due: validate-schemas

fix(extraction): default AI_JSON_SEED off — glm-4.6v rejects seed with 400 (#989) (#1066)
  .env.example
  apps/backend/src/config.py
  apps/backend/tests/extraction/test_seed_determinism.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/env-reference.generated.md
  docs/ssot/extraction.md
Due: check-env-keys, validate-schemas

[finance_report_audit] router contract-maturity audit kickoff (#1055 PR3, #1000) (#1059)
  .github/workflows/ci.yml
  common/ssot/audit_router_contracts.py
  docs/analysis/traceability-exceptions.md
  docs/reference/router-contract-maturity.md
  mkdocs.yml
  tests/tooling/test_audit_router_contracts.py
  tools/audit_router_contracts.py
Due: none

[finance_report_audit] cross-user report-number isolation test (#1055 PR1, AC8.16.2) (#1056)
  apps/backend/tests/integration/test_cross_user_report_isolation_e2e.py
  docs/project/EPIC-008.testing-strategy.md
Due: none

[finance_report_audit] activate the dormant AC behavioral-score ratchet (#1055 PR2) (#1057)
  .github/workflows/ci.yml
  apps/backend/tests/integration/test_augmentation_seam_e2e.py
  docs/ssot/ac-score-baseline.json
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_infra] feat(preflight): add frontend, env-reference, and tooling gates (#1068)
  .opencode/skills/domain/preflight/SKILL.md
  common/ssot/preflight.py
  tests/tooling/test_preflight.py
Due: none

test(confidence): cover parseProportion directly to meet the 98% threshold (#1060)
  apps/frontend/src/__tests__/confidence.test.ts
Due: frontend-lint

refactor(#1009): type income currency + drop manual dict->schema mapping (AC5.32)
  apps/backend/src/routers/income.py
  apps/backend/src/schemas/base.py
  apps/backend/src/schemas/income.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/reporting/test_income_typed_currency.py
  docs/project/EPIC-005.reporting-visualization.md
Due: validate-schemas

fix(#1009): honest typing for currency validator + guard income bucket names (CR)
  apps/backend/src/schemas/base.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/reporting/test_income_typed_currency.py
  docs/reference/api.md
Due: validate-schemas
