Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

[finance_report_ui] chore(ssot): AC-ID uniqueness gate + honest mypy pre-commit
  .pre-commit-config.yaml
  apps/frontend/playwright/mobile-ux.spec.ts
  common/ssot/generate_ac_registry.py
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-008.testing-strategy.md
  tests/tooling/test_framework_reporting_epic_contract.py
  tests/tooling/test_generate_ac_registry.py
Due: frontend-lint

test(extraction): cover JSON-repair unbalanced-brace + escaped-quote branches (#982)
  apps/backend/tests/extraction/test_json_repair.py
Due: none

[finance_report_infra] feat(config): fast-fail on broken telemetry contract in deployed envs (Infra-014 C4)
  apps/backend/src/config.py
  apps/backend/tests/infra/test_observability_contract.py
Due: check-env-keys, validate-schemas

chore(extraction): regenerate env reference for VISION_FALLBACK_MODELS
  .env.example
  docs/ssot/env-reference.generated.md
Due: check-env-keys

[finance_report_ui] chore(ssot): AC-ID uniqueness gate + honest mypy pre-commit (#1040)
  .pre-commit-config.yaml
  apps/frontend/playwright/mobile-ux.spec.ts
  common/ssot/generate_ac_registry.py
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-008.testing-strategy.md
  tests/tooling/test_framework_reporting_epic_contract.py
  tests/tooling/test_generate_ac_registry.py
Due: frontend-lint

fix(reporting): keep unpriced-drop log at debug to honor audit-noise contract
  apps/backend/src/services/reporting.py
  apps/backend/tests/reporting/test_reporting_net_worth_components.py
  docs/project/EPIC-017.portfolio-management.md
Due: none

feat(extraction): balance-aware self-consistency re-extract (#989 Step B) (#1036)
  .env.example
  apps/backend/src/config.py
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_self_consistency.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/env-reference.generated.md
  docs/ssot/extraction.md
Due: check-env-keys, validate-schemas

test(extraction): cover JSON-repair unbalanced-brace + escaped-quote branches (#982) (#1041)
  apps/backend/tests/extraction/test_json_repair.py
Due: none

[finance_report_infra] refactor: centralize PROTECTED_ENVIRONMENTS in config (Copilot CR, Infra-014 C4)
  apps/backend/src/boot.py
  apps/backend/src/config.py
Due: check-env-keys, validate-schemas

fix(workflow): make workflow-event dedupe insert transaction-safe (#1033) (#1037)
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/workflow/test_workflow_events.py
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/workflow-events.md
Due: none

[finance_report_hacker] fix(extraction): vision path falls back to secondary models (#1034) (#1039)
  .env.example
  apps/backend/src/config.py
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/env-reference.generated.md
  docs/ssot/extraction.md
Due: check-env-keys, validate-schemas

[finance_report_hacker] fix(reporting): guard non-ticker Yahoo lookups and surface dropped positions (#1035) (#1038)
  apps/backend/src/services/market_data.py
  apps/backend/tests/market_data/test_provider_parsers.py
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/market_data.md
Due: none

[finance_report_infra] feat(config): fast-fail on broken telemetry contract in deployed envs (Infra-014 C4) (#1042)
  apps/backend/src/boot.py
  apps/backend/src/config.py
  apps/backend/tests/infra/test_observability_contract.py
Due: check-env-keys, validate-schemas

[finance_report_infra] feat(frontend): surface missing OpenPanel client id in deployed envs (Infra-014 C5)
  apps/frontend/src/__tests__/rootLayout.test.tsx
  apps/frontend/src/app/layout.tsx
Due: frontend-lint

test: restore production users FK in the test schema (#991)
  apps/backend/tests/accounting/test_accounting_equation.py
  apps/backend/tests/accounting/test_accounting_integration.py
  apps/backend/tests/accounting/test_accounting_service_errors.py
  apps/backend/tests/accounting/test_multicurrency_integrity.py
  apps/backend/tests/accounting/test_processing_account.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  apps/backend/tests/api/test_ai_feedback_router.py
  apps/backend/tests/api/test_audit_router.py
  apps/backend/tests/api/test_evidence_lineage_router.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/assets/test_assets_router.py
  apps/backend/tests/conftest.py
  apps/backend/tests/extraction/test_deduplication.py
  apps/backend/tests/portfolio/test_portfolio_service.py
  apps/backend/tests/reconciliation/test_performance.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
  apps/backend/tests/reconciliation/test_reconciliation_scoring.py
  apps/backend/tests/reconciliation/test_reconciliation_stats.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/backend/tests/reporting/test_financial_logic_audit.py
  apps/backend/tests/reporting/test_fx_revaluation.py
  apps/backend/tests/reporting/test_net_worth_timeseries.py
  apps/backend/tests/reporting/test_reporting.py
  apps/backend/tests/reporting/test_reporting_extreme_fallbacks.py
  apps/backend/tests/reporting/test_reporting_fx.py
  apps/backend/tests/services/test_evidence_graph_materialization.py
  apps/backend/tests/services/test_evidence_lineage.py
Due: none

[finance_report_infra] fix(frontend): move analytics-env helper out of layout.tsx (Next layout export rule)
  apps/frontend/src/__tests__/rootLayout.test.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/lib/analytics-env.ts
Due: frontend-lint

fix(epic-013): resolve duplicate AC13.17 — renumber self-consistency block to AC13.18
  apps/backend/tests/extraction/test_self_consistency.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

fix(docs): renumber duplicate AC13.17 vision-fallback to AC13.18
  apps/backend/tests/extraction/test_extraction_error_paths.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

fix(docs): renumber duplicate AC13.17 vision-fallback to AC13.18 (#1049)
  apps/backend/tests/extraction/test_extraction_error_paths.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

fix(epic-013): resolve duplicate AC13.17 — renumber self-consistency block to AC13.18 (#1047)
  apps/backend/tests/extraction/test_self_consistency.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

docs: resolve duplicate AC13.18 group heading in EPIC-013 (#991)
  apps/backend/tests/extraction/test_self_consistency.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

[finance_report_audit] restore production users FK in the test schema (#991) (#1046)
  apps/backend/tests/accounting/test_accounting_equation.py
  apps/backend/tests/accounting/test_accounting_integration.py
  apps/backend/tests/accounting/test_accounting_service_errors.py
  apps/backend/tests/accounting/test_multicurrency_integrity.py
  apps/backend/tests/accounting/test_processing_account.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  apps/backend/tests/api/test_ai_feedback_router.py
  apps/backend/tests/api/test_audit_router.py
  apps/backend/tests/api/test_evidence_lineage_router.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/assets/test_assets_router.py
  apps/backend/tests/conftest.py
  apps/backend/tests/extraction/test_deduplication.py
  apps/backend/tests/extraction/test_self_consistency.py
  apps/backend/tests/portfolio/test_portfolio_service.py
  apps/backend/tests/reconciliation/test_performance.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
  apps/backend/tests/reconciliation/test_reconciliation_scoring.py
  apps/backend/tests/reconciliation/test_reconciliation_stats.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/backend/tests/reporting/test_financial_logic_audit.py
  apps/backend/tests/reporting/test_fx_revaluation.py
  apps/backend/tests/reporting/test_net_worth_timeseries.py
  apps/backend/tests/reporting/test_reporting.py
  apps/backend/tests/reporting/test_reporting_extreme_fallbacks.py
  apps/backend/tests/reporting/test_reporting_fx.py
  apps/backend/tests/services/test_evidence_graph_materialization.py
  apps/backend/tests/services/test_evidence_lineage.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

[finance_report_infra] fix(epic-013): dedupe AC13.18 collision — self-consistency -> AC13.17
  apps/backend/tests/extraction/test_self_consistency.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

fix(epic-013): resolve duplicate AC13.18 — renumber self-consistency to AC13.19
  apps/backend/tests/extraction/test_self_consistency.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

fix(extraction): don't let uncomputable-balance parse win self-consistency best (#989)
  apps/backend/src/services/extraction.py
  apps/backend/src/services/validation.py
  apps/backend/tests/extraction/test_self_consistency.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

fix(#987): workflow events session summary honors blocked status (AC19.2.7)
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/workflow/test_workflow_events.py
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/workflow-events.md
Due: none

fix(#987): reuse synced readiness, avoid double computation per events read (CR)
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/workflow/test_workflow_events.py
Due: none

fix(#756,#758): fail-fast on no-new-deployment + rollback half-updated preview compose (Infra-AC7.13)
  docs/project/EPIC-007.deployment.md
  docs/ssot/ci-cd.md
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

fix(#758): drop unreachable missing-from-effective reason in env diff
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

[finance_report_infra] fix(frontend): log analytics misconfig once per process (Copilot CR, Infra-014 C5)
  apps/frontend/src/app/layout.tsx
Due: frontend-lint

fix(skills): mirror new skills to .codex + register them; classify tooling test
  .codex/skills/ac-workflow
  .codex/skills/preflight
  .opencode/oh-my-openagent.json
  docs/analysis/traceability-exceptions.md
Due: none

fix(preflight): run backend gates from apps/backend; doc accuracy (Copilot)
  .opencode/skills/domain/ac-workflow/SKILL.md
  .opencode/skills/domain/preflight/SKILL.md
  common/ssot/preflight.py
  tests/tooling/test_preflight.py
Due: none

feat(tooling): diff-aware preflight gate dispatcher + workflow skills
  .claude/skills/ac-workflow
  .claude/skills/preflight
  .opencode/skills/domain/ac-workflow/SKILL.md
  .opencode/skills/domain/development/SKILL.md
  .opencode/skills/domain/preflight/SKILL.md
  common/ssot/preflight.py
  tests/tooling/test_preflight.py
  tools/preflight.py
Due: none

fix(extraction): don't let uncomputable-balance parse win self-consistency best (#989) (#1052)
  apps/backend/src/services/extraction.py
  apps/backend/src/services/validation.py
  apps/backend/tests/extraction/test_self_consistency.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

[finance_report_ui] fix(#987): workflow events session summary honors blocked status (AC19.2.7) (#1048)
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/workflow/test_workflow_events.py
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/workflow-events.md
Due: none

[finance_report_ui] fix(#756,#758): fail-fast on no-new-deployment + rollback half-updated preview compose (Infra-AC7.13) (#1050)
  docs/project/EPIC-007.deployment.md
  docs/ssot/ci-cd.md
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

[finance_report_infra] test(frontend): cover the C5 deployed-env analytics warning (Infra-014 C5)
  apps/frontend/src/__tests__/rootLayout.test.tsx
Due: frontend-lint

test(integration): cross-user report-number isolation (#1055 PR1, AC8.16.2)
  apps/backend/tests/integration/test_cross_user_report_isolation_e2e.py
  docs/project/EPIC-008.testing-strategy.md
Due: none

[finance_report_test_and_doc] feat(tooling): diff-aware preflight gate dispatcher + workflow skills (#1043)
  .claude/skills/ac-workflow
  .claude/skills/preflight
  .codex/skills/ac-workflow
  .codex/skills/preflight
  .opencode/oh-my-openagent.json
  .opencode/skills/domain/ac-workflow/SKILL.md
  .opencode/skills/domain/development/SKILL.md
  .opencode/skills/domain/preflight/SKILL.md
  common/ssot/preflight.py
  docs/analysis/traceability-exceptions.md
  tests/tooling/test_preflight.py
  tools/preflight.py
Due: none

fix(#575): snapshot rollout baseline before force-recreate redeploy (CR, AC7.13.6)
  tests/tooling/test_issue_575_effective_env_verify.py
  tools/_lib/shell/dokploy_deploy.sh
Due: none

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
