Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

[finance_report_vision] fix(llm): EPIC-023 PR5 — per-user config hardening (AC23.4.7-.10)
  apps/backend/src/llm/client.py
  apps/backend/src/llm/db_config.py
  apps/backend/src/llm/factory.py
  apps/backend/src/routers/llm.py
  apps/backend/src/schemas/llm.py
  apps/backend/tests/integration/test_llm_api.py
  apps/backend/tests/integration/test_llm_db_config.py
  apps/backend/tests/unit/llm/test_factory.py
  docs/project/EPIC-023.llm-provider-abstraction.md
Due: validate-schemas

[finance_report_vision] feat(llm): EPIC-023 PR6 — wire per-user config onto the live advisor path (AC23.4.5)
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  apps/backend/tests/ai/test_ai_streaming.py
  docs/project/EPIC-023.llm-provider-abstraction.md
Due: none

[finance_report_vision] docs(llm): fold AC23.4.7-.10 into the AC23.4 table (fix duplicate-group gate)
  docs/project/EPIC-023.llm-provider-abstraction.md
Due: none

[finance_report_vision] fix(llm): address Copilot — trailing-dot SSRF bypass + AC-tagged test names
  apps/backend/src/schemas/llm.py
  apps/backend/tests/integration/test_llm_api.py
  apps/backend/tests/integration/test_llm_db_config.py
Due: validate-schemas

[finance_report_vision] fix(llm): address Copilot — cache key honours bound model + AC23.4.5 tags
  apps/backend/src/services/ai_advisor.py
Due: none

[finance_report_audit] feat(money): common/money value types — Money/Currency/convert/CurrencyBalances (EPIC-002 AC2.19–.21, #1170) (#1174)
  apps/backend/tests/accounting/test_money_conformance_backend.py
  apps/frontend/src/lib/money/currency.ts
  apps/frontend/src/lib/money/index.ts
  apps/frontend/src/lib/money/iso4217.ts
  apps/frontend/src/lib/money/money.conformance.test.ts
  apps/frontend/src/lib/money/money.ts
  common/money/__init__.py
  common/money/balances.py
  common/money/conformance/README.md
  common/money/conformance/__init__.py
  common/money/conformance/vectors.json
  common/money/contract/money.contract.md
  common/money/convert.py
  common/money/currency.py
  common/money/errors.py
  common/money/money.py
  common/money/rounding.py
  docs/project/EPIC-002.double-entry-core.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/accounting.md
  tests/tooling/test_money_conformance.py
  tests/tooling/test_money_value_type.py
Due: frontend-lint

docs(vault): SKILL.md — AppRole is the runtime model; VAULT_APP_TOKEN retired (#257)
  .opencode/skills/domain/secrets-management/SKILL.md
Due: none

[finance_report_vision] fix(llm): EPIC-023 PR5 — per-user config hardening (AC23.4.7–.10) (#1184)
  apps/backend/src/llm/client.py
  apps/backend/src/llm/db_config.py
  apps/backend/src/llm/factory.py
  apps/backend/src/routers/llm.py
  apps/backend/src/schemas/llm.py
  apps/backend/tests/integration/test_llm_api.py
  apps/backend/tests/integration/test_llm_db_config.py
  apps/backend/tests/unit/llm/test_factory.py
  docs/project/EPIC-023.llm-provider-abstraction.md
Due: validate-schemas

[finance_report_vision] feat(llm): EPIC-023 PR6 — per-user config live on the advisor path (AC23.4.5) (#1185)
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  apps/backend/tests/ai/test_ai_streaming.py
  docs/project/EPIC-023.llm-provider-abstraction.md
Due: none

docs(vault): SKILL.md — AppRole runtime model; VAULT_APP_TOKEN retired-but-load-bearing (#257)
  .opencode/skills/domain/secrets-management/SKILL.md
Due: none

[finance_report_audit] feat(money): narrow-waist CI guard — EPIC-002 AC2.23 (#1172)
  common/money/guard.py
  docs/project/EPIC-002.double-entry-core.md
  tests/tooling/test_money_narrow_waist_guard.py
Due: none

fix(dev-infra): default local/test infra to RESTART_POLICY=no (stop podman heat/leak)
  tools/_lib/dev/test_lifecycle.py
  tools/_lib/shell/infra.sh
Due: none

[finance_report_audit] fix(money): guard also flags async + *args/**kwargs float annotations (#1172)
  common/money/guard.py
  tests/tooling/test_money_narrow_waist_guard.py
Due: none

[finance_report_audit] feat(money): narrow-waist CI guard (EPIC-002 AC2.23, #1172) (#1181)
  common/money/guard.py
  docs/project/EPIC-002.double-entry-core.md
  tests/tooling/test_money_narrow_waist_guard.py
Due: none

[finance_report_infra] docs(vault): SKILL.md — AppRole is the runtime model, VAULT_APP_TOKEN retired (#257) (#1183)
  .opencode/skills/domain/secrets-management/SKILL.md
Due: none

[finance_report_audit] feat(money): backend money module + materiality adoption — EPIC-002 AC2.22 (#1171)
  apps/backend/src/models/statement_summary.py
  apps/backend/src/money/__init__.py
  apps/backend/src/money/balances.py
  apps/backend/src/money/convert.py
  apps/backend/src/money/currency.py
  apps/backend/src/money/errors.py
  apps/backend/src/money/money.py
  apps/backend/src/money/rounding.py
  apps/backend/src/services/fx_transfer.py
  apps/backend/src/utils/money.py
  apps/backend/tests/accounting/test_money_backend_module.py
  apps/backend/tests/accounting/test_money_value_type_backend.py
  docs/project/EPIC-002.double-entry-core.md
Due: none

[finance_report_audit] feat(money): route reconciliation + reporting hot paths through Money — AC2.22.2/.3 (#1171)
  apps/backend/src/money/adopt.py
  apps/backend/src/services/reporting.py
  apps/backend/src/services/validation.py
  apps/backend/tests/accounting/test_money_adopt.py
  docs/project/EPIC-002.double-entry-core.md
Due: none

[finance_report_audit] fix(money): address CR on backend module docstrings + EPIC doc (#1171)
  apps/backend/src/money/balances.py
  apps/backend/src/money/currency.py
  apps/backend/src/money/errors.py
  apps/backend/src/money/money.py
  apps/backend/src/money/rounding.py
  docs/project/EPIC-002.double-entry-core.md
Due: none

[finance_report_infra] feat(deploy): wire app-repo sender for report-branch-main (#1072) (#1173)
  .github/workflows/notify-infra2-report-main.yml
  docs/ssot/ci-gate-inventory.yaml
Due: none

fix(compose): quote restart interpolation so RESTART_POLICY=no stays a string
  docker-compose.yml
Due: none

[finance_report_vision] fix(llm): EPIC-023 — multi-provider chat + SSRF integer-IP + single binding resolve
  apps/backend/src/llm/client.py
  apps/backend/src/schemas/llm.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  apps/backend/tests/ai/test_ai_streaming.py
  apps/backend/tests/integration/test_llm_api.py
Due: validate-schemas

[finance_report_audit] feat(money): backend module + materiality adoption (EPIC-002 AC2.22, #1171) (#1182)
  apps/backend/src/models/statement_summary.py
  apps/backend/src/money/__init__.py
  apps/backend/src/money/adopt.py
  apps/backend/src/money/balances.py
  apps/backend/src/money/convert.py
  apps/backend/src/money/currency.py
  apps/backend/src/money/errors.py
  apps/backend/src/money/money.py
  apps/backend/src/money/rounding.py
  apps/backend/src/services/fx_transfer.py
  apps/backend/src/services/reporting.py
  apps/backend/src/services/validation.py
  apps/backend/src/utils/money.py
  apps/backend/tests/accounting/test_money_adopt.py
  apps/backend/tests/accounting/test_money_backend_module.py
  apps/backend/tests/accounting/test_money_value_type_backend.py
  docs/project/EPIC-002.double-entry-core.md
Due: none

[finance_report_test_and_doc] fix(dev-infra): default local/test infra to RESTART_POLICY=no (#1186)
  docker-compose.yml
  tools/_lib/dev/test_lifecycle.py
  tools/_lib/shell/infra.sh
Due: none

[finance_report_vision] feat(llm): EPIC-023 — enforce daily budget on live path + thread user_id into extraction
  apps/backend/src/llm/client.py
  apps/backend/src/llm/cost.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/src/services/extraction.py
  apps/backend/tests/ai/test_ai_streaming.py
  apps/backend/tests/extraction/test_extraction_user_id.py
Due: none

[finance_report_vision] style(llm): ruff format cost.py (record_cost refactor)
  apps/backend/src/llm/cost.py
Due: none

[finance_report_vision] fix(llm): EPIC-023 — multi-provider chat + SSRF integer-IP + single binding resolve (#1187)
  apps/backend/src/llm/client.py
  apps/backend/src/schemas/llm.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  apps/backend/tests/ai/test_ai_streaming.py
  apps/backend/tests/integration/test_llm_api.py
Due: validate-schemas

[finance_report_vision] feat(llm): EPIC-023 — daily budget on the live path + per-user extraction (#1188)
  apps/backend/src/llm/client.py
  apps/backend/src/llm/cost.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/src/services/extraction.py
  apps/backend/tests/ai/test_ai_streaming.py
  apps/backend/tests/extraction/test_extraction_user_id.py
Due: none

feat(observability): server-side OpenPanel analytics (BE->OpenPanel) — the 4th telemetry combo
  apps/backend/src/analytics.py
  apps/backend/src/config.py
  apps/backend/src/routers/reports.py
  apps/backend/tests/infra/test_analytics.py
Due: check-env-keys, validate-schemas

[finance_report_audit] refactor(money): rename test namespace alias currency -> money (#1167)
  apps/frontend/src/__tests__/TransactionTable.test.tsx
Due: frontend-lint

refactor(observability): BE->OpenPanel via the official openpanel SDK (not hand-rolled HTTP)
  apps/backend/pyproject.toml
  apps/backend/src/analytics.py
  apps/backend/tests/infra/test_analytics.py
  apps/backend/uv.lock
Due: none

fix(deploy): verify_vault_app_token skips AppRole composes (AC8.13.11)
  common/shell/common.sh
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

address #1190 review: drop BackgroundTasks (SDK is already non-blocking)
  apps/backend/src/routers/reports.py
Due: none

[finance_report_audit] refactor(money): retire src/utils/money.py shim, converge backend on src.money (#1167)
  apps/backend/src/routers/accounts.py
  apps/backend/src/routers/assets.py
  apps/backend/src/routers/income.py
  apps/backend/src/routers/portfolio.py
  apps/backend/src/services/accounting.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/annualized_income.py
  apps/backend/src/services/assets.py
  apps/backend/src/services/brokerage_positions.py
  apps/backend/src/services/fx_transfer.py
  apps/backend/src/services/investment_accounting.py
  apps/backend/src/services/performance_report.py
  apps/backend/src/services/portfolio.py
  apps/backend/src/services/report_readiness.py
  apps/backend/src/services/reporting.py
  apps/backend/src/services/reporting_calc.py
  apps/backend/src/utils/__init__.py
  apps/backend/src/utils/money.py
  apps/backend/tests/accounting/test_money.py
  apps/backend/tests/accounting/test_money_conformance_backend.py
  docs/ssot/MANIFEST.yaml
  docs/ssot/accounting.md
Due: none

[finance_report_audit] docs(money): drop stale src.utils.money docstring refs after shim removal (#1167)
  apps/backend/src/money/rounding.py
  apps/backend/src/services/fx_transfer.py
  apps/backend/tests/accounting/test_money_conformance_backend.py
Due: none

[finance_report_vision] refactor(llm): consolidate on ai_streaming, drop unused LitellmClient; real-usage budget + binding params (AC23.4.5)
  apps/backend/src/llm/client.py
  apps/backend/src/llm/factory.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  apps/backend/tests/unit/llm/test_client.py
  apps/backend/tests/unit/llm/test_factory.py
  docs/project/EPIC-023.llm-provider-abstraction.md
Due: none

[finance_report_audit] refactor(money): retire src/utils/money.py shim, converge backend on src.money (#1167) (#1191)
  apps/backend/src/money/rounding.py
  apps/backend/src/routers/accounts.py
  apps/backend/src/routers/assets.py
  apps/backend/src/routers/income.py
  apps/backend/src/routers/portfolio.py
  apps/backend/src/services/accounting.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/annualized_income.py
  apps/backend/src/services/assets.py
  apps/backend/src/services/brokerage_positions.py
  apps/backend/src/services/fx_transfer.py
  apps/backend/src/services/investment_accounting.py
  apps/backend/src/services/performance_report.py
  apps/backend/src/services/portfolio.py
  apps/backend/src/services/report_readiness.py
  apps/backend/src/services/reporting.py
  apps/backend/src/services/reporting_calc.py
  apps/backend/src/utils/__init__.py
  apps/backend/src/utils/money.py
  apps/backend/tests/accounting/test_money.py
  apps/backend/tests/accounting/test_money_conformance_backend.py
  docs/ssot/MANIFEST.yaml
  docs/ssot/accounting.md
Due: none

fix(deploy): verify_vault_app_token skips AppRole composes (AC8.13.11) (#1192)
  common/shell/common.sh
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
