Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

fix(epic-018): chain migration 0015 onto bc9a8105e644 to keep linear history
  apps/backend/migrations/versions/0015_ai_ui_feedback_audit.py
Due: none

test(epic-018): cover error paths in AI feedback/audit/settings routers to meet 97.67% baseline
  apps/backend/tests/api/test_ai_feedback_router.py
  apps/backend/tests/api/test_user_settings_router.py
Due: none

test(epic-018): use dependency_overrides for user_settings 404 paths
  apps/backend/tests/api/test_user_settings_router.py
Due: none

test(epic-018): cover confidence_tier and AI/audit/user schemas
  apps/backend/tests/schemas/test_ai_feedback_schema.py
  apps/backend/tests/schemas/test_audit_schema.py
  apps/backend/tests/schemas/test_user_schema.py
  apps/backend/tests/services/test_confidence_tier.py
Due: none

chore(coverage): rebase baseline post-EPIC-018 (95.58% unified)
  unified-coverage.json
Due: none

fix(epic-018): address PR#333 Copilot review comments
  apps/backend/src/routers/ai_feedback.py
  apps/backend/src/routers/user_settings.py
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/components/journal/JournalEntryDetailsModal.tsx
Due: frontend-lint

test(epic-018): cover ai_feedback router edge branches; coerce UUID account_id
  apps/backend/src/routers/ai_feedback.py
  apps/backend/tests/api/test_ai_feedback_router_extra.py
Due: none

test(coverage): instrument greenlet+thread for async tracer under Py3.12
  apps/backend/pyproject.toml
Due: none

feat(epic-016): Stage 1 review-page componentization (rebased onto main)
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
  apps/frontend/playwright/inline-edit-happy-path.spec.ts
  apps/frontend/src/__tests__/ConflictResolutionDialog.test.tsx
  apps/frontend/src/__tests__/TransactionTable.test.tsx
  apps/frontend/src/__tests__/epic016Components.test.tsx
  apps/frontend/src/__tests__/helpers/renderReviewComponent.tsx
  apps/frontend/src/__tests__/reviewPages.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.actions.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/shellAndAuth.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/__tests__/types.test.ts
  apps/frontend/src/__tests__/uiGapAudit.confidenceAndAiQueue.test.ts
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/AppShell.tsx
  apps/frontend/src/components/MobileNav.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/review/BalanceIndicator.tsx
  apps/frontend/src/components/review/ConflictResolutionDialog.tsx
  apps/frontend/src/components/review/PdfPreviewPane.tsx
  apps/frontend/src/components/review/ReviewActionBar.tsx
  apps/frontend/src/components/review/TransactionTable.tsx
  apps/frontend/vitest.config.ts
  docs/project/EPIC-016.two-stage-review-ui.md
Due: frontend-lint

test(epic-016): add targeted coverage tests to recover frontend baseline
  apps/backend/tests/fixtures/.generate_test_pdfs.lock
  apps/frontend/src/__tests__/reviewQueuePage.coverage.test.tsx
  apps/frontend/src/__tests__/statementDetailPage.coverage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
Due: frontend-lint

test(epic-016): add MobileNav and theme SSR coverage tests to recover frontend baseline
  apps/frontend/src/__tests__/mobileNav.coverage.test.tsx
  apps/frontend/src/__tests__/theme.coverage.test.ts
Due: frontend-lint

feat(epic-016): Stage 1/2 componentization + inline edit + mobile nav (AC16.23.1-6, AC16.11.32-33) (#334)
  apps/backend/tests/fixtures/.generate_test_pdfs.lock
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/playwright.config.ts
  apps/frontend/playwright/inline-edit-happy-path.spec.ts
  apps/frontend/src/__tests__/ConflictResolutionDialog.test.tsx
  apps/frontend/src/__tests__/TransactionTable.test.tsx
  apps/frontend/src/__tests__/epic016Components.test.tsx
  apps/frontend/src/__tests__/helpers/renderReviewComponent.tsx
  apps/frontend/src/__tests__/mobileNav.coverage.test.tsx
  apps/frontend/src/__tests__/reviewPages.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.actions.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.coverage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/shellAndAuth.test.tsx
  apps/frontend/src/__tests__/statementDetailPage.coverage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/__tests__/theme.coverage.test.ts
  apps/frontend/src/__tests__/types.test.ts
  apps/frontend/src/__tests__/uiGapAudit.confidenceAndAiQueue.test.ts
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/AppShell.tsx
  apps/frontend/src/components/MobileNav.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/review/BalanceIndicator.tsx
  apps/frontend/src/components/review/ConflictResolutionDialog.tsx
  apps/frontend/src/components/review/PdfPreviewPane.tsx
  apps/frontend/src/components/review/ReviewActionBar.tsx
  apps/frontend/src/components/review/TransactionTable.tsx
  apps/frontend/vitest.config.ts
  docs/project/EPIC-016.two-stage-review-ui.md
Due: frontend-lint

feat(epic-015): processing account visibility (AC15.7.1-5)
  apps/backend/src/routers/accounts.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/account.py
  apps/backend/src/services/processing_account.py
  apps/backend/tests/accounting/test_processing_account_endpoints.py
  apps/backend/tests/api/test_ai_feedback_router_extra.py
  apps/backend/tests/api/test_audit_router.py
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.processingVisibility.test.ts
  apps/frontend/src/__tests__/uiGapAudit.processingVisibility.test.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/processing/page.tsx
  apps/frontend/src/components/ProcessingSummaryCard.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-015.processing-account.md
Due: validate-schemas, frontend-lint

fix(epic-015): address Copilot review on PR#335
  apps/backend/src/routers/accounts.py
  apps/backend/src/services/processing_account.py
  apps/backend/tests/accounting/test_processing_account_endpoints.py
  apps/frontend/src/__tests__/uiGapAudit.processingVisibility.test.tsx
  apps/frontend/src/app/(main)/processing/page.tsx
  apps/frontend/src/components/ProcessingSummaryCard.tsx
Due: frontend-lint

style: ruff format processing_account.py
  apps/backend/src/services/processing_account.py
Due: none

feat(epic-015): processing account visibility (AC15.7.1-5) (#335)
  apps/backend/src/routers/accounts.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/account.py
  apps/backend/src/services/processing_account.py
  apps/backend/tests/accounting/test_processing_account_endpoints.py
  apps/backend/tests/api/test_ai_feedback_router_extra.py
  apps/backend/tests/api/test_audit_router.py
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.processingVisibility.test.ts
  apps/frontend/src/__tests__/uiGapAudit.processingVisibility.test.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/processing/page.tsx
  apps/frontend/src/components/ProcessingSummaryCard.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-015.processing-account.md
Due: validate-schemas, frontend-lint

test(coverage): add targeted tests for BE routers/services + FE components/hooks
  apps/backend/tests/api/test_ai_feedback_router.py
  apps/backend/tests/api/test_ai_models_router.py
  apps/backend/tests/api/test_corrections_router.py
  apps/backend/tests/api/test_reports_router.py
  apps/backend/tests/extraction/test_correction_service_cache.py
  apps/frontend/src/components/__tests__/ProcessingSummaryCard.test.tsx
  apps/frontend/src/components/review/__tests__/ConflictResolutionDialog.keydown.test.tsx
  apps/frontend/src/components/review/__tests__/TransactionTable.keyEvents.test.tsx
  apps/frontend/src/hooks/__tests__/useFocusTrap.test.tsx
  apps/frontend/src/lib/api.test.ts
Due: frontend-lint

test(coverage): add targeted tests for BE routers/services + FE components/hooks (#336)
  apps/backend/tests/api/test_ai_feedback_router.py
  apps/backend/tests/api/test_ai_models_router.py
  apps/backend/tests/api/test_corrections_router.py
  apps/backend/tests/api/test_reports_router.py
  apps/backend/tests/extraction/test_correction_service_cache.py
  apps/frontend/src/components/__tests__/ProcessingSummaryCard.test.tsx
  apps/frontend/src/components/review/__tests__/ConflictResolutionDialog.keydown.test.tsx
  apps/frontend/src/components/review/__tests__/TransactionTable.keyEvents.test.tsx
  apps/frontend/src/hooks/__tests__/useFocusTrap.test.tsx
  apps/frontend/src/lib/api.test.ts
Due: frontend-lint

docs: full-spectrum vision-EPIC-AC consistency audit (P0+P1+P2)
  docs/ac_registry.yaml
  docs/project/AC-AUDIT-2026-05-04.md
  docs/project/AC-TEST-TRACEABILITY-AUDIT.md
  docs/project/DECISIONS.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-010.signoz-logging.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/README.md
  vision.md
Due: none

docs: address Copilot review feedback on PR #337
  docs/project/AC-AUDIT-2026-05-04.md
  docs/project/AC-TEST-TRACEABILITY-AUDIT.md
  docs/project/README.md
  vision.md
Due: none

docs: vision↔EPIC↔AC consistency audit (P0+P1+P2) (#337)
  docs/ac_registry.yaml
  docs/project/AC-AUDIT-2026-05-04.md
  docs/project/AC-TEST-TRACEABILITY-AUDIT.md
  docs/project/DECISIONS.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-010.signoz-logging.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/README.md
  vision.md
Due: none

fix(lint): exempt stub-status ACs from check3 registry-to-EPIC enforcement
  scripts/lint_doc_consistency.py
Due: none

test(scripts): add tests for lint_doc_consistency, build_ac_traceability, audit_ac_epic_mismatches; ratchet scripts coverage floor to 94.55%
  scripts/lint_doc_consistency.py
  scripts/tests/test_audit_ac_epic_mismatches.py
  scripts/tests/test_build_ac_traceability.py
  scripts/tests/test_lint_doc_consistency.py
  unified-coverage.json
Due: none

fix(coverage): lower scripts floor to 94.48% to match CI measurement (94.53% actual)
  unified-coverage.json
Due: none

fix: address PR #344 review issues — correct test roots, wire CI hard-fails
  .github/workflows/ci.yml
  docs/project/AC-TEST-TRACEABILITY-AUDIT.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-016.two-stage-review-ui.md
  scripts/build_ac_traceability.py
  scripts/lint_doc_consistency.py
Due: none

fix: address PR #347 review — date-stable --check, fix CHECK6 scope, update stale help text
  .github/workflows/ci.yml
  scripts/build_ac_traceability.py
  scripts/lint_doc_consistency.py
Due: none

fix: address PR #344 review issues — correct test roots, wire CI hard-fails (#347)
  .github/workflows/ci.yml
  docs/project/AC-TEST-TRACEABILITY-AUDIT.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-016.two-stage-review-ui.md
  scripts/build_ac_traceability.py
  scripts/lint_doc_consistency.py
Due: none

fix(migrations): make 5e7857c97b74 drops idempotent for prod schema drift
  apps/backend/migrations/versions/5e7857c97b74_epic17_add_portfolio_models_and_extend_.py
Due: none

fix(migrations): make 5e7857c97b74 drops idempotent for prod schema drift (#358)
  apps/backend/migrations/versions/5e7857c97b74_epic17_add_portfolio_models_and_extend_.py
Due: none

docs: complete 918-AC test traceability remap with deprecated AC detection (#357)
  docs/project/AC-TEST-TRACEABILITY-AUDIT.md
  scripts/build_ac_traceability.py
  scripts/tests/test_build_ac_traceability.py
Due: none

docs: SSOT deduplication + doc consolidation (audit trio, EPIC-016, coverage, observability, DECISIONS) (#345)
  .github/workflows/ci.yml
  docs/project/AC-AUDIT-2026-05-04.md
  docs/project/AUDITS.md
  docs/project/DECISIONS_ZH.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-016-IMPLEMENTATION-PLAN.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/project/archive/AC-AUDIT-2026-02-25.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/project/archive/EPIC-ENCODING-SUMMARY.md
  docs/project/archive/TEST-COVERAGE-PLAN.md
  docs/reference/api-reconciliation.md
  docs/ssot/accounting.md
  docs/ssot/coverage-verification.md
  docs/ssot/coverage.md
  docs/ssot/observability-logging.md
  docs/ssot/reconciliation.md
  docs/ssot/schema.md
  scripts/build_ac_traceability.py
  scripts/check_ssot_ownership.py
  scripts/lint_doc_consistency.py
  scripts/tests/test_check_ssot_ownership.py
Due: none

fix: use period-average FX rates in _aggregate_net_income_sql (#360)
  apps/backend/src/services/reporting.py
  apps/backend/tests/reporting/test_reporting_extreme_fallbacks.py
  apps/frontend/src/__tests__/StatementUploader.test.tsx
Due: frontend-lint

feat: horizontal management axis – SSOT manifest + issue/PR templates + AGENTS.md split (#359)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/infra.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  AGENTS.md
  docs/agents/orchestration.md
  docs/agents/red-lines.md
  docs/contributing/branch-policy.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  docs/ssot/development.md
  docs/ssot/environments.md
  scripts/check_manifest.py
  scripts/tests/test_check_manifest.py
Due: none

fix(migration): make 5e7857c97b74 upgrade fully idempotent
  apps/backend/migrations/versions/5e7857c97b74_epic17_add_portfolio_models_and_extend_.py
Due: none
