Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

fix(epic-016): fix CI failures, lint errors, and multi-tenant data leaks
  apps/backend/src/routers/review.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/review/test_consistency_checks.py
  apps/backend/tests/review/test_statement_validation.py
Due: none

fix(epic-016): final polish and address all remaining PR comments
  apps/backend/src/routers/review.py
  apps/backend/src/schemas/review.py
  apps/backend/src/services/consistency_checks.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/review/test_consistency_checks.py
  apps/backend/tests/review/test_statement_validation.py
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  docs/ssot/reconciliation.md
Due: validate-schemas, frontend-lint

fix(frontend): handle potential null created_at in review queue
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
Due: frontend-lint

test: address second round of PR comments and improve AC traceability
  apps/backend/tests/api/test_ai_models_router.py
  apps/backend/tests/api/test_journal_router.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/api/test_reports_router.py
  apps/backend/tests/api/test_statements_router.py
  docs/project/AC-AUDIT-2026-02-25.md
  docs/project/TEST-COVERAGE-PLAN.md
Due: none

fix(backend): fix router package exports and clean up main.py imports
  apps/backend/src/main.py
  apps/backend/src/routers/__init__.py
Due: none

test: Phase 2 Router Layer coverage improvement (21%→29%, 4/9 routers complete) (#291)
  apps/backend/tests/api/test_ai_models_router.py
  apps/backend/tests/api/test_journal_router.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/api/test_reports_router.py
  apps/backend/tests/api/test_statements_router.py
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  docs/project/AC-AUDIT-2026-02-25.md
  docs/project/TEST-COVERAGE-PLAN.md
Due: frontend-lint

fix(backend): reorder routers to prevent shadowing and use relative imports in routers package
  apps/backend/src/main.py
  apps/backend/src/routers/__init__.py
Due: none

fix(backend): consolidate review router into statements router
  apps/backend/src/main.py
  apps/backend/src/routers/__init__.py
  apps/backend/src/routers/review.py
  apps/backend/src/routers/statements.py
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
Due: frontend-lint

fix(backend): clean up statements router and consolidate review logic
  apps/backend/src/routers/statements.py
Due: none

docs: remove Wealthfolio and update coverage policy
  AGENTS.md
  README.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/README.md
  docs/ssot/tdd.md
  vision.md
Due: none

fix(epic-016): restore health/ping endpoints and address PR comments
  apps/backend/src/main.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/review/test_statement_validation.py
  docs/ssot/reconciliation.md
Due: none

fix: resolve environment idempotency and project status inconsistencies
  docs/project/README.md
  scripts/test_lifecycle.py
Due: none

fix: standardize auth system as MIDDLEWARE ONE
  .opencode/skills/professional/frontend-react/SKILL.md
  apps/backend/src/main.py
  docs/ssot/README.md
  docs/ssot/auth.md
  docs/ssot/frontend-patterns.md
Due: none

fix(backend): fix ping initial state, restore toggle endpoint, and relax health check
  apps/backend/src/main.py
  apps/backend/src/models/ping_state.py
Due: none

fix(backend): fix AttributeError in OTEL initialization and ensure startup stability
  apps/backend/src/main.py
Due: none

fix: physical removal of legacy X-User-Id from code and tests
  apps/backend/tests/auth/test_auth_router.py
  apps/backend/tests/locustfile.py
Due: none

fix: address PR review comments on coverage policy and lifecycle script
  README.md
  docs/ssot/tdd.md
  scripts/test_lifecycle.py
Due: none

fix(backend): fix TypeError in health check and remove unused import
  apps/backend/src/main.py
Due: none

fix(backend): fix lint formatting in main.py
  apps/backend/src/main.py
Due: none

docs: sync vision, agents, readme and standardize auth system (#295)
  .opencode/skills/professional/frontend-react/SKILL.md
  AGENTS.md
  README.md
  apps/backend/src/main.py
  apps/backend/tests/auth/test_auth_router.py
  apps/backend/tests/locustfile.py
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/README.md
  docs/ssot/README.md
  docs/ssot/auth.md
  docs/ssot/frontend-patterns.md
  docs/ssot/tdd.md
  scripts/test_lifecycle.py
  vision.md
Due: none

fix(backend): fix health check TypeError, status string, and PingState test expectations
  apps/backend/src/main.py
  apps/backend/src/models/ping_state.py
Due: none

fix(backend): remove unused HTTPException import in main.py
  apps/backend/src/main.py
Due: none

fix(backend): fix health check TypeError and restore strict 503 behavior
  apps/backend/src/main.py
Due: none

fix(backend): fix all remaining infra unit tests and deployment readiness
  apps/backend/src/main.py
  apps/backend/src/schemas/extraction.py
  apps/backend/tests/infra/test_main.py
Due: validate-schemas

feat(epic-016): add two-stage review system for bank statement validation
  apps/backend/migrations/versions/0012_add_stage1_review.py
  apps/backend/migrations/versions/0013_add_consistency_checks.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/consistency_check.py
  apps/backend/src/models/statement.py
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/extraction.py
  apps/backend/src/schemas/review.py
  apps/backend/src/services/consistency_checks.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/conftest.py
  apps/backend/tests/review/test_consistency_checks.py
  apps/backend/tests/review/test_statement_validation.py
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/ui/ConfirmDialog.tsx
  docs/project/EPIC-016-IMPLEMENTATION-PLAN.md
  docs/ssot/reconciliation.md
Due: validate-schemas, frontend-lint

fix(epic-016): address CR review comments on two-stage review PR
  apps/backend/migrations/versions/0013_add_consistency_checks.py
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/extraction.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/review/test_consistency_checks.py
  apps/backend/tests/review/test_statement_validation.py
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
Due: validate-schemas, frontend-lint

feat(epic-016): Two-Stage Review System for Bank Statement Validation (#296)
  apps/backend/migrations/versions/0012_add_stage1_review.py
  apps/backend/migrations/versions/0013_add_consistency_checks.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/consistency_check.py
  apps/backend/src/models/statement.py
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/review.py
  apps/backend/src/services/consistency_checks.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/conftest.py
  apps/backend/tests/review/test_consistency_checks.py
  apps/backend/tests/review/test_statement_validation.py
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/ui/ConfirmDialog.tsx
  docs/project/EPIC-016-IMPLEMENTATION-PLAN.md
  docs/ssot/reconciliation.md
Due: validate-schemas, frontend-lint

feat(coverage): implement unified test coverage system with blacklist approach
  .github/workflows/ci.yml
  apps/backend/pyproject.toml
  apps/frontend/vitest.config.ts
  docs/ssot/README.md
  docs/ssot/coverage.md
  scripts/calculate_unified_coverage.py
  unified-coverage.json
Due: frontend-lint

chore(coverage): add Coveralls config and update gitignore
  .coveralls.yml
  .gitignore
Due: none

fix(ci): add @vitest/coverage-v8 dependency for frontend coverage
  apps/frontend/package.json
Due: none

chore(coverage): add Coveralls config and update gitignore
  .github/workflows/ci.yml
Due: none

fix(ci): replace placeholder with actual merge coverage step
  .github/workflows/ci.yml
Due: none

fix(ci): fix frontend tests with proper mocking and add resetRedirectGuard
  apps/frontend/package.json
  apps/frontend/src/lib/api.test.ts
  apps/frontend/src/lib/api.ts
Due: frontend-lint

fix(ci): lower frontend coverage thresholds to match current levels
  apps/frontend/vitest.config.ts
Due: frontend-lint

fix(ci): fix lcov parsing to correctly parse DA and LF lines
  scripts/calculate_unified_coverage.py
Due: none

fix(coverage): fix lcov parsing and merging to correctly calculate unified coverage
  .github/workflows/ci.yml
  scripts/calculate_unified_coverage.py
  scripts/merge_lcov.py
Due: none

fix(coverage): lower threshold to 21% to match current baseline
  .github/workflows/ci.yml
Due: none

fix: regenerate package-lock.json to include @vitest/coverage-v8
  apps/frontend/package-lock.json
Due: none

, (#297)
  .coveralls.yml
  .github/workflows/ci.yml
  .gitignore
  apps/backend/pyproject.toml
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/lib/api.test.ts
  apps/frontend/src/lib/api.ts
  apps/frontend/vitest.config.ts
  docs/ssot/README.md
  docs/ssot/coverage.md
  scripts/calculate_unified_coverage.py
  scripts/merge_lcov.py
  unified-coverage.json
Due: frontend-lint
