Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

test(testing): require declared proof observations
  common/testing/ac_proof.py
  common/testing/check_pr_ci_evidence.py
  common/testing/contract.py
  common/testing/executed_proof.py
  common/testing/generate_critical_proof_matrix.py
  common/testing/readme.md
  tests/tooling/test_executed_proof.py
  tests/tooling/test_workflow_selection_conformance.py
Due: none

fix(testing): keep terminal consumers CI-authoritative
  common/testing/contract.py
  common/testing/executed_proof.py
  common/testing/readme.md
  tests/tooling/test_executed_proof.py
Due: none

docs(extraction): close implemented roadmap evidence
  common/extraction/contract.py
Due: none

fix(extraction): complete source capability registry
  apps/backend/src/extraction/base/result.py
  apps/backend/tests/extraction/test_statement_result_contract.py
  common/extraction/readme.md
Due: none

[finance-report-567-owner-closeout] Close package document roadmap (#1963)
  common/reporting/contract.py
Due: none

[finance_report_audit_950_extraction] Complete extraction source capabilities (#1966)
  apps/backend/src/extraction/base/result.py
  apps/backend/tests/extraction/test_statement_result_contract.py
  common/extraction/contract.py
  common/extraction/readme.md
Due: none

[finance-report-696-terminal-proof-consumer] Compose proof only after pytest PASS (#1965)
  common/testing/ac_proof.py
  common/testing/check_pr_ci_evidence.py
  common/testing/contract.py
  common/testing/executed_proof.py
  common/testing/generate_critical_proof_matrix.py
  common/testing/readme.md
  tests/tooling/test_executed_proof.py
  tests/tooling/test_workflow_selection_conformance.py
Due: none

feat(audit): emit terminal trace proof
  apps/backend/src/audit/__init__.py
  apps/backend/src/audit/base/__init__.py
  apps/backend/src/audit/base/terminal_audit.py
  apps/backend/src/audit/extension/__init__.py
  apps/backend/src/audit/extension/promotion_trace.py
  apps/backend/src/audit/extension/terminal_audit.py
  apps/backend/tests/audit/trace/test_promotion_trace_adapter.py
  apps/backend/tests/audit/trace/test_terminal_audit.py
  apps/backend/tests/audit/trace/test_trace_validation_edges.py
  apps/backend/tests/integration/test_trusted_year_scenario.py
  common/audit/contract.py
  common/audit/readme.md
Due: none

test(audit): emit trusted year terminal trace
  apps/backend/tests/audit/trace/test_terminal_audit.py
  apps/backend/tests/integration/test_trusted_year_scenario.py
Due: none

test(audit): require terminal proof observation
  apps/backend/tests/integration/test_trusted_year_scenario.py
Due: none

[finance-report-1910-terminal-audit] Emit exact terminal TraceRecord proof (#1964)
  apps/backend/src/audit/__init__.py
  apps/backend/src/audit/base/__init__.py
  apps/backend/src/audit/base/terminal_audit.py
  apps/backend/src/audit/extension/__init__.py
  apps/backend/src/audit/extension/promotion_trace.py
  apps/backend/src/audit/extension/terminal_audit.py
  apps/backend/tests/audit/trace/test_promotion_trace_adapter.py
  apps/backend/tests/audit/trace/test_terminal_audit.py
  apps/backend/tests/audit/trace/test_trace_validation_edges.py
  apps/backend/tests/integration/test_trusted_year_scenario.py
  common/audit/contract.py
  common/audit/readme.md
Due: none

fix(extraction): keep capability registry deployable
  apps/backend/src/extraction/base/result.py
  apps/backend/src/extraction/base/source_capability.py
  apps/backend/tests/extraction/test_statement_result_contract.py
  common/advisor/contract.py
  common/extraction/contract.py
  common/extraction/readme.md
  common/testing/contract.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-021.application-ai-advisor.md
  tests/tooling/test_application_ai_advisor_epic021_contract.py
  tests/tooling/test_source_capability_proof.py
  tests/tooling/test_ssot_governance_report.py
  tools/check_ac_index.py
  vision.md
Due: none

fix(testing): isolate capability registry loading
  tests/tooling/test_source_capability_proof.py
  tools/check_ac_index.py
Due: none

refactor(testing): derive source capability proof coverage
  apps/backend/src/extraction/base/result.py
  apps/backend/tests/extraction/test_statement_result_contract.py
  common/advisor/contract.py
  common/advisor/readme.md
  common/extraction/contract.py
  common/extraction/readme.md
  common/extraction/source_capability.py
  common/testing/check_ac_index.py
  common/testing/ci-cd.md
  common/testing/contract.py
  common/testing/coverage/check_source_coverage_matrix.py
  common/testing/data/source-coverage-matrix.yaml
  common/testing/source_capability_proof.py
  common/testing/tdd.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/project/EPIC-021.application-ai-advisor.md
  tests/tooling/test_application_ai_advisor_epic021_contract.py
  tests/tooling/test_s4_gate_contracts.py
  tests/tooling/test_source_capability_proof.py
  tests/tooling/test_source_coverage_matrix.py
  tests/tooling/test_ssot_governance_report.py
  tools/check_ac_index.py
  tools/check_source_coverage_matrix.py
  vision.md
Due: none

[finance-report-696-source-capability-proof] Derive source capability proof coverage (#1967)
  apps/backend/src/extraction/base/result.py
  apps/backend/src/extraction/base/source_capability.py
  apps/backend/tests/extraction/test_statement_result_contract.py
  common/advisor/contract.py
  common/advisor/readme.md
  common/extraction/contract.py
  common/extraction/readme.md
  common/testing/check_ac_index.py
  common/testing/ci-cd.md
  common/testing/contract.py
  common/testing/coverage/check_source_coverage_matrix.py
  common/testing/data/source-coverage-matrix.yaml
  common/testing/source_capability_proof.py
  common/testing/tdd.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/project/EPIC-021.application-ai-advisor.md
  tests/tooling/test_application_ai_advisor_epic021_contract.py
  tests/tooling/test_s4_gate_contracts.py
  tests/tooling/test_source_capability_proof.py
  tests/tooling/test_source_coverage_matrix.py
  tests/tooling/test_ssot_governance_report.py
  tools/check_ac_index.py
  tools/check_source_coverage_matrix.py
  vision.md
Due: none

feat(meta): add package governance control plane
  .github/workflows/ci.yml
  apps/frontend/src/__tests__/apiErrorStructured.test.ts
  apps/frontend/src/__tests__/apiTypedClient.test.ts
  common/meta/__init__.py
  common/meta/base/governance_control.py
  common/meta/base/package_contract.py
  common/meta/contract.py
  common/meta/data/governance_control.py
  common/meta/data/projection.py
  common/meta/extension/generate_ac_registry.py
  common/meta/extension/governance_control_report.py
  common/meta/package_contract.py
  common/meta/readme.md
  common/testing/package_governance.py
  tests/tooling/test_governance_control_plane.py
  tools/report_package_governance.py
Due: frontend-lint

test(meta): cover governance failure modes
  tests/tooling/test_governance_control_plane.py
Due: none

fix(meta): fail closed on invalid governance proof
  common/meta/data/governance_control.py
  tests/tooling/test_governance_control_plane.py
Due: none

[finance_report_pic] Add package governance control plane (#1972)
  .github/workflows/ci.yml
  apps/frontend/src/__tests__/apiErrorStructured.test.ts
  apps/frontend/src/__tests__/apiTypedClient.test.ts
  common/meta/__init__.py
  common/meta/base/governance_control.py
  common/meta/base/package_contract.py
  common/meta/contract.py
  common/meta/data/governance_control.py
  common/meta/data/projection.py
  common/meta/extension/generate_ac_registry.py
  common/meta/extension/governance_control_report.py
  common/meta/package_contract.py
  common/meta/readme.md
  common/testing/package_governance.py
  tests/tooling/test_governance_control_plane.py
  tools/report_package_governance.py
Due: frontend-lint

fix(frontend): require operation inputs
  apps/frontend/src/__tests__/apiOperationTypeContract.test.ts
  apps/frontend/src/lib/api-client.ts
  apps/frontend/src/lib/api.ts
Due: frontend-lint

feat(reconciliation): enforce economic disposition atomicity
  apps/backend/migrations/versions/0058_economic_disposition.py
  apps/backend/src/reconciliation/base/config.py
  apps/backend/src/reconciliation/base/repository.py
  apps/backend/src/reconciliation/extension/matching.py
  apps/backend/src/reconciliation/extension/phases/many_to_one.py
  apps/backend/src/reconciliation/extension/phases/normal_matching.py
  apps/backend/src/reconciliation/extension/phases/transfer_detection.py
  apps/backend/src/reconciliation/extension/repository.py
  apps/backend/src/reconciliation/extension/review_queue.py
  apps/backend/src/reconciliation/extension/transfer_pairs.py
  apps/backend/src/reconciliation/orm/reconciliation.py
  apps/backend/tests/reconciliation/test_economic_disposition.py
  apps/backend/tests/reconciliation/test_economic_disposition_governance.py
  apps/backend/tests/reconciliation/test_economic_disposition_migration.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_hybrid_scoring.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reconciliation/test_reconciliation_scoring.py
  apps/backend/tests/reconciliation/test_reconciliation_stats.py
  apps/backend/tests/reconciliation/test_signature_surgery.py
  common/meta/data/migration-risk.yaml
  common/reconciliation/contract.py
  common/reconciliation/readme.md
Due: none

fix(reconciliation): enforce transfer pair invariants
  apps/backend/src/reconciliation/extension/matching.py
  apps/backend/src/reconciliation/extension/transfer_pairs.py
  apps/backend/tests/reconciliation/test_economic_disposition.py
  common/reconciliation/readme.md
Due: none

fix(ci): align governance artifact action
  .github/workflows/ci.yml
Due: none

fix(reporting): fail closed on ambiguous cash semantics
  apps/backend/src/reporting/extension/cash_flow.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/reporting/test_cash_event_projection.py
  apps/backend/tests/reporting/test_reporting.py
  apps/backend/tests/reporting/test_reporting_fx.py
  apps/frontend/openapi.json
  apps/frontend/playwright/report-readiness.spec.ts
  apps/frontend/src/lib/api-types.ts
  common/reporting/contract.py
  common/reporting/readme.md
Due: validate-schemas, frontend-lint

fix(reporting): project authoritative cash events
  apps/backend/src/reporting/extension/cash_flow.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/reporting/test_cash_event_projection.py
  apps/frontend/openapi.json
  common/reporting/contract.py
  common/reporting/readme.md
  docs/reference/api.md
Due: validate-schemas

fix(meta): close public boundary contract drift
  apps/backend/tests/reconciliation/test_review_queue.py
  common/meta/contract.py
  common/testing/contract.py
Due: none

fix(reconciliation): register transfer pair cascade
  common/audit/data/fk-cascade-ownership.json
  tests/tooling/test_fk_cascade_ownership.py
Due: none

fix(reporting): preserve statement cash identity
  apps/backend/src/reporting/extension/cash_flow.py
  apps/backend/src/routers/statements.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/reporting/test_cash_event_projection.py
  common/reporting/readme.md
  docs/reference/router-contract-maturity.md
Due: none

fix(reconciliation): enforce pair boundary invariants
  apps/backend/src/reconciliation/extension/phases/transfer_detection.py
  apps/backend/src/reconciliation/extension/transfer_pairs.py
  apps/backend/src/reconciliation/orm/reconciliation.py
  apps/backend/tests/reconciliation/test_economic_disposition.py
  apps/backend/tests/reconciliation/test_signature_surgery.py
  tests/tooling/test_reconciliation_thresholds_unit.py
Due: none

[finance-report-1977-evidence-contract] Declare own Production evidence contract
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  docs/project/traceability-exceptions.md
  tests/tooling/fixtures/release_images_run.v1.json
  tests/tooling/fixtures/staging_dispatch_run.v1.json
  tests/tooling/test_app_deploy_request.py
  tests/tooling/test_production_evidence_policy.py
  tests/tooling/test_staging_toolchain_retry.py
  tools/production_evidence_policy.json
Due: none

fix(reporting): enforce cash flow proof authority
  apps/backend/src/reporting/__init__.py
  apps/backend/src/reporting/base/__init__.py
  apps/backend/src/reporting/base/cash_flow_types.py
  apps/backend/src/reporting/extension/cash_flow.py
  apps/backend/src/reporting/extension/package_document.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/integration/test_trusted_year_scenario.py
  apps/backend/tests/reporting/test_cash_event_projection.py
  apps/backend/tests/reporting/test_package_document.py
  apps/backend/tests/reporting/test_reporting_extreme_fallbacks.py
  apps/frontend/openapi.json
  apps/frontend/src/lib/api-types.ts
  common/meta/data/unit-accountability-baseline.json
  common/reporting/contract.py
  common/reporting/readme.md
Due: validate-schemas, frontend-lint

[finance-report-1977-evidence-contract] Declare own Production evidence contract (#1978)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  docs/project/traceability-exceptions.md
  tests/tooling/fixtures/release_images_run.v1.json
  tests/tooling/fixtures/staging_dispatch_run.v1.json
  tests/tooling/test_app_deploy_request.py
  tests/tooling/test_production_evidence_policy.py
  tests/tooling/test_staging_toolchain_retry.py
  tools/production_evidence_policy.json
Due: none

fix(meta): stabilize operation client runtime proof
  apps/frontend/src/__tests__/apiOperationClientRuntime.test.ts
  apps/frontend/src/hooks/usePersonalReportPackage.ts
Due: frontend-lint

fix(reporting): scope cash proof enforcement to inputs
  apps/backend/src/reporting/extension/package_document.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_reports_router.py
  apps/backend/tests/reporting/test_package_document.py
  apps/backend/tests/reporting/test_reports_router.py
Due: none

test(reporting): count cash proof blocker
  apps/backend/tests/api/test_workflow_router.py
Due: none

test(reporting): expose cash blocker event
  apps/backend/tests/api/test_workflow_router.py
Due: none

fix(extraction): synchronize lifecycle API types
  apps/frontend/src/lib/api-types.ts
Due: frontend-lint

fix(extraction): close lifecycle proof gaps
  apps/backend/src/extraction/extension/statement_validation.py
  apps/backend/tests/extraction/test_source_lifecycle.py
  common/extraction/readme.md
Due: none

feat(extraction): converge source lifecycle state
  apps/backend/migrations/versions/0059_source_lifecycle.py
  apps/backend/src/extraction/__init__.py
  apps/backend/src/extraction/base/types.py
  apps/backend/src/extraction/extension/deduplication.py
  apps/backend/src/extraction/extension/reviewed_statement_envelope.py
  apps/backend/src/extraction/extension/source_lifecycle.py
  apps/backend/src/extraction/extension/statement_validation.py
  apps/backend/src/extraction/orm/layer1.py
  apps/backend/src/extraction/orm/statement_enums.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/review.py
  apps/backend/src/routers/statements.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_dual_write_layer2.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/extraction/test_source_lifecycle.py
  apps/backend/tests/extraction/test_source_lifecycle_governance.py
  apps/backend/tests/extraction/test_source_lifecycle_migration.py
  apps/backend/tests/extraction/test_statements_supervisor_errors.py
  apps/frontend/openapi.json
  common/extraction/contract.py
  common/extraction/readme.md
  common/meta/data/l4-root-import-baseline.json
  common/meta/data/migration-risk.yaml
  docs/reference/router-contract-maturity.md
Due: none

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
