Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

fix(reporting): restore package contract interface parity for reporting __all__
  apps/backend/src/reporting/__init__.py
Due: none

fix(tooling): update delivery-layer baseline, use to_money in diagnostics, and loop sum in splits
  apps/backend/src/ledger/splits.py
  apps/backend/src/reporting/diagnostics.py
  common/meta/data/delivery-layer-baseline.json
Due: none

fix(review): restore submit onClick and cover onSaveCorrection in LowConfidenceReviewModal
  apps/frontend/src/__tests__/LowConfidenceReviewModal.test.tsx
  apps/frontend/src/components/review/LowConfidenceReviewModal.tsx
Due: frontend-lint

feat(flows): 30-flow TDD consistency assurance & specialized accounting invariants (#2057)
  apps/backend/src/ledger/splits.py
  apps/backend/src/reporting/diagnostics.py
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/streaming.py
  apps/backend/tests/flows/test_thirty_flows_consistency.py
  apps/backend/tests/reconciliation/test_specialized_splits.py
  apps/backend/tests/reporting/test_annual_tax_package.py
  apps/backend/tests/reporting/test_equation_diagnostics.py
  apps/frontend/src/__tests__/LowConfidenceReviewModal.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/__tests__/thirtyFlowsConsistency.test.tsx
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
  apps/frontend/src/components/review/LowConfidenceReviewModal.tsx
  common/meta/data/delivery-layer-baseline.json
  common/meta/flows/thirty_flows_ssot.json
  docs/project/traceability-exceptions.md
  docs/reference/api.md
  docs/reference/router-contract-maturity.md
Due: validate-schemas, frontend-lint

docs(agents): clarify docs/project/ horizontal tracking vs package contract AC ownership
  AGENTS.md
Due: none

docs(agents): strip ontology jargon, define boundary matrix, and inject engineering writing standards (#2058)
  AGENTS.md
Due: none

docs: replace the blanket agent-merge ban with conditional merge authority
  AGENTS.md
  docs/agents/orchestration.md
  docs/contributing/branch-policy.md
Due: none

fix(flows): TDD fixes for Flow 12 limit, Flow 24 diagnostics, Flow 25/26 default dates, Flow 29 notifications, and mobile layout
  apps/backend/src/main.py
  apps/backend/src/routers/reports.py
  apps/backend/src/routers/review.py
  apps/backend/src/routers/workflow.py
  apps/backend/tests/api/test_reports_router.py
  apps/backend/tests/api/test_workflow_router.py
  apps/backend/tests/review/test_consistency_checks.py
  apps/frontend/src/app/(main)/statements/[id]/_components/StatementHeader.tsx
  apps/frontend/src/components/ChatPageClient.tsx
  apps/frontend/src/components/ChatPanel.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/lib/api.ts
  docs/reference/api.md
Due: frontend-lint

fix(reporting): conform Flow 24 diagnostics to package boundary & delivery layer ratchet
  apps/backend/src/reporting/__init__.py
  apps/backend/src/reporting/base/diagnostics.py
  apps/backend/src/reporting/extension/diagnostics.py
  apps/backend/src/routers/reports.py
  apps/backend/tests/reporting/test_equation_diagnostics.py
  common/reporting/contract.py
Due: none

fix(reports): address Copilot review findings for diagnostics ReportError, multicurrency detection, and default date assertions
  apps/backend/src/reporting/extension/diagnostics.py
  apps/backend/src/routers/reports.py
  apps/backend/tests/api/test_reports_router.py
Due: none

fix(ci): fix reporting facade import in flow tests and sync router contracts and openapi
  apps/backend/tests/flows/test_thirty_flows_consistency.py
  apps/frontend/openapi.json
  docs/reference/router-contract-maturity.md
Due: none

docs: replace the blanket agent-merge ban with conditional merge authority (#2059)
  AGENTS.md
  docs/agents/orchestration.md
  docs/contributing/branch-policy.md
Due: none

feat: 30 flows e2e fixes, DDD package alignment and responsive fixes (#2060)
  apps/backend/src/main.py
  apps/backend/src/reporting/__init__.py
  apps/backend/src/reporting/base/diagnostics.py
  apps/backend/src/reporting/extension/diagnostics.py
  apps/backend/src/routers/reports.py
  apps/backend/src/routers/review.py
  apps/backend/src/routers/workflow.py
  apps/backend/tests/api/test_reports_router.py
  apps/backend/tests/api/test_workflow_router.py
  apps/backend/tests/flows/test_thirty_flows_consistency.py
  apps/backend/tests/reporting/test_equation_diagnostics.py
  apps/backend/tests/review/test_consistency_checks.py
  apps/frontend/openapi.json
  apps/frontend/src/app/(main)/statements/[id]/_components/StatementHeader.tsx
  apps/frontend/src/components/ChatPageClient.tsx
  apps/frontend/src/components/ChatPanel.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/lib/api.ts
  common/reporting/contract.py
  docs/reference/api.md
  docs/reference/router-contract-maturity.md
Due: frontend-lint

feat(flows): TDD hardening — SSOT pruning, Flow 18 adjustment API, Flow 7 false-green fix
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/schemas/reconciliation.py
  apps/backend/tests/api/test_reconciliation_adjustment_api.py
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  common/meta/flows/thirty_flows_ssot.json
  docs/reference/api.md
Due: validate-schemas, frontend-lint

fix(ci): route ledger symbols through public interface, pre-validate threshold, update delivery ratchet
  apps/backend/src/ledger/__init__.py
  apps/backend/src/ledger/extension/__init__.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/tests/api/test_reconciliation_adjustment_api.py
  common/meta/data/delivery-layer-baseline.json
Due: none

fix(reconciliation): address Copilot review findings for Flow 18 and SSOT
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/schemas/reconciliation.py
  apps/backend/tests/api/test_reconciliation_adjustment_api.py
  common/meta/flows/thirty_flows_ssot.json
Due: validate-schemas

fix(ledger): sync contract.py interface with __all__
  common/ledger/contract.py
Due: none

feat(flows): TDD hardening — SSOT pruning, Flow 18 adjustment API, Flow 7 false-green fix (#2061)
  apps/backend/src/ledger/__init__.py
  apps/backend/src/ledger/extension/__init__.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/schemas/reconciliation.py
  apps/backend/tests/api/test_reconciliation_adjustment_api.py
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  common/ledger/contract.py
  common/meta/data/delivery-layer-baseline.json
  common/meta/flows/thirty_flows_ssot.json
  docs/reference/api.md
Due: validate-schemas, frontend-lint

wip: half-finished reconcile of fix/pdf-chain-reporting against main
  apps/backend/src/ledger/__init__.py
  apps/backend/src/ledger/base/__init__.py
  apps/backend/src/ledger/base/opening.py
  apps/backend/src/ledger/extension/__init__.py
  apps/backend/src/ledger/extension/accounting.py
  apps/backend/src/ledger/extension/anchored_posting.py
  apps/backend/src/ledger/extension/opening_positions.py
  apps/backend/src/ledger/orm/opening_position.py
  apps/backend/tests/api/test_workflow_router.py
  apps/backend/tests/integration/test_trusted_year_scenario.py
  apps/backend/tests/reporting/test_package_document.py
  apps/backend/tests/reporting/test_package_period_readiness.py
Due: none

docs(flows): align 30-flows SSOT registry with physical routes & components, add thirty-wealth-flows SSOT spec
  common/meta/flows/thirty_flows_ssot.json
  common/platform/generate_api_reference.py
  docs/reference/api-overview.md
  docs/reference/api.md
  docs/ssot/README.md
  docs/ssot/thirty-wealth-flows.md
  mkdocs.yml
Due: none

fix(docs): relocate thirty-wealth-flows to docs/reference/ and register in MANIFEST.yaml
  common/meta/data/MANIFEST.yaml
  common/platform/generate_api_reference.py
  docs/reference/api-overview.md
  docs/reference/api.md
  docs/reference/thirty-wealth-flows.md
  docs/ssot/README.md
  mkdocs.yml
Due: none

docs(flows): sanitize LaTeX math to inline code, remove file:/// links, update mkdocs comment
  docs/reference/thirty-wealth-flows.md
  mkdocs.yml
Due: none

fix(meta): align flow path parameters and move concept ownership to common/meta/contract.py
  common/meta/contract.py
  common/meta/data/MANIFEST.yaml
  common/meta/flows/thirty_flows_ssot.json
  docs/reference/thirty-wealth-flows.md
Due: none

fix(docs): align Flow 9 component to ConfirmDialog and clean mkdocs comments
  common/meta/flows/thirty_flows_ssot.json
  docs/reference/thirty-wealth-flows.md
  mkdocs.yml
Due: none

docs(flows): align 30-flows SSOT registry with physical routes & components, add thirty-wealth-flows SSOT spec (#2063)
  common/meta/contract.py
  common/meta/flows/thirty_flows_ssot.json
  common/platform/generate_api_reference.py
  docs/reference/api-overview.md
  docs/reference/api.md
  docs/reference/thirty-wealth-flows.md
  mkdocs.yml
Due: none

fix(migrations): clean up orphan enum labels blocking infra2's pre-deploy schema gate
  apps/backend/migrations/versions/0064_enum_drift_cleanup.py
  apps/backend/tests/infra/test_enum_drift_cleanup.py
  common/meta/data/migration-risk.yaml
Due: none

fix(migrations): address audit findings on #2065 (CI red, downgrade coverage, wording)
  apps/backend/migrations/versions/0064_enum_drift_cleanup.py
  apps/backend/tests/infra/test_enum_drift_cleanup.py
  common/meta/data/migration-risk.yaml
  docs/project/traceability-exceptions.md
Due: none

docs(migration-risk): fix rollback_strategy commit-boundary claim (round-2 audit)
  common/meta/data/migration-risk.yaml
Due: none

[finance_report] fix(migrations): clean up orphan enum labels blocking infra2's pre-deploy schema gate (#2065)
  apps/backend/migrations/versions/0064_enum_drift_cleanup.py
  apps/backend/tests/infra/test_enum_drift_cleanup.py
  common/meta/data/migration-risk.yaml
  docs/project/traceability-exceptions.md
Due: none

test(flows): harden 30-flows test suite, eliminate green-while-empty and mock drift
  apps/backend/src/reporting/extension/cash_flow.py
  apps/backend/tests/api/test_assets_valuation_api.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/flows/test_thirty_flows_consistency.py
  apps/backend/tests/reconciliation/test_credit_card_reconciliation_flow.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reporting/test_cash_flow_invariants.py
  apps/frontend/src/__tests__/reviewQueuePage.actions.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/thirtyFlowsConsistency.test.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  common/meta/flows/thirty_flows_ssot.json
  docs/project/traceability-exceptions.md
  docs/reference/thirty-wealth-flows.md
Due: frontend-lint

fix(flows): address copilot review on flow 4 title, flow 10 invariant, flow types, and ratchet compliance
  apps/frontend/src/__tests__/reviewQueuePage.actions.test.tsx
  apps/frontend/src/__tests__/thirtyFlowsConsistency.test.tsx
  common/meta/flows/thirty_flows_ssot.json
  docs/reference/thirty-wealth-flows.md
Due: frontend-lint

[finance_report] test(flows): harden 30-flows test suite and invariants (#2066)
  apps/backend/src/reporting/extension/cash_flow.py
  apps/backend/tests/api/test_assets_valuation_api.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/flows/test_thirty_flows_consistency.py
  apps/backend/tests/reconciliation/test_credit_card_reconciliation_flow.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reporting/test_cash_flow_invariants.py
  apps/frontend/src/__tests__/reviewQueuePage.actions.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/thirtyFlowsConsistency.test.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  common/meta/flows/thirty_flows_ssot.json
  docs/project/traceability-exceptions.md
  docs/reference/thirty-wealth-flows.md
Due: frontend-lint

[finance_report_issue2067_audit_fixes] fix(#2067): resolve 5 audit findings across statement filtering, test invariants, cash flow, asset valuation, and SSOT references
  apps/backend/src/extraction/extension/transaction_membership.py
  apps/backend/src/pricing/base/observation.py
  apps/backend/src/pricing/extension/valuation.py
  apps/backend/src/pricing/orm/manual_valuation.py
  apps/backend/src/reporting/base/cash_flow_types.py
  apps/backend/src/reporting/extension/cash_flow.py
  apps/backend/tests/api/test_assets_valuation_api.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/flows/test_thirty_flows_consistency.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reporting/test_cash_event_projection.py
  apps/backend/tests/reporting/test_cash_flow_invariants.py
  common/meta/flows/thirty_flows_ssot.json
Due: none

fix(pricing): preserve AC11.18.1 positive check constraint on ManualValuationSnapshot and strengthen filter assertions
  apps/backend/src/pricing/base/observation.py
  apps/backend/src/pricing/extension/valuation.py
  apps/backend/src/pricing/orm/manual_valuation.py
  apps/backend/tests/api/test_assets_valuation_api.py
Due: none

[finance_report_issue2067_audit_fixes] fix(#2067): resolve 5 audit findings across statement filtering, test invariants, cash flow, asset valuation, and SSOT references (#2068)
  apps/backend/src/extraction/extension/transaction_membership.py
  apps/backend/src/reporting/base/cash_flow_types.py
  apps/backend/src/reporting/extension/cash_flow.py
  apps/backend/tests/api/test_assets_valuation_api.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/flows/test_thirty_flows_consistency.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reporting/test_cash_event_projection.py
  apps/backend/tests/reporting/test_cash_flow_invariants.py
  common/meta/flows/thirty_flows_ssot.json
Due: none

feat(ssot): decouple private infrastructure domains and isolate Dokploy adapter (#2070)
  apps/frontend/next.config.mjs
  apps/frontend/src/__tests__/analytics.test.tsx
  apps/frontend/src/__tests__/api-urls.test.ts
  apps/frontend/src/components/Analytics.tsx
  common/runtime/health_check.py
  tools/_lib/dev/pr_preview_lifecycle/_dokploy.py
Due: frontend-lint

[finance_report_testing_issue-2030] Preserve semantic strength in conformance fixtures (#2031)
  common/testing/contract.py
  common/testing/readme.md
  tests/tooling/test_workflow_selection_conformance.py
Due: none

[finance_report_infra] Add a daily deploy-freshness check: fail when an environment serves days-old work (#2043)
  .github/workflows/deploy-freshness.yml
  common/meta/data/ci-gate-inventory.yaml
  common/meta/extension/workflow_contract.py
  common/runtime/ci-cd.md
  common/runtime/contract.py
  common/runtime/deploy_freshness.py
  common/runtime/readme.md
  tests/tooling/test_deploy_freshness.py
  tools/deploy_freshness.py
Due: none

fix(infra): address Copilot review — decouple private domains, validate CSP sources, and English docs (#2070)
  apps/frontend/next.config.mjs
  apps/frontend/src/__tests__/api-urls.test.ts
  common/runtime/health_check.py
  tests/tooling/test_health_check.py
  tools/_lib/dev/pr_preview_lifecycle/_dokploy.py
Due: frontend-lint

docs(agents): single-source merge authority, fix unsatisfiable §4 deploy clause
  AGENTS.md
  docs/agents/orchestration.md
  docs/agents/red-lines.md
  docs/contributing/branch-policy.md
  docs/project/traceability-exceptions.md
  tests/tooling/test_merge_authority_wording.py
Due: none
