Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

[finance_report_ui] EPIC-022 PR3: report cockpit + source drill-down (#847)
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/reporting/test_account_lineage.py
  apps/frontend/playwright/reports-cockpit.spec.ts
  apps/frontend/src/__tests__/balanceSheetDrilldown.test.tsx
  apps/frontend/src/__tests__/balanceSheetPage.test.tsx
  apps/frontend/src/__tests__/incomeStatementPage.test.tsx
  apps/frontend/src/__tests__/lineage.test.ts
  apps/frontend/src/__tests__/lineagePanel.test.tsx
  apps/frontend/src/__tests__/reportsCockpit.test.tsx
  apps/frontend/src/__tests__/reportsPage.test.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
  apps/frontend/src/components/reports/AccountLineageDrawer.tsx
  apps/frontend/src/components/reports/LineagePanel.tsx
  apps/frontend/src/lib/lineage.ts
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-022.everyday-user-ia.md
  docs/reference/api.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

[finance_report_ui] EPIC-022 PR2: unify the Review Queue into the notification center
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/next.config.mjs
  apps/frontend/playwright/unified-inbox.spec.ts
  apps/frontend/src/__tests__/mobileNav.coverage.test.tsx
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/__tests__/nextConfigRedirects.test.ts
  apps/frontend/src/__tests__/reviewIndexPage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/__tests__/unifiedInbox.test.tsx
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/app/(main)/review/page.tsx
  apps/frontend/src/components/navigation.ts
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

[finance_report_ui] EPIC-022 PR2: fix unified-inbox smoke selector
  apps/frontend/playwright/unified-inbox.spec.ts
Due: frontend-lint

[finance_report_ui] EPIC-022 PR2: point AC22.2.3 verification at the actual badge test
  docs/project/EPIC-022.everyday-user-ia.md
Due: none

[finance_report_ui] EPIC-022 PR2: drop Review nav assertions from workflow-navigation smoke
  apps/frontend/playwright/workflow-navigation.spec.ts
Due: frontend-lint

ci: make PR preview follow successful CI
  .github/workflows/pr-test.yml
  docs/project/DELIVERY_ENGINE_RECOMMENDATIONS.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  docs/ssot/development.md
  docs/ssot/environments.md
  tests/tooling/test_issue_489_deployment_contracts.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
Due: none

[finance_report_ui] EPIC-022 PR2: unify the Review Queue into the notification center (#851)
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/next.config.mjs
  apps/frontend/playwright/unified-inbox.spec.ts
  apps/frontend/playwright/workflow-navigation.spec.ts
  apps/frontend/src/__tests__/mobileNav.coverage.test.tsx
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/__tests__/nextConfigRedirects.test.ts
  apps/frontend/src/__tests__/reviewIndexPage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/__tests__/unifiedInbox.test.tsx
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/app/(main)/review/page.tsx
  apps/frontend/src/components/navigation.ts
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

docs: add deployment SSOT proof paths
  docs/ssot/MANIFEST.yaml
Due: none

[finance_report_test_and_doc] Fix PR preview lifecycle after CI (#852)
  .github/workflows/pr-test.yml
  docs/project/DELIVERY_ENGINE_RECOMMENDATIONS.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  docs/ssot/development.md
  docs/ssot/environments.md
  tests/tooling/test_issue_489_deployment_contracts.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
Due: none

[finance_report_ui] EPIC-022 PR4: hardening — Stage2 inbox proof, orphan routes, lean Home, E2E
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/next.config.mjs
  apps/frontend/playwright/epic022-attention-journey.spec.ts
  apps/frontend/playwright/epic022-drilldown-journey.spec.ts
  apps/frontend/src/__tests__/aiSettingsPage.test.tsx
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/nextConfigRedirects.test.ts
  apps/frontend/src/__tests__/reviewRunPage.test.tsx
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/app/(main)/review/run/[runId]/page.tsx
  apps/frontend/src/app/(main)/settings/ai/page.tsx
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

[finance_report_ui] EPIC-022 PR4: keep /review/run (run-scoped Stage 2 review, not a duplicate)
  apps/frontend/next.config.mjs
  apps/frontend/src/__tests__/nextConfigRedirects.test.ts
  apps/frontend/src/__tests__/reviewRunPage.test.tsx
  apps/frontend/src/app/(main)/review/run/[runId]/page.tsx
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

[finance_report_ui] EPIC-022 PR4: tighten AC22.4.1 dedupe assertion
  apps/backend/tests/workflow/test_workflow_events.py
Due: none

[finance_report_hacker] fix: migration 0030 NULL-robustness + legacy-pullable images
  .github/workflows/ci.yml
  .github/workflows/staging-deploy.yml
  apps/backend/migrations/versions/0030_repoint_match_corr_fks.py
Due: none

[finance_report_ui] EPIC-022 PR4: hardening — Stage2 inbox, orphan routes, lean Home, E2E (#854)
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/playwright/epic022-attention-journey.spec.ts
  apps/frontend/playwright/epic022-drilldown-journey.spec.ts
  apps/frontend/src/__tests__/aiSettingsPage.test.tsx
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/app/(main)/settings/ai/page.tsx
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

[finance_report_hacker] fix: migration 0030 NULL-robustness + legacy-pullable images (#855)
  .github/workflows/ci.yml
  .github/workflows/staging-deploy.yml
  apps/backend/migrations/versions/0030_repoint_match_corr_fks.py
Due: none

[finance_report_ui] EPIC-022 PR5: everyday-user flow guidance & plain language
  apps/frontend/src/__tests__/ChatPageClient.test.tsx
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/reviewBackLinks.test.tsx
  apps/frontend/src/__tests__/reviewPages.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.actions.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.coverage.test.tsx
  apps/frontend/src/__tests__/reviewRunPage.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
  apps/frontend/src/app/(main)/review/ai-suggestions/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/app/(main)/upload/page.tsx
  apps/frontend/src/components/ChatPageClient.tsx
  apps/frontend/src/components/__tests__/flowStepBanner.test.tsx
  apps/frontend/src/components/__tests__/infoHint.test.tsx
  apps/frontend/src/components/__tests__/reviewActionBar.test.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
  apps/frontend/src/components/reconciliation/Workbench.tsx
  apps/frontend/src/components/review/ReviewActionBar.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/components/ui/BackLink.tsx
  apps/frontend/src/components/ui/InfoHint.tsx
  apps/frontend/src/components/workflow/FlowStepBanner.tsx
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

Centralize runtime incident docs and test routing
  docs/project/DELIVERY_ENGINE_RECOMMENDATIONS.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  docs/ssot/env_smoke_test.md
  docs/ssot/observability.md
  docs/ssot/runtime-incident-response.md
  mkdocs.yml
  tests/tooling/test_cli_and_dev_servers.py
  tests/tooling/test_runtime_incident_response_ssot.py
  tools/_lib/dev/cli.py
Due: none

[finance_report_ui] EPIC-022 PR5: fix CI — coverage + doc-consistency
  apps/frontend/src/__tests__/flowStepBanner.test.tsx
  apps/frontend/src/__tests__/infoHint.test.tsx
  apps/frontend/src/__tests__/reviewActionBar.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
Due: frontend-lint

Centralize runtime incident docs and test routing (#856)
  docs/project/DELIVERY_ENGINE_RECOMMENDATIONS.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  docs/ssot/env_smoke_test.md
  docs/ssot/observability.md
  docs/ssot/runtime-incident-response.md
  mkdocs.yml
  tests/tooling/test_cli_and_dev_servers.py
  tests/tooling/test_runtime_incident_response_ssot.py
  tools/_lib/dev/cli.py
Due: none

[finance_report_ui] EPIC-022 PR5: address Copilot review
  apps/frontend/src/__tests__/flowStepBanner.test.tsx
  apps/frontend/src/__tests__/infoHint.test.tsx
  apps/frontend/src/components/ui/InfoHint.tsx
Due: frontend-lint

[finance_report_ui] EPIC-022 PR5: fix mobile overflow from InfoHint tooltip
  apps/frontend/src/components/ui/InfoHint.tsx
Due: frontend-lint

ci: keep SSOT governance ratios non-decreasing (#849)
  common/ssot/governance_report.py
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/tdd.md
  tests/tooling/test_ssot_governance_report.py
Due: none

[finance_report_ui] EPIC-022 PR5: everyday-user flow guidance & plain language (#857)
  apps/frontend/src/__tests__/ChatPageClient.test.tsx
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/flowStepBanner.test.tsx
  apps/frontend/src/__tests__/infoHint.test.tsx
  apps/frontend/src/__tests__/reviewActionBar.test.tsx
  apps/frontend/src/__tests__/reviewBackLinks.test.tsx
  apps/frontend/src/__tests__/reviewPages.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.actions.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.coverage.test.tsx
  apps/frontend/src/__tests__/reviewRunPage.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
  apps/frontend/src/app/(main)/review/ai-suggestions/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/app/(main)/upload/page.tsx
  apps/frontend/src/components/ChatPageClient.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
  apps/frontend/src/components/reconciliation/Workbench.tsx
  apps/frontend/src/components/review/ReviewActionBar.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/components/ui/BackLink.tsx
  apps/frontend/src/components/ui/InfoHint.tsx
  apps/frontend/src/components/workflow/FlowStepBanner.tsx
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

chore: remove preview orphan-reap workarounds (Dokploy v0.29.8 native compose.delete)
  .github/workflows/pr-preview-host-hygiene.yml
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  tests/tooling/test_vps_host_hygiene.py
  tools/_lib/dev/vps_host_hygiene.py
Due: none

Harden ledger schema invariants
  apps/backend/migrations/versions/0032_ledger_invariants.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/accounting/_ledger_helpers.py
  apps/backend/tests/accounting/test_accounting_equation.py
  apps/backend/tests/accounting/test_accounting_service_errors.py
  apps/backend/tests/accounting/test_delete_endpoints.py
  apps/backend/tests/accounting/test_journal_delete_and_validation.py
  apps/backend/tests/accounting/test_journal_router_errors.py
  apps/backend/tests/accounting/test_ledger_schema_invariants.py
  apps/backend/tests/api/test_evidence_lineage_router.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/api/test_workflow_router.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/backend/tests/reporting/test_annualized_income_schedule.py
  apps/backend/tests/reporting/test_fx_revaluation.py
  apps/backend/tests/reporting/test_income_annualized_router.py
  apps/backend/tests/reporting/test_net_income_average_rates.py
  apps/backend/tests/reporting/test_net_worth_timeseries.py
  apps/backend/tests/reporting/test_reporting.py
  apps/backend/tests/reporting/test_reporting_extreme_fallbacks.py
  apps/backend/tests/reporting/test_reporting_fx.py
  apps/backend/tests/reporting/test_reporting_fx_fallbacks.py
  apps/backend/tests/reporting/test_reporting_fx_revaluation_integration.py
  apps/backend/tests/reporting/test_reports_errors.py
  apps/backend/tests/services/test_evidence_graph_materialization.py
  docs/analysis/traceability-exceptions.md
  docs/project/EPIC-002.double-entry-core.md
  docs/ssot/accounting.md
  docs/ssot/migration-risk.yaml
  docs/ssot/schema.md
Due: none

[finance_report_ui] EPIC-022: lean Home, plain-language status, unbroken review mainline
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/statementsPage.test.tsx
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/app/(main)/upload/page.tsx
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
Due: frontend-lint

[finance_report_ui] address Copilot review on PR #860
  apps/frontend/src/__tests__/statementsPage.test.tsx
  apps/frontend/src/app/(main)/upload/page.tsx
Due: frontend-lint

Harden ledger schema invariants (#858)
  apps/backend/migrations/versions/0032_ledger_invariants.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/accounting/_ledger_helpers.py
  apps/backend/tests/accounting/test_accounting_equation.py
  apps/backend/tests/accounting/test_accounting_service_errors.py
  apps/backend/tests/accounting/test_delete_endpoints.py
  apps/backend/tests/accounting/test_journal_delete_and_validation.py
  apps/backend/tests/accounting/test_journal_router_errors.py
  apps/backend/tests/accounting/test_ledger_schema_invariants.py
  apps/backend/tests/api/test_evidence_lineage_router.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/api/test_workflow_router.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/backend/tests/reporting/test_annualized_income_schedule.py
  apps/backend/tests/reporting/test_fx_revaluation.py
  apps/backend/tests/reporting/test_income_annualized_router.py
  apps/backend/tests/reporting/test_net_income_average_rates.py
  apps/backend/tests/reporting/test_net_worth_timeseries.py
  apps/backend/tests/reporting/test_reporting.py
  apps/backend/tests/reporting/test_reporting_extreme_fallbacks.py
  apps/backend/tests/reporting/test_reporting_fx.py
  apps/backend/tests/reporting/test_reporting_fx_fallbacks.py
  apps/backend/tests/reporting/test_reporting_fx_revaluation_integration.py
  apps/backend/tests/reporting/test_reports_errors.py
  apps/backend/tests/services/test_evidence_graph_materialization.py
  docs/analysis/traceability-exceptions.md
  docs/project/EPIC-002.double-entry-core.md
  docs/ssot/accounting.md
  docs/ssot/migration-risk.yaml
  docs/ssot/schema.md
Due: none

feat: restore persistent per-PR preview, built from source on the Dokploy host
  .github/workflows/pr-test.yml
  docker-compose.pr-preview.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  tests/tooling/test_issue_489_deployment_contracts.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

[finance_report_ui] test: cover rejected + unknown status branches in statusDisplay
  apps/frontend/src/__tests__/statementsPage.test.tsx
Due: frontend-lint

feat: restore persistent per-PR preview, built from source on the Dokploy host (#861)
  .github/workflows/pr-test.yml
  docker-compose.pr-preview.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  tests/tooling/test_issue_489_deployment_contracts.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

[finance_report_ui] EPIC-022: lean Home, plain-language status, unbroken review mainline (#860)
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/statementsPage.test.tsx
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/app/(main)/upload/page.tsx
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
Due: frontend-lint

Harden financial fact schema constraints
  apps/backend/migrations/versions/0033_financial_fact_constraints.py
  apps/backend/src/models/layer2.py
  apps/backend/src/models/layer3.py
  apps/backend/src/models/layer4.py
  apps/backend/src/models/market_data.py
  apps/backend/src/models/portfolio.py
  apps/backend/src/models/statement_summary.py
  apps/backend/src/routers/portfolio.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/market_data.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/accounting/test_account_statement_coverage.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/api/test_workflow_router.py
  apps/backend/tests/extraction/test_account_last4_defense.py
  apps/backend/tests/extraction/test_statement_summary_conform.py
  apps/backend/tests/infra/test_financial_fact_schema_invariants.py
  apps/backend/tests/reporting/test_framework_package_integration.py
  apps/backend/tests/review/test_consistency_checks.py
  apps/backend/tests/review/test_review_conflicts_router.py
  apps/backend/tests/review/test_statement_validation.py
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/assets.md
  docs/ssot/market_data.md
  docs/ssot/migration-risk.yaml
  docs/ssot/reporting.md
  docs/ssot/schema.md
Due: none

Align portfolio summary fixture with uniqueness invariant
  apps/backend/tests/portfolio/test_portfolio_service.py
Due: none

Add disposed asset price fixture
  apps/backend/tests/portfolio/test_portfolio_service.py
Due: none

Reject blank approved statement currency
  apps/backend/migrations/versions/0033_financial_fact_constraints.py
  apps/backend/src/models/statement_summary.py
  apps/backend/tests/infra/test_financial_fact_schema_invariants.py
  docs/ssot/schema.md
Due: none

Make stock price lookups deterministic
  apps/backend/src/services/market_data.py
  apps/backend/src/services/portfolio.py
Due: none

[finance_report_audit] Harden financial fact schema constraints (#862)
  apps/backend/migrations/versions/0033_financial_fact_constraints.py
  apps/backend/src/models/layer2.py
  apps/backend/src/models/layer3.py
  apps/backend/src/models/layer4.py
  apps/backend/src/models/market_data.py
  apps/backend/src/models/portfolio.py
  apps/backend/src/models/statement_summary.py
  apps/backend/src/routers/portfolio.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/market_data.py
  apps/backend/src/services/portfolio.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/accounting/test_account_statement_coverage.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/api/test_workflow_router.py
  apps/backend/tests/extraction/test_account_last4_defense.py
  apps/backend/tests/extraction/test_statement_summary_conform.py
  apps/backend/tests/infra/test_financial_fact_schema_invariants.py
  apps/backend/tests/portfolio/test_portfolio_service.py
  apps/backend/tests/reporting/test_framework_package_integration.py
  apps/backend/tests/review/test_consistency_checks.py
  apps/backend/tests/review/test_review_conflicts_router.py
  apps/backend/tests/review/test_statement_validation.py
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/assets.md
  docs/ssot/market_data.md
  docs/ssot/migration-risk.yaml
  docs/ssot/reporting.md
  docs/ssot/schema.md
Due: none

[finance_report_ui] EPIC-022: extend with PR6–PR10 everyday-user slices
  docs/project/EPIC-022.everyday-user-ia.md
Due: none

[finance_report_ui] EPIC-022 PR9: everyday/Advanced boundary + naming unification (#865)
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/infoHint.test.tsx
  apps/frontend/src/__tests__/reportsCockpit.test.tsx
  apps/frontend/src/__tests__/reportsPage.test.tsx
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
  apps/frontend/src/components/ui/InfoHint.tsx
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint
