Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

EPIC-008: run the in-runner e2e gate synchronously on pull_request (close a merge-gate bypass)
  .github/workflows/pr-test.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/environments.md
  tests/tooling/test_issue_489_deployment_contracts.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
Due: none

feat(ai): ground chat answers with citations
  apps/backend/src/routers/chat.py
  apps/backend/src/schemas/chat.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/assets.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  apps/backend/tests/ai/test_chat_router.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/components/ChatPanel.tsx
  apps/frontend/src/components/advisor/AdvisorBrief.tsx
  apps/frontend/src/lib/types.ts
  common/ssot/generate_ac_registry.py
  docs/project/EPIC-022.everyday-user-ia.md
  docs/ssot/ai.md
Due: validate-schemas, frontend-lint

CR: comment uses job.status for pass/fail, body reflects synchronous gate
  .github/workflows/pr-test.yml
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

feat(ai): ground chat answers with citations (#942)
  apps/backend/src/routers/chat.py
  apps/backend/src/schemas/chat.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/assets.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  apps/backend/tests/ai/test_chat_router.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/components/ChatPanel.tsx
  apps/frontend/src/components/advisor/AdvisorBrief.tsx
  apps/frontend/src/lib/types.ts
  common/ssot/generate_ac_registry.py
  docs/project/EPIC-022.everyday-user-ia.md
  docs/ssot/ai.md
Due: validate-schemas, frontend-lint

fix(testing): detached-owner guard counts only persisted rows; budget 59 -> 2 (#920)
  common/testing/detached_owner_guard.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/schema.md
  tests/tooling/test_detached_owner_guard.py
Due: none

[finance_report_infra] EPIC-008: in-runner e2e gate synchronous on pull_request (close merge-gate bypass) (#943)
  .github/workflows/pr-test.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/environments.md
  tests/tooling/test_issue_489_deployment_contracts.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
Due: none

docs(project): define Usable milestone and bind in-progress EPICs to the cut
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/project/EPIC-020.framework-aware-personal-reporting.md
  docs/project/EPIC-021.application-ai-advisor.md
  docs/project/README.md
Due: none

docs(project): address Copilot review — drop hand-maintained state markers
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/project/README.md
Due: none

fix(testing): harden detached-owner guard for add_all(variable) + tuple isinstance (CR #946)
  common/testing/detached_owner_guard.py
  tests/tooling/test_detached_owner_guard.py
Due: none

SSOT: single-owner manifest for delivery gate triggers (decouple the 7-file restate)
  docs/analysis/traceability-exceptions.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/ci-cd.md
  docs/ssot/delivery-gates.yaml
  tests/tooling/test_delivery_gates_contract.py
Due: none

fix: declare family/kind for the delivery_gate_triggers manifest entry
  docs/ssot/MANIFEST.yaml
Due: none

[finance_report_audit] EPIC-008 AC8.13.130: detached-owner guard counts only persisted rows (#920) (#946)
  common/testing/detached_owner_guard.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/schema.md
  tests/tooling/test_detached_owner_guard.py
Due: none

[finance_report_vision] docs(project): define Usable milestone + bind in-progress EPICs to the cut (#947)
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/project/EPIC-020.framework-aware-personal-reporting.md
  docs/project/EPIC-021.application-ai-advisor.md
  docs/project/README.md
Due: none

CR: fix verifier path in delivery-gates.yaml comment (tools/ -> tests/tooling/)
  docs/ssot/delivery-gates.yaml
Due: none

docs(project): close logic-chain gaps in the Usable milestone
  docs/project/README.md
Due: none

[finance_report_infra] SSOT: delivery-gates manifest — single owner for gate triggers (decouple the restate) (#948)
  docs/analysis/traceability-exceptions.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/ci-cd.md
  docs/ssot/delivery-gates.yaml
  tests/tooling/test_delivery_gates_contract.py
Due: none

docs(project): correct #949 scope — reports already do month/quarter/year
  docs/project/README.md
Due: none

docs(project): mark #951 precautionary after code audit
  docs/project/README.md
Due: none

feat(corrections): correction feedback loop that drives the low-confidence proportion down (#931)
  apps/backend/src/services/correction_loop.py
  apps/backend/tests/services/test_correction_loop.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/ssot/confirmation-workflow.md
Due: none

docs(project): land Usable-milestone logic-chain fixes missed by #947 squash
  docs/project/README.md
Due: none

docs(project): land Usable-milestone logic-chain fixes missed by #947 squash (#954)
  docs/project/README.md
Due: none

fix(corrections): whitespace-description fallback + deterministic corpus order (CR #953)
  apps/backend/src/services/correction_loop.py
  apps/backend/tests/services/test_correction_loop.py
Due: none

fix(test): isolate shared rate-limiter state between tests (#410)
  apps/backend/src/rate_limit.py
  apps/backend/tests/conftest.py
Due: none

feat(reporting): add package snapshot artifacts
  apps/backend/migrations/versions/0037_report_package_snapshots.py
  apps/backend/src/models/layer4.py
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/reporting_snapshot.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/hooks/usePersonalReportPackage.ts
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-005.reporting-visualization.md
  docs/reference/api.md
  docs/ssot/migration-risk.yaml
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

[finance_report_audit] EPIC-018 AC18.14: correction feedback loop drives the low-confidence proportion down (#931) (#953)
  apps/backend/src/services/correction_loop.py
  apps/backend/tests/services/test_correction_loop.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/ssot/confirmation-workflow.md
Due: none

feat(reporting): add package snapshot artifacts (#952)
  apps/backend/migrations/versions/0037_report_package_snapshots.py
  apps/backend/src/models/layer4.py
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/reporting_snapshot.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/hooks/usePersonalReportPackage.ts
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-005.reporting-visualization.md
  docs/reference/api.md
  docs/ssot/migration-risk.yaml
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

fix(test): isolate shared rate-limiter state between tests (#410) (#955)
  apps/backend/src/rate_limit.py
  apps/backend/tests/conftest.py
Due: none

refactor(config): drop openrouter_* config aliases, use ai_* directly (#896)
  apps/backend/src/boot.py
  apps/backend/src/config.py
  apps/backend/src/services/openrouter_streaming.py
  apps/backend/tests/ai/test_openrouter_streaming.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_config_contract.py
Due: check-env-keys, validate-schemas

feat(testing): full-year statement-to-report E2E acceptance (AC8.15.1, #950)
  apps/backend/tests/integration/test_full_year_statement_to_report_e2e.py
  docs/project/EPIC-008.testing-strategy.md
Due: none

style: apply ruff format to full-year E2E test
  apps/backend/tests/integration/test_full_year_statement_to_report_e2e.py
Due: none

test(portfolio): cover unified allocation panel AC17.14.1
  apps/frontend/src/__tests__/portfolioPage.test.tsx
  docs/project/EPIC-017.portfolio-management.md
Due: frontend-lint

feat(portfolio): add unified allocation section
  apps/frontend/src/app/(main)/portfolio/page.tsx
Due: frontend-lint

test: make full-year E2E actually span 12 months + fix account names (Copilot)
  apps/backend/tests/integration/test_full_year_statement_to_report_e2e.py
  docs/project/EPIC-008.testing-strategy.md
Due: none

test(portfolio): cover allocation percentage fallback
  apps/frontend/src/__tests__/portfolioPage.test.tsx
Due: frontend-lint

test(boot): remove duplicate mock ai_* assignments (CR #956)
  apps/backend/tests/infra/test_boot.py
Due: none

test(reports): cover package/generate, account-lineage, cash-flow export branches
  apps/backend/tests/api/test_reports_router.py
Due: none

[finance_report_vision] feat(testing): full-year statement-to-report E2E acceptance (AC8.15.1, #950) (#957)
  apps/backend/tests/integration/test_full_year_statement_to_report_e2e.py
  docs/project/EPIC-008.testing-strategy.md
Due: none

[finance_report_audit] #896: drop openrouter_* config aliases, use ai_* directly (#956)
  apps/backend/src/boot.py
  apps/backend/src/config.py
  apps/backend/src/services/openrouter_streaming.py
  apps/backend/tests/ai/test_openrouter_streaming.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_config_contract.py
Due: check-env-keys, validate-schemas

fix(portfolio): tolerate missing schedule allocation
  apps/frontend/src/app/(main)/portfolio/page.tsx
Due: frontend-lint

fix(portfolio): clarify allocation currency tie-out
  apps/frontend/src/__tests__/portfolioPage.test.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  docs/project/EPIC-017.portfolio-management.md
Due: frontend-lint
