Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

Address follow-up CR comments from merged EPIC-022 PRs
  apps/frontend/src/__tests__/cashFlowPage.test.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
Due: frontend-lint

test: clarify cash-flow hard gate guard
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

chore: retire dead compat shims (backfill_layer2, ConfidenceLevelEnum)
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/extraction.py
  docs/analysis/traceability-exceptions.md
  tests/tooling/test_backfill_layer2.py
  tools/_lib/migrations/backfill_layer2.py
  tools/backfill_layer2.py
Due: validate-schemas

[finance_report_ui] EPIC-022: print / save-as-PDF export for the report package (#867) (#890)
  apps/frontend/src/__tests__/cashFlowPage.test.tsx
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/components/AppShell.tsx
  apps/frontend/src/components/Sidebar.tsx
Due: frontend-lint

chore: retire dead compat shims (backfill_layer2, ConfidenceLevelEnum) (#895)
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/extraction.py
  docs/analysis/traceability-exceptions.md
  tests/tooling/test_backfill_layer2.py
  tools/_lib/migrations/backfill_layer2.py
  tools/backfill_layer2.py
Due: validate-schemas

chore: drop dead EPIC-011 schema-name aliases
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/extraction.py
Due: validate-schemas

chore: drop dead EPIC-011 schema-name aliases (#897)
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/extraction.py
Due: validate-schemas

[finance_report_audit_e2e_891] Repair staging smoke E2E assertions (#892)
  docs/project/EPIC-008.testing-strategy.md
  tests/e2e/test_auth_flows.py
  tests/e2e/test_e2e_flows.py
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

feat(coverage): guard against unregistered source trees bypassing coverage
  common/coverage/policy.py
  docs/ssot/coverage.md
  tests/tooling/test_coverage_policy.py
  tools/_lib/coverage/check_policy.py
Due: none

fix(pr-preview): scope compose project to Dokploy appName so compose.delete reaps containers
  docs/ssot/deployment.md
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

docs(ssot): add coverage-policy proofs to test_coverage manifest entry
  docs/ssot/MANIFEST.yaml
Due: none

[finance_report_ui] EPIC-022 PR11: everyday-user UX hardening (#836)
  apps/frontend/src/__tests__/attention.test.ts
  apps/frontend/src/__tests__/attentionQueue.test.tsx
  apps/frontend/src/__tests__/statementsPage.test.tsx
  apps/frontend/src/app/(main)/attention/page.tsx
  apps/frontend/src/app/(main)/upload/page.tsx
  apps/frontend/src/lib/attention.ts
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

fix(e2e): wait for statement review payload in staging gate
  docs/project/EPIC-008.testing-strategy.md
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

fix(pr-preview): scope compose project to Dokploy appName so compose.delete reaps containers (#900)
  docs/ssot/deployment.md
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

[finance_report_test_and_doc] feat(coverage): guard against unregistered source trees bypassing coverage (#899)
  common/coverage/policy.py
  docs/ssot/MANIFEST.yaml
  docs/ssot/coverage.md
  tests/tooling/test_coverage_policy.py
  tools/_lib/coverage/check_policy.py
Due: none

fix(e2e): wait for statement review payload in staging gate (#903)
  docs/project/EPIC-008.testing-strategy.md
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

Address Copilot review: match the en-dash range in the parsing-copy assertion
  apps/frontend/src/__tests__/statementsPage.test.tsx
Due: frontend-lint

EPIC-007 #876 G1: front-end same-origin lock (publish an env-independent image)
  .github/workflows/ci.yml
  docs/project/EPIC-007.deployment.md
  tests/tooling/test_frontend_same_origin_contract.py
Due: none

[finance_report_ui] EPIC-022 PR11: everyday-user UX hardening (#836) (#902)
  apps/frontend/src/__tests__/attention.test.ts
  apps/frontend/src/__tests__/attentionQueue.test.tsx
  apps/frontend/src/__tests__/statementsPage.test.tsx
  apps/frontend/src/app/(main)/attention/page.tsx
  apps/frontend/src/app/(main)/upload/page.tsx
  apps/frontend/src/lib/attention.ts
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

EPIC-007 #876 G1: front-end same-origin lock (publish an env-independent image) (#901)
  .github/workflows/ci.yml
  docs/project/EPIC-007.deployment.md
  tests/tooling/test_frontend_same_origin_contract.py
Due: none

feat(money): establish canonical banker's-rounding policy via to_money()
  apps/backend/src/routers/portfolio.py
  apps/backend/src/services/investment_accounting.py
  apps/backend/src/utils/__init__.py
  apps/backend/src/utils/money.py
  apps/backend/tests/accounting/test_money.py
  docs/ssot/MANIFEST.yaml
  docs/ssot/accounting.md
Due: none

EPIC-007 #877 G2: pin the data axis + four data red lines into SSOT
  docs/project/EPIC-007.deployment.md
  docs/ssot/environments.md
  tests/tooling/test_data_red_lines_contract.py
Due: none

docs: classify test_money.py as an SSOT-hardening test (traceability exceptions)
  docs/analysis/traceability-exceptions.md
Due: none

[finance_report_test_and_doc] feat(money): canonical banker's-rounding policy via to_money() (#904)
  apps/backend/src/routers/portfolio.py
  apps/backend/src/services/investment_accounting.py
  apps/backend/src/utils/__init__.py
  apps/backend/src/utils/money.py
  apps/backend/tests/accounting/test_money.py
  docs/analysis/traceability-exceptions.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/accounting.md
Due: none

[finance_report_ui] EPIC-022: mark the everyday-user IA root (#836) complete
  docs/project/EPIC-022.everyday-user-ia.md
Due: none

G2 CR: address Copilot review on #905 and #901 contract tests
  .github/workflows/ci.yml
  docs/ssot/environments.md
  tests/tooling/test_data_red_lines_contract.py
  tests/tooling/test_frontend_same_origin_contract.py
Due: none

[finance_report_ui] EPIC-022: mark the everyday-user IA root (#836) complete (#906)
  docs/project/EPIC-022.everyday-user-ia.md
Due: none

test: cover production-faithful persistence contracts
  apps/backend/tests/integration/test_production_faithful_business_persistence.py
  docs/project/EPIC-008.testing-strategy.md
  tests/tooling/test_detached_owner_guard.py
Due: none

test: enforce production-faithful persistence proof
  .github/workflows/ci.yml
  common/testing/detached_owner_guard.py
  docs/ssot/schema.md
  tools/_lib/dev/cli.py
  tools/check_detached_owner_shortcuts.py
Due: none

[finance_report_infra] EPIC-007 #877 G2: pin data axis + four data red lines into SSOT (#905)
  .github/workflows/ci.yml
  docs/project/EPIC-007.deployment.md
  docs/ssot/environments.md
  tests/tooling/test_data_red_lines_contract.py
  tests/tooling/test_frontend_same_origin_contract.py
Due: none

EPIC-007 #878 P1b: lock staging/prod deploy = pull-not-build + data survives redeploy
  docs/project/EPIC-007.deployment.md
  tests/tooling/test_deploy_compose_contract.py
Due: none

EPIC-007 #878 P1b: lock staging/prod deploy = pull-not-build + data survives redeploy (#908)
  docs/project/EPIC-007.deployment.md
  tests/tooling/test_deploy_compose_contract.py
Due: none

test: cover detached owner guard CLI paths
  tests/tooling/test_detached_owner_guard.py
Due: none

refactor(backend): finish to_money() migration + dedup transfer/shim cleanup
  apps/backend/src/routers/accounts.py
  apps/backend/src/routers/assets.py
  apps/backend/src/routers/income.py
  apps/backend/src/routers/portfolio.py
  apps/backend/src/routers/reports.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/assets.py
  apps/backend/src/services/brokerage_positions.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/portfolio.py
  apps/backend/src/services/processing_account.py
  apps/backend/src/services/report_readiness.py
  apps/backend/src/services/reporting.py
  apps/backend/src/services/validation.py
  apps/backend/tests/extraction/test_extraction.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
Due: none

test: remove dead Alembic URL helper
  apps/backend/tests/integration/test_production_faithful_business_persistence.py
Due: none

EPIC-007 #879 P1a-1: publish :<sha> for main+release + on-demand dispatch
  .github/workflows/ci.yml
  docs/project/EPIC-007.deployment.md
  tests/tooling/test_publish_only_contract.py
Due: none

refactor(backend): finish to_money() migration + dedup transfer/shim cleanup (#910)
  apps/backend/src/routers/accounts.py
  apps/backend/src/routers/assets.py
  apps/backend/src/routers/income.py
  apps/backend/src/routers/portfolio.py
  apps/backend/src/routers/reports.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/assets.py
  apps/backend/src/services/brokerage_positions.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/portfolio.py
  apps/backend/src/services/processing_account.py
  apps/backend/src/services/report_readiness.py
  apps/backend/src/services/reporting.py
  apps/backend/src/services/validation.py
  apps/backend/tests/extraction/test_extraction.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
Due: none

[finance_report_audit] add production-faithful backend persistence proof (#907)
  .github/workflows/ci.yml
  apps/backend/tests/integration/test_production_faithful_business_persistence.py
  common/testing/detached_owner_guard.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/schema.md
  tests/tooling/test_detached_owner_guard.py
  tools/_lib/dev/cli.py
  tools/check_detached_owner_shortcuts.py
Due: none

P1a-1 fix: sync ci-cd.md + CI metrics contract to the new publish condition
  common/ci/metrics_contract.py
  docs/ssot/ci-cd.md
Due: none

P1a-1 fix: update AC8.13 contract assertions for the new publish condition
  tests/tooling/test_post_merge_e2e_gates.py
Due: none
