Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

[finance_report_ui] Fold workflow navigation into advanced drill-downs (#671)
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/playwright/workflow-navigation.spec.ts
  apps/frontend/src/__tests__/mobileNav.coverage.test.tsx
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/components/MobileNav.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/navigation.ts
  docs/project/EPIC-015.processing-account.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/workflow-events.md
Due: frontend-lint

Simplify PDF fixture docs into MkDocs SSOT (#672)
  common/ci/change_classifier.py
  docs/project/EPIC-009.pdf-fixture-generation.md
  docs/project/README.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/pdf-fixtures.md
  mkdocs.yml
  tests/tooling/test_ci_change_classifier.py
  tests/tooling/test_pdf_fixture_epic009_behavior.py
  tools/_lib/pdf_fixtures/FONT_HANDLING.md
  tools/_lib/pdf_fixtures/README.md
  tools/_lib/pdf_fixtures/analyzers/README.md
Due: none

[finance_report_vision] Use immutable PR preview image tags
  .github/workflows/pr-test.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
  unified-coverage.json
Due: none

Fix portfolio fixture audit contract
  README.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/README.md
  tests/tooling/test_personal_report_package_fixture_contract.py
  tests/tooling/test_portfolio_audit_fixture_contract.py
  tools/_lib/fixtures/portfolio_audit_package.py
Due: none

[finance_report_vision] Gate reconciliation audit (#670)
  .github/workflows/ci.yml
  .github/workflows/pr-test.yml
  .github/workflows/production-release.yml
  apps/backend/src/services/reconciliation_audit.py
  apps/frontend/Dockerfile
  docker-compose.yml
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/reconciliation.md
  tests/tooling/test_archive_residual_epic_ownership.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
  tests/tooling/test_reconciliation_audit.py
  tools/_lib/dev/pr_preview_lifecycle.py
  unified-coverage.json
Due: none

Fix portfolio fixture audit contract (#673)
  README.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/README.md
  tests/tooling/test_personal_report_package_fixture_contract.py
  tests/tooling/test_portfolio_audit_fixture_contract.py
  tools/_lib/fixtures/portfolio_audit_package.py
Due: none

Add framework reporting contract tests
  tests/tooling/test_framework_reporting_epic_contract.py
Due: none

Add framework-aware personal reporting epic
  README.md
  common/ssot/generate_ac_registry.py
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/project/EPIC-020.framework-aware-personal-reporting.md
  docs/project/README.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/critical-proof-matrix.yaml
  docs/ssot/framework-reporting.md
  mkdocs.yml
  tests/e2e/test_personal_financial_report_package.py
  tests/tooling/test_framework_reporting_epic_contract.py
Due: none

Add core journey and PDF fixture proof
  apps/backend/tests/integration/test_onboarding_e2e.py
  apps/backend/tests/integration/test_reporting_e2e.py
  docs/project/EPIC-001.phase0-setup.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-009.pdf-fixture-generation.md
  docs/ssot/pdf-fixtures.md
  tests/tooling/test_pdf_fixture_real_format_contract.py
  tools/_lib/pdf_fixtures/generators/dbs_generator.py
  tools/_lib/pdf_fixtures/templates/cmb_template.yaml
  tools/_lib/pdf_fixtures/templates/dbs_template.yaml
  tools/_lib/pdf_fixtures/templates/futu_template.yaml
  tools/_lib/pdf_fixtures/templates/mari_template.yaml
  tools/_lib/pdf_fixtures/templates/moomoo_template.yaml
  tools/_lib/pdf_fixtures/templates/pingan_template.yaml
  tools/_lib/pdf_fixtures/validators/pdf_validator.py
Due: none

Address framework reporting review comments
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/EPIC-020.framework-aware-personal-reporting.md
  tests/tooling/test_framework_reporting_epic_contract.py
Due: none

tighten TTD SSOT guardrails
  README.md
  common/ssot/check_manifest.py
  common/ssot/check_ssot_ownership.py
  common/ssot/lint_doc_consistency.py
  docs/analysis/ac-epic-mismatch-report.md
  docs/analysis/test-ac-coverage-report.md
  docs/project/AUDITS.md
  docs/project/DECISIONS_ZH.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/README.md
  docs/ssot/README.md
  docs/ssot/assets.md
  docs/ssot/development.md
  docs/ssot/reconciliation.md
  docs/ssot/schema.md
  docs/ssot/tdd.md
  mkdocs.yml
  tests/tooling/test_check_manifest.py
  tests/tooling/test_check_ssot_ownership.py
  tests/tooling/test_lint_doc_consistency.py
Due: none

Implement workflow session IA hardening
  apps/backend/migrations/versions/0024_add_workflow_sessions.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/workflow.py
  apps/backend/src/routers/portfolio.py
  apps/backend/src/schemas/workflow.py
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_workflow_router.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/Dockerfile
  apps/frontend/playwright/report-readiness.spec.ts
  apps/frontend/playwright/upload-first-dashboard.spec.ts
  apps/frontend/playwright/workflow-navigation.spec.ts
  apps/frontend/playwright/workflow-notifications.spec.ts
  apps/frontend/src/__tests__/ChatPageClient.test.tsx
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/frontendVersionRoute.test.ts
  apps/frontend/src/__tests__/mobileNav.coverage.test.tsx
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/app/frontend-version.json/route.ts
  apps/frontend/src/components/ChatPageClient.tsx
  apps/frontend/src/components/ChatPanel.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/reference/api.md
  docs/ssot/ci-cd.md
  docs/ssot/frontend-patterns.md
  docs/ssot/processing_account.md
  docs/ssot/workflow-events.md
Due: validate-schemas, frontend-lint

Update dashboard E2E upload pipeline assertion
  tests/e2e/test_four_asset_net_worth_golden_path.py
  tests/e2e/test_personal_financial_report_package.py
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: none

[finance_report_audit] Add framework-aware personal reporting epic (#682)
  README.md
  common/ssot/generate_ac_registry.py
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/project/EPIC-020.framework-aware-personal-reporting.md
  docs/project/README.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/critical-proof-matrix.yaml
  docs/ssot/framework-reporting.md
  mkdocs.yml
  tests/e2e/test_personal_financial_report_package.py
  tests/tooling/test_framework_reporting_epic_contract.py
Due: none

tighten TTD SSOT guardrails (#684)
  README.md
  common/ssot/check_manifest.py
  common/ssot/check_ssot_ownership.py
  common/ssot/lint_doc_consistency.py
  docs/analysis/ac-epic-mismatch-report.md
  docs/analysis/test-ac-coverage-report.md
  docs/project/AUDITS.md
  docs/project/DECISIONS_ZH.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/README.md
  docs/ssot/README.md
  docs/ssot/assets.md
  docs/ssot/development.md
  docs/ssot/reconciliation.md
  docs/ssot/schema.md
  docs/ssot/tdd.md
  mkdocs.yml
  tests/tooling/test_check_manifest.py
  tests/tooling/test_check_ssot_ownership.py
  tests/tooling/test_lint_doc_consistency.py
Due: none

Add framework policy schema and matrix
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/framework_policy.py
  apps/backend/tests/reporting/test_framework_policy.py
  docs/ssot/framework-reporting.md
Due: validate-schemas

Add core journey and PDF fixture proof (#683)
  apps/backend/tests/integration/test_onboarding_e2e.py
  apps/backend/tests/integration/test_reporting_e2e.py
  docs/project/EPIC-001.phase0-setup.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-009.pdf-fixture-generation.md
  docs/ssot/pdf-fixtures.md
  tests/tooling/test_framework_reporting_epic_contract.py
  tests/tooling/test_pdf_fixture_real_format_contract.py
  tools/_lib/pdf_fixtures/generators/dbs_generator.py
  tools/_lib/pdf_fixtures/templates/cmb_template.yaml
  tools/_lib/pdf_fixtures/templates/dbs_template.yaml
  tools/_lib/pdf_fixtures/templates/futu_template.yaml
  tools/_lib/pdf_fixtures/templates/mari_template.yaml
  tools/_lib/pdf_fixtures/templates/moomoo_template.yaml
  tools/_lib/pdf_fixtures/templates/pingan_template.yaml
  tools/_lib/pdf_fixtures/validators/pdf_validator.py
Due: none

Add framework policy schema and matrix (#686)
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/framework_policy.py
  apps/backend/tests/reporting/test_framework_policy.py
  docs/ssot/framework-reporting.md
Due: validate-schemas

Add observability runtime contract
  .github/workflows/pr-test.yml
  apps/backend/pyproject.toml
  apps/backend/src/main.py
  apps/backend/src/observability.py
  apps/backend/tests/conftest.py
  apps/backend/tests/infra/test_observability_contract.py
  apps/frontend/Dockerfile
  apps/frontend/src/__tests__/frontendVersionRoute.test.ts
  apps/frontend/src/app/frontend-version.json/route.ts
  docker-compose.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-010.signoz-logging.md
  docs/ssot/ci-cd.md
  docs/ssot/development.md
  docs/ssot/observability.md
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
Due: frontend-lint

[finance_report_ui] Implement workflow session IA hardening (#685)
  apps/backend/migrations/versions/0024_add_workflow_sessions.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/workflow.py
  apps/backend/src/routers/portfolio.py
  apps/backend/src/schemas/workflow.py
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_workflow_router.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/playwright/report-readiness.spec.ts
  apps/frontend/playwright/upload-first-dashboard.spec.ts
  apps/frontend/playwright/workflow-navigation.spec.ts
  apps/frontend/playwright/workflow-notifications.spec.ts
  apps/frontend/src/__tests__/ChatPageClient.test.tsx
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/mobileNav.coverage.test.tsx
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/components/ChatPageClient.tsx
  apps/frontend/src/components/ChatPanel.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/reference/api.md
  docs/ssot/frontend-patterns.md
  docs/ssot/processing_account.md
  docs/ssot/workflow-events.md
  tests/e2e/test_four_asset_net_worth_golden_path.py
  tests/e2e/test_personal_financial_report_package.py
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: validate-schemas, frontend-lint

feat: integrate framework policy package readiness
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/framework_policy.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/reporting/test_framework_package_integration.py
  apps/backend/tests/reporting/test_framework_policy.py
  apps/frontend/src/lib/types.ts
  docs/ssot/framework-reporting.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

docs: update API reference for framework policy
  docs/reference/api.md
Due: none

Add observability runtime contract (#674)
  .github/workflows/pr-test.yml
  apps/backend/pyproject.toml
  apps/backend/src/main.py
  apps/backend/src/observability.py
  apps/backend/tests/conftest.py
  apps/backend/tests/infra/test_observability_contract.py
  apps/frontend/Dockerfile
  apps/frontend/src/__tests__/frontendVersionRoute.test.ts
  apps/frontend/src/app/frontend-version.json/route.ts
  docker-compose.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-010.signoz-logging.md
  docs/ssot/ci-cd.md
  docs/ssot/development.md
  docs/ssot/observability.md
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
Due: frontend-lint

Simplify vision direction
  docs/ssot/ai.md
  docs/ssot/extraction.md
  docs/ssot/market_data.md
  docs/ssot/processing_account.md
  docs/ssot/reporting.md
  vision.md
Due: none

fix: map manual valuations to supported policy instruments
  apps/backend/src/services/framework_policy.py
Due: none

Fix UI report trust gaps
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/reporting/test_reports_router.py
  apps/frontend/src/__tests__/balanceSheetPage.test.tsx
  apps/frontend/src/__tests__/cashFlowPage.test.tsx
  apps/frontend/src/__tests__/epic016Components.test.tsx
  apps/frontend/src/__tests__/incomeStatementPage.test.tsx
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/__tests__/reviewPages.test.tsx
  apps/frontend/src/__tests__/reviewRunPage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
  apps/frontend/src/components/reports/FxWarningBanner.tsx
  apps/frontend/src/components/review/ConflictResolutionDialog.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/reference/api.md
  docs/ssot/reconciliation.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

test: cover framework policy readiness helpers
  apps/backend/tests/reporting/test_framework_package_integration.py
Due: none

Add post-merge staging failure alert
  .github/workflows/staging-deploy.yml
  common/ci/production_infra_smoke.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/observability.md
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_production_infra_smoke.py
Due: none

Simplify vision direction (#689)
  docs/ssot/ai.md
  docs/ssot/extraction.md
  docs/ssot/market_data.md
  docs/ssot/processing_account.md
  docs/ssot/reporting.md
  vision.md
Due: none

Add post-merge staging failure alert (#691)
  .github/workflows/staging-deploy.yml
  common/ci/production_infra_smoke.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/observability.md
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_production_infra_smoke.py
Due: none

test: cover framework policy fact derivation
  apps/backend/tests/reporting/test_framework_package_integration.py
Due: none

Fix staging alert GitHub issue context
  .github/workflows/staging-deploy.yml
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_audit] Integrate framework policy readiness and package API (#688)
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/framework_policy.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/reporting/test_framework_package_integration.py
  apps/backend/tests/reporting/test_framework_policy.py
  apps/frontend/src/lib/types.ts
  docs/reference/api.md
  docs/ssot/framework-reporting.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

Fix UI report trust gaps (#690)
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/reporting/test_reports_router.py
  apps/frontend/src/__tests__/balanceSheetPage.test.tsx
  apps/frontend/src/__tests__/cashFlowPage.test.tsx
  apps/frontend/src/__tests__/epic016Components.test.tsx
  apps/frontend/src/__tests__/incomeStatementPage.test.tsx
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/__tests__/reviewPages.test.tsx
  apps/frontend/src/__tests__/reviewRunPage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
  apps/frontend/src/components/reports/FxWarningBanner.tsx
  apps/frontend/src/components/review/ConflictResolutionDialog.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/reference/api.md
  docs/ssot/reconciliation.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

Fix staging alert GitHub issue context (#692)
  .github/workflows/staging-deploy.yml
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

Add workflow action route aliases
  apps/frontend/src/__tests__/workflowActionRoutes.test.tsx
  apps/frontend/src/app/(main)/accounts/processing/page.tsx
  apps/frontend/src/app/(main)/statements/upload/page.tsx
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
Due: frontend-lint

Fix framework policy review follow-ups
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/framework_policy.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/reporting/test_framework_package_integration.py
  apps/backend/tests/reporting/test_framework_policy.py
  docs/ssot/framework-reporting.md
  docs/ssot/reporting.md
Due: validate-schemas

ci: simplify CI dependencies and preview builds
  .github/workflows/ci.yml
  .github/workflows/pr-test.yml
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

ci: simplify CI dependencies and preview builds (#687)
  .github/workflows/ci.yml
  .github/workflows/pr-test.yml
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

Add workflow action route aliases (#693)
  apps/frontend/src/__tests__/workflowActionRoutes.test.tsx
  apps/frontend/src/app/(main)/accounts/processing/page.tsx
  apps/frontend/src/app/(main)/statements/upload/page.tsx
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
Due: frontend-lint
