Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

[finance_report_vision] style(llm): ruff format test_ai_advisor_service (long mock signature)
  apps/backend/tests/ai/test_ai_advisor_service.py
Due: none

[finance_report_vision] fix(llm): address Copilot — price+record under same model id, decimal cost sum
  apps/backend/src/llm/client.py
  apps/backend/src/services/ai_streaming.py
Due: none

[finance_report_audit] feat(money): align FE/BE money API surface + cross-language parity guard (#1167)
  apps/frontend/src/lib/money/currency.ts
  apps/frontend/src/lib/money/errors.ts
  apps/frontend/src/lib/money/index.ts
  apps/frontend/src/lib/money/money.conformance.test.ts
  apps/frontend/src/lib/money/money.ts
  common/money/conformance/vectors.json
  common/money/contract/money.contract.md
  tests/tooling/test_money_api_parity.py
Due: frontend-lint

[finance_report_vision] refactor(llm): consolidate on one path (drop unused LitellmClient) + real-usage budget + binding params (#1193)
  apps/backend/src/llm/client.py
  apps/backend/src/llm/factory.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  apps/backend/tests/unit/llm/test_client.py
  apps/backend/tests/unit/llm/test_factory.py
  docs/project/EPIC-023.llm-provider-abstraction.md
Due: none

[finance_report_audit] feat(money): align FE/BE money API surface + cross-language parity guard (#1167) (#1194)
  apps/frontend/src/lib/money/currency.ts
  apps/frontend/src/lib/money/errors.ts
  apps/frontend/src/lib/money/index.ts
  apps/frontend/src/lib/money/money.conformance.test.ts
  apps/frontend/src/lib/money/money.ts
  common/money/conformance/vectors.json
  common/money/contract/money.contract.md
  tests/tooling/test_money_api_parity.py
Due: frontend-lint

chore(vault): retire references to the deleted vault.setup-tokens task (#257)
  .opencode/skills/domain/secrets-management/SKILL.md
  apps/backend/src/boot.py
  apps/backend/tests/infra/test_boot.py
  common/shell/common.sh
  docs/project/EPIC-007.deployment.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

chore(repo): bump submodule to infra2 main + reconcile obs alerting contract
  apps/backend/tests/infra/test_observability_contract.py
Due: none

fix(ci): #1190 — AC reference on the analytics test + regen router-contract doc
  apps/backend/tests/infra/test_analytics.py
  docs/reference/router-contract-maturity.md
Due: none

fix(ci): #1190 — reword config.py comment to not contain 'openpanel_clients'
  apps/backend/src/config.py
Due: check-env-keys, validate-schemas

[finance_report_vision] refactor(llm): EPIC-023 PR10 — usage stats (requests+tokens), drop cost/budget (#1168)
  .env.example
  apps/backend/src/config.py
  apps/backend/src/llm/client.py
  apps/backend/src/llm/common/__init__.py
  apps/backend/src/llm/common/protocols.py
  apps/backend/src/llm/cost.py
  apps/backend/src/llm/factory.py
  apps/backend/src/llm/usage.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/tests/ai/test_ai_streaming.py
  apps/backend/tests/unit/llm/test_client.py
  apps/backend/tests/unit/llm/test_contract.py
  apps/backend/tests/unit/llm/test_cost.py
  apps/backend/tests/unit/llm/test_factory.py
  apps/backend/tests/unit/llm/test_usage.py
  docs/project/EPIC-023.llm-provider-abstraction.md
  docs/ssot/env-reference.generated.md
  docs/ssot/llm.md
Due: check-env-keys, validate-schemas

fix(ci): #1190 — regenerate env reference for the new OPENPANEL_* settings
  .env.example
  docs/ssot/env-reference.generated.md
Due: check-env-keys

fix(llm): address Copilot review — char-count token estimate, str-typed text parts, doc wording
  apps/backend/src/llm/usage.py
  apps/backend/src/services/ai_streaming.py
  docs/project/EPIC-023.llm-provider-abstraction.md
Due: none

[finance_report_infra] chore(vault): retire references to the deleted vault.setup-tokens task (#257) (#1195)
  .opencode/skills/domain/secrets-management/SKILL.md
  apps/backend/src/boot.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_observability_contract.py
  common/shell/common.sh
  docs/project/EPIC-007.deployment.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_infra] feat(observability): server-side OpenPanel analytics (BE→OpenPanel, 4th telemetry combo) (#1190)
  .env.example
  apps/backend/pyproject.toml
  apps/backend/src/analytics.py
  apps/backend/src/config.py
  apps/backend/src/routers/reports.py
  apps/backend/tests/infra/test_analytics.py
  apps/backend/uv.lock
  docs/reference/router-contract-maturity.md
  docs/ssot/env-reference.generated.md
Due: check-env-keys, validate-schemas

[finance_report_vision] refactor(llm): EPIC-023 PR10 — LLM usage stats (requests+tokens), drop cost/budget (#1168) (#1196)
  .env.example
  apps/backend/src/config.py
  apps/backend/src/llm/client.py
  apps/backend/src/llm/common/__init__.py
  apps/backend/src/llm/common/protocols.py
  apps/backend/src/llm/cost.py
  apps/backend/src/llm/factory.py
  apps/backend/src/llm/usage.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/tests/ai/test_ai_streaming.py
  apps/backend/tests/unit/llm/test_client.py
  apps/backend/tests/unit/llm/test_contract.py
  apps/backend/tests/unit/llm/test_cost.py
  apps/backend/tests/unit/llm/test_factory.py
  apps/backend/tests/unit/llm/test_usage.py
  docs/project/EPIC-023.llm-provider-abstraction.md
  docs/ssot/env-reference.generated.md
  docs/ssot/llm.md
Due: check-env-keys, validate-schemas

chore(deploy): bump infra2 pin to 2555055 + add release-images tag-promote workflow
  .github/workflows/release-images.yml
  docs/ssot/ci-gate-inventory.yaml
Due: none

fix(obs): BE->OpenPanel via thin REST client — official SDK is broken against our instance
  apps/backend/pyproject.toml
  apps/backend/src/analytics.py
  apps/backend/tests/infra/test_analytics.py
  apps/backend/uv.lock
Due: none

[finance_report_audit] feat(ratio): Ratio/percent base package + base-package template SSOT (EPIC-012 AC12.9, #1167)
  apps/backend/src/ratio/__init__.py
  apps/backend/src/ratio/errors.py
  apps/backend/src/ratio/ratio.py
  apps/backend/tests/accounting/test_ratio_backend.py
  apps/frontend/src/lib/ratio/errors.ts
  apps/frontend/src/lib/ratio/index.ts
  apps/frontend/src/lib/ratio/ratio.conformance.test.ts
  apps/frontend/src/lib/ratio/ratio.ts
  common/ratio/__init__.py
  common/ratio/conformance/README.md
  common/ratio/conformance/__init__.py
  common/ratio/conformance/vectors.json
  common/ratio/contract/ratio.contract.md
  common/ratio/errors.py
  common/ratio/ratio.py
  docs/project/EPIC-012.foundation-libs.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/base-packages.md
  mkdocs.yml
  tests/tooling/test_ratio_api_parity.py
  tests/tooling/test_ratio_conformance.py
  tests/tooling/test_ratio_value_type.py
Due: frontend-lint

[finance_report_audit] fix(ratio): bind base_packages concept to the declared 'platform' family (#1167)
  docs/ssot/MANIFEST.yaml
Due: none

fix(obs): BE->OpenPanel via thin REST client — official SDK is broken against our instance (#1198)
  apps/backend/pyproject.toml
  apps/backend/src/analytics.py
  apps/backend/tests/infra/test_analytics.py
  apps/backend/uv.lock
Due: none

[finance_report_audit] test(ratio): cover FE ratio.ts fully (zero/subtract/formatPercent/toString) (#1167)
  apps/frontend/src/lib/ratio/ratio.conformance.test.ts
Due: frontend-lint

chore(deploy): bump infra2 pin to 2555055 + add release-images tag-promote workflow (#1197)
  .github/workflows/release-images.yml
  docs/ssot/ci-gate-inventory.yaml
Due: none

[finance_report_audit] fix(ratio): _as_ratio raises TypeError; assert PERCENT_DP vs vectors (#1167)
  apps/backend/src/ratio/ratio.py
  apps/backend/tests/accounting/test_ratio_backend.py
  common/ratio/ratio.py
  tests/tooling/test_ratio_conformance.py
  tests/tooling/test_ratio_value_type.py
Due: none

[finance_report_audit] feat(ratio): Ratio/percent base package + base-package template SSOT (EPIC-012 AC12.9, #1167) (#1199)
  apps/backend/src/ratio/__init__.py
  apps/backend/src/ratio/errors.py
  apps/backend/src/ratio/ratio.py
  apps/backend/tests/accounting/test_ratio_backend.py
  apps/frontend/src/lib/ratio/errors.ts
  apps/frontend/src/lib/ratio/index.ts
  apps/frontend/src/lib/ratio/ratio.conformance.test.ts
  apps/frontend/src/lib/ratio/ratio.ts
  common/ratio/__init__.py
  common/ratio/conformance/README.md
  common/ratio/conformance/__init__.py
  common/ratio/conformance/vectors.json
  common/ratio/contract/ratio.contract.md
  common/ratio/errors.py
  common/ratio/ratio.py
  docs/project/EPIC-012.foundation-libs.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/base-packages.md
  mkdocs.yml
  tests/tooling/test_ratio_api_parity.py
  tests/tooling/test_ratio_conformance.py
  tests/tooling/test_ratio_value_type.py
Due: frontend-lint

chore(deploy): cut over staging and prod to deploy_v2
  .github/workflows/production-release.yml
  .github/workflows/staging-deploy.yml
  .opencode/skills/domain/secrets-management/SKILL.md
  common/ci/change_classifier.py
  common/ci/workflow_contract.py
  common/shell/common.sh
  docs/project/EPIC-007.deployment.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/ci-gate-inventory.yaml
  docs/ssot/delivery-gates.yaml
  docs/ssot/deployment.md
  docs/ssot/environments.md
  tests/tooling/test_ci_change_classifier.py
  tests/tooling/test_common_tooling_modules.py
  tests/tooling/test_dokploy_redaction.py
  tests/tooling/test_issue_575_effective_env_verify.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_workflow_contract.py
  tools/_lib/shell/dokploy_deploy.sh
  tools/dokploy_deploy.sh
Due: none

chore(deploy): cut over staging and prod to deploy_v2 (#1202)
  .github/workflows/production-release.yml
  .github/workflows/staging-deploy.yml
  .opencode/skills/domain/secrets-management/SKILL.md
  common/ci/change_classifier.py
  common/ci/workflow_contract.py
  common/shell/common.sh
  docs/project/EPIC-007.deployment.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/ci-gate-inventory.yaml
  docs/ssot/delivery-gates.yaml
  docs/ssot/deployment.md
  docs/ssot/environments.md
  tests/tooling/test_ci_change_classifier.py
  tests/tooling/test_common_tooling_modules.py
  tests/tooling/test_dokploy_redaction.py
  tests/tooling/test_issue_575_effective_env_verify.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_workflow_contract.py
  tools/_lib/shell/dokploy_deploy.sh
  tools/dokploy_deploy.sh
Due: none

chore(ratio): migrate percentage call-sites to Ratio
  apps/backend/src/ratio/ratio.py
  apps/backend/src/routers/portfolio.py
  apps/backend/src/services/allocation.py
  apps/backend/src/services/performance.py
  apps/backend/src/services/performance_report.py
  apps/backend/src/services/portfolio.py
  apps/backend/src/services/reconciliation_stats.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/accounting/test_ratio_backend.py
  apps/frontend/src/__tests__/confidence.test.ts
  apps/frontend/src/app/(main)/portfolio/[ticker]/page.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/components/portfolio/HoldingsTable.tsx
  apps/frontend/src/components/portfolio/InvestmentPerformanceSchedule.tsx
  apps/frontend/src/components/portfolio/PerformanceCard.tsx
  apps/frontend/src/lib/attention.ts
  apps/frontend/src/lib/confidence.ts
  apps/frontend/src/lib/portfolioPerformance.ts
  apps/frontend/src/lib/ratio/format.test.ts
  apps/frontend/src/lib/ratio/format.ts
  apps/frontend/src/lib/ratio/index.ts
  apps/frontend/src/lib/ratio/ratio.conformance.test.ts
  apps/frontend/src/lib/ratio/ratio.ts
  common/ratio/contract/ratio.contract.md
  common/ratio/ratio.py
  docs/project/EPIC-012.foundation-libs.md
  tests/tooling/test_ratio_adoption.py
  tests/tooling/test_ratio_value_type.py
Due: frontend-lint

fix(deploy): pin release image short sha length
  .github/workflows/ci.yml
  .github/workflows/production-release.yml
  .github/workflows/release-images.yml
  .github/workflows/staging-deploy.yml
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

chore(ratio): migrate percentage call-sites to Ratio (#1201)
  apps/backend/src/ratio/ratio.py
  apps/backend/src/routers/portfolio.py
  apps/backend/src/services/allocation.py
  apps/backend/src/services/performance.py
  apps/backend/src/services/performance_report.py
  apps/backend/src/services/portfolio.py
  apps/backend/src/services/reconciliation_stats.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/accounting/test_ratio_backend.py
  apps/frontend/src/__tests__/confidence.test.ts
  apps/frontend/src/app/(main)/portfolio/[ticker]/page.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/components/portfolio/HoldingsTable.tsx
  apps/frontend/src/components/portfolio/InvestmentPerformanceSchedule.tsx
  apps/frontend/src/components/portfolio/PerformanceCard.tsx
  apps/frontend/src/lib/attention.ts
  apps/frontend/src/lib/confidence.ts
  apps/frontend/src/lib/portfolioPerformance.ts
  apps/frontend/src/lib/ratio/format.test.ts
  apps/frontend/src/lib/ratio/format.ts
  apps/frontend/src/lib/ratio/index.ts
  apps/frontend/src/lib/ratio/ratio.conformance.test.ts
  apps/frontend/src/lib/ratio/ratio.ts
  common/ratio/contract/ratio.contract.md
  common/ratio/ratio.py
  docs/project/EPIC-012.foundation-libs.md
  tests/tooling/test_ratio_adoption.py
  tests/tooling/test_ratio_value_type.py
Due: frontend-lint

fix(deploy): pin release image short sha length (#1203)
  .github/workflows/ci.yml
  .github/workflows/production-release.yml
  .github/workflows/release-images.yml
  .github/workflows/staging-deploy.yml
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

Add backend OTEL metrics pillar
  apps/backend/src/main.py
  apps/backend/src/observability.py
  apps/backend/src/telemetry_metrics.py
  apps/backend/tests/infra/test_observability_contract.py
  apps/backend/tests/infra/test_telemetry_metrics.py
  docs/project/EPIC-010.signoz-logging.md
  docs/ssot/observability.md
Due: none

Add deploy observability failure pivots
  .github/workflows/production-release.yml
  .github/workflows/staging-deploy.yml
  docs/project/EPIC-010.signoz-logging.md
  docs/ssot/observability.md
  tests/tooling/test_dokploy_failure_snapshot.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/dokploy_failure_snapshot.py
Due: none

Address backend metrics review feedback
  apps/backend/src/main.py
  apps/backend/src/services/statement_flow.py
  apps/backend/src/services/statement_pipeline.py
  apps/backend/src/telemetry_metrics.py
  apps/backend/tests/infra/test_telemetry_metrics.py
Due: none

Require run id for SigNoz deploy pivots
  tests/tooling/test_dokploy_failure_snapshot.py
  tools/dokploy_failure_snapshot.py
Due: none

fix(deploy): preserve release image manifest digests
  .github/workflows/release-images.yml
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_infra_1073_observability] Add deploy failure SigNoz pivots (#1204)
  .github/workflows/production-release.yml
  .github/workflows/staging-deploy.yml
  docs/project/EPIC-010.signoz-logging.md
  docs/ssot/observability.md
  tests/tooling/test_dokploy_failure_snapshot.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/dokploy_failure_snapshot.py
Due: none

[finance_report_infra_1105_metrics] Add backend OTEL metrics pillar (#1205)
  apps/backend/src/main.py
  apps/backend/src/observability.py
  apps/backend/src/services/statement_flow.py
  apps/backend/src/services/statement_pipeline.py
  apps/backend/src/telemetry_metrics.py
  apps/backend/tests/infra/test_observability_contract.py
  apps/backend/tests/infra/test_telemetry_metrics.py
  docs/project/EPIC-010.signoz-logging.md
  docs/ssot/observability.md
Due: none

fix(deploy): preserve release image manifest digests (#1207)
  .github/workflows/release-images.yml
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

fix(ci): address review feedback for issue 793 gates
  .github/workflows/ci.yml
  .github/workflows/production-release.yml
  AGENTS.md
  docs/ssot/ci-cd.md
  docs/ssot/ci-gate-inventory.yaml
  docs/ssot/coverage.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

fix(ci): harden delivery quality gates for issue 793
  .github/workflows/ci.yml
  .github/workflows/production-release.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/ci-gate-inventory.yaml
  docs/ssot/coverage.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
