Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

docs: track SSOT simplification acceleration
  docs/project/EPIC-014.ttd-transformation.md
Due: none

[finance_report_ui] EPIC-022 PR9: update reports-cockpit E2E for renamed label
  apps/frontend/playwright/reports-cockpit.spec.ts
  apps/frontend/src/app/(main)/reports/page.tsx
Due: frontend-lint

fix(incident template): drop auto priority:critical; severity field + triage set priority
  .github/ISSUE_TEMPLATE/incident.yml
Due: none

test(AC14.1.11): update issue-template contract for the 4-type taxonomy
  tests/tooling/test_issue_template_contract.py
Due: none

chore: split issue templates into 4 types with distinct requirements
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/idea.yml
  .github/ISSUE_TEMPLATE/incident.yml
  .github/ISSUE_TEMPLATE/infra.yml
  .github/ISSUE_TEMPLATE/issue.yml
  .github/ISSUE_TEMPLATE/task.yml
Due: none

Harden audit anchor referential integrity
  apps/backend/migrations/versions/0034_audit_anchor_referential_integrity.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/evidence.py
  apps/backend/src/models/layer2.py
  apps/backend/src/models/reconciliation.py
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/evidence_graph_integration.py
  apps/backend/src/services/evidence_graph_materialization.py
  apps/backend/src/services/reconciliation.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/infra/test_audit_anchor_schema_invariants.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/backend/tests/services/test_evidence_graph_materialization.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/ssot/evidence-lineage.md
  docs/ssot/migration-risk.yaml
  docs/ssot/reconciliation.md
  docs/ssot/schema.md
Due: none

[finance_report_ui] EPIC-022: address Copilot doc-wording nits on the status line
  docs/project/EPIC-022.everyday-user-ia.md
Due: none

docs: track SSOT simplification acceleration (#871)
  docs/project/EPIC-014.ttd-transformation.md
Due: none

test(deploy contracts): expect AppRole vault-agent for finance_report postgres/redis
  tests/tooling/test_issue_489_deployment_contracts.py
Due: none

Fix audit anchor CI regressions
  apps/backend/src/services/reconciliation.py
  apps/backend/tests/accounting/test_accounting_integration.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/reconciliation/test_source_type.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/source-type-priority.md
  tests/tooling/test_reconciliation_thresholds_unit.py
Due: none

[finance_report_ui] EPIC-022 PR9: everyday/Advanced boundary + naming unification (#870)
  apps/frontend/playwright/reports-cockpit.spec.ts
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/infoHint.test.tsx
  apps/frontend/src/__tests__/reportsCockpit.test.tsx
  apps/frontend/src/__tests__/reportsPage.test.tsx
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
  apps/frontend/src/components/ui/InfoHint.tsx
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

infra: bump repo submodule to infra2 main (a791e4f) (#873)
  tests/tooling/test_issue_489_deployment_contracts.py
Due: none

chore: split issue templates into 4 types (issue / task / idea / incident) (#863)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/idea.yml
  .github/ISSUE_TEMPLATE/incident.yml
  .github/ISSUE_TEMPLATE/infra.yml
  .github/ISSUE_TEMPLATE/issue.yml
  .github/ISSUE_TEMPLATE/task.yml
  tests/tooling/test_issue_template_contract.py
Due: none

Fix evidence edge tenant-scoped relationships
  apps/backend/src/models/evidence.py
  apps/backend/tests/infra/test_audit_anchor_schema_invariants.py
  apps/backend/tests/services/test_evidence_graph_materialization.py
Due: none

[finance_report_ui] EPIC-022 PR6: confidence & attention as a first-class surface (#864)
  apps/frontend/src/__tests__/attention.test.ts
  apps/frontend/src/__tests__/attentionQueue.test.tsx
  apps/frontend/src/__tests__/dashboardTrustMeter.test.tsx
  apps/frontend/src/app/(main)/attention/page.tsx
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/components/home/TrustMeter.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/lib/attention.ts
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

[finance_report_audit] Harden audit anchor referential integrity (#872)
  apps/backend/migrations/versions/0034_audit_anchor_referential_integrity.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/evidence.py
  apps/backend/src/models/layer2.py
  apps/backend/src/models/reconciliation.py
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/evidence_graph_integration.py
  apps/backend/src/services/evidence_graph_materialization.py
  apps/backend/src/services/reconciliation.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/accounting/test_accounting_integration.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/infra/test_audit_anchor_schema_invariants.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/backend/tests/reconciliation/test_source_type.py
  apps/backend/tests/services/test_evidence_graph_materialization.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/ssot/evidence-lineage.md
  docs/ssot/migration-risk.yaml
  docs/ssot/reconciliation.md
  docs/ssot/schema.md
  docs/ssot/source-type-priority.md
  tests/tooling/test_reconciliation_thresholds_unit.py
Due: none

[finance_report_ui] EPIC-022 PR6: confidence & attention as a first-class surface (#864) (#874)
  apps/frontend/src/__tests__/attention.test.ts
  apps/frontend/src/__tests__/attentionQueue.test.tsx
  apps/frontend/src/__tests__/dashboardTrustMeter.test.tsx
  apps/frontend/src/app/(main)/attention/page.tsx
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/components/home/TrustMeter.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/lib/attention.ts
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

[finance_report_ui] fix: reports cockpit showed match_rate as 9200% not 92%
  apps/frontend/src/__tests__/reportsCockpit.test.tsx
  apps/frontend/src/__tests__/reportsPage.test.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
Due: frontend-lint

[finance_report_ui] EPIC-022 PR6 follow-up: bell→attention link + smoke (#864)
  apps/frontend/playwright/attention-surface.spec.ts
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

[finance_report_ui] fix: reports cockpit showed match_rate as 9200% not 92% (#875)
  apps/frontend/src/__tests__/reportsCockpit.test.tsx
  apps/frontend/src/__tests__/reportsPage.test.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
Due: frontend-lint

[finance_report_ui] fix(e2e): attention smoke used a positional locator that hit the sidebar brand
  apps/frontend/playwright/attention-surface.spec.ts
Due: frontend-lint

[finance_report_vision] chore: remove preview orphan-reap workarounds (Dokploy v0.29.8 native compose.delete) (#859)
  .github/workflows/pr-preview-host-hygiene.yml
  .github/workflows/pr-test.yml
  docker-compose.pr-preview.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  tests/tooling/test_issue_489_deployment_contracts.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
  tests/tooling/test_vps_host_hygiene.py
  tools/_lib/dev/pr_preview_lifecycle.py
  tools/_lib/dev/vps_host_hygiene.py
Due: none

[finance_report_ui] EPIC-022 PR6 follow-up: bell→attention link + smoke (closes #864) (#880)
  apps/frontend/playwright/attention-surface.spec.ts
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

docs: generate DB schema reference
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  apps/backend/README.md
  common/ssot/generate_db_schema_reference.py
  docs/hooks.py
  docs/index.md
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/reference/api-overview.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/assets.md
  docs/ssot/ci-cd.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/development.md
  docs/ssot/processing_account.md
  docs/ssot/schema.md
  mkdocs.yml
  tests/tooling/test_common_tooling_modules.py
  tests/tooling/test_generate_db_schema_reference.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/generate_db_schema_reference.py
Due: none

[finance_report_ui] EPIC-022 PR8: readable report-package section titles (#867, AC22.8.1)
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

[finance_report_audit] Harden staging provider gate
  .github/workflows/staging-deploy.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_audit] Harden staging provider gate (#885)
  .github/workflows/staging-deploy.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

docs: generate DB schema reference (#881)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  apps/backend/README.md
  common/ssot/generate_db_schema_reference.py
  docs/hooks.py
  docs/index.md
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/reference/api-overview.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/assets.md
  docs/ssot/ci-cd.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/development.md
  docs/ssot/processing_account.md
  docs/ssot/schema.md
  mkdocs.yml
  tests/tooling/test_common_tooling_modules.py
  tests/tooling/test_generate_db_schema_reference.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/generate_db_schema_reference.py
Due: none

[finance_report_ui] EPIC-022 PR7: drop unregistered AC IDs from the AC22.7 note
  docs/project/EPIC-022.everyday-user-ia.md
Due: none

[finance_report_ui] EPIC-022 PR7: cash-flow begin→end reconciliation (#866, AC22.7.3)
  apps/frontend/src/__tests__/cashFlowPage.test.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

[finance_report_ui] EPIC-022 PR7: cash-flow drill-down via per-line account anchor (#866/#887, AC22.7.1)
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/reporting/test_reporting.py
  apps/frontend/src/__tests__/cashFlowPage.test.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-022.everyday-user-ia.md
Due: validate-schemas, frontend-lint

[finance_report] fix(test): #884 flaky test_test_database_persistence — branch name leaked via env
  apps/backend/tests/unit/infra/test_test_lifecycle.py
Due: none

[finance_report] fix(test): ruff-format the #884 fix + harden the ephemeral sibling assertion
  apps/backend/tests/unit/infra/test_test_lifecycle.py
Due: none

[finance_report_ui] EPIC-022 PR10: conservative "Imported" provenance badge on holdings (#868, AC22.10.1)
  apps/backend/src/schemas/portfolio.py
  apps/backend/src/services/portfolio.py
  apps/backend/tests/portfolio/test_portfolio_service.py
  apps/frontend/src/__tests__/holdingsTable.test.tsx
  apps/frontend/src/components/portfolio/HoldingsTable.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-022.everyday-user-ia.md
Due: validate-schemas, frontend-lint

[finance_report_ui] EPIC-022: print / save-as-PDF export for the report package (#867)
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/components/AppShell.tsx
  apps/frontend/src/components/Sidebar.tsx
Due: frontend-lint

[finance_report_ui] EPIC-022 PR7: cash-flow reconciliation + drill-down (#866, AC22.7.1/.3) (#882)
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/reporting/test_reporting.py
  apps/backend/tests/unit/infra/test_test_lifecycle.py
  apps/frontend/src/__tests__/cashFlowPage.test.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-022.everyday-user-ia.md
Due: validate-schemas, frontend-lint

[finance_report_ui] EPIC-022 PR10: conservative "Imported" provenance badge on holdings (#868, AC22.10.1) (#889)
  apps/backend/src/schemas/portfolio.py
  apps/backend/src/services/portfolio.py
  apps/backend/tests/portfolio/test_portfolio_service.py
  apps/frontend/src/__tests__/holdingsTable.test.tsx
  apps/frontend/src/components/portfolio/HoldingsTable.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-022.everyday-user-ia.md
Due: validate-schemas, frontend-lint

[finance_report_ui] EPIC-022 PR8: readable report-package section titles (#867, AC22.8.1) (#886)
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

test: repair staging smoke e2e assertions
  docs/project/EPIC-008.testing-strategy.md
  tests/e2e/test_auth_flows.py
  tests/e2e/test_e2e_flows.py
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none
