Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

fix(extraction): make statement polling teardown-safe
  apps/frontend/src/__tests__/statementDetailPage.coverage.test.tsx
  apps/frontend/src/__tests__/statementDetailPage.test.tsx
  apps/frontend/src/__tests__/statementsPage.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/upload/page.tsx
  common/extraction/contract.py
  common/extraction/readme.md
Due: frontend-lint

Fix explicit statement retry refresh races
  apps/frontend/src/__tests__/statementDetailPage.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  common/extraction/contract.py
  common/extraction/readme.md
Due: frontend-lint

[finance_report_issue-1999_polling] Make statement polling teardown-safe (#2000)
  apps/frontend/src/__tests__/statementDetailPage.coverage.test.tsx
  apps/frontend/src/__tests__/statementDetailPage.test.tsx
  apps/frontend/src/__tests__/statementsPage.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/upload/page.tsx
  common/extraction/contract.py
  common/extraction/readme.md
Due: frontend-lint

fix(testing): make E2E rate limits attributable
  .env.example
  apps/backend/src/config.py
  common/runtime/env-reference.generated.md
  common/testing/contract.py
  common/testing/e2e_rate_limit.py
  common/testing/readme.md
  tests/e2e/conftest.py
  tests/tooling/test_e2e_rate_limit_guard.py
Due: check-env-keys, validate-schemas

test(e2e): type rate-limit evidence
  tests/e2e/conftest.py
Due: none

test(testing): keep rate-limit guard tooling-safe
  .env.example
  apps/backend/src/config.py
  common/runtime/env-reference.generated.md
  tests/tooling/test_e2e_rate_limit_guard.py
Due: check-env-keys, validate-schemas

test(frontend): await failed resolution settlement
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
Due: frontend-lint

[finance_report_issue-1829_rate-limit] Make E2E rate-limit failures attributable (#2002)
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  common/testing/contract.py
  common/testing/e2e_rate_limit.py
  common/testing/readme.md
  tests/e2e/conftest.py
  tests/tooling/test_e2e_rate_limit_guard.py
Due: frontend-lint

feat(testing): discover package governance evidence
  common/testing/ac_proof.py
  common/testing/check_pr_ci_evidence.py
  common/testing/contract.py
  common/testing/executed_proof.py
  common/testing/generate_critical_proof_matrix.py
  common/testing/package_governance_observations.py
  common/testing/readme.md
  tests/tooling/test_ac_proof_execution_model.py
  tests/tooling/test_executed_proof.py
  tests/tooling/test_package_governance_observations.py
Due: none

test(testing): bind governance fixture proof profile
  tests/tooling/test_governance_control_plane.py
Due: none

fix(testing): reject proof-bearing detector output
  common/testing/package_governance_observations.py
  tests/tooling/test_ac_proof_execution_model.py
  tests/tooling/test_package_governance_observations.py
Due: none

[infra2_issue-2005_env_manifest_v2] required-env manifest v2: a producer for every setting, offline gate, infra2-sdk v1.3.2 (#2005)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  apps/backend/pyproject.toml
  apps/backend/src/config.py
  apps/backend/uv.lock
  common/runtime/required-env.generated.json
  tests/tooling/test_required_env_manifest.py
  tools/generate_env_reference.py
Due: check-env-keys, validate-schemas

[infra2_issue-2005_env_manifest_v2] Source classes as an additive side table, folded into the manifest by the generator (#2005)
  apps/backend/src/config.py
  common/runtime/required-env.generated.json
  tools/generate_env_reference.py
Due: check-env-keys, validate-schemas

[infra2_issue-2005_env_manifest_v2] generate_env_reference: load config.py once; release/decision overrides are injected (#2005)
  common/runtime/required-env.generated.json
  tools/generate_env_reference.py
Due: none

[infra2_issue-2005_env_manifest_v2] Review: AC-anchored test name; exact-pin and dispatch fakes follow the sdk to v1.3.2 (#2005)
  tests/tooling/test_app_deploy_request.py
  tests/tooling/test_required_env_manifest.py
  tests/tooling/test_staging_toolchain_retry.py
Due: none

[infra2_issue-2005_env_manifest_v2] required-env manifest v2: a producer for every setting, offline gate, infra2-sdk v1.3.2 (#2005) (#2006)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  apps/backend/pyproject.toml
  apps/backend/src/config.py
  apps/backend/uv.lock
  common/runtime/required-env.generated.json
  tests/tooling/test_app_deploy_request.py
  tests/tooling/test_required_env_manifest.py
  tests/tooling/test_staging_toolchain_retry.py
  tools/generate_env_reference.py
Due: check-env-keys, validate-schemas

fix(meta): project accessed configuration field dependencies (#2012)
  common/meta/contract.py
  common/meta/extension/dependency_report.py
  common/meta/readme.md
  tests/tooling/test_ddd_dependency_report.py
Due: none

fix(meta): retain annotated configuration policy in field projections
  common/meta/extension/dependency_report.py
  tests/tooling/test_ddd_dependency_report.py
Due: none

fix(meta): type configuration captures as arbitrary AST nodes
  common/meta/extension/dependency_report.py
Due: none

test: extend live GXS journey through saved trusted package (#2008)
  common/testing/contract.py
  common/testing/readme.md
  tests/e2e/test_institution_statement_journeys.py
Due: none

test: pin deployment and prove frozen artifact after live income (#2008)
  common/testing/contract.py
  common/testing/readme.md
  tests/e2e/test_institution_statement_journeys.py
Due: none

fix(reporting): validate package income against matching periods (#2009)
  apps/backend/src/reporting/extension/package_document.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/reporting/test_package_document.py
  apps/backend/tests/reporting/test_package_period_readiness.py
  common/reporting/contract.py
  common/reporting/readme.md
Due: none

test(testing): make happy-flow currency and account assertions explicit
  tests/e2e/test_institution_statement_journeys.py
Due: none

[finance_report_pic_issue-2012_meta] Project accessed configuration-field fingerprints (#2014)
  common/meta/contract.py
  common/meta/extension/dependency_report.py
  common/meta/readme.md
  tests/tooling/test_ddd_dependency_report.py
Due: none

[finance_report_pic_issue-2009_reporting] Keep valid monthly report packages ready across periods (#2010)
  apps/backend/src/reporting/extension/package_document.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/reporting/test_package_document.py
  apps/backend/tests/reporting/test_package_period_readiness.py
  common/reporting/contract.py
  common/reporting/readme.md
Due: none

[finance_report_pic_issue-2008_happy-flow] Prove supported PDF through saved trusted package (#2013)
  common/testing/contract.py
  common/testing/readme.md
  tests/e2e/test_institution_statement_journeys.py
Due: none

[finance_report_pic] Discover package-owned governance evidence (#1997)
  common/testing/ac_proof.py
  common/testing/check_pr_ci_evidence.py
  common/testing/contract.py
  common/testing/executed_proof.py
  common/testing/generate_critical_proof_matrix.py
  common/testing/package_governance_observations.py
  common/testing/readme.md
  tests/tooling/test_ac_proof_execution_model.py
  tests/tooling/test_executed_proof.py
  tests/tooling/test_governance_control_plane.py
  tests/tooling/test_package_governance_observations.py
Due: none

docs(runtime): regenerate model thinking description in manifest v2
  common/runtime/required-env.generated.json
Due: none

test(llm): align config and generated reference assertions with GLM 5.3
  apps/backend/tests/infra/test_main.py
  tests/tooling/test_env_reference.py
Due: none

feat(llm): upgrade GLM models with supported reasoning parameters
  .env.example
  apps/backend/src/config.py
  apps/backend/src/llm/extension/client.py
  apps/backend/tests/llm/test_client.py
  apps/backend/tests/llm/test_env_config.py
  common/extraction/readme.md
  common/llm/contract.py
  common/llm/readme.md
  common/runtime/env-reference.generated.md
Due: check-env-keys, validate-schemas

fix(reporting): distinguish frozen balance date in package cover
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/components/reports/package/PackageChrome.tsx
Due: frontend-lint

fix(reporting): generate packages for the selected period (#2015)
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/__tests__/reportPackage.test.ts
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
  apps/frontend/src/components/reports/package/PackageChrome.tsx
  apps/frontend/src/hooks/usePersonalReportPackage.ts
  apps/frontend/src/lib/reportPackage.ts
  common/reporting/contract.py
  common/reporting/readme.md
Due: frontend-lint

fix(reporting): point monthly period AC to exact UI proof
  common/reporting/contract.py
Due: none

[finance_report_pic_issue-2015_period-selection] Generate report packages for an explicit period (#2017)
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/__tests__/reportPackage.test.ts
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
  apps/frontend/src/components/reports/package/PackageChrome.tsx
  apps/frontend/src/hooks/usePersonalReportPackage.ts
  apps/frontend/src/lib/reportPackage.ts
  common/reporting/contract.py
  common/reporting/readme.md
Due: frontend-lint

[finance_report_pic] Upgrade GLM text and vision with compatible reasoning (#2011)
  .env.example
  apps/backend/src/config.py
  apps/backend/src/llm/extension/client.py
  apps/backend/tests/infra/test_main.py
  apps/backend/tests/llm/test_client.py
  apps/backend/tests/llm/test_env_config.py
  common/extraction/readme.md
  common/llm/contract.py
  common/llm/readme.md
  common/runtime/env-reference.generated.md
  common/runtime/required-env.generated.json
  tests/tooling/test_env_reference.py
Due: check-env-keys, validate-schemas

fix(meta): preserve compatible same-owner enum relocations
  common/meta/contract.py
  common/meta/extension/dependency_report.py
  common/meta/readme.md
  tests/tooling/test_ddd_dependency_report.py
Due: none

refactor(reconciliation): separate config values from runtime and ledger reads
  apps/backend/src/reconciliation/__init__.py
  apps/backend/src/reconciliation/base/__init__.py
  apps/backend/src/reconciliation/base/config.py
  apps/backend/src/reconciliation/extension/config.py
  apps/backend/src/reconciliation/extension/entry_reads.py
  apps/backend/src/reconciliation/extension/matching.py
  apps/backend/src/reconciliation/extension/phases/many_to_one.py
  apps/backend/src/reconciliation/extension/phases/normal_matching.py
  apps/backend/src/reconciliation/extension/review_queue.py
  apps/backend/tests/reconciliation/test_config_boundary.py
  apps/backend/tests/reconciliation/test_reconciliation_scoring.py
  common/meta/data/base-purity-baseline.json
  common/reconciliation/contract.py
  common/reconciliation/readme.md
  tests/tooling/test_orm_value_type_boundary.py
  tests/tooling/test_reconciliation_config_boundary.py
Due: none

fix(reconciliation): parse YAML switches explicitly and remove stale imports
  apps/backend/src/reconciliation/extension/config.py
  apps/backend/src/reconciliation/extension/matching.py
  apps/backend/tests/reconciliation/test_config_boundary.py
  common/reconciliation/contract.py
  common/reconciliation/readme.md
Due: none

refactor(reconciliation): retire remaining matching import aliases
  apps/backend/src/reconciliation/extension/matching.py
  apps/backend/tests/reconciliation/test_signature_surgery.py
Due: none

[finance_report_pic_issue-2019_meta] Preserve same-owner enum relocation compatibility (#2020)
  common/meta/contract.py
  common/meta/extension/dependency_report.py
  common/meta/readme.md
  tests/tooling/test_ddd_dependency_report.py
Due: none
