Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

fix: wire critical llm proof into staging gates (#634)
  .github/workflows/staging-ai-ocr-gate.yml
  .github/workflows/staging-deploy.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_audit] Harden Audit B financial invariants (#633)
  apps/backend/src/routers/review.py
  apps/backend/src/services/accounting.py
  apps/backend/src/services/confidence_tier.py
  apps/backend/src/services/reporting.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/reporting/test_reporting.py
  apps/backend/tests/reporting/test_reporting_fx_fallbacks.py
  apps/backend/tests/review/test_tolerance_policy.py
  apps/backend/tests/services/test_confidence_tier.py
  docs/ac_registry.yaml
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/reconciliation.md
  docs/ssot/reporting.md
Due: none

test: cover personal package fixture contract
  docs/ac_registry.yaml
  tests/tooling/test_personal_report_package_fixture_contract.py
Due: none

test: add representative package fixture contract
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/critical-proof-matrix.yaml
  tests/e2e/test_personal_financial_report_package.py
  tools/_lib/fixtures/personal_report_package.py
Due: none

docs: align package proof ownership
  docs/project/EPIC-008.testing-strategy.md
Due: none

Define event-driven upload-to-report epic
  README.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/project/README.md
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: none

Define event-driven upload-to-report epic (#641)
  README.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/project/README.md
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: none

[finance_report_infra] Harden market data transaction boundaries (#630)
  apps/backend/src/routers/market_data.py
  apps/backend/src/routers/reports.py
  apps/backend/src/services/market_data.py
  apps/backend/src/services/market_data_scheduler.py
  apps/backend/tests/infra/test_transaction_boundaries.py
  apps/backend/tests/market_data/test_fx.py
  apps/backend/tests/market_data/test_provider_parsers.py
  apps/backend/tests/market_data/test_scheduler.py
  apps/backend/tests/market_data/test_sync.py
  apps/backend/tests/market_data/test_sync_router.py
  apps/backend/tests/reporting/test_reports_router.py
  docs/infra_registry.yaml
  docs/project/EPIC-012.foundation-libs.md
  docs/ssot/accounting.md
Due: none

test: add personal report package fixture proof
  apps/backend/tests/api/test_personal_report_package_contract.py
  docs/ac_registry.yaml
  docs/analysis/test-ac-coverage-report.md
  docs/project/EPIC-008.testing-strategy.md
  tests/e2e/personal_report_package_fixture.py
  tests/e2e/test_personal_financial_report_package.py
  tests/tooling/test_personal_report_package_fixture_contract.py
Due: none

feat: enrich package traceability proof anchors
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-005.reporting-visualization.md
  docs/ssot/critical-proof-matrix.yaml
Due: validate-schemas, frontend-lint

[finance_report_audit] Complete personal report package fixture proof (#642)
  docs/ac_registry.yaml
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/critical-proof-matrix.yaml
  tests/e2e/test_personal_financial_report_package.py
  tests/tooling/test_personal_report_package_fixture_contract.py
  tools/_lib/fixtures/personal_report_package.py
Due: none

Left-shift CI fast feedback jobs
  .github/workflows/ci.yml
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

Add workflow event AC contract tests
  apps/backend/tests/workflow/test_workflow_events.py
  common/ssot/generate_ac_registry.py
  docs/ac_registry.yaml
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/workflow-events.md
Due: none

Implement workflow event read model
  apps/backend/migrations/versions/0021_add_workflow_events.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/workflow.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/workflow.py
  apps/backend/src/services/workflow_events.py
Due: validate-schemas

Add classification idempotency coverage
  apps/backend/tests/extraction/test_classification_service.py
  docs/ac_registry.yaml
  docs/analysis/test-ac-coverage-report.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/schema.md
Due: none

Make classification rule application idempotent
  apps/backend/src/services/classification.py
Due: none

Left-shift CI fast feedback jobs (#645)
  .github/workflows/ci.yml
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

Align CI DAG docs with standalone gates
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_audit] Harden classification service idempotency (#647)
  apps/backend/src/services/classification.py
  apps/backend/tests/extraction/test_classification_service.py
  docs/ac_registry.yaml
  docs/analysis/test-ac-coverage-report.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/schema.md
Due: none

Add bank statement validation error coverage
  apps/backend/tests/extraction/test_pdf_parsing.py
  docs/ac_registry.yaml
  docs/project/EPIC-003.statement-parsing.md
  docs/ssot/extraction.md
Due: none

Harden workflow event contract
  apps/backend/migrations/versions/0022_harden_workflow_event_contract.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/workflow.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/workflow.py
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/workflow/test_workflow_events.py
  common/ssot/generate_ac_registry.py
  docs/ac_registry.yaml
  docs/ssot/workflow-events.md
Due: validate-schemas

Preserve bank balance validation errors
  apps/backend/src/services/extraction.py
  docs/analysis/test-ac-coverage-report.md
Due: none

Shorten workflow migration revision
  apps/backend/migrations/versions/0022_harden_workflow_contract.py
  docs/ssot/workflow-events.md
Due: none

feat: harden personal package audit fixture
  apps/backend/src/routers/portfolio.py
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/critical-proof-matrix.yaml
  docs/ssot/reporting.md
  tests/e2e/test_personal_financial_report_package.py
  tests/tooling/test_personal_report_package_fixture_contract.py
  tools/_lib/fixtures/personal_report_package.py
Due: validate-schemas, frontend-lint

[finance_report_audit] Preserve bank statement validation errors (#650)
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_pdf_parsing.py
  docs/ac_registry.yaml
  docs/analysis/test-ac-coverage-report.md
  docs/project/EPIC-003.statement-parsing.md
  docs/ssot/extraction.md
Due: none

Align CI DAG docs with standalone gates (#648)
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_ui] Define workflow event model (#646)
  apps/backend/migrations/versions/0021_add_workflow_events.py
  apps/backend/migrations/versions/0022_harden_workflow_contract.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/workflow.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/workflow.py
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/workflow/test_workflow_events.py
  common/ssot/generate_ac_registry.py
  docs/ac_registry.yaml
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/workflow-events.md
Due: validate-schemas

Add CSV inferred balance review coverage
  apps/backend/tests/extraction/test_extraction_flow.py
  docs/ac_registry.yaml
  docs/project/EPIC-003.statement-parsing.md
  docs/ssot/extraction.md
Due: none

feat: harden personal package audit fixture (#651)
  apps/backend/src/routers/portfolio.py
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/critical-proof-matrix.yaml
  docs/ssot/reporting.md
  tests/e2e/test_personal_financial_report_package.py
  tests/tooling/test_personal_report_package_fixture_contract.py
  tools/_lib/fixtures/personal_report_package.py
Due: validate-schemas, frontend-lint

Keep CSV inferred balances reviewable
  apps/backend/src/services/extraction.py
  docs/analysis/test-ac-coverage-report.md
Due: none

Address inferred CSV balance confidence review
  apps/backend/src/services/extraction.py
  apps/backend/src/services/validation.py
  apps/backend/tests/accounting/test_validation.py
  apps/backend/tests/extraction/test_extraction_flow.py
  docs/ssot/extraction.md
Due: none

Add workflow status API tests
  apps/backend/tests/api/test_workflow_router.py
  docs/ac_registry.yaml
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
Due: none

Implement workflow status API
  apps/backend/src/main.py
  apps/backend/src/routers/workflow.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/workflow.py
  apps/backend/src/services/workflow_events.py
  docs/ssot/workflow-events.md
Due: validate-schemas

[finance_report_audit] Keep CSV inferred balances reviewable (#652)
  apps/backend/src/services/extraction.py
  apps/backend/src/services/validation.py
  apps/backend/tests/accounting/test_validation.py
  apps/backend/tests/extraction/test_extraction_flow.py
  docs/ac_registry.yaml
  docs/analysis/test-ac-coverage-report.md
  docs/project/EPIC-003.statement-parsing.md
  docs/ssot/extraction.md
Due: none

[finance_report_ui] Add workflow status API (#654)
  apps/backend/src/main.py
  apps/backend/src/routers/workflow.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/workflow.py
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/api/test_workflow_router.py
  docs/ac_registry.yaml
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/workflow-events.md
Due: validate-schemas

Simplify doc and test governance contracts
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/infra.yml
  .github/pull_request_template.md
  .github/workflows/staging-ai-ocr-gate.yml
  .github/workflows/staging-deploy.yml
  README.md
  common/ssot/ac_registry_format.py
  common/ssot/generate_ac_registry.py
  docs/ac_registry.yaml
  docs/ac_registry_overrides.yaml
  docs/agents/orchestration.md
  docs/infra_registry.yaml
  docs/project/EPIC-001.phase0-setup.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-010.signoz-logging.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/README.md
  docs/ssot/ci-cd.md
  docs/ssot/tdd.md
  tests/tooling/test_ac_registry_format.py
  tests/tooling/test_archive_residual_epic_ownership.py
  tests/tooling/test_generate_ac_registry.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_staging_ai_ocr_gate_contract.py
  tools/staging_ai_ocr_gate_contract.py
Due: none

Simplify doc and test governance contracts (#643)
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/infra.yml
  .github/pull_request_template.md
  .github/workflows/staging-ai-ocr-gate.yml
  .github/workflows/staging-deploy.yml
  README.md
  common/ssot/ac_registry_format.py
  common/ssot/generate_ac_registry.py
  docs/ac_registry.yaml
  docs/ac_registry_overrides.yaml
  docs/agents/orchestration.md
  docs/infra_registry.yaml
  docs/project/EPIC-001.phase0-setup.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-010.signoz-logging.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/README.md
  docs/ssot/ci-cd.md
  docs/ssot/tdd.md
  tests/tooling/test_ac_registry_format.py
  tests/tooling/test_archive_residual_epic_ownership.py
  tests/tooling/test_generate_ac_registry.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_staging_ai_ocr_gate_contract.py
  tools/staging_ai_ocr_gate_contract.py
Due: none

Harden CI concurrency and staging audit summaries
  .github/workflows/ci.yml
  apps/backend/migrations/versions/0023_stmt_extract_metadata.py
  apps/backend/src/models/statement.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/statement_parsing.py
  apps/backend/tests/extraction/test_dual_write_layer2.py
  apps/backend/tests/extraction/test_statement_brokerage_import_bridge.py
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  docs/ssot/ci-cd.md
  docs/ssot/extraction.md
  docs/ssot/schema.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

Harden CI concurrency and staging audit summaries (#653)
  .github/workflows/ci.yml
  apps/backend/migrations/versions/0023_stmt_extract_metadata.py
  apps/backend/src/models/statement.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/statement_parsing.py
  apps/backend/tests/extraction/test_dual_write_layer2.py
  apps/backend/tests/extraction/test_statement_brokerage_import_bridge.py
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  docs/ssot/ci-cd.md
  docs/ssot/extraction.md
  docs/ssot/schema.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

fix reporting annualized currency conversion
  apps/backend/src/routers/income.py
  apps/backend/src/routers/reports.py
  apps/backend/tests/reporting/test_annualized_income_schedule.py
  apps/backend/tests/reporting/test_income_annualized_router.py
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/reporting.md
Due: none
