Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

[finance_report_hacker] EPIC-011 Stage 1: activate 4-layer dual-write by default
  apps/backend/src/config.py
  apps/backend/tests/extraction/test_dual_write_layer2.py
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/extraction.md
Due: check-env-keys, validate-schemas

[finance_report_hacker] EPIC-011 Stage 2a: backfill Layer 0->2 from legacy statements
  apps/backend/src/services/deduplication.py
  apps/backend/tests/extraction/test_backfill_layer2.py
  docs/project/EPIC-011.asset-lifecycle.md
  tools/_lib/migrations/__init__.py
  tools/_lib/migrations/backfill_layer2.py
  tools/backfill_layer2.py
Due: none

[finance_report_hacker] docs(ssot): reclassify data tables into DW layers (ODS/DWD/DWM/DWS/ADS/DIM)
  docs/ssot/MANIFEST.yaml
  docs/ssot/schema.md
Due: none

[finance_report_vision] docs: document the cross-repo secret contract
  docs/ssot/deployment.md
Due: none

[finance_report_hacker] docs(ssot): reclassify data tables into DW layers (ODS/DWD/DWM/DWS/ADS/DIM) (#798)
  docs/ssot/MANIFEST.yaml
  docs/ssot/schema.md
Due: none

[finance_report_hacker] EPIC-011 Stage 2a: backfill Layer 0->2 from legacy statements (#797)
  apps/backend/src/services/deduplication.py
  apps/backend/tests/extraction/test_backfill_layer2.py
  docs/project/EPIC-011.asset-lifecycle.md
  tools/_lib/migrations/__init__.py
  tools/_lib/migrations/backfill_layer2.py
  tools/backfill_layer2.py
Due: none

[finance_report_hacker] fix(epic-011): resolve Copilot review on dual-write/backfill PRs
  apps/backend/src/services/deduplication.py
  apps/backend/tests/extraction/test_backfill_layer2.py
  apps/backend/tests/extraction/test_dual_write_layer2.py
  docs/project/EPIC-011.asset-lifecycle.md
Due: none

docs: correct secret-contract section + bump infra2 submodule to include SECRETS.md
  docs/ssot/deployment.md
Due: none

test(backend): build schema once per worker, truncate per test (faster shards)
  apps/backend/tests/conftest.py
Due: none

[finance_report_hacker] docs(ssot): fix schema.md rendering + AccountType classification (Copilot #798)
  docs/ssot/schema.md
Due: none

[finance_report_hacker] fix(ci): ruff format + tool-wrapper sys.path contract for backfill
  apps/backend/src/services/deduplication.py
  apps/backend/tests/extraction/test_backfill_layer2.py
  tests/tooling/test_common_tooling_modules.py
  tools/_lib/migrations/backfill_layer2.py
Due: none

ci(speed): per-worker test schema + frontend build cache (PR2) (#795)
  apps/backend/tests/conftest.py
  apps/frontend/Dockerfile
Due: none

[finance_report_vision] docs: document the cross-repo secret contract (#800)
  docs/ssot/deployment.md
Due: none

[finance_report_hacker] fix(ci): cover backfill CLI + make its import side-effect-free
  tests/tooling/test_backfill_layer2.py
  tests/tooling/test_common_tooling_modules.py
  tools/_lib/migrations/backfill_layer2.py
Due: none

fix(pr-preview): stop preview orphans leaking; sweep by runtime on post-merge
  .github/workflows/pr-preview-cleanup.yml
  tests/tooling/test_pr_preview_lifecycle.py
  tests/tooling/test_pr_preview_orphan_sweep.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

[finance_report_hacker] fix(ci): restore backend coverage + classify tooling test
  apps/backend/src/services/deduplication.py
  docs/analysis/traceability-exceptions.md
Due: none

Add coverage tests for risk hotspots
  apps/backend/tests/services/test_reconciliation_audit.py
  apps/frontend/src/__tests__/journalPage.test.tsx
  tests/tooling/test_cleanup_orphaned_dbs.py
  tests/tooling/test_merge_lcov.py
  tests/tooling/test_pr_preview_lifecycle.py
Due: frontend-lint

[finance_report_hacker] docs(ssot): fix schema.md rendering + AccountType classification (Copilot #798) (#801)
  docs/ssot/schema.md
Due: none

Add coverage tests for risk hotspots (#799)
  apps/backend/tests/services/test_reconciliation_audit.py
  apps/frontend/src/__tests__/journalPage.test.tsx
  tests/tooling/test_cleanup_orphaned_dbs.py
  tests/tooling/test_merge_lcov.py
  tests/tooling/test_pr_preview_lifecycle.py
Due: frontend-lint

[finance_report_hacker] EPIC-011 Stage 1: activate 4-layer dual-write by default (#796)
  apps/backend/src/config.py
  apps/backend/src/services/deduplication.py
  apps/backend/tests/extraction/test_backfill_layer2.py
  apps/backend/tests/extraction/test_dual_write_layer2.py
  docs/analysis/traceability-exceptions.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/extraction.md
  tests/tooling/test_backfill_layer2.py
  tools/_lib/migrations/__init__.py
  tools/_lib/migrations/backfill_layer2.py
  tools/backfill_layer2.py
Due: check-env-keys, validate-schemas

fix(staging): unblock event loop during PDF render + bound backend to 2C/2G
  apps/backend/src/services/extraction.py
  docker-compose.yml
Due: none

fix(staging): gate E2E on frontend git_sha so it never tests stale frontend code
  .github/workflows/staging-deploy.yml
Due: none

revert(staging): drop resource limits from docker-compose.yml (wrong file + mechanism)
  docker-compose.yml
Due: none

ci: reap orphan previews from a post-merge host-hygiene workflow (visible)
  .github/workflows/pr-preview-host-hygiene.yml
  tests/tooling/test_vps_host_hygiene.py
  tools/_lib/dev/vps_host_hygiene.py
Due: none

fix(staging): unblock PDF render event loop + gate E2E on frontend git_sha (PR3) (#804)
  .github/workflows/staging-deploy.yml
  apps/backend/src/services/extraction.py
Due: none

[finance_report_hacker] EPIC-011 PR-A: StatementSummary conform (custody account in DWD)
  apps/backend/migrations/versions/0028_statement_summaries.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/statement_summary.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/statement_parsing.py
  apps/backend/src/services/statement_posting.py
  apps/backend/src/services/statement_summary.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/extraction/test_backfill_layer2.py
  apps/backend/tests/extraction/test_statement_summary_conform.py
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/schema.md
Due: none

[finance_report_hacker] test: cover empty-source_documents resolver branch
  apps/backend/tests/extraction/test_statement_summary_conform.py
Due: none

ci: reap orphan previews from a post-merge host-hygiene workflow (visible) (#806)
  .github/workflows/pr-preview-host-hygiene.yml
  tests/tooling/test_vps_host_hygiene.py
  tools/_lib/dev/vps_host_hygiene.py
Due: none

[finance_report_hacker] EPIC-011 PR-A: StatementSummary conform (custody account in DWD) (#807)
  apps/backend/migrations/versions/0028_statement_summaries.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/statement_summary.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/statement_parsing.py
  apps/backend/src/services/statement_posting.py
  apps/backend/src/services/statement_summary.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/extraction/test_backfill_layer2.py
  apps/backend/tests/extraction/test_statement_summary_conform.py
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/schema.md
Due: none

[finance_report_hacker] fix(epic-011): resolve PR-A (#807) Copilot review on the custody resolver
  apps/backend/src/services/statement_summary.py
  apps/backend/tests/extraction/test_statement_summary_conform.py
  docs/project/EPIC-011.asset-lifecycle.md
Due: none

[finance_report_hacker] EPIC-011 PR-B: activate DWD read cutover (ENABLE_4_LAYER_READ)
  apps/backend/src/config.py
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/reconciliation.py
  apps/backend/tests/extraction/test_deduplication.py
  apps/backend/tests/reconciliation/conftest.py
  apps/backend/tests/reconciliation/test_reconciliation_dual_read.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reconciliation/test_transfer_idempotency.py
  apps/backend/tests/reconciliation/test_transfer_integration.py
  docs/analysis/traceability-exceptions.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/extraction.md
  docs/ssot/schema.md
Due: check-env-keys, validate-schemas

[finance_report_hacker] fix(ci): drop legacy bank-txn.status assertion in tooling threshold test
  tests/tooling/test_reconciliation_thresholds_unit.py
Due: none

[finance_report_hacker] fix(epic-011): resolve PR-B (#808) Copilot review
  apps/backend/src/services/deduplication.py
  apps/backend/tests/extraction/test_deduplication.py
  apps/backend/tests/reconciliation/test_transfer_idempotency.py
Due: none

[finance_report_hacker] EPIC-011 PR-B: activate DWD read cutover (ENABLE_4_LAYER_READ) (#808)
  apps/backend/src/config.py
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/reconciliation.py
  apps/backend/src/services/statement_summary.py
  apps/backend/tests/extraction/test_deduplication.py
  apps/backend/tests/extraction/test_statement_summary_conform.py
  apps/backend/tests/reconciliation/conftest.py
  apps/backend/tests/reconciliation/test_reconciliation_dual_read.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reconciliation/test_transfer_idempotency.py
  apps/backend/tests/reconciliation/test_transfer_integration.py
  docs/analysis/traceability-exceptions.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/extraction.md
  docs/ssot/schema.md
  tests/tooling/test_reconciliation_thresholds_unit.py
Due: check-env-keys, validate-schemas

[finance_report_hacker] EPIC-011 Stage 3 (PR-1): remove 4-layer feature flags + Layer-0 read path
  .env.example
  apps/backend/src/config.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/reconciliation.py
  apps/backend/src/services/statement_parsing.py
  apps/backend/tests/extraction/test_dual_write_layer2.py
  apps/backend/tests/reconciliation/test_reconciliation_dual_read.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_layer4_read.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  docs/project/EPIC-011.asset-lifecycle.md
Due: check-env-keys, validate-schemas

Harden QA schema migration contracts
  .github/workflows/ci.yml
  .github/workflows/pr-preview-host-hygiene.yml
  .github/workflows/pr-test.yml
  apps/backend/src/models/consistency_check.py
  apps/backend/src/models/evidence.py
  apps/backend/src/models/layer3.py
  apps/backend/src/models/reconciliation.py
  apps/backend/src/models/statement_summary.py
  apps/backend/src/models/user.py
  apps/backend/src/models/workflow.py
  apps/backend/tests/infra/test_schema_drift.py
  apps/backend/tests/infra/test_schema_guardrails.py
  common/ssot/build_ac_traceability.py
  common/ssot/check_ac_traceability.py
  common/ssot/test_surface.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/development.md
  docs/ssot/schema.md
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
  tests/tooling/test_schema_quality_contract.py
  tests/tooling/test_vps_host_hygiene.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

feat(EPIC-019): config-gated Prefect dispatch for upload→report (P0 seam)
  .env.example
  apps/backend/pyproject.toml
  apps/backend/src/config.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/statement_flow.py
  apps/backend/src/services/statement_pipeline.py
  apps/backend/tests/api/test_statement_pipeline.py
  apps/backend/tests/api/test_statements_router.py
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
Due: check-env-keys, validate-schemas

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
