Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

fix: infer balances for parsed CSV statements
  apps/backend/src/services/extraction.py
Due: none

ci: gate unified coveralls status (#446)
  .github/workflows/ci.yml
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/ci-cd.md
  scripts/check_ci_metrics_contract.py
  scripts/tests/test_ci_metrics_contract.py
  scripts/tests/test_post_merge_e2e_gates.py
  scripts/tests/test_wait_for_github_status.py
  scripts/wait_for_github_status.py
Due: none

Rebuild AC coverage analyzer with multi-suite scan, stub-aware classification, CI traceability audit refresh, and conflict resolution (#434)
  docs/analysis/test-ac-coverage-report.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  scripts/analyze_test_ac_coverage.py
  scripts/tests/test_analyze_test_ac_coverage.py
Due: none

test: avoid services package import in reconciliation unit tests
  scripts/tests/test_reconciliation_thresholds_unit.py
Due: none

test: isolate reconciliation unit logger dependency
  scripts/tests/test_reconciliation_thresholds_unit.py
Due: none

test: use role locators in vision dashboard gate
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: none

Tighten vision hard gate page title locators
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: none

Add deterministic vision hard-gate E2E for upload-to-dashboard correctness (#441)
  apps/backend/src/routers/accounts.py
  apps/backend/src/services/extraction.py
  apps/backend/tests/accounting/test_processing_account_endpoints.py
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/ci-cd.md
  scripts/tests/test_post_merge_e2e_gates.py
  tests/e2e/fixtures/vision_hard_gate_statement.csv
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: none

test: cover reconciliation thresholds, rerun idempotency, and processing account visibility (#440)
  apps/backend/tests/_ac_stubs/test_epic_04_stubs.py
  apps/backend/tests/_ac_stubs/test_epic_15_stubs.py
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  scripts/tests/test_processing_account_service_unit.py
  scripts/tests/test_reconciliation_thresholds_unit.py
Due: none

fix stage2 batch approval ledger updates
  apps/backend/src/routers/review.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/reconciliation/test_review_queue.py
  docs/ac_registry.yaml
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/confirmation-workflow.md
Due: none

test stage2 batch approval edge cases
  apps/backend/tests/api/test_statements_router.py
Due: none

fix(review): route Stage 2 batch approval through ledger acceptance (#449)
  apps/backend/src/routers/review.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/reconciliation/test_review_queue.py
  docs/ac_registry.yaml
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/confirmation-workflow.md
Due: none

ci: harden coveralls status gate
  .github/workflows/ci.yml
  docs/ssot/ci-cd.md
  docs/ssot/coverage.md
  scripts/check_ci_metrics_contract.py
  scripts/tests/test_analyze_test_ac_coverage.py
  scripts/tests/test_ci_metrics_contract.py
  scripts/tests/test_wait_for_github_status.py
  scripts/wait_for_github_status.py
Due: none

ci: harden coveralls status gate (#448)
  .github/workflows/ci.yml
  docs/ssot/ci-cd.md
  docs/ssot/coverage.md
  scripts/check_ci_metrics_contract.py
  scripts/tests/test_analyze_test_ac_coverage.py
  scripts/tests/test_ci_metrics_contract.py
  scripts/tests/test_wait_for_github_status.py
  scripts/wait_for_github_status.py
Due: none

ci: increase backend sharding
  .github/workflows/ci.yml
  .github/workflows/staging-deploy.yml
  docs/ssot/ci-cd.md
  docs/ssot/coverage.md
  docs/ssot/tdd.md
  scripts/check_ci_metrics_contract.py
  scripts/tests/test_ci_metrics_contract.py
  scripts/tests/test_post_merge_e2e_gates.py
Due: none

docs: align TDD operating model
  README.md
  docs/analysis/test-ac-coverage-report.md
  docs/project/AUDITS.md
  docs/project/DECISIONS.md
  docs/project/README.md
  docs/ssot/README.md
  docs/ssot/ci-cd.md
  docs/ssot/tdd.md
  vision.md
Due: none

Harden statement account mapping
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/review.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  docs/ac_registry.yaml
  docs/project/EPIC-003.statement-parsing.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/extraction.md
Due: validate-schemas, frontend-lint

Harden statement account mapping (#450)
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/review.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  docs/ac_registry.yaml
  docs/project/EPIC-003.statement-parsing.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/extraction.md
Due: validate-schemas, frontend-lint

docs: sweep active markdown drift
  TESTING_GAP_ANALYSIS.md
  docs/index.md
  docs/project/AC-AUDIT-2026-05-04.md
  docs/project/DECISIONS.md
  docs/project/DECISIONS_ZH.md
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-006.ai-advisor.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/reference/api-overview.md
  docs/ssot/environments.md
  docs/user-guide/reconciliation.md
  docs/user-guide/reports.md
Due: none

ci: increase backend sharding (#457)
  .github/workflows/ci.yml
  .github/workflows/staging-deploy.yml
  docs/ssot/ci-cd.md
  docs/ssot/coverage.md
  docs/ssot/tdd.md
  scripts/check_ci_metrics_contract.py
  scripts/tests/test_ci_metrics_contract.py
  scripts/tests/test_post_merge_e2e_gates.py
Due: none

docs: assign markdown surfaces to epics
  TESTING_GAP_ANALYSIS.md
  docs/project/AUDITS.md
  docs/project/EPIC-001.phase0-setup.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-006.ai-advisor.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-009.pdf-fixture-generation.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/README.md
  docs/project/archive/testing-implementation.md
  ours_agents.md
Due: none

fix portfolio as-of snapshot holdings
  apps/backend/src/services/portfolio.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  apps/backend/tests/portfolio/test_portfolio_service.py
  apps/frontend/src/__tests__/portfolioPage.test.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  docs/ac_registry.yaml
  docs/project/EPIC-017.portfolio-management.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/assets.md
Due: frontend-lint

docs: cover github workflow docs in epic ownership
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/README.md
Due: none

fix portfolio as-of snapshot holdings (#451)
  apps/backend/src/services/portfolio.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  apps/backend/tests/portfolio/test_portfolio_service.py
  apps/frontend/src/__tests__/portfolioPage.test.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  docs/ac_registry.yaml
  docs/project/EPIC-017.portfolio-management.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/assets.md
Due: frontend-lint

docs: integrate archive notes into epics
  README.md
  docs/project/AUDITS.md
  docs/project/EPIC-001.phase0-setup.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-006.ai-advisor.md
  docs/project/EPIC-007.deployment.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-010.signoz-logging.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/project/archive/README.md
Due: none

[codex] Align TDD documentation operating model (#458)
  README.md
  TESTING_GAP_ANALYSIS.md
  docs/analysis/test-ac-coverage-report.md
  docs/index.md
  docs/project/AC-AUDIT-2026-05-04.md
  docs/project/AUDITS.md
  docs/project/DECISIONS.md
  docs/project/DECISIONS_ZH.md
  docs/project/EPIC-001.phase0-setup.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-006.ai-advisor.md
  docs/project/EPIC-007.deployment.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-009.pdf-fixture-generation.md
  docs/project/EPIC-010.signoz-logging.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/project/README.md
  docs/project/archive/README.md
  docs/project/archive/testing-implementation.md
  docs/reference/api-overview.md
  docs/ssot/README.md
  docs/ssot/ci-cd.md
  docs/ssot/environments.md
  docs/ssot/tdd.md
  docs/user-guide/reconciliation.md
  docs/user-guide/reports.md
  ours_agents.md
  vision.md
Due: none

ci: cache e2e setup and report workflow timing
  .github/actions/setup-e2e-tests/action.yml
  .github/workflows/ci.yml
  .github/workflows/staging-deploy.yml
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  scripts/github_workflow_timing_summary.py
  scripts/tests/test_github_workflow_timing_summary.py
  scripts/tests/test_post_merge_e2e_gates.py
Due: none

feat(portfolio): add investment transaction accounting
  README.md
  apps/backend/migrations/versions/0017_investment_accounting.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/portfolio.py
  apps/backend/src/services/investment_accounting.py
  apps/backend/tests/portfolio/test_investment_accounting.py
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/assets.md
  docs/ssot/schema.md
Due: none

ci: cache e2e setup and report workflow timing (#460)
  .github/actions/setup-e2e-tests/action.yml
  .github/workflows/ci.yml
  .github/workflows/staging-deploy.yml
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  scripts/github_workflow_timing_summary.py
  scripts/tests/test_github_workflow_timing_summary.py
  scripts/tests/test_post_merge_e2e_gates.py
Due: none

test(portfolio): cover investment accounting edge cases
  apps/backend/tests/portfolio/test_investment_accounting.py
Due: none

test(portfolio): cover investment validation helpers
  apps/backend/tests/portfolio/test_investment_accounting.py
Due: none

feat: surface processing account visibility
  apps/backend/src/routers/accounts.py
  apps/backend/src/schemas/account.py
  apps/backend/tests/accounting/test_processing_account_endpoints.py
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.processingVisibility.test.tsx
  apps/frontend/src/components/ProcessingSummaryCard.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/__tests__/ProcessingSummaryCard.test.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-015.processing-account.md
  docs/ssot/processing_account.md
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: validate-schemas, frontend-lint

feat: surface processing account visibility (#464)
  apps/backend/src/routers/accounts.py
  apps/backend/src/schemas/account.py
  apps/backend/tests/accounting/test_processing_account_endpoints.py
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.processingVisibility.test.tsx
  apps/frontend/src/components/ProcessingSummaryCard.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/__tests__/ProcessingSummaryCard.test.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-015.processing-account.md
  docs/ssot/processing_account.md
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: validate-schemas, frontend-lint

[codex] Add investment transaction accounting (#462)
  README.md
  apps/backend/migrations/versions/0017_investment_accounting.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/portfolio.py
  apps/backend/src/services/investment_accounting.py
  apps/backend/tests/portfolio/test_investment_accounting.py
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/assets.md
  docs/ssot/schema.md
Due: none

Report real AC traceability semantics
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/ci-cd.md
  scripts/ac_traceability_refs.py
  scripts/analyze_test_ac_coverage.py
  scripts/build_ac_traceability.py
  scripts/check_ac_traceability.py
  scripts/check_ci_metrics_contract.py
  scripts/tests/test_analyze_test_ac_coverage.py
  scripts/tests/test_build_ac_traceability.py
  scripts/tests/test_check_ac_traceability.py
  scripts/tests/test_ci_metrics_contract.py
Due: none

fix frontend processing nav and csv upload model
  apps/frontend/src/__tests__/StatementUploader.test.tsx
  apps/frontend/src/__tests__/mobileNav.coverage.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/components/MobileNav.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/statements/StatementUploader.tsx
Due: frontend-lint

Report real AC traceability semantics (#461)
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/ci-cd.md
  scripts/ac_traceability_refs.py
  scripts/analyze_test_ac_coverage.py
  scripts/build_ac_traceability.py
  scripts/check_ac_traceability.py
  scripts/check_ci_metrics_contract.py
  scripts/tests/test_analyze_test_ac_coverage.py
  scripts/tests/test_build_ac_traceability.py
  scripts/tests/test_check_ac_traceability.py
  scripts/tests/test_ci_metrics_contract.py
Due: none

fix frontend processing nav and csv upload model (#463)
  apps/frontend/src/__tests__/StatementUploader.test.tsx
  apps/frontend/src/__tests__/mobileNav.coverage.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/components/MobileNav.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/statements/StatementUploader.tsx
Due: frontend-lint

Implement source type trust hierarchy
  apps/backend/migrations/versions/0018_source_type_priority.py
  apps/backend/src/models/journal.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/review.py
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/journal.py
  apps/backend/src/services/accounting.py
  apps/backend/src/services/reconciliation.py
  apps/backend/src/services/review_queue.py
  apps/backend/src/services/source_type_priority.py
  apps/backend/tests/_ac_stubs/test_epic_13_stubs.py
  apps/backend/tests/accounting/test_accounting_integration.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_source_type_promotion.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/backend/tests/reconciliation/test_source_type.py
  apps/backend/tests/services/test_confidence_tier.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/source-type-priority.md
Due: validate-schemas

feat: add dashboard empty-state onboarding
  apps/frontend/src/app/(main)/dashboard/page.tsx
  docs/ssot/frontend-patterns.md
Due: frontend-lint
