Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

fix(#1822): repoint test fixtures + README to gate-data new homes
  docs/ssot/README.md
  tests/tooling/test_app_boundary.py
  tests/tooling/test_evidence_bundle.py
  tests/tooling/test_generate_vision_proof_matrix.py
Due: none

fix(#1822): address Copilot review + revert accidental vision.md edit
  docs/ssot/README.md
  docs/ssot/ci-cd.md
  docs/ssot/tdd.md
  tests/tooling/test_ssot_governance_report.py
  vision.md
Due: none

fix(#1821): expand package-id ranges in EPIC-008 critical-proof rows + CR fixes
  apps/backend/tests/review/test_statement_validation.py
  common/reporting/contract.py
  docs/project/EPIC-008.testing-strategy.md
Due: none

fix(#1822): address CI red + Copilot review round 1
  apps/backend/tests/infra/test_observability_contract.py
  common/observability/contract.py
  tests/tooling/test_ssot_governance_report.py
Due: none

fix(#1821): merge accidental double docstring in test_AC7_15_1 (CR)
  tests/tooling/test_workflow_contract.py
Due: none

refactor(#1821): Wave A-2 — 56 horizontal EPIC rows into package roadmaps (meta-first)
  apps/backend/tests/infra/test_audit_anchor_schema_invariants.py
  apps/backend/tests/infra/test_ci_config.py
  apps/backend/tests/infra/test_epic_001_contracts.py
  apps/backend/tests/infra/test_main.py
  apps/backend/tests/infra/test_observability_contract.py
  apps/backend/tests/infra/test_schema_drift.py
  apps/backend/tests/infra/test_transaction_boundaries.py
  apps/backend/tests/review/test_review_conflicts_router.py
  apps/backend/tests/workflow/test_workflow_events.py
  common/advisor/contract.py
  common/audit/contract.py
  common/meta/contract.py
  common/observability/contract.py
  common/reconciliation/contract.py
  common/testing/contract.py
  docs/project/EPIC-001.phase0-setup.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-007.deployment.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-010.observability-logging.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/project/EPIC-021.application-ai-advisor.md
  docs/project/EPIC-024.frontend-observability.md
  docs/ssot/epic-residue-baseline.json
  tests/tooling/test_application_ai_advisor_epic021_contract.py
  tests/tooling/test_build_secret_scan_contract.py
  tests/tooling/test_dokploy_snapshot_retired.py
  tests/tooling/test_framework_reporting_epic_contract.py
  tests/tooling/test_openpanel_query.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
  tests/tooling/test_smoke_routes_contract.py
  tests/tooling/test_staging_toolchain_retry.py
  tests/tooling/test_workflow_contract.py
Due: none

[finance_report_audit] refactor(#1821): Wave A-2 — 102 horizontal rows into meta's roadmap (#1835)
  apps/backend/tests/infra/test_audit_anchor_schema_invariants.py
  apps/backend/tests/infra/test_ci_config.py
  apps/backend/tests/infra/test_epic_001_contracts.py
  apps/backend/tests/infra/test_main.py
  apps/backend/tests/infra/test_observability_contract.py
  apps/backend/tests/infra/test_schema_drift.py
  apps/backend/tests/infra/test_transaction_boundaries.py
  apps/backend/tests/review/test_review_conflicts_router.py
  apps/backend/tests/workflow/test_workflow_events.py
  common/advisor/contract.py
  common/audit/contract.py
  common/meta/contract.py
  common/observability/contract.py
  common/reconciliation/contract.py
  common/testing/contract.py
  docs/project/EPIC-001.phase0-setup.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-007.deployment.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-010.observability-logging.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/project/EPIC-021.application-ai-advisor.md
  docs/project/EPIC-024.frontend-observability.md
  docs/ssot/epic-residue-baseline.json
  tests/tooling/test_application_ai_advisor_epic021_contract.py
  tests/tooling/test_build_secret_scan_contract.py
  tests/tooling/test_dokploy_snapshot_retired.py
  tests/tooling/test_framework_reporting_epic_contract.py
  tests/tooling/test_openpanel_query.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
  tests/tooling/test_smoke_routes_contract.py
  tests/tooling/test_staging_toolchain_retry.py
  tests/tooling/test_workflow_contract.py
Due: none

fix(#1826): critical-value ratchet reads live contract proof_kinds, explicit-only
  common/testing/check_critical_value_proof.py
  tests/tooling/test_critical_value_proof_ratchet.py
Due: none

feat(#1826): baseline-aging meta-lock — ratchet inventory in the evidence bundle
  common/testing/contract.py
  common/testing/evidence_bundle.py
  tests/tooling/test_evidence_bundle.py
Due: none

feat(#1826): PR-A1 — deterministic upload-to-dashboard proves exact values (baseline 10 -> 7)
  common/testing/contract.py
  common/testing/critical-value-proof-baseline.json
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: none

feat(#1826): PR-A2 — statement journeys grade against ground truth (baseline 7 -> 5)
  common/extraction/contract.py
  common/testing/contract.py
  common/testing/critical-value-proof-baseline.json
  tests/e2e/test_four_asset_net_worth_golden_path.py
  tests/e2e/test_statement_full_journey.py
Due: none

feat(#1827): FE contract vectors + mobile viewport lane + async invalidation seam
  apps/backend/tests/schemas/test_api_response_vectors.py
  apps/frontend/playwright.config.ts
  apps/frontend/src/__tests__/StatementUploader.test.tsx
  apps/frontend/src/__tests__/accountsPage.test.tsx
  apps/frontend/src/__tests__/assetsPage.test.tsx
  apps/frontend/src/__tests__/balanceSheetPage.test.tsx
  apps/frontend/src/__tests__/fixtures/apiVectors.ts
  apps/frontend/src/__tests__/fixtures/invalidationProbe.tsx
  apps/frontend/src/__tests__/guidedEvidenceForm.test.tsx
  apps/frontend/src/__tests__/mutationInvalidationLock.test.ts
  apps/frontend/src/__tests__/playwrightMobileLane.test.ts
  apps/frontend/src/__tests__/reconciliationWorkbenchComponent.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/hooks/__tests__/useApiQuery.test.tsx
  apps/frontend/src/lib/queryInvalidation.ts
  common/extraction/conformance/README.md
  common/extraction/conformance/vectors.json
  common/extraction/contract.py
  common/ledger/conformance/README.md
  common/ledger/conformance/vectors.json
  common/ledger/contract.py
  common/reporting/conformance/README.md
  common/reporting/conformance/vectors.json
  common/reporting/contract.py
  common/testing/contract.py
  common/testing/fe-api-handmock-baseline.json
  common/testing/fe_api_handmock_ratchet.py
  tests/tooling/test_fe_api_handmock_ratchet.py
  tools/api_response_vectors.py
Due: frontend-lint

feat(#1828): prove the guard layer — boot reject matrix, honest health lane, telemetry tag value-lock, staleness signal, required-env manifest gate
  .github/workflows/ci.yml
  apps/backend/src/boot.py
  apps/backend/src/config.py
  apps/backend/src/main.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_observability_contract.py
  apps/backend/tests/integration/test_bootloader_real_checks.py
  apps/backend/tests/runtime/test_health_parity.py
  common/runtime/contract.py
  common/runtime/required-env.generated.json
  docs/ssot/MANIFEST.yaml
  tests/tooling/test_required_env_manifest.py
  tools/generate_env_reference.py
Due: check-env-keys, validate-schemas

test(#1827): cover declaredInvalidations error path; non-vectored sample path in useApiQuery tests
  apps/frontend/src/__tests__/mutationInvalidationLock.test.ts
  apps/frontend/src/hooks/__tests__/useApiQuery.test.tsx
Due: frontend-lint

test(#1828): lock the generator's write path and --check red path for the required-env manifest
  tests/tooling/test_required_env_manifest.py
Due: none

docs(#1828): has_default carries no deploy-time semantics (Copilot review)
  tests/tooling/test_required_env_manifest.py
  tools/generate_env_reference.py
Due: none

fix(#1827): CI reds — tools wrapper contract, AC test location, TS annotation
  apps/backend/tests/schemas/test_api_response_vectors.py
  apps/frontend/src/__tests__/useApiQuery.test.tsx
  common/testing/contract.py
  tools/api_response_vectors.py
Due: frontend-lint

feat(#1826): PR-A3 — pricing lane value oracles + G-fx-real-path (baseline 5 -> 3)
  apps/backend/tests/pricing/market_data/fixtures/yahoo_chart_ibm_2024-06-03.json
  apps/backend/tests/pricing/market_data/fixtures/yahoo_chart_usdsgd_2024-06-03.json
  apps/backend/tests/pricing/market_data/test_recorded_provider_price_path.py
  common/extraction/contract.py
  common/portfolio/contract.py
  common/pricing/contract.py
  common/testing/critical-value-proof-baseline.json
  tests/e2e/test_brokerage_upload_to_portfolio_value.py
  tests/e2e/test_market_data_price_paths.py
Due: none

feat(#1826): PR-A4 — report package proof_kinds exact; baseline reaches [] (3 -> 0)
  common/testing/contract.py
  common/testing/critical-value-proof-baseline.json
Due: none

[finance_report_ui] feat(#1828): prove the guard layer — boot reject paths, honest health, telemetry tag, env-manifest gate (#1837)
  .github/workflows/ci.yml
  apps/backend/src/boot.py
  apps/backend/src/config.py
  apps/backend/src/main.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_observability_contract.py
  apps/backend/tests/integration/test_bootloader_real_checks.py
  apps/backend/tests/runtime/test_health_parity.py
  common/runtime/contract.py
  common/runtime/required-env.generated.json
  docs/ssot/MANIFEST.yaml
  tests/tooling/test_required_env_manifest.py
  tools/generate_env_reference.py
Due: check-env-keys, validate-schemas

docs(#1826): register new proof ac_ids in the EPIC-008 e2e ownership index
  docs/project/EPIC-008.testing-strategy.md
Due: none

test(#1827): tooling-scope regen builder proof for the diff-coverage gate
  common/testing/fe_api_handmock_ratchet.py
  tests/tooling/test_api_response_vectors_regen.py
  tools/api_response_vectors.py
Due: none

fix(#1821): correct AC-anchor/statement mismatches from CR review
  apps/frontend/src/__tests__/auth.test.ts
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  common/extraction/contract.py
  common/identity/contract.py
  common/reconciliation/contract.py
  docs/project/EPIC-005.reporting-visualization.md
Due: frontend-lint

fix(#1826): move baseline-inventory tests out of the cassette-tainted file
  common/testing/contract.py
  tests/tooling/test_evidence_bundle.py
  tests/tooling/test_evidence_bundle_baseline_inventory.py
Due: none

fix(#1826): resolve Copilot review threads — git-log short-circuit + explicit HALF_UP
  apps/backend/tests/pricing/market_data/test_recorded_provider_price_path.py
  common/testing/evidence_bundle.py
Due: none

style(#1826): ruff-format the ROUND_HALF_UP fix
  apps/backend/tests/pricing/market_data/test_recorded_provider_price_path.py
Due: none

fix(#1821): repair truncated OpenPanel statement in observability contract
  common/observability/contract.py
Due: none

fix(#1833): auto-post chain-validated opening balance on statement auto-approve
  apps/backend/src/extraction/extension/statement_posting.py
  apps/backend/tests/integration/test_statement_opening_balance_auto_post.py
  common/extraction/contract.py
Due: none

fix(#1833): opening-balance post must not gate on created_count (review)
  apps/backend/src/extraction/extension/statement_posting.py
  apps/backend/tests/integration/test_statement_opening_balance_auto_post.py
  common/extraction/contract.py
Due: none

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
