Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

[finance_report_ui] Harden frontend stability (#717)
  apps/frontend/Dockerfile
  apps/frontend/next.config.mjs
  apps/frontend/src/__tests__/api-urls.test.ts
  apps/frontend/src/__tests__/assetsPage.test.tsx
  apps/frontend/src/__tests__/holdingDetailPage.test.tsx
  apps/frontend/src/__tests__/investmentPerformanceSchedule.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/__tests__/types.test.ts
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/app/(main)/portfolio/[ticker]/page.tsx
  apps/frontend/src/components/portfolio/AllocationChart.tsx
  apps/frontend/src/components/portfolio/HoldingsTable.tsx
  apps/frontend/src/components/portfolio/InvestmentPerformanceSchedule.tsx
  apps/frontend/src/lib/api.ts
  apps/frontend/src/lib/currency.test.ts
  apps/frontend/src/lib/currency.ts
  apps/frontend/src/lib/types.ts
  docker-compose.yml
  docs/ssot/ci-cd.md
  docs/ssot/frontend-patterns.md
  tests/tooling/test_docker_compose_routing.py
Due: frontend-lint

fix: preserve pr preview compose identity
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

feat: add backend advisor context engine
  apps/backend/src/prompts/ai_advisor.py
  apps/backend/src/schemas/chat.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  docs/project/EPIC-021.application-ai-advisor.md
  docs/reference/api.md
  docs/ssot/ai.md
Due: validate-schemas

test: cover staging ai ocr gate isolation
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_personal_report_package_fixture_contract.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_staging_ai_ocr_gate_contract.py
Due: none

test: stabilize staging ai ocr gate replay
  tests/e2e/test_brokerage_upload_to_portfolio_value.py
  tests/e2e/test_four_asset_net_worth_golden_path.py
  tests/e2e/test_personal_financial_report_package.py
  tests/e2e/test_statement_full_journey.py
  tests/e2e/test_statement_upload_e2e.py
Due: none

[finance_report_audit] Harden package source traceability anchors (#715)
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/ci-cd.md
  docs/ssot/reporting.md
  docs/ssot/schema.md
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: validate-schemas, frontend-lint

Add Decimal rule cross-reference
  docs/project/EPIC-004.reconciliation-engine.md
Due: none

Cover authenticated export error paths
  apps/frontend/src/__tests__/apiFunctions.test.ts
  apps/frontend/src/components/reports/ExportCsvButton.test.tsx
Due: frontend-lint

Fix authenticated report exports and typecheck gate
  .github/workflows/ci.yml
  apps/backend/src/routers/reports.py
  apps/backend/tests/reporting/test_reports_router.py
  apps/frontend/package.json
  apps/frontend/src/__tests__/apiFunctions.test.ts
  apps/frontend/src/__tests__/balanceSheetPage.test.tsx
  apps/frontend/src/__tests__/cashFlowPage.test.tsx
  apps/frontend/src/__tests__/coverageBaseline.test.ts
  apps/frontend/src/__tests__/incomeStatementPage.test.tsx
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
  apps/frontend/src/components/reports/ExportCsvButton.tsx
  apps/frontend/src/lib/api.ts
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  tests/tooling/test_frontend_typecheck_contract.py
  tools/_lib/dev/cli.py
Due: frontend-lint

[finance_report_vision] Add backend AI Advisor context engine (#718)
  apps/backend/src/prompts/ai_advisor.py
  apps/backend/src/schemas/chat.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  docs/project/EPIC-021.application-ai-advisor.md
  docs/reference/api.md
  docs/ssot/ai.md
Due: validate-schemas

[finance_report_vision] Add Advisor Brief UX
  apps/backend/src/routers/chat.py
  apps/backend/tests/ai/test_chat_router.py
  apps/frontend/playwright/advisor-brief.spec.ts
  apps/frontend/src/__tests__/advisorBrief.test.tsx
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/components/ChatPanel.tsx
  apps/frontend/src/components/advisor/AdvisorBrief.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-021.application-ai-advisor.md
  docs/ssot/ai.md
Due: frontend-lint

Add evidence graph foundation
  apps/backend/migrations/versions/0025_add_evidence_lineage.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/evidence.py
  apps/backend/src/services/evidence_lineage.py
  apps/backend/tests/infra/test_evidence_lineage_contract.py
  apps/backend/tests/infra/test_evidence_lineage_migration_contract.py
  apps/backend/tests/services/test_evidence_lineage.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/evidence-lineage.md
  mkdocs.yml
Due: none

[finance_report_vision] Update chat suggestions API reference
  docs/reference/api.md
Due: none

[finance_report_vision] Cover Advisor Brief fallback state
  apps/frontend/src/__tests__/advisorBrief.test.tsx
Due: frontend-lint

Fix existing PR preview redeploys
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

Align market data freshness status with observations
  apps/backend/src/services/market_data.py
  apps/backend/tests/market_data/test_sync.py
Due: none

[finance_report_ui] Fix authenticated report exports and typecheck gate (#720)
  .github/workflows/ci.yml
  apps/backend/src/routers/reports.py
  apps/backend/tests/reporting/test_reports_router.py
  apps/frontend/package.json
  apps/frontend/src/__tests__/apiFunctions.test.ts
  apps/frontend/src/__tests__/balanceSheetPage.test.tsx
  apps/frontend/src/__tests__/cashFlowPage.test.tsx
  apps/frontend/src/__tests__/coverageBaseline.test.ts
  apps/frontend/src/__tests__/incomeStatementPage.test.tsx
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
  apps/frontend/src/components/reports/ExportCsvButton.test.tsx
  apps/frontend/src/components/reports/ExportCsvButton.tsx
  apps/frontend/src/lib/api.ts
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_frontend_typecheck_contract.py
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/cli.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: frontend-lint

[finance_report_audit] Add evidence graph foundation (#726)
  apps/backend/migrations/versions/0025_add_evidence_lineage.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/evidence.py
  apps/backend/src/services/evidence_lineage.py
  apps/backend/src/services/market_data.py
  apps/backend/tests/infra/test_evidence_lineage_contract.py
  apps/backend/tests/infra/test_evidence_lineage_migration_contract.py
  apps/backend/tests/market_data/test_sync.py
  apps/backend/tests/services/test_evidence_lineage.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/evidence-lineage.md
  mkdocs.yml
Due: none

Harden auth and ledger boundaries
  apps/backend/src/boot.py
  apps/backend/src/routers/users.py
  apps/backend/src/services/accounting.py
  apps/backend/tests/accounting/test_accounting_integration.py
  apps/backend/tests/auth/test_users_router.py
  apps/backend/tests/infra/test_boot.py
  apps/frontend/next.config.mjs
  apps/frontend/src/__tests__/api-urls.test.ts
  docs/project/EPIC-001.phase0-setup.md
  docs/project/EPIC-002.double-entry-core.md
  docs/ssot/accounting.md
  docs/ssot/auth.md
Due: frontend-lint

Refresh API reference for protected users routes
  docs/reference/api.md
Due: none

[finance_report_vision] Add Advisor Brief UX (#727)
  apps/backend/src/routers/chat.py
  apps/backend/tests/ai/test_chat_router.py
  apps/frontend/playwright/advisor-brief.spec.ts
  apps/frontend/src/__tests__/advisorBrief.test.tsx
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/components/ChatPanel.tsx
  apps/frontend/src/components/advisor/AdvisorBrief.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-021.application-ai-advisor.md
  docs/reference/api.md
  docs/ssot/ai.md
Due: frontend-lint

Harden review workflow gates
  apps/backend/migrations/versions/0025_add_review_run_scope.py
  apps/backend/src/models/consistency_check.py
  apps/backend/src/models/reconciliation.py
  apps/backend/src/routers/reports.py
  apps/backend/src/routers/review.py
  apps/backend/src/schemas/review.py
  apps/backend/src/services/consistency_checks.py
  apps/backend/src/services/review_queue.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/api/test_statements_router.py
  apps/frontend/src/__tests__/TransactionTable.test.tsx
  apps/frontend/src/__tests__/accountFormModalComponent.test.tsx
  apps/frontend/src/__tests__/accountsPage.test.tsx
  apps/frontend/src/__tests__/detailViewComponents.test.tsx
  apps/frontend/src/__tests__/epic016Components.test.tsx
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/reviewRunPage.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/__tests__/types.test.ts
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/BalanceIndicator.tsx
  apps/frontend/src/components/review/ReviewActionBar.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/reference/api.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/frontend-patterns.md
  docs/ssot/reporting.md
  docs/ssot/schema.md
  docs/ssot/workflow-events.md
Due: validate-schemas, frontend-lint

Restore security coverage baseline
  apps/backend/tests/accounting/test_accounting.py
  apps/backend/tests/accounting/test_accounting_integration.py
  apps/backend/tests/auth/test_users_router.py
  apps/backend/tests/infra/test_boot.py
Due: none

Integrate evidence graph traceability
  apps/backend/src/routers/reports.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/evidence_graph_integration.py
  apps/backend/src/services/review_queue.py
  apps/backend/src/services/statement_parsing.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_dual_write_layer2.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/ssot/evidence-lineage.md
Due: none

Force redeploy existing PR previews
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

Integrate evidence graph traceability (#730)
  apps/backend/src/routers/reports.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/evidence_graph_integration.py
  apps/backend/src/services/review_queue.py
  apps/backend/src/services/statement_parsing.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_dual_write_layer2.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/ssot/evidence-lineage.md
Due: none

Fix review run migration order
  apps/backend/migrations/versions/0026_add_review_run_scope.py
Due: none

Recreate existing PR preview compose on deploy
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

Add backend coverage for review hardening
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_statements_router.py
Due: none

Add evidence graph navigation tests
  apps/backend/tests/api/test_evidence_lineage_router.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/ssot/evidence-lineage.md
Due: frontend-lint

Implement evidence graph navigation
  apps/backend/src/main.py
  apps/backend/src/routers/__init__.py
  apps/backend/src/routers/evidence.py
  apps/backend/src/schemas/evidence.py
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/lib/types.ts
  docs/reference/api.md
Due: validate-schemas, frontend-lint

Start PR preview compose after deploy
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

Stabilize review hardening tests
  apps/backend/tests/api/test_statements_router.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
Due: frontend-lint

Cover evidence lineage panel states
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
Due: frontend-lint

Revert "Force redeploy existing PR previews"
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none

[finance_report_audit] Add Evidence Graph navigation (#734)
  apps/backend/src/main.py
  apps/backend/src/routers/__init__.py
  apps/backend/src/routers/evidence.py
  apps/backend/src/schemas/evidence.py
  apps/backend/tests/api/test_evidence_lineage_router.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/reference/api.md
  docs/ssot/evidence-lineage.md
Due: validate-schemas, frontend-lint

[finance_report_hacker] Harden auth and ledger boundaries (#728)
  apps/backend/src/boot.py
  apps/backend/src/routers/users.py
  apps/backend/src/services/accounting.py
  apps/backend/tests/accounting/test_accounting.py
  apps/backend/tests/accounting/test_accounting_integration.py
  apps/backend/tests/auth/test_users_router.py
  apps/backend/tests/infra/test_boot.py
  apps/frontend/next.config.mjs
  apps/frontend/src/__tests__/api-urls.test.ts
  docs/project/EPIC-001.phase0-setup.md
  docs/project/EPIC-002.double-entry-core.md
  docs/reference/api.md
  docs/ssot/accounting.md
  docs/ssot/auth.md
Due: frontend-lint

Harden PR preview stop failures
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle.py
Due: none
