Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

fix(frontend): resolve review findings and enforce strict wire ssot (#1985)
  apps/frontend/src/__tests__/detailViewComponents.test.tsx
  apps/frontend/src/__tests__/normalizers.test.ts
  apps/frontend/src/hooks/usePersonalReportPackage.ts
  apps/frontend/src/lib/aiModels.ts
  apps/frontend/src/lib/normalizers.ts
  apps/frontend/src/lib/types.ts
  tests/tooling/test_fe_wire_type_ssot.py
Due: frontend-lint

[domain_architecture_deepening] feat(frontend): bifurcate wire dto aliases and view models (#1985) (#2103)
  apps/frontend/src/__tests__/detailViewComponents.test.tsx
  apps/frontend/src/__tests__/normalizers.test.ts
  apps/frontend/src/components/reports/package/PackageChrome.tsx
  apps/frontend/src/components/reports/package/PackageReadinessSections.tsx
  apps/frontend/src/components/reports/package/shared.tsx
  apps/frontend/src/hooks/usePersonalReportPackage.ts
  apps/frontend/src/lib/aiModels.ts
  apps/frontend/src/lib/normalizers.ts
  apps/frontend/src/lib/types.ts
  tests/tooling/test_fe_wire_type_ssot.py
Due: frontend-lint

[domain_architecture_deepening] feat(runtime): settings safe empty env resolution and consumer proofs (#2032)
  .github/workflows/ci.yml
  apps/backend/src/config.py
  apps/backend/tests/infra/test_config.py
  common/meta/extension/consumer_proofs.py
  common/runtime/contract.py
  tools/generate_consumer_proofs.py
Due: check-env-keys, validate-schemas

[domain_architecture_deepening] test(runtime): add test_consumer_proofs and cover empty kwarg validators (#2032)
  apps/backend/tests/infra/test_config.py
  tests/tooling/test_consumer_proofs.py
Due: none

[domain_architecture_deepening] refactor(runtime): address review feedback on consumer proofs and alias resolution (#2032)
  apps/backend/src/config.py
  apps/backend/tests/infra/test_config.py
  common/meta/extension/consumer_proofs.py
  common/runtime/contract.py
Due: check-env-keys, validate-schemas

[business_flow_advancement] fix(frontend): resolve dogfooding regressions in sankey, report filters, and pdf preview (#2107)
  apps/frontend/src/__tests__/reviewPages.test.tsx
  apps/frontend/src/__tests__/sankeyChartComponent.test.tsx
  apps/frontend/src/__tests__/useReportFilters.test.ts
  apps/frontend/src/components/charts/SankeyChart.tsx
  apps/frontend/src/components/review/PdfPreviewPane.tsx
  apps/frontend/src/hooks/useReportFilters.ts
Due: frontend-lint

[domain_architecture_deepening] fix(ci): execute consumer proofs with uv pydantic and add AST fallback (#2032)
  .github/workflows/ci.yml
  common/meta/extension/consumer_proofs.py
Due: none

[domain_architecture_deepening] test(tooling): remove mirror assertion patterns in test_consumer_proofs (#2032)
  tests/tooling/test_consumer_proofs.py
Due: none

fix(frontend): harden sankey link keys with NUL delimiter and treat empty query params as absent
  apps/frontend/src/__tests__/sankeyChartComponent.test.tsx
  apps/frontend/src/__tests__/useReportFilters.test.ts
  apps/frontend/src/components/charts/SankeyChart.tsx
  apps/frontend/src/hooks/useReportFilters.ts
Due: frontend-lint

[business_flow_advancement] fix(frontend): resolve dogfooding regressions in sankey, report filters, and pdf preview (#2107) (#2108)
  apps/frontend/src/__tests__/reviewPages.test.tsx
  apps/frontend/src/__tests__/sankeyChartComponent.test.tsx
  apps/frontend/src/__tests__/useReportFilters.test.ts
  apps/frontend/src/components/charts/SankeyChart.tsx
  apps/frontend/src/components/review/PdfPreviewPane.tsx
  apps/frontend/src/hooks/useReportFilters.ts
Due: frontend-lint

fix(config): restore original settings instance in test_config reload test
  apps/backend/tests/infra/test_config.py
Due: none

test(coverage): ensure 100% diff coverage across consumer_proofs and config fallback branches
  apps/backend/tests/infra/test_config.py
  common/meta/extension/consumer_proofs.py
  tests/tooling/test_consumer_proofs.py
Due: none

[domain_architecture_deepening] feat(runtime): settings safe empty env resolution and consumer proofs (#2032) (#2106)
  .github/workflows/ci.yml
  apps/backend/src/config.py
  apps/backend/tests/infra/test_config.py
  common/meta/extension/consumer_proofs.py
  common/runtime/contract.py
  tests/tooling/test_consumer_proofs.py
  tools/generate_consumer_proofs.py
Due: check-env-keys, validate-schemas

feat(ledger): in-transit isolation and authority boundary defense (#2052)
  apps/backend/src/extraction/extension/review_queue.py
  apps/backend/src/ledger/__init__.py
  apps/backend/src/ledger/base/__init__.py
  apps/backend/src/ledger/base/validators.py
  apps/backend/src/ledger/extension/repository.py
  apps/backend/tests/ledger/test_ledger_authority_boundary.py
  common/ledger/contract.py
  common/ledger/readme.md
Due: none

fix(ledger): address copilot review on AC traceability, exception handling, and protocol typing (#2052)
  apps/backend/src/ledger/base/validators.py
  apps/backend/src/ledger/extension/repository.py
  apps/backend/tests/ledger/test_ledger_authority_boundary.py
  common/ledger/contract.py
Due: none

[domain_architecture_deepening] feat(ledger): in-transit isolation and authority boundary defense (#2052) (#2109)
  apps/backend/src/extraction/extension/review_queue.py
  apps/backend/src/ledger/__init__.py
  apps/backend/src/ledger/base/__init__.py
  apps/backend/src/ledger/base/validators.py
  apps/backend/src/ledger/extension/repository.py
  apps/backend/tests/ledger/test_ledger_authority_boundary.py
  common/ledger/contract.py
  common/ledger/readme.md
Due: none

[exhaustive_governance_ratchet] fix(security): untrack .claude/settings.json and gitignore symlinks (#2105)
  .claude/settings.json
  .gitignore
  tests/tooling/test_agent_runtime_symlinks.py
Due: none

[ci_stability_gate_hardening] feat(ci): mechanize main-only CI job rehearsal and failure isolation (#1811)
  .github/workflows/ci.yml
  common/meta/extension/workflow_contract.py
  common/runtime/release_images.py
  common/testing/contract.py
  common/testing/evidence_bundle.py
  common/testing/unified_coverage_baseline_pr.py
  tests/tooling/test_workflow_contract.py
  tools/open_unified_coverage_baseline_pr.py
Due: none

[exhaustive_governance_ratchet] fix(testing): resolve review comments on claude settings hygiene (#2105)
  tests/tooling/test_agent_runtime_symlinks.py
Due: none

[ci_stability_gate_hardening] test(testing): assert coverage baseline PR tool invocation and implementation (#1811)
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[exhaustive_governance_ratchet] fix(security): untrack .claude/settings.json and gitignore symlinks (#2105) (#2110)
  .claude/settings.json
  .gitignore
  tests/tooling/test_agent_runtime_symlinks.py
Due: none

[ci_stability_gate_hardening] fix(ci): bound rehearsal execution with timeout and require continue-on-error on run step (#1811)
  common/meta/extension/workflow_contract.py
  tests/tooling/test_workflow_contract.py
Due: none

test(tooling): add test coverage for rehearsal CLI entrypoints and workflow contract edge cases
  tests/tooling/test_evidence_bundle.py
  tests/tooling/test_verify_release_images.py
  tests/tooling/test_workflow_contract.py
Due: none

[exhaustive_governance_ratchet] feat(meta): make app and frontend governance discovery exhaustive (#1984)
  common/meta/contract.py
  common/meta/data/governance-ratchet-baseline.json
  common/meta/extension/dependency_report.py
  common/meta/extension/governance_census.py
  common/meta/extension/governance_control_report.py
  common/meta/extension/governance_detector.py
  common/testing/package_governance.py
  tests/tooling/test_governance_ratchet.py
  tools/report_package_governance.py
Due: none

fix(ci): install pyyaml before evidence bundle rehearsal and defer eager import in check_ac_tier_baseline
  .github/workflows/ci.yml
  common/meta/extension/check_ac_tier_baseline.py
Due: none

[ci_stability_gate_hardening] feat(ci): mechanize main-only CI job rehearsal and failure isolation (#1811) (#2111)
  .github/workflows/ci.yml
  common/meta/extension/check_ac_tier_baseline.py
  common/meta/extension/workflow_contract.py
  common/runtime/release_images.py
  common/testing/contract.py
  common/testing/evidence_bundle.py
  common/testing/unified_coverage_baseline_pr.py
  tests/tooling/test_evidence_bundle.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_verify_release_images.py
  tests/tooling/test_workflow_contract.py
  tools/open_unified_coverage_baseline_pr.py
Due: none

[exhaustive_governance_ratchet] fix(testing): allow package detector payloads for app-and-frontend-governance (#1984)
  common/testing/package_governance_observations.py
  tests/tooling/test_package_governance_observations.py
Due: none

[exhaustive_governance_ratchet] fix(governance): address review feedback on re-export lint and census error visibility (#1984)
  common/testing/package_governance.py
  tools/report_package_governance.py
Due: none

[exhaustive_governance_ratchet] feat(meta): make app and frontend governance discovery exhaustive (#1984) (#2112)
  common/meta/contract.py
  common/meta/data/governance-ratchet-baseline.json
  common/meta/extension/dependency_report.py
  common/meta/extension/governance_census.py
  common/meta/extension/governance_control_report.py
  common/meta/extension/governance_detector.py
  common/testing/package_governance.py
  common/testing/package_governance_observations.py
  tests/tooling/test_governance_ratchet.py
  tests/tooling/test_package_governance_observations.py
  tools/report_package_governance.py
Due: none

[ci_stability_gate_hardening] feat(testing): machine-attribute staging AI/OCR gate reds and auto-close (#1806)
  .github/workflows/staging-ai-ocr-gate.yml
  common/testing/contract.py
  common/testing/staging_ai_ocr_gate_contract.py
  tests/tooling/test_staging_ai_ocr_gate_contract.py
Due: none

[ci_stability_gate_hardening] feat(testing): machine-attribute staging AI/OCR gate reds and auto-close (#1806) (#2113)
  .github/workflows/staging-ai-ocr-gate.yml
  common/testing/contract.py
  common/testing/staging_ai_ocr_gate_contract.py
  tests/tooling/test_staging_ai_ocr_gate_contract.py
Due: none

[function_level_audit] fix: resolve audit findings across timezone handling, tenant filtering, test fidelity, and dead code (#2116)
  apps/backend/src/extraction/extension/deduplication.py
  apps/backend/src/reporting/extension/reporting_snapshot.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/extraction/test_account_last4_defense.py
  apps/backend/tests/extraction/test_dual_write_layer2.py
  apps/backend/tests/infra/test_ci_config.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  apps/backend/tests/reconciliation/test_performance.py
  apps/backend/tests/reporting/test_reporting_snapshot.py
  apps/backend/tests/runtime/test_env_guardrail.py
  apps/frontend/openapi.json
Due: none

[function_level_audit] fix: support optional user_id in _load_transactions for short-circuit seams
  apps/backend/src/routers/reconciliation.py
  apps/backend/tests/unit/test_1675_denavigation_seams.py
Due: none

[fe_modularization_audit_ssot] refactor(frontend): decouple layer boundaries, pay down fetch ratchet, and de-godfile review page (#2117)
  apps/frontend/frontend-patterns.md
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/SourceEnvelopeConfirmation.tsx
  apps/frontend/src/lib/statusLabels.ts
  common/meta/contract.py
  common/testing/fe-fetch-ratchet-baseline.json
  tests/tooling/test_fe_layer_boundaries.py
Due: frontend-lint

[function_level_audit] fix: resolve audit findings across timezone handling, tenant filtering, test fidelity, and dead code (#2116) (#2118)
  apps/backend/src/extraction/extension/deduplication.py
  apps/backend/src/reporting/extension/reporting_snapshot.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/extraction/test_account_last4_defense.py
  apps/backend/tests/extraction/test_dual_write_layer2.py
  apps/backend/tests/infra/test_ci_config.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  apps/backend/tests/reconciliation/test_performance.py
  apps/backend/tests/reporting/test_reporting_snapshot.py
  apps/backend/tests/runtime/test_env_guardrail.py
  apps/backend/tests/unit/test_1675_denavigation_seams.py
  apps/frontend/openapi.json
Due: none

[fe_modularization_audit_ssot] fix(frontend): remove unused React import and align layer boundary documentation (#2117)
  apps/frontend/frontend-patterns.md
  apps/frontend/src/components/review/SourceEnvelopeConfirmation.tsx
Due: frontend-lint

[fe_modularization_audit_ssot] refactor(frontend): decouple layer boundaries, pay down fetch ratchet, and de-godfile review page (#2117) (#2120)
  apps/frontend/frontend-patterns.md
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/SourceEnvelopeConfirmation.tsx
  apps/frontend/src/lib/statusLabels.ts
  common/meta/contract.py
  common/testing/fe-fetch-ratchet-baseline.json
  tests/tooling/test_fe_layer_boundaries.py
Due: frontend-lint

Generate agent rules from the shared rule source
  .ws-publish/manifest.json
  AGENTS.md
Due: none

[finance_report_issue2114_agent-rules] Generate agent rules from the shared rule source (#2115)
  .ws-publish/manifest.json
  AGENTS.md
Due: none

[function_level_audit] fix: resolve round 2 audit findings across tenant isolation, test fidelity, and DDL utility SSOT (#2121)
  apps/backend/src/database.py
  apps/backend/src/extraction/orm/evidence.py
  apps/backend/src/ledger/orm/journal.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/statements.py
  apps/backend/tests/api/test_journal_router.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_account_last4_defense.py
  apps/backend/tests/infra/test_database.py
  apps/backend/tests/reporting/test_reporting_helpers.py
  apps/backend/tests/schemas/test_api_response_vectors.py
Due: none
