Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

[finance_report_ui] fix(fe): address Copilot review — a11y labels, button type, NBSP regex (CR #1131)
  apps/frontend/src/app/(main)/reports/package/_components/helpers.ts
  apps/frontend/src/components/review/stage2/PendingMatchesPanel.tsx
  apps/frontend/src/components/review/stage2/ResolveCheckDialog.tsx
  apps/frontend/src/components/review/stage2/Stage2Filters.tsx
Due: frontend-lint

chore(#896): register 0040 in migration-risk manifest
  docs/ssot/migration-risk.yaml
Due: none

[finance_report_ui] fix(analytics): preserve UUID ids in PII guard; move taxonomy out of thin README (CI + CR #1133)
  apps/frontend/README.md
  apps/frontend/src/__tests__/analyticsTrack.test.ts
  apps/frontend/src/lib/analytics.ts
  docs/reference/analytics-events.md
Due: frontend-lint

[finance_report_test_and_doc] refactor(frontend): shrink oversized FE files (types.ts dedup + package page split) (#1132)
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/components/reports/package/PackageChrome.tsx
  apps/frontend/src/components/reports/package/PackageReadinessSections.tsx
  apps/frontend/src/components/reports/package/PackageScheduleSections.tsx
  apps/frontend/src/components/reports/package/PackageSnapshotsCard.tsx
  apps/frontend/src/components/reports/package/PackageTraceability.tsx
  apps/frontend/src/components/reports/package/shared.tsx
  apps/frontend/src/lib/types.ts
Due: frontend-lint

[finance_report_audit] chore(#896): retire legacy bank_statement source_type (#1137)
  apps/backend/migrations/versions/0040_retire_bank_stmt_source.py
  apps/backend/src/models/journal.py
  apps/backend/src/routers/reports.py
  apps/backend/src/services/reporting.py
  apps/backend/src/services/source_type_priority.py
  apps/backend/tests/accounting/test_accounting_integration.py
  apps/backend/tests/accounting/test_core_unit_coverage.py
  apps/backend/tests/api/test_audit_router.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/infra/test_migrations.py
  apps/backend/tests/services/test_confidence_tier.py
  apps/backend/tests/unit/services/test_source_type_priority.py
  docs/ssot/migration-risk.yaml
Due: none

[finance_report_hacker] fix(#1099 PR1/3): migrate E2E lifecycle approve to /review/approve (CI)
  apps/backend/tests/e2e/test_core_journeys.py
Due: none

[finance_report_ui] docs: register analytics-events reference in mkdocs nav (CI check11)
  mkdocs.yml
Due: none

docs(#896): sync SSOT for retired bank_statement source_type
  docs/ssot/accounting.md
  docs/ssot/source-type-priority.md
Due: none

[finance_report_ui] fix(home): one /attention queue + composable dashboard hooks (#1116, #1119) (#1130)
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/useAssetTrend.test.ts
  apps/frontend/src/__tests__/useDashboardData.test.ts
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/hooks/dashboard/useAssetTrend.ts
  apps/frontend/src/hooks/dashboard/useDashboardSnapshot.ts
  apps/frontend/src/hooks/useDashboardData.ts
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

[finance_report_hacker] fix(#1099 PR1/3): remove deprecated statement endpoints + lock API-surface tag invariant (AC12.29.4/.5) (#1134)
  apps/backend/src/routers/statements.py
  apps/backend/tests/api/test_api_surface_consistency.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/e2e/test_core_journeys.py
  apps/backend/tests/extraction/test_statements_supervisor_errors.py
  apps/backend/tests/infra/test_main.py
  apps/frontend/openapi.json
  docs/project/EPIC-012.foundation-libs.md
  docs/reference/api.md
  docs/reference/router-contract-maturity.md
Due: none

[finance_report_hacker] fix(#1099 PR2/3): deterministic ORDER BY for offset pagination (CR)
  apps/backend/src/routers/assets.py
  apps/backend/src/routers/reports.py
Due: none

[finance_report_hacker] feat(#1099 PR2/3): shared PaginationParams dependency + bound the 3 unbounded list endpoints (AC12.29.2/.3)
  apps/backend/src/deps.py
  apps/backend/src/routers/assets.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/reports.py
  apps/backend/tests/api/test_api_surface_consistency.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
  apps/frontend/openapi.json
  docs/project/EPIC-012.foundation-libs.md
  docs/reference/api.md
  docs/reference/router-contract-maturity.md
Due: none

docs(#896): sync SSOT for retired bank_statement source_type (#1138)
  docs/ssot/accounting.md
  docs/ssot/source-type-priority.md
Due: none

[finance_report_hacker] chore(#1099 PR2/3): regenerate OpenAPI artifacts after rebase onto main
  apps/frontend/openapi.json
  docs/reference/router-contract-maturity.md
Due: none

[finance_report_hacker] refactor(#1099 PR3/3): status codes use status.HTTP_* constants; document synchronous 200s (AC12.29.1/.6)
  apps/backend/src/routers/corrections.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/review.py
  apps/backend/src/routers/statements.py
  apps/backend/tests/api/test_api_surface_consistency.py
  docs/project/EPIC-012.foundation-libs.md
  docs/reference/router-contract-maturity.md
Due: none

[finance_report_ui] fix(test): use uppercase AccountType literal in dashboard tests
  apps/frontend/src/__tests__/useAssetTrend.test.ts
  apps/frontend/src/__tests__/useDashboardData.test.ts
Due: frontend-lint

[finance_report_ui] fix(fe): add type="button" to StatementHeader action buttons (CR #1131)
  apps/frontend/src/app/(main)/statements/[id]/_components/StatementHeader.tsx
Due: frontend-lint

refactor(backend): split reports router god-file into data + service modules
  apps/backend/src/constants/report_package.py
  apps/backend/src/routers/reports.py
  apps/backend/src/services/annualized_income.py
  apps/backend/src/services/report_package.py
  apps/backend/src/services/report_traceability.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  docs/reference/router-contract-maturity.md
Due: none

fix(frontend): uppercase account type in useAssetTrend test mocks
  apps/frontend/src/__tests__/useAssetTrend.test.ts
Due: frontend-lint

[finance_report_ui] fix(test): use uppercase AccountType literal in dashboard tests (#1144)
  apps/frontend/src/__tests__/useAssetTrend.test.ts
  apps/frontend/src/__tests__/useDashboardData.test.ts
Due: frontend-lint

[finance_report_test_and_doc] refactor(backend): split reports router god-file into data + service modules (#1143)
  apps/backend/src/constants/report_package.py
  apps/backend/src/routers/reports.py
  apps/backend/src/services/annualized_income.py
  apps/backend/src/services/report_package.py
  apps/backend/src/services/report_traceability.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  docs/reference/router-contract-maturity.md
Due: none

[finance_report_ui] refactor(fe): decompose god-components into co-located sub-components (#1117) (#1131)
  apps/frontend/src/__tests__/stage2ReviewQueueParts.test.tsx
  apps/frontend/src/__tests__/statementDetailParts.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/_components/BrokerageImportResultBanner.tsx
  apps/frontend/src/app/(main)/statements/[id]/_components/StatementHeader.tsx
  apps/frontend/src/app/(main)/statements/[id]/_components/StatementSummaryCards.tsx
  apps/frontend/src/app/(main)/statements/[id]/_components/StatementTransactionsTable.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/components/review/stage2/ConsistencyChecksPanel.tsx
  apps/frontend/src/components/review/stage2/PendingMatchesPanel.tsx
  apps/frontend/src/components/review/stage2/ResolveCheckDialog.tsx
  apps/frontend/src/components/review/stage2/RunSummaryPanel.tsx
  apps/frontend/src/components/review/stage2/Stage2Filters.tsx
  apps/frontend/src/components/review/stage2/types.ts
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

[finance_report_hacker] feat(#1099 PR2/3): shared PaginationParams dependency + bound the 3 unbounded list endpoints (AC12.29.2/.3)
  apps/backend/src/deps.py
  apps/backend/src/routers/assets.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/reports.py
  apps/backend/tests/api/test_api_surface_consistency.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
  apps/frontend/openapi.json
  docs/project/EPIC-012.foundation-libs.md
  docs/reference/api.md
Due: none

[finance_report_hacker] refactor(#1099 PR3/3): status codes use status.HTTP_* constants; document synchronous 200s (AC12.29.1/.6) (#1136)
  apps/backend/src/routers/corrections.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/review.py
  apps/backend/src/routers/statements.py
  apps/backend/tests/api/test_api_surface_consistency.py
  docs/project/EPIC-012.foundation-libs.md
  docs/reference/router-contract-maturity.md
Due: none

[finance_report_hacker] chore(#1099): regenerate router-contract doc after rebase onto main (#1143 reports split)
  docs/reference/router-contract-maturity.md
Due: none

[finance_report_hacker] docs(#1099 PR2/3): correct PaginationParams convention comment (CR)
  apps/backend/src/deps.py
Due: none

[finance_report_hacker] feat(#1099 PR2/3): shared PaginationParams dependency + bound 3 unbounded list endpoints (AC12.29.2/.3) (#1135)
  apps/backend/src/deps.py
  apps/backend/src/routers/assets.py
  apps/backend/src/routers/corrections.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/reports.py
  apps/backend/src/routers/review.py
  apps/backend/src/routers/statements.py
  apps/backend/tests/api/test_api_surface_consistency.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
  apps/frontend/openapi.json
  docs/project/EPIC-012.foundation-libs.md
  docs/reference/api.md
  docs/reference/router-contract-maturity.md
Due: none

[finance_report_ui] feat(analytics)+cleanup(nav): product-funnel instrumentation; retire /events alias (#1109, #1118) (#1133)
  apps/frontend/README.md
  apps/frontend/src/__tests__/StatementUploader.test.tsx
  apps/frontend/src/__tests__/analyticsTrack.test.ts
  apps/frontend/src/__tests__/loginPage.test.tsx
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/app/login/page.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/components/statements/StatementUploader.tsx
  apps/frontend/src/lib/analytics.ts
  docs/project/EPIC-022.everyday-user-ia.md
  docs/reference/analytics-events.md
  mkdocs.yml
Due: frontend-lint

refactor(portfolio): dedup P&L/dividend aggregation + extract report-schedule service
  apps/backend/src/routers/portfolio.py
  apps/backend/src/services/performance_report.py
  apps/backend/src/services/portfolio.py
  apps/backend/tests/portfolio/test_financial_logic_audit.py
Due: none

refactor(reporting): collapse triple-duplicated cash-flow query/convert loops
  apps/backend/src/services/reporting.py
Due: none

refactor(statements): extract brokerage import-payload helpers to a service
  apps/backend/src/routers/statements.py
  apps/backend/src/services/brokerage_statement_payload.py
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  apps/backend/tests/portfolio/test_financial_logic_audit.py
  docs/reference/router-contract-maturity.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_test_and_doc] refactor(backend): dedup + de-layer portfolio / reporting / statements (#1145)
  apps/backend/src/routers/portfolio.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/brokerage_statement_payload.py
  apps/backend/src/services/performance_report.py
  apps/backend/src/services/portfolio.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  apps/backend/tests/portfolio/test_financial_logic_audit.py
  docs/reference/router-contract-maturity.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

fix(statements): resolve balance-mismatch lifecycle dead-end + sync CSV intake (#1141)
  apps/backend/src/routers/statements.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/validation.py
  apps/backend/tests/accounting/test_validation.py
  apps/backend/tests/ai/test_models_repr.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_extraction_determinism.py
  apps/backend/tests/extraction/test_pdf_parsing.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/extraction.md
Due: none

test(assurance): promote double-entry balance-equality AC2.2.1 to L2/L3 (#1103)
  apps/backend/tests/accounting/test_accounting.py
  docs/ssot/ac-score-baseline.jsonl
Due: none

feat(extraction): running-balance chain-break detector + repair-pass hook (#1140)
  apps/backend/src/services/chain_repair.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/validation.py
  apps/backend/tests/extraction/test_chain_break_repair.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/extraction.md
Due: none

refactor(services): DRY workflow-event payload builders + asset valuation key query
  apps/backend/src/services/assets.py
  apps/backend/src/services/workflow_events.py
Due: none

feat(extraction): wire brokerage position extraction + import (#1139)
  apps/backend/src/prompts/__init__.py
  apps/backend/src/prompts/statement.py
  apps/backend/src/services/brokerage_positions.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/statement_parsing.py
  apps/backend/tests/extraction/test_brokerage_position_extraction_wiring.py
  apps/backend/tests/fixtures/moomoo-positions-table_parsed.json
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/extraction.md
Due: none

feat(reconciliation): per-currency statement balances + per-currency reconcile (#1123)
  apps/backend/migrations/versions/0041_stmt_currency_balances.py
  apps/backend/src/models/statement_summary.py
  apps/backend/src/schemas/extraction.py
  apps/backend/src/services/validation.py
  apps/backend/tests/accounting/test_validation.py
  apps/backend/tests/extraction/test_statement_summary_conform.py
  docs/project/EPIC-004.reconciliation-engine.md
  docs/ssot/extraction.md
  docs/ssot/reconciliation.md
Due: validate-schemas

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
