Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

test: cover portfolio model repr and boot FULL-mode error path to restore coverage baseline
  apps/backend/tests/ai/test_models_repr.py
Due: none

refactor(infra): remove Redis dependency, use pure in-memory rate limiting (#325)
  .env.example
  .github/workflows/pr-test.yml
  apps/backend/pyproject.toml
  apps/backend/src/boot.py
  apps/backend/src/config.py
  apps/backend/src/main.py
  apps/backend/src/rate_limit.py
  apps/backend/tests/ai/test_models_repr.py
  apps/backend/tests/conftest.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_epic_001_contracts.py
  apps/backend/tests/infra/test_main.py
  apps/backend/tests/infra/test_rate_limit.py
  apps/backend/tests/infra/test_rate_limit_redis.py
  apps/backend/uv.lock
  docker-compose.yml
  scripts/cleanup_dev_resources.sh
  scripts/debug.py
  scripts/dev_backend.py
  scripts/infra.sh
  scripts/smoke_test.sh
  scripts/tests/test_debug.py
Due: check-env-keys, validate-schemas

fix(ui): address Round 2 CR feedback — AC ID conflicts, stale closure, progressbar ARIA, consent race
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/confirmDialogComponent.test.tsx
  apps/frontend/src/__tests__/loginPage.test.tsx
  apps/frontend/src/app/(main)/statements/page.tsx
  apps/frontend/src/components/ChatPageClient.tsx
  apps/frontend/src/hooks/useFocusTrap.ts
  docs/infra_registry.yaml
Due: frontend-lint

fix(ui): address PR #324 code review comments
  apps/frontend/src/__tests__/ChatWidget.test.tsx
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/confirmDialogComponent.test.tsx
  apps/frontend/src/__tests__/date.test.ts
  apps/frontend/src/__tests__/loginPage.test.tsx
  apps/frontend/src/__tests__/shellAndAuth.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/statements/page.tsx
  apps/frontend/src/components/AppShell.tsx
  apps/frontend/src/components/ChatPageClient.tsx
  apps/frontend/src/components/ChatWidget.tsx
  apps/frontend/src/components/accounts/AccountFormModal.tsx
  apps/frontend/src/components/journal/JournalEntryForm.tsx
  apps/frontend/src/components/reconciliation/Workbench.tsx
  apps/frontend/src/components/ui/ConfirmDialog.tsx
  apps/frontend/src/hooks/useFocusTrap.ts
  apps/frontend/src/lib/date.ts
Due: frontend-lint

fix(ui): resolve 19 Critical/High UI/UX audit issues (Round 2)
  apps/frontend/src/__tests__/assetsPage.test.tsx
  apps/frontend/src/__tests__/chartsComponents.test.tsx
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/confirmDialogComponent.test.tsx
  apps/frontend/src/__tests__/date.test.ts
  apps/frontend/src/__tests__/loginPage.test.tsx
  apps/frontend/src/__tests__/shellAndAuth.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/app/(main)/statements/page.tsx
  apps/frontend/src/app/login/page.tsx
  apps/frontend/src/components/AppShell.tsx
  apps/frontend/src/components/AuthGuard.tsx
  apps/frontend/src/components/ChatPageClient.tsx
  apps/frontend/src/components/ChatPanel.tsx
  apps/frontend/src/components/ChatWidget.tsx
  apps/frontend/src/components/WorkspaceTabs.tsx
  apps/frontend/src/components/accounts/AccountFormModal.tsx
  apps/frontend/src/components/charts/PieChart.tsx
  apps/frontend/src/components/journal/JournalEntryForm.tsx
  apps/frontend/src/components/reconciliation/Workbench.tsx
  apps/frontend/src/components/statements/StatementUploader.tsx
  apps/frontend/src/components/ui/ConfirmDialog.tsx
  apps/frontend/src/lib/date.ts
Due: frontend-lint

test(ui): add coverage tests for focus trap, chat panel errors, and widget escape
  apps/frontend/src/__tests__/ChatPageClient.test.tsx
  apps/frontend/src/__tests__/ChatWidget.test.tsx
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/confirmDialogComponent.test.tsx
Due: frontend-lint

fix(e2e): use exact=True for Password label to avoid ambiguity with Show password button
  tests/e2e/test_auth_flows.py
  tests/e2e/test_e2e_flows.py
Due: none

fix(ui): resolve 19 Critical/High UI/UX audit issues (Round 2) (#324)
  apps/frontend/src/__tests__/ChatPageClient.test.tsx
  apps/frontend/src/__tests__/ChatWidget.test.tsx
  apps/frontend/src/__tests__/assetsPage.test.tsx
  apps/frontend/src/__tests__/chartsComponents.test.tsx
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/confirmDialogComponent.test.tsx
  apps/frontend/src/__tests__/date.test.ts
  apps/frontend/src/__tests__/loginPage.test.tsx
  apps/frontend/src/__tests__/shellAndAuth.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/app/(main)/statements/page.tsx
  apps/frontend/src/app/login/page.tsx
  apps/frontend/src/components/AuthGuard.tsx
  apps/frontend/src/components/ChatPageClient.tsx
  apps/frontend/src/components/ChatPanel.tsx
  apps/frontend/src/components/ChatWidget.tsx
  apps/frontend/src/components/WorkspaceTabs.tsx
  apps/frontend/src/components/accounts/AccountFormModal.tsx
  apps/frontend/src/components/charts/PieChart.tsx
  apps/frontend/src/components/journal/JournalEntryForm.tsx
  apps/frontend/src/components/reconciliation/Workbench.tsx
  apps/frontend/src/components/statements/StatementUploader.tsx
  apps/frontend/src/components/ui/ConfirmDialog.tsx
  apps/frontend/src/hooks/useFocusTrap.ts
  apps/frontend/src/lib/date.ts
  docs/infra_registry.yaml
  tests/e2e/test_auth_flows.py
  tests/e2e/test_e2e_flows.py
Due: frontend-lint

feat(epic-018): wire AI category classification through extraction and review flow
  .env.example
  apps/backend/migrations/versions/0010_add_ai_category_fields.py
  apps/backend/src/config.py
  apps/backend/src/models/statement.py
  apps/backend/src/prompts/statement.py
  apps/backend/src/schemas/extraction.py
  apps/backend/src/services/classification.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/extraction/test_classification_service.py
  apps/backend/tests/extraction/test_extraction.py
  apps/backend/tests/extraction/test_extraction_flow.py
  apps/backend/tests/reconciliation/test_review_queue.py
  docs/ac_registry.yaml
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/project/README.md
  scripts/generate_ac_registry.py
  vision.md
Due: check-env-keys, validate-schemas

fix(ci): make EPIC-018 migration graph linear
  apps/backend/migrations/versions/0010_add_ai_category_fields.py
Due: none

test(epic-018): close coverage gaps in AI classification flow
  apps/backend/tests/extraction/test_classification_service.py
  apps/backend/tests/reconciliation/test_review_queue.py
Due: none

feat(epic-018): implement phase 1 AI-driven classification pipeline (#326)
  .env.example
  apps/backend/migrations/versions/0010_add_ai_category_fields.py
  apps/backend/src/config.py
  apps/backend/src/models/statement.py
  apps/backend/src/prompts/statement.py
  apps/backend/src/schemas/extraction.py
  apps/backend/src/services/classification.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/extraction/test_classification_service.py
  apps/backend/tests/extraction/test_extraction.py
  apps/backend/tests/extraction/test_extraction_flow.py
  apps/backend/tests/reconciliation/test_review_queue.py
  docs/ac_registry.yaml
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/project/README.md
  scripts/generate_ac_registry.py
  vision.md
Due: check-env-keys, validate-schemas

feat(epic-018): AI Driven Pipeline implementation and CI fixes
  apps/backend/migrations/versions/0014_add_correction_logs.py
  apps/backend/migrations/versions/bc9a8105e644_restore_cascading_fks.py
  apps/backend/pyproject.toml
  apps/backend/src/main.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/base.py
  apps/backend/src/models/correction.py
  apps/backend/src/models/journal.py
  apps/backend/src/prompts/csv_mapping.py
  apps/backend/src/prompts/reconciliation.py
  apps/backend/src/prompts/statement.py
  apps/backend/src/routers/corrections.py
  apps/backend/src/routers/reports.py
  apps/backend/src/services/correction_service.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/reconciliation.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/accounting/test_account_service_unit.py
  apps/backend/tests/conftest.py
  apps/backend/tests/extraction/test_ai_csv_parsing.py
  apps/backend/tests/extraction/test_correction_service.py
  apps/backend/tests/reconciliation/test_ai_reconciliation.py
  apps/backend/tests/reporting/test_reporting_fx_fallbacks.py
  apps/backend/tests/reporting/test_reporting_layer3.py
  apps/backend/tests/review/test_consistency_checks.py
  apps/backend/tests/review/test_statement_validation.py
  docs/ac_registry.yaml
  docs/project/EPIC-018.ai-driven-pipeline.md
  vision.md
Due: none

style: fix ruff format in models/base.py
  apps/backend/src/models/base.py
Due: none

fix: address all 11 Copilot review comments
  apps/backend/migrations/versions/0014_add_correction_logs.py
  apps/backend/migrations/versions/bc9a8105e644_restore_cascading_fks.py
  apps/backend/src/routers/reports.py
  apps/backend/src/services/correction_service.py
  apps/backend/src/services/reconciliation.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  apps/backend/tests/ai/test_models_repr.py
  apps/backend/tests/conftest.py
  apps/backend/tests/extraction/test_correction_service.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/infra/test_rate_limit.py
  apps/backend/tests/reconciliation/test_ai_reconciliation.py
  apps/backend/tests/reporting/test_fx_revaluation.py
  apps/backend/tests/reporting/test_reporting_fx_fallbacks.py
  apps/backend/tests/reporting/test_reporting_layer3.py
Due: none

fix: update unified coverage baseline for new EPIC-018 source files
  unified-coverage.json
Due: none

fix: restore user FK stripping in test DB setup
  apps/backend/tests/conftest.py
Due: none

fix: resolve Alembic fork and schema field mismatch
  apps/backend/migrations/versions/0014_add_correction_logs.py
  apps/backend/src/routers/corrections.py
Due: none

feat(epic-018): AI-Driven Pipeline Implementation & Stabilize CI (#327)
  apps/backend/migrations/versions/0014_add_correction_logs.py
  apps/backend/migrations/versions/bc9a8105e644_restore_cascading_fks.py
  apps/backend/pyproject.toml
  apps/backend/src/main.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/base.py
  apps/backend/src/models/correction.py
  apps/backend/src/models/journal.py
  apps/backend/src/prompts/csv_mapping.py
  apps/backend/src/prompts/reconciliation.py
  apps/backend/src/prompts/statement.py
  apps/backend/src/routers/corrections.py
  apps/backend/src/routers/reports.py
  apps/backend/src/services/correction_service.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/reconciliation.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/accounting/test_account_service_unit.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  apps/backend/tests/ai/test_models_repr.py
  apps/backend/tests/conftest.py
  apps/backend/tests/extraction/test_ai_csv_parsing.py
  apps/backend/tests/extraction/test_correction_service.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/infra/test_rate_limit.py
  apps/backend/tests/reconciliation/test_ai_reconciliation.py
  apps/backend/tests/reporting/test_fx_revaluation.py
  apps/backend/tests/reporting/test_reporting_fx_fallbacks.py
  apps/backend/tests/reporting/test_reporting_layer3.py
  apps/backend/tests/review/test_consistency_checks.py
  apps/backend/tests/review/test_statement_validation.py
  docs/ac_registry.yaml
  docs/project/EPIC-018.ai-driven-pipeline.md
  unified-coverage.json
  vision.md
Due: none

fix(ci): wait for frontend to be ready in smoke tests to prevent 404 race condition
  scripts/smoke_test.sh
Due: none

fix(ci): wait for frontend to be ready in smoke tests to prevent 404 race condition (#328)
  scripts/smoke_test.sh
Due: none

fix: resolve commit boundary violations, add PDF fixtures, add detail views (#182, #206, #198)
  apps/backend/src/routers/chat.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/tests/ai/test_commit_boundary.py
  apps/backend/tests/extraction/test_pdf_fixtures.py
  apps/backend/tests/fixtures/generated/.gitkeep
  apps/backend/tests/fixtures/generated/cmb_statement_fixture.pdf
  apps/backend/tests/fixtures/generated/cmb_statement_fixture_expected.json
  apps/backend/tests/fixtures/generated/dbs_statement_fixture.pdf
  apps/backend/tests/fixtures/generated/dbs_statement_fixture_expected.json
  apps/backend/tests/fixtures/generated/gxs_statement_fixture.pdf
  apps/backend/tests/fixtures/generated/gxs_statement_fixture_expected.json
  apps/backend/tests/fixtures/generated/maribank_statement_fixture.pdf
  apps/backend/tests/fixtures/generated/maribank_statement_fixture_expected.json
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/components/accounts/AccountDetailsSidebar.tsx
  apps/frontend/src/components/journal/JournalEntryDetailsModal.tsx
  apps/frontend/src/components/ui/DetailDialog.tsx
  apps/frontend/src/components/ui/Sheet.tsx
  docs/ssot/accounting.md
  scripts/generate_test_pdfs.py
Due: frontend-lint

fix: add async fixtures and imports to PDF fixture tests for CI compatibility
  apps/backend/tests/extraction/test_pdf_fixtures.py
Due: none

fix: add AsyncMock for db.commit() in chat router tests to match new commit boundary
  apps/backend/tests/ai/test_chat_router.py
Due: none

fix: update test_AC16_13_12 to match rewritten generate_test_pdfs.py API
  scripts/tests/test_lifecycle_and_pdf_scripts.py
Due: none

test: add comprehensive coverage for PDF fixtures and frontend detail views
  apps/frontend/src/__tests__/detailViewComponents.test.tsx
  apps/frontend/src/__tests__/sheetAndDetailDialogComponents.test.tsx
  scripts/tests/test_lifecycle_and_pdf_scripts.py
Due: frontend-lint

fix: resolve ESLint react/display-name error in test wrapper
  apps/frontend/src/__tests__/detailViewComponents.test.tsx
Due: frontend-lint

fix: resolve commit boundary violations, add PDF fixtures, add detail views (#182, #206, #198) (#329)
  apps/backend/src/routers/chat.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/tests/ai/test_chat_router.py
  apps/backend/tests/ai/test_commit_boundary.py
  apps/backend/tests/extraction/test_pdf_fixtures.py
  apps/backend/tests/fixtures/generated/.gitkeep
  apps/backend/tests/fixtures/generated/cmb_statement_fixture.pdf
  apps/backend/tests/fixtures/generated/cmb_statement_fixture_expected.json
  apps/backend/tests/fixtures/generated/dbs_statement_fixture.pdf
  apps/backend/tests/fixtures/generated/dbs_statement_fixture_expected.json
  apps/backend/tests/fixtures/generated/gxs_statement_fixture.pdf
  apps/backend/tests/fixtures/generated/gxs_statement_fixture_expected.json
  apps/backend/tests/fixtures/generated/maribank_statement_fixture.pdf
  apps/backend/tests/fixtures/generated/maribank_statement_fixture_expected.json
  apps/frontend/src/__tests__/detailViewComponents.test.tsx
  apps/frontend/src/__tests__/sheetAndDetailDialogComponents.test.tsx
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/components/accounts/AccountDetailsSidebar.tsx
  apps/frontend/src/components/journal/JournalEntryDetailsModal.tsx
  apps/frontend/src/components/ui/DetailDialog.tsx
  apps/frontend/src/components/ui/Sheet.tsx
  docs/ssot/accounting.md
  scripts/generate_test_pdfs.py
  scripts/tests/test_lifecycle_and_pdf_scripts.py
Due: frontend-lint

feat(epic-016,017): implement portfolio frontend & enhance two-stage review UI
  apps/frontend/src/__tests__/allocationChart.test.tsx
  apps/frontend/src/__tests__/holdingDetailPage.test.tsx
  apps/frontend/src/__tests__/performanceCard.test.tsx
  apps/frontend/src/__tests__/portfolioPage.test.tsx
  apps/frontend/src/__tests__/portfolioPricesPage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/app/(main)/portfolio/[ticker]/page.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/app/(main)/portfolio/prices/page.tsx
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/portfolio/AllocationChart.tsx
  apps/frontend/src/components/portfolio/HoldingsTable.tsx
  apps/frontend/src/components/portfolio/PerformanceCard.tsx
  apps/frontend/src/components/portfolio/PriceUpdateForm.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
Due: frontend-lint

test: add coverage tests to fix CI regression (91.43% >= 91.37% baseline)
  apps/frontend/src/__tests__/ThemeToggle.test.tsx
  apps/frontend/src/__tests__/assetsPage.test.tsx
  apps/frontend/src/__tests__/confirmDialogComponent.test.tsx
  apps/frontend/src/__tests__/holdingDetailPage.test.tsx
  apps/frontend/src/__tests__/holdingsTable.test.tsx
  apps/frontend/src/__tests__/portfolioPricesPage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
Due: frontend-lint

feat(epic-016,017): implement portfolio frontend & enhance two-stage review UI (#330)
  apps/frontend/src/__tests__/ThemeToggle.test.tsx
  apps/frontend/src/__tests__/allocationChart.test.tsx
  apps/frontend/src/__tests__/assetsPage.test.tsx
  apps/frontend/src/__tests__/confirmDialogComponent.test.tsx
  apps/frontend/src/__tests__/holdingDetailPage.test.tsx
  apps/frontend/src/__tests__/holdingsTable.test.tsx
  apps/frontend/src/__tests__/performanceCard.test.tsx
  apps/frontend/src/__tests__/portfolioPage.test.tsx
  apps/frontend/src/__tests__/portfolioPricesPage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/app/(main)/portfolio/[ticker]/page.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/app/(main)/portfolio/prices/page.tsx
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/portfolio/AllocationChart.tsx
  apps/frontend/src/components/portfolio/HoldingsTable.tsx
  apps/frontend/src/components/portfolio/PerformanceCard.tsx
  apps/frontend/src/components/portfolio/PriceUpdateForm.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
Due: frontend-lint

chore(agents): bump model series to latest within same providers
  .opencode/oh-my-opencode.json
Due: none

fix(agents): keep codex models on gpt-5.3-codex
  .opencode/oh-my-opencode.json
Due: none

fix(agents): correct invalid models and bump glm-5 to glm-5.1
  .opencode/oh-my-opencode.json
Due: none

chore: full-stack upgrade to series-latest models
  .opencode/oh-my-opencode.json
  opencode.json
Due: none

chore(agents): bump model series to latest within same providers (#331)
  .opencode/oh-my-opencode.json
  opencode.json
Due: none

docs(epics): append UI gap audit ACs against vision.md
  apps/frontend/src/__tests__/uiGapAudit.annualizedIncome.test.ts
  apps/frontend/src/__tests__/uiGapAudit.confidenceAndAiQueue.test.ts
  apps/frontend/src/__tests__/uiGapAudit.netWorthTimeSeries.test.ts
  apps/frontend/src/__tests__/uiGapAudit.portfolioFE.test.ts
  apps/frontend/src/__tests__/uiGapAudit.processingVisibility.test.ts
  apps/frontend/src/__tests__/uiGapAudit.stage1Refactor.test.ts
  docs/ac_registry.yaml
  docs/infra_registry.yaml
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-015.processing-account.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/EPIC-018.ai-driven-pipeline.md
Due: frontend-lint

docs(epics): append UI gap audit ACs against vision.md (#332)
  apps/frontend/src/__tests__/uiGapAudit.annualizedIncome.test.ts
  apps/frontend/src/__tests__/uiGapAudit.confidenceAndAiQueue.test.ts
  apps/frontend/src/__tests__/uiGapAudit.netWorthTimeSeries.test.ts
  apps/frontend/src/__tests__/uiGapAudit.portfolioFE.test.ts
  apps/frontend/src/__tests__/uiGapAudit.processingVisibility.test.ts
  apps/frontend/src/__tests__/uiGapAudit.stage1Refactor.test.ts
  docs/ac_registry.yaml
  docs/infra_registry.yaml
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-015.processing-account.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/EPIC-018.ai-driven-pipeline.md
Due: frontend-lint

feat(epic-018): add AI confidence review UI
  .env.example
  apps/backend/migrations/versions/0015_ai_ui_feedback_audit.py
  apps/backend/src/config.py
  apps/backend/src/main.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/journal.py
  apps/backend/src/models/statement.py
  apps/backend/src/models/user.py
  apps/backend/src/routers/ai_feedback.py
  apps/backend/src/routers/audit.py
  apps/backend/src/routers/review.py
  apps/backend/src/routers/user_settings.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/ai_feedback.py
  apps/backend/src/schemas/audit.py
  apps/backend/src/schemas/extraction.py
  apps/backend/src/schemas/journal.py
  apps/backend/src/schemas/reconciliation.py
  apps/backend/src/schemas/user.py
  apps/backend/src/services/confidence_tier.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/api/test_ai_feedback_router.py
  apps/backend/tests/api/test_audit_router.py
  apps/backend/tests/api/test_user_settings_router.py
  apps/backend/tests/conftest.py
  apps/frontend/src/__tests__/uiGapAudit.confidenceAndAiQueue.test.ts
  apps/frontend/src/__tests__/uiGapAudit.confidenceAndAiQueue.test.tsx
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/review/ai-suggestions/page.tsx
  apps/frontend/src/app/(main)/settings/ai/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/AuditTrailPanel.tsx
  apps/frontend/src/components/journal/JournalEntryDetailsModal.tsx
  apps/frontend/src/components/ui/ConfidenceBadge.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-018.ai-driven-pipeline.md
Due: check-env-keys, validate-schemas, frontend-lint
