Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

[finance_report_test_and_doc] docs(#531): mechanically check CI/deploy SSOT vs workflows (#1080)
  .github/workflows/ci.yml
  common/ci/workflow_contract.py
  docs/project/EPIC-007.deployment.md
  docs/ssot/ci-cd.md
  tests/tooling/test_workflow_contract.py
  tools/check_workflow_contract.py
Due: none

[finance_report_test_and_doc] docs(#821): define FR + infra2 SSOT HLS family model (#1081)
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/README.md
  tests/tooling/test_ssot_hls_family_model.py
Due: none

feat(#1074): typed backend contract sweep — errors, UUID params, generated FE client (#1005/#1008/#1001/#1004) (#1096)
  apps/backend/src/main.py
  apps/backend/src/routers/portfolio.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/reports.py
  apps/backend/src/routers/review.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/errors.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/schemas/review.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/api/test_typed_contract_sweep.py
  apps/frontend/.eslintignore
  apps/frontend/openapi.json
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/__tests__/apiErrorStructured.test.ts
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/lib/api-types.ts
  apps/frontend/src/lib/api.ts
  common/ssot/audit_router_contracts.py
  common/ssot/generate_openapi_spec.py
  common/ssot/preflight.py
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
  docs/reference/api.md
  docs/reference/router-contract-maturity.md
  docs/ssot/frontend-patterns.md
  tests/tooling/test_generate_openapi_spec.py
  tools/generate_openapi_spec.py
Due: validate-schemas, frontend-lint

feat(#1001): dedicated Stage-2 review surface at /review (AC16.36)
  apps/frontend/src/__tests__/attention.test.ts
  apps/frontend/src/__tests__/attentionQueue.test.tsx
  apps/frontend/src/__tests__/reviewLandingPage.test.tsx
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/app/(main)/review/page.tsx
  apps/frontend/src/lib/attention.ts
  docs/project/EPIC-016.two-stage-review-ui.md
Due: frontend-lint

test(#1001): use decimal-string match_score/amount in /review fixture (CR)
  apps/frontend/src/__tests__/reviewLandingPage.test.tsx
Due: frontend-lint

fix(#audit): address Copilot CR on #1102 (paren, full-token allowlist, checksum)
  .github/workflows/ci.yml
  .gitleaks.toml
  common/ssot/check_ac_traceability.py
Due: none

feat(#706): surface valuation_basis in income schedule + traceability (AC11.9.10, AC11.11.4)
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/reporting/test_annualized_income_schedule.py
  docs/project/EPIC-011.asset-lifecycle.md
  docs/reference/router-contract-maturity.md
  docs/ssot/assets.md
Due: validate-schemas

chore(#706): regenerate router-contract doc after rebase onto main
  docs/reference/router-contract-maturity.md
Due: none

[finance_report_test_and_doc] chore(#524,#511,#340,#350): classify proof exceptions + consolidate stale docs (#1091)
  .github/workflows/ci.yml
  common/ssot/check_governance_exceptions.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/confirmation-workflow.md
  docs/ssot/extraction.md
  docs/ssot/governance-exceptions.yaml
  docs/ssot/reconciliation.md
  tests/tooling/test_governance_exceptions_registry.py
  tests/tooling/test_no_ac_test_classification.py
  tests/tooling/test_ssot_cross_document_anchors.py
  tests/tooling/test_stale_docs_consolidation.py
  tools/check_governance_exceptions.py
Due: none

test(#1001): hoist stable router/searchParams mocks in /review test (CR)
  apps/frontend/src/__tests__/reviewLandingPage.test.tsx
Due: frontend-lint

[finance_report_ui_706b] feat(#706): surface valuation_basis in income schedule + traceability (AC11.9.10, AC11.11.4) (#1104)
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/reporting/test_annualized_income_schedule.py
  docs/project/EPIC-011.asset-lifecycle.md
  docs/reference/router-contract-maturity.md
  docs/ssot/assets.md
Due: validate-schemas

[finance_report_hacker] feat(#1001): dedicated Stage-2 review surface at /review (#1100)
  apps/frontend/src/__tests__/attention.test.ts
  apps/frontend/src/__tests__/attentionQueue.test.tsx
  apps/frontend/src/__tests__/reviewLandingPage.test.tsx
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/app/(main)/review/page.tsx
  apps/frontend/src/lib/attention.ts
  docs/project/EPIC-016.two-stage-review-ui.md
Due: frontend-lint

[finance_report_audit] fix(#audit): honest L1 traceability label + gitleaks secret-scan gate (AC8.13.131/132) (#1102)
  .github/workflows/ci.yml
  .gitleaks.toml
  .pre-commit-config.yaml
  common/ssot/check_ac_traceability.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_check_ac_traceability.py
  tests/tooling/test_secret_scan_gate.py
Due: none

[finance_report_test_and_doc] fix(#414,#923): repair unified coverage pipeline + tooling coverage tiering (#1084)
  .github/workflows/ci.yml
  common/coverage/calculate_unified_coverage.py
  common/coverage/policy.py
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/coverage.md
  tests/tooling/test_calculate_unified_coverage.py
  tests/tooling/test_coverage_artifact_preflight.py
Due: none

feat(#1004): consume generated OpenAPI types at high-traffic call sites (AC12.28.3)
  apps/frontend/src/__tests__/apiTypedClient.test.ts
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/lib/api-schema.ts
  docs/project/EPIC-012.foundation-libs.md
Due: frontend-lint

refactor(#824): threshold-driven SSOT cleanup for high-risk missing proof
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/MANIFEST.yaml
  tests/tooling/test_ssot_governance_report.py
Due: none

fix(#824): bind platform inferred-family in FR HLS family map after merge
  docs/project/EPIC-014.ttd-transformation.md
Due: none

[finance_report_ui] fix(#1111): stabilize React list keys in report & review lists
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/components/charts/PieChart.tsx
  apps/frontend/src/components/reports/FxWarningBanner.tsx
  apps/frontend/src/components/review/ConflictResolutionDialog.tsx
Due: frontend-lint

docs(#1004): clarify openapi staleness-gate wording + test_AC id convention (CR)
  apps/frontend/src/__tests__/apiTypedClient.test.ts
  docs/project/EPIC-012.foundation-libs.md
Due: frontend-lint

[finance_report_test_and_doc] refactor(#824): threshold-driven SSOT cleanup (#1093)
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/MANIFEST.yaml
  tests/tooling/test_ssot_governance_report.py
Due: none

feat(#510): generated parseable vision-to-proof matrix
  .github/workflows/ci.yml
  common/ssot/generate_vision_proof_matrix.py
  docs/project/EPIC-014.ttd-transformation.md
  docs/reference/vision-proof-matrix.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/vision-proof-matrix.yaml
  mkdocs.yml
  tests/tooling/test_generate_vision_proof_matrix.py
  tools/generate_vision_proof_matrix.py
Due: none

chore(#510): regenerate vision-proof matrix against current main
  docs/reference/vision-proof-matrix.md
  docs/ssot/vision-proof-matrix.yaml
Due: none

[finance_report_ui] fix(#1111): key lists by stable ids, drop array-index tiebreakers
  apps/frontend/src/__tests__/ConflictResolutionDialog.test.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/charts/PieChart.tsx
  apps/frontend/src/components/reports/FxWarningBanner.tsx
  apps/frontend/src/components/review/ConflictResolutionDialog.tsx
Due: frontend-lint

test(#896): weld L3 behavioral ratchet hard-gate + anchor flagship money journey
  apps/backend/tests/accounting/test_accounting_equation.py
  common/testing/README.md
  docs/ssot/ac-score-baseline.json
  docs/ssot/critical-proof-matrix.yaml
Due: none

fix(#1086): tolerant statement date parsing + non-fatal bad rows (AC13.19)
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/extraction/test_tolerant_date_parsing.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

[finance_report_ui] fix(#1111): stabilize React list keys in report & review lists (#1112)
  apps/frontend/src/__tests__/ConflictResolutionDialog.test.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/charts/PieChart.tsx
  apps/frontend/src/components/reports/FxWarningBanner.tsx
  apps/frontend/src/components/review/ConflictResolutionDialog.tsx
Due: frontend-lint

[finance_report_test_and_doc] feat(#510): generated parseable vision-to-proof matrix (#1082)
  .github/workflows/ci.yml
  common/ssot/generate_vision_proof_matrix.py
  docs/project/EPIC-014.ttd-transformation.md
  docs/reference/vision-proof-matrix.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/vision-proof-matrix.yaml
  mkdocs.yml
  tests/tooling/test_generate_vision_proof_matrix.py
  tools/generate_vision_proof_matrix.py
Due: none

feat(#455): generate EPIC status + completion metrics from registries
  .github/workflows/ci.yml
  README.md
  common/ssot/generate_epic_status.py
  docs/project/EPIC-014.ttd-transformation.md
  tests/tooling/test_generate_epic_status.py
  tools/generate_epic_status.py
Due: none

chore(#455): regenerate EPIC status block against current main
  README.md
Due: none

fix(#1089): make the staging AI/OCR gate diagnosable on failure (AC8.13.137)
  .github/workflows/staging-ai-ocr-gate.yml
  docs/project/EPIC-008.testing-strategy.md
  tests/tooling/test_staging_ai_ocr_gate_contract.py
  tools/staging_ai_ocr_gate_contract.py
Due: none

chore(#455): regenerate vision-proof matrix for new AC14.1.22
  docs/reference/vision-proof-matrix.md
  docs/ssot/vision-proof-matrix.yaml
Due: none

fix(#1086): tolerant statement date parsing + non-fatal bad rows (AC13.19) (#1113)
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/extraction/test_tolerant_date_parsing.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

fix(#1089): apply the same JUnit diagnostics to the post-merge staging-deploy gate (CR)
  .github/workflows/staging-deploy.yml
Due: none

chore(#1089): regenerate vision-proof matrix for AC8.13.137
  docs/reference/vision-proof-matrix.md
  docs/ssot/vision-proof-matrix.yaml
Due: none

[finance_report_test_and_doc] feat(#455): generate EPIC status + completion metrics from registries (#1095)
  .github/workflows/ci.yml
  README.md
  common/ssot/generate_epic_status.py
  docs/project/EPIC-014.ttd-transformation.md
  docs/reference/vision-proof-matrix.md
  docs/ssot/vision-proof-matrix.yaml
  tests/tooling/test_generate_epic_status.py
  tools/generate_epic_status.py
Due: none

[finance_report_hacker] feat(#1004): consume generated OpenAPI types at high-traffic call sites (#1110)
  apps/frontend/src/__tests__/apiTypedClient.test.ts
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/lib/api-schema.ts
  docs/project/EPIC-012.foundation-libs.md
Due: frontend-lint

refactor(#audit): generate critical-proof-matrix + conflict-free JSONL ratchet baseline (AC8.13.137)
  .gitattributes
  .github/workflows/ci.yml
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/conftest.py
  apps/backend/tests/integration/test_reporting_e2e.py
  common/ssot/ac_score_baseline_format.py
  common/ssot/check_ac_score_baseline.py
  common/ssot/check_critical_proof_matrix.py
  common/ssot/generate_critical_proof_matrix.py
  common/testing/README.md
  common/testing/ac_proof.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/ac-score-baseline.json
  docs/ssot/ac-score-baseline.jsonl
  docs/ssot/critical-proof-matrix.yaml
  docs/ssot/critical-proof-outcomes.yaml
  docs/ssot/tdd.md
  tests/e2e/test_brokerage_upload_to_portfolio_value.py
  tests/e2e/test_four_asset_net_worth_golden_path.py
  tests/e2e/test_market_data_price_paths.py
  tests/e2e/test_personal_financial_report_package.py
  tests/e2e/test_statement_full_journey.py
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
  tests/tooling/test_ac_evidence_pipeline.py
  tests/tooling/test_proof_index_architecture.py
  tests/tooling/test_ssot_governance_report.py
  tools/generate_critical_proof_matrix.py
  tools/migrate_proof_index_storage.py
Due: none

chore(#audit): regenerate README EPIC status block for AC8.13.137
  README.md
Due: none

chore(#audit): regenerate vision-proof-matrix for AC8.13.137 + correct follow-up note
  docs/reference/vision-proof-matrix.md
  docs/ssot/tdd.md
  docs/ssot/vision-proof-matrix.yaml
Due: none

chore(#audit): governance exception for deleted ac-score-baseline.json
  docs/ssot/governance-exceptions.yaml
Due: none
