Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

P1a-1 CR: harden publish contract tests per Copilot review
  docs/project/EPIC-007.deployment.md
  tests/tooling/test_publish_only_contract.py
Due: none

[finance_report_infra] EPIC-007 #879 P1a-1: publish :<sha> for main+release + on-demand dispatch (#911)
  .github/workflows/ci.yml
  common/ci/metrics_contract.py
  docs/project/EPIC-007.deployment.md
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_publish_only_contract.py
Due: none

EPIC-007 #879 P1a-2: drop per-PR auto preview, keep on-demand (workflow_dispatch)
  .github/workflows/pr-test.yml
  docs/project/EPIC-007.deployment.md
  docs/ssot/ci-cd.md
  tests/tooling/test_publish_only_contract.py
Due: none

feat(assets): append-only versioning for manual valuation facts (#918)
  apps/backend/migrations/versions/0035_manual_valuation_versioning.py
  apps/backend/src/models/layer3.py
  apps/backend/src/routers/reports.py
  apps/backend/src/services/assets.py
  apps/backend/src/services/framework_policy.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/migration-risk.yaml
  docs/ssot/schema.md
Due: none

EPIC-007 #879 P1a-2: drop per-PR auto preview, keep on-demand (workflow_dispatch) (#922)
  .github/workflows/pr-test.yml
  docs/project/EPIC-007.deployment.md
  docs/ssot/ci-cd.md
  tests/tooling/test_publish_only_contract.py
Due: none

fix(assets): drop currency from valuation version-chain key (CR #924)
  apps/backend/src/services/assets.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  docs/ssot/schema.md
Due: none

[finance_report_audit] EPIC-011 AC11.19: append-only versioning for manual valuation facts (#918) (#924)
  apps/backend/migrations/versions/0035_manual_valuation_versioning.py
  apps/backend/src/models/layer3.py
  apps/backend/src/routers/reports.py
  apps/backend/src/services/assets.py
  apps/backend/src/services/framework_policy.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/migration-risk.yaml
  docs/ssot/schema.md
Due: none

[finance_report_ui] harden mobile statement review width
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/TransactionTable.tsx
Due: frontend-lint

docs(vision): add Axiom D — model generalizes, code guarantees, nodes keep slack
  vision.md
Due: none

feat(metrics): North-Star low-confidence-data proportion instrument (#919)
  apps/backend/migrations/versions/0036_confidence_metric_snapshots.py
  apps/backend/src/main.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/metrics.py
  apps/backend/src/routers/metrics.py
  apps/backend/src/schemas/metrics.py
  apps/backend/src/services/confidence_metric.py
  apps/backend/tests/metrics/__init__.py
  apps/backend/tests/metrics/test_confidence_north_star_metric.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/reference/api.md
  docs/ssot/migration-risk.yaml
  docs/ssot/schema.md
Due: validate-schemas

docs(vision): add Axiom D — model generalizes, code guarantees, nodes keep slack (#932)
  vision.md
Due: none

fix(docs): classify tests/metrics/__init__.py package marker (CI #933)
  docs/analysis/traceability-exceptions.md
Due: none

[finance_report_ui] cover review conflict action
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
Due: frontend-lint

fix(metrics): JSONB server_default + precise tier_breakdown typing (CR #933)
  apps/backend/migrations/versions/0036_confidence_metric_snapshots.py
  apps/backend/src/models/metrics.py
Due: none

[finance_report_audit] EPIC-018 AC18.12: North-Star low-confidence-data metric instrument (#919) (#933)
  apps/backend/migrations/versions/0036_confidence_metric_snapshots.py
  apps/backend/src/main.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/metrics.py
  apps/backend/src/routers/metrics.py
  apps/backend/src/schemas/metrics.py
  apps/backend/src/services/confidence_metric.py
  apps/backend/tests/metrics/__init__.py
  apps/backend/tests/metrics/test_confidence_north_star_metric.py
  docs/analysis/traceability-exceptions.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/reference/api.md
  docs/ssot/migration-risk.yaml
  docs/ssot/schema.md
Due: validate-schemas

docs(skills): sync domain skills with current SSOT and code
  .opencode/skills/domain/accounting/SKILL.md
  .opencode/skills/domain/extraction/SKILL.md
  .opencode/skills/domain/reconciliation/SKILL.md
  .opencode/skills/domain/reporting/SKILL.md
  .opencode/skills/domain/schema/SKILL.md
Due: none

docs(skills): address Copilot review on extraction/reconciliation
  .opencode/skills/domain/extraction/SKILL.md
  .opencode/skills/domain/reconciliation/SKILL.md
Due: none

feat(reporting): per-node confidence tier on balance-sheet payloads (#913)
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/reporting/test_balance_sheet_confidence.py
  apps/backend/tests/reporting/test_reporting.py
  docs/project/EPIC-005.reporting-visualization.md
  docs/ssot/confirmation-workflow.md
Due: validate-schemas

[finance_report_vision] docs(skills): sync domain skills with current SSOT and code (#934)
  .opencode/skills/domain/accounting/SKILL.md
  .opencode/skills/domain/extraction/SKILL.md
  .opencode/skills/domain/reconciliation/SKILL.md
  .opencode/skills/domain/reporting/SKILL.md
  .opencode/skills/domain/schema/SKILL.md
Due: none

test: restore import pytest in test_manual_valuation_snapshots
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
Due: none

feat(reporting): per-node confidence tier on balance-sheet payloads (#913) (#935)
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/reporting/test_balance_sheet_confidence.py
  apps/backend/tests/reporting/test_reporting.py
  docs/project/EPIC-005.reporting-visualization.md
  docs/ssot/confirmation-workflow.md
Due: validate-schemas

docs(skills): fix command/equation drift in development, auditor, infra-operations
  .opencode/skills/domain/development/SKILL.md
  .opencode/skills/domain/infra-operations/SKILL.md
  .opencode/skills/professional/auditor/SKILL.md
Due: none

docs: correct staging/prod container naming SSOT + address Copilot review
  .opencode/skills/domain/development/SKILL.md
  .opencode/skills/domain/infra-operations/SKILL.md
  .opencode/skills/professional/auditor/SKILL.md
  docs/ssot/environments.md
Due: none

refactor(tooling): consolidate tools/_lib ci+coverage into common (#926)
  .github/workflows/ci.yml
  common/ci/github_workflow_timing_summary.py
  common/ci/wait_for_cheap_ci.py
  common/ci/wait_post_merge_train_turn.py
  common/coverage/analyzer.py
  common/coverage/build_unified_lcov.py
  common/coverage/calculate_unified_coverage.py
  common/coverage/check_policy.py
  common/coverage/merge_lcov.py
  common/coverage/policy.py
  common/coverage/strip_lcov_branches.py
  tests/tooling/test_build_unified_lcov.py
  tests/tooling/test_calculate_unified_coverage.py
  tests/tooling/test_common_tooling_modules.py
  tests/tooling/test_coverage_analyzer.py
  tests/tooling/test_coverage_policy.py
  tests/tooling/test_github_workflow_timing_summary.py
  tests/tooling/test_merge_lcov.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_strip_lcov_branches.py
  tools/_lib/ci/__init__.py
  tools/_lib/coverage/__init__.py
  tools/build_unified_lcov.py
  tools/calculate_unified_coverage.py
  tools/check_coverage_policy.py
  tools/coverage_analyzer.py
  tools/github_workflow_timing_summary.py
  tools/merge_lcov.py
  tools/strip_lcov_branches.py
  tools/wait_for_cheap_ci.py
  tools/wait_post_merge_train_turn.py
Due: none

feat: unify provenance labels
  apps/backend/src/schemas/assets.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/src/schemas/provenance.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/assets.py
  apps/backend/src/services/portfolio.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  apps/backend/tests/portfolio/test_portfolio_service.py
  apps/backend/tests/reporting/test_reporting.py
  apps/frontend/src/__tests__/assetsPage.test.tsx
  apps/frontend/src/__tests__/balanceSheetPage.test.tsx
  apps/frontend/src/__tests__/designTokens.test.tsx
  apps/frontend/src/__tests__/holdingsTable.test.tsx
  apps/frontend/src/__tests__/incomeStatementPage.test.tsx
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/__tests__/provenanceBadge.test.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/portfolio/HoldingsTable.tsx
  apps/frontend/src/components/ui/ProvenanceBadge.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-022.everyday-user-ia.md
  docs/ssot/assets.md
  docs/ssot/frontend-patterns.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

[finance_report_vision] docs(skills): fix command/equation drift in development, auditor, infra-operations (#937)
  .opencode/skills/domain/development/SKILL.md
  .opencode/skills/domain/infra-operations/SKILL.md
  .opencode/skills/professional/auditor/SKILL.md
  docs/ssot/environments.md
Due: none

feat: unify provenance labels (#938)
  apps/backend/src/schemas/assets.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/src/schemas/provenance.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/assets.py
  apps/backend/src/services/portfolio.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  apps/backend/tests/portfolio/test_portfolio_service.py
  apps/backend/tests/reporting/test_reporting.py
  apps/frontend/src/__tests__/assetsPage.test.tsx
  apps/frontend/src/__tests__/balanceSheetPage.test.tsx
  apps/frontend/src/__tests__/designTokens.test.tsx
  apps/frontend/src/__tests__/holdingsTable.test.tsx
  apps/frontend/src/__tests__/incomeStatementPage.test.tsx
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/__tests__/provenanceBadge.test.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/portfolio/HoldingsTable.tsx
  apps/frontend/src/components/ui/ProvenanceBadge.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-022.everyday-user-ia.md
  docs/ssot/assets.md
  docs/ssot/frontend-patterns.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

chore(claude): add native Claude Code subagents with cost-tiered model routing
  .claude/README.md
  .claude/agents/explore.md
  .claude/agents/librarian.md
  .claude/agents/oracle.md
Due: none

feat(promotion): deterministic confidence promotion gate (#930)
  apps/backend/src/services/promotion_gate.py
  apps/backend/src/services/reconciliation.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/services/test_promotion_gate.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/ssot/confirmation-workflow.md
Due: none

test(tooling): assert moved coverage impls under the common component
  tests/tooling/test_common_tooling_modules.py
Due: none

chore(claude): add native Claude Code subagents with cost-tiered model routing (#940)
  .claude/README.md
  .claude/agents/explore.md
  .claude/agents/librarian.md
  .claude/agents/oracle.md
Due: none

docs(promotion): use full RECONCILIATION_REVIEW_SCORE name in tolerance table (CR #941)
  docs/ssot/confirmation-workflow.md
Due: none

[finance_report_test_and_doc] refactor(tooling): consolidate tools/_lib ci+coverage into common (#926) (#939)
  .github/workflows/ci.yml
  common/ci/github_workflow_timing_summary.py
  common/ci/wait_for_cheap_ci.py
  common/ci/wait_post_merge_train_turn.py
  common/coverage/analyzer.py
  common/coverage/build_unified_lcov.py
  common/coverage/calculate_unified_coverage.py
  common/coverage/check_policy.py
  common/coverage/merge_lcov.py
  common/coverage/policy.py
  common/coverage/strip_lcov_branches.py
  tests/tooling/test_build_unified_lcov.py
  tests/tooling/test_calculate_unified_coverage.py
  tests/tooling/test_common_tooling_modules.py
  tests/tooling/test_coverage_analyzer.py
  tests/tooling/test_coverage_policy.py
  tests/tooling/test_github_workflow_timing_summary.py
  tests/tooling/test_merge_lcov.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_strip_lcov_branches.py
  tools/_lib/ci/__init__.py
  tools/_lib/coverage/__init__.py
  tools/build_unified_lcov.py
  tools/calculate_unified_coverage.py
  tools/check_coverage_policy.py
  tools/coverage_analyzer.py
  tools/github_workflow_timing_summary.py
  tools/merge_lcov.py
  tools/strip_lcov_branches.py
  tools/wait_for_cheap_ci.py
  tools/wait_post_merge_train_turn.py
Due: none

[finance_report_audit] EPIC-018 AC18.13: deterministic confidence promotion gate (#930) (#941)
  apps/backend/src/services/promotion_gate.py
  apps/backend/src/services/reconciliation.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/services/test_promotion_gate.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/ssot/confirmation-workflow.md
Due: none

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
