Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

[finance_report_hacker] docs(extraction): document intentional brokerage-vs-bank routing (#981) (#1017)
  apps/backend/src/services/extraction.py
  docs/ssot/extraction.md
Due: none

[finance_report_ui] fix(#963): same-origin authenticated PDF preview (AC16.33.5) (#1021)
  apps/backend/src/routers/statements.py
  apps/backend/tests/api/test_statements_router.py
  apps/frontend/next.config.mjs
  apps/frontend/src/__tests__/epic016Components.test.tsx
  apps/frontend/src/__tests__/reviewPages.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/PdfPreviewPane.tsx
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/reference/api.md
Due: frontend-lint

[finance_report_vision] fix(extraction): JSON-repair retry for recoverable model responses (#982) (#1018)
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/extraction/test_extraction_flow.py
  apps/backend/tests/extraction/test_json_repair.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/extraction.md
Due: none

[finance_report_test_and_doc] test(extraction): deterministic scoring/routing regression for #989 (AC13.13) (#1023)
  apps/backend/tests/extraction/test_extraction_determinism.py
  docs/project/EPIC-013.statement-parsing-v2.md
Due: none

docs(ssot): balance-sheet opening-balance semantics (#949) + balance_after dedup sync (#1024)
  docs/ssot/extraction.md
  docs/ssot/reporting.md
Due: none

[finance_report_ui] fix(#949): address Copilot review on OpeningBalanceModal
  apps/frontend/src/__tests__/openingBalanceModal.test.tsx
  apps/frontend/src/components/accounts/OpeningBalanceModal.tsx
Due: frontend-lint

[finance_report_infra] feat(config): generate .env.example + env reference from config.py (Infra-014 C3) (#1020)
  .env.example
  apps/backend/src/config.py
  common/config/env_keys.py
  docs/ssot/MANIFEST.yaml
  docs/ssot/env-reference.generated.md
  mkdocs.yml
  tests/tooling/test_env_reference.py
  tools/generate_env_reference.py
Due: check-env-keys, validate-schemas

fix(extraction): persist failed-parse document lineage so the raw file stays traceable (#982)
  apps/backend/src/services/statement_parsing.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  docs/project/EPIC-016.two-stage-review-ui.md
Due: none

[finance_report_ui] fix(#962): address Copilot review on Stage-1 conflict resolution
  apps/backend/src/routers/review.py
  apps/backend/src/schemas/review.py
  apps/backend/tests/api/test_statements_router.py
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
Due: validate-schemas, frontend-lint

test(integration): fix seam-test numbers — valuations DO reach the balance sheet (#992)
  apps/backend/tests/integration/test_augmentation_seam_e2e.py
Due: none

[finance_report_ui] feat(#949): guided opening-balance UI on Accounts page (AC2.15.8) (#1022)
  apps/frontend/src/__tests__/accountsPage.test.tsx
  apps/frontend/src/__tests__/openingBalanceModal.test.tsx
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/components/accounts/OpeningBalanceModal.tsx
  docs/project/EPIC-002.double-entry-core.md
Due: frontend-lint

[finance_report_ui] fix(#962): Stage-1 conflict resolution unblocks stuck statements (AC16.34) (#1025)
  apps/backend/migrations/versions/0039_stmt_conflicts_resolved.py
  apps/backend/src/models/statement_summary.py
  apps/backend/src/routers/review.py
  apps/backend/src/schemas/review.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/api/test_statements_router.py
  apps/frontend/src/__tests__/ConflictResolutionDialog.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/ConflictResolutionDialog.tsx
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/reference/api.md
Due: validate-schemas, frontend-lint

test(e2e): Tier-1 report journeys assert real numbers, not just key presence (#993) (#999)
  apps/backend/tests/e2e/test_core_journeys.py
Due: none

feat(review): Stage-1 conflict acknowledgement endpoint unblocks approval (#962 slice 2)
  apps/backend/migrations/versions/0039_conflicts_acknowledged.py
  apps/backend/src/models/statement_summary.py
  apps/backend/src/routers/review.py
  apps/backend/src/schemas/review.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/review/test_review_conflicts_router.py
  apps/backend/tests/review/test_statement_validation.py
  docs/project/EPIC-016.two-stage-review-ui.md
Due: validate-schemas

test(integration): add type annotations to seam-test helpers (#992 CR)
  apps/backend/tests/integration/test_augmentation_seam_e2e.py
Due: none

fix(extraction): penalize implausibly-low brokerage txn counts (#967)
  apps/backend/src/services/extraction.py
  apps/backend/src/services/validation.py
  apps/backend/tests/extraction/test_extraction.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/extraction.md
Due: none

fix(extraction): CR — don't downgrade completed docs, handle race, assert file_path (#982)
  apps/backend/src/services/statement_parsing.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
Due: none

[finance_report_ui] feat(#949): opening-balance readiness nudge (AC2.16)
  apps/backend/src/routers/accounts.py
  apps/backend/src/schemas/account.py
  apps/backend/src/services/accounting.py
  apps/backend/tests/accounting/test_opening_balance_readiness.py
  apps/frontend/src/__tests__/accountsPage.test.tsx
  apps/frontend/src/app/(main)/accounts/page.tsx
  docs/project/EPIC-002.double-entry-core.md
  docs/reference/api.md
Due: validate-schemas, frontend-lint

fix(extraction): deterministic decoding seed for reproducible parsing (#989)
  .env.example
  apps/backend/src/config.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/src/services/extraction.py
  apps/backend/tests/ai/test_ai_streaming.py
  apps/backend/tests/extraction/test_seed_determinism.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/env-reference.generated.md
  docs/ssot/extraction.md
Due: check-env-keys, validate-schemas

[finance_report_infra] docs(ssot): demote App env/observability SSOT to pointers + guard (Infra-014 C1-app, D1)
  docs/analysis/traceability-exceptions.md
  docs/ssot/environments.md
  docs/ssot/observability.md
  tests/tooling/test_env_contract_boundary.py
Due: none

[finance_report_hacker] fix(extraction): persist failed-parse document lineage (#982) (#1026)
  apps/backend/src/services/statement_parsing.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  docs/project/EPIC-016.two-stage-review-ui.md
Due: none

feat(maintenance): test-account purge library + tests (#997 item 4, AC8.17)
  apps/backend/src/services/test_account_purge.py
  apps/backend/tests/services/test_test_account_purge.py
  docs/project/EPIC-008.testing-strategy.md
Due: none

[finance_report_audit] augmentation-layer seam reaches the report correctly (#992, AC8.16.1) (#1011)
  apps/backend/tests/integration/test_augmentation_seam_e2e.py
  docs/project/EPIC-008.testing-strategy.md
Due: none

fix(extraction): penalize implausibly-low brokerage txn counts (#967) (#1015)
  apps/backend/src/services/extraction.py
  apps/backend/src/services/validation.py
  apps/backend/tests/extraction/test_extraction.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/extraction.md
Due: none

fix(extraction): deterministic decoding seed for reproducible parsing (#989) (#1019)
  .env.example
  apps/backend/src/config.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/src/services/extraction.py
  apps/backend/tests/ai/test_ai_streaming.py
  apps/backend/tests/extraction/test_seed_determinism.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/env-reference.generated.md
  docs/ssot/extraction.md
Due: check-env-keys, validate-schemas

[finance_report_ui] fix(#949): address Copilot review on readiness nudge
  apps/backend/src/services/accounting.py
  apps/frontend/src/__tests__/accountsPage.test.tsx
Due: frontend-lint

[finance_report_infra] docs(agents): App/Infra contract boundary doc (Infra-014 D2)
  docs/agents/app-infra-contract-boundary.md
  mkdocs.yml
Due: none

[finance_report_infra] docs: address Copilot CR — anchor fragments + traceability completeness (Infra-014 C1-app)
  docs/analysis/traceability-exceptions.md
  docs/ssot/environments.md
  docs/ssot/observability.md
Due: none

docs(test-account-purge): clarify the user-FK cascade rationale (Copilot)
  apps/backend/src/services/test_account_purge.py
Due: none

[finance_report_infra] docs(ssot): demote App env/observability SSOT to pointers + guard (Infra-014 C1-app/D1) (#1032)
  docs/agents/app-infra-contract-boundary.md
  docs/analysis/traceability-exceptions.md
  docs/ssot/environments.md
  docs/ssot/observability.md
  mkdocs.yml
  tests/tooling/test_env_contract_boundary.py
Due: none

[finance_report_test_and_doc] feat(maintenance): test-account purge library + tests (#997 item 4, AC8.17) (#1029)
  apps/backend/src/services/test_account_purge.py
  apps/backend/tests/services/test_test_account_purge.py
  docs/project/EPIC-008.testing-strategy.md
Due: none

[finance_report_ui] feat(#949): opening-balance readiness nudge (AC2.16) (#1030)
  apps/backend/src/routers/accounts.py
  apps/backend/src/schemas/account.py
  apps/backend/src/services/accounting.py
  apps/backend/tests/accounting/test_opening_balance_readiness.py
  apps/frontend/src/__tests__/accountsPage.test.tsx
  apps/frontend/src/app/(main)/accounts/page.tsx
  docs/project/EPIC-002.double-entry-core.md
  docs/reference/api.md
Due: validate-schemas, frontend-lint

fix(purge-cli): base environment guard on the raw ENVIRONMENT var (Copilot)
  tools/purge_test_accounts.py
Due: none

feat(maintenance): purge-test-accounts CLI + runbook (#997 item 4)
  docs/contributing/staging-test-account-cleanup.md
  mkdocs.yml
  tools/purge_test_accounts.py
Due: none

fix(purge-cli): harden redaction, regex, and pooling; sync runbook (Copilot)
  docs/contributing/staging-test-account-cleanup.md
  tools/purge_test_accounts.py
Due: none

[finance_report_test_and_doc] feat(maintenance): purge-test-accounts CLI + runbook (#997 item 4) (#1031)
  docs/contributing/staging-test-account-cleanup.md
  mkdocs.yml
  tools/purge_test_accounts.py
Due: none

feat(extraction): balance-aware self-consistency re-extract (#989 Step B)
  .env.example
  apps/backend/src/config.py
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_self_consistency.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/env-reference.generated.md
  docs/ssot/extraction.md
Due: check-env-keys, validate-schemas

fix(workflow): make workflow-event dedupe insert transaction-safe (#1033)
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/workflow/test_workflow_events.py
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/workflow-events.md
Due: none

fix(reporting): guard non-ticker Yahoo lookups and surface dropped positions (#1035)
  apps/backend/src/services/market_data.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/market_data/test_provider_parsers.py
  apps/backend/tests/reporting/test_reporting_net_worth_components.py
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/market_data.md
Due: none

fix(extraction): vision path falls back to secondary models (#1034)
  apps/backend/src/config.py
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/extraction.md
Due: check-env-keys, validate-schemas
