Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

docs(audit): regenerate router-contract-maturity for income typed responses (#1009)
  docs/reference/router-contract-maturity.md
Due: none

[finance_report_ui] refactor(#1009): type income currency + drop manual dict→schema mapping (AC5.32) (#1069)
  apps/backend/src/routers/income.py
  apps/backend/src/schemas/base.py
  apps/backend/src/schemas/income.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/reporting/test_income_typed_currency.py
  docs/project/EPIC-005.reporting-visualization.md
  docs/reference/api.md
  docs/reference/router-contract-maturity.md
Due: validate-schemas

chore(deploy): make staging deploy manual-only (drop push-to-main auto trigger)
  .github/workflows/staging-deploy.yml
  docs/ssot/environments.md
Due: none

chore(deploy): clean up dead workflow_run paths in manual-only staging deploy
  .github/workflows/staging-deploy.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/environments.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

wip: begin EPIC-008 auto-deploy->manual AC refactor (AC8.13.51 + ci-cd prose)
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

test(staging): refactor EPIC-008 auto-deploy ACs to manual dispatch model
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/deployment.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

chore(ssot): declare staging-deploy gate trigger as workflow_dispatch
  docs/ssot/delivery-gates.yaml
Due: none

fix(confidence): DecimalValue types, JSDoc, empty-points guard (#1060 CR round 2)
  apps/frontend/src/__tests__/confidenceTrendPage.test.tsx
  apps/frontend/src/app/(main)/confidence/page.tsx
  apps/frontend/src/lib/confidence.ts
  apps/frontend/src/lib/types.ts
Due: frontend-lint

[finance_report_audit] surface the confidence loop in the UI (#1055 PR4, #1003) (#1060)
  apps/frontend/src/__tests__/confidence.test.ts
  apps/frontend/src/__tests__/confidenceTrendPage.test.tsx
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/app/(main)/confidence/page.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/lib/api.ts
  apps/frontend/src/lib/confidence.ts
  apps/frontend/src/lib/types.ts
  docs/analysis/traceability-exceptions.md
Due: frontend-lint

[finance_report_hacker] chore(deploy): staging deploy manual-only (drop push-to-main auto trigger) (#1058)
  .github/workflows/staging-deploy.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/delivery-gates.yaml
  docs/ssot/deployment.md
  docs/ssot/environments.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

feat(preflight): add api-reference + router-contract gates for local==CI parity
  common/ssot/preflight.py
  docs/ssot/ci-cd.md
  tests/tooling/test_preflight.py
Due: none

feat(preflight): add api-reference + router-contract gates for local==CI parity (#1071)
  common/ssot/preflight.py
  docs/ssot/ci-cd.md
  tests/tooling/test_preflight.py
Due: none

[finance_report_audit] chore(#896): retire dead statement_id compat param in execute_matching
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/services/reconciliation.py
  tests/tooling/test_reconciliation_thresholds_unit.py
Due: none

[finance_report_ui_1003] feat(corrections): type top_corrections as TopCorrection model (AC18.2.5)
  apps/backend/src/routers/corrections.py
  apps/backend/tests/api/test_corrections_router.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/reference/api.md
Due: none

docs(#531): mechanically check CI/deploy SSOT vs workflows
  .github/workflows/ci.yml
  common/ci/workflow_contract.py
  docs/project/EPIC-007.deployment.md
  docs/ssot/ci-cd.md
  tests/tooling/test_workflow_contract.py
  tools/check_workflow_contract.py
Due: none

docs(#821): define FR SSOT HLS family model and AC14.1.18
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/README.md
  tests/tooling/test_ssot_hls_family_model.py
Due: none

fix(#414,#923): repair unified coverage pipeline + tooling coverage tiering
  common/coverage/calculate_unified_coverage.py
  common/coverage/policy.py
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/coverage.md
  tests/tooling/test_calculate_unified_coverage.py
  tests/tooling/test_coverage_artifact_preflight.py
Due: none

[finance_report_ui] feat(#706): guided evidence intake form for ESOP/RSU, property, liability (AC11.9.6-9)
  apps/frontend/src/__tests__/guidedEvidenceForm.test.tsx
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/app/(main)/portfolio/evidence/page.tsx
  apps/frontend/src/components/assets/GuidedEvidenceForm.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-011.asset-lifecycle.md
Due: frontend-lint

[finance_report_ui] feat(#1010): editable AI settings + /auth/me session bootstrap (EPIC-022 AC22.15)
  apps/backend/README.md
  apps/frontend/src/__tests__/aiSettingsPage.test.tsx
  apps/frontend/src/__tests__/apiFunctions.test.ts
  apps/frontend/src/__tests__/appShellSessionBootstrap.test.tsx
  apps/frontend/src/__tests__/shellAndAuth.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.confidenceAndAiQueue.test.tsx
  apps/frontend/src/app/(main)/settings/ai/page.tsx
  apps/frontend/src/components/AppShell.tsx
  apps/frontend/src/hooks/useSessionBootstrap.ts
  apps/frontend/src/lib/api.ts
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

[finance_report_audit] chore(#896): retire dead statement_id compat param in execute_matching (#1078)
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/services/reconciliation.py
  tests/tooling/test_reconciliation_thresholds_unit.py
Due: none

chore(#524,#511,#340,#350): classify proof exceptions + harden SSOT/doc consolidation
  .github/workflows/ci.yml
  common/ssot/check_governance_exceptions.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/confirmation-workflow.md
  docs/ssot/extraction.md
  docs/ssot/governance-exceptions.yaml
  docs/ssot/reconciliation.md
  tests/tooling/test_governance_exceptions_registry.py
  tests/tooling/test_no_ac_test_classification.py
  tests/tooling/test_ssot_cross_document_anchors.py
  tests/tooling/test_stale_docs_consolidation.py
  tools/check_governance_exceptions.py
Due: none

feat(#751): report shell primitives + dashboard hook layer (Slice 3, AC5.33-AC5.35)
  apps/frontend/src/__tests__/reportFilters.test.tsx
  apps/frontend/src/__tests__/reportPageShell.test.tsx
  apps/frontend/src/__tests__/reportToolbar.test.tsx
  apps/frontend/src/__tests__/useDashboardData.test.ts
  apps/frontend/src/__tests__/useReportFilters.test.ts
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/components/reports/ReportFilters.tsx
  apps/frontend/src/components/reports/ReportPageShell.tsx
  apps/frontend/src/components/reports/ReportToolbar.tsx
  apps/frontend/src/hooks/useDashboardData.ts
  apps/frontend/src/hooks/useReportFilters.ts
  docs/project/EPIC-005.reporting-visualization.md
Due: frontend-lint

test(corrections): fix AC18.2.5 docstring to match non-optional corrected_category
  apps/backend/tests/api/test_corrections_router.py
Due: none

fix(#1010): drop access_token from CurrentUser /auth/me type (Copilot)
  apps/frontend/src/__tests__/apiFunctions.test.ts
  apps/frontend/src/__tests__/appShellSessionBootstrap.test.tsx
  apps/frontend/src/lib/types.ts
Due: frontend-lint

fix(#414,#923): renumber ACs to AC14.1.20/21 to avoid collision with #821/#510
  docs/project/EPIC-014.ttd-transformation.md
  tests/tooling/test_coverage_artifact_preflight.py
Due: none

fix(#706): address Copilot review on guided evidence form
  apps/frontend/src/__tests__/guidedEvidenceForm.test.tsx
  apps/frontend/src/components/assets/GuidedEvidenceForm.tsx
  docs/project/EPIC-011.asset-lifecycle.md
Due: frontend-lint

refactor(#751): invert ReportToolbar export dependency (Copilot review)
  apps/frontend/src/__tests__/reportToolbar.test.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/components/reports/ReportToolbar.tsx
Due: frontend-lint

[finance_report_ui_1003] feat(corrections): type top_corrections as TopCorrection model (AC18.2.5) (#1079)
  apps/backend/src/routers/corrections.py
  apps/backend/tests/api/test_corrections_router.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/reference/api.md
Due: none

[finance_report_ui_1010] feat(#1010): editable AI settings + /auth/me session bootstrap (EPIC-022 AC22.15) (#1090)
  apps/backend/README.md
  apps/frontend/src/__tests__/aiSettingsPage.test.tsx
  apps/frontend/src/__tests__/apiFunctions.test.ts
  apps/frontend/src/__tests__/appShellSessionBootstrap.test.tsx
  apps/frontend/src/__tests__/shellAndAuth.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.confidenceAndAiQueue.test.tsx
  apps/frontend/src/app/(main)/settings/ai/page.tsx
  apps/frontend/src/components/AppShell.tsx
  apps/frontend/src/hooks/useSessionBootstrap.ts
  apps/frontend/src/lib/api.ts
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-022.everyday-user-ia.md
Due: frontend-lint

[finance_report_ui] feat(#706): guided evidence intake for ESOP/RSU, property, liability (AC11.9.6-9) (#1083)
  apps/frontend/src/__tests__/guidedEvidenceForm.test.tsx
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/app/(main)/portfolio/evidence/page.tsx
  apps/frontend/src/components/assets/GuidedEvidenceForm.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-011.asset-lifecycle.md
Due: frontend-lint

fix(#340): add family/kind to new MANIFEST concepts for governance gate
  docs/ssot/MANIFEST.yaml
Due: none

[finance_report_ui_751] feat(#751): report shell primitives + dashboard hook layer (Slice 3, AC5.33-AC5.35) (#1092)
  apps/frontend/src/__tests__/reportFilters.test.tsx
  apps/frontend/src/__tests__/reportPageShell.test.tsx
  apps/frontend/src/__tests__/reportToolbar.test.tsx
  apps/frontend/src/__tests__/useDashboardData.test.ts
  apps/frontend/src/__tests__/useReportFilters.test.ts
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/components/reports/ReportFilters.tsx
  apps/frontend/src/components/reports/ReportPageShell.tsx
  apps/frontend/src/components/reports/ReportToolbar.tsx
  apps/frontend/src/hooks/useDashboardData.ts
  apps/frontend/src/hooks/useReportFilters.ts
  docs/project/EPIC-005.reporting-visualization.md
Due: frontend-lint

feat(#1074): typed backend contract sweep — errors, UUID params, generated FE client (#1005/#1008/#1001/#1004)
  apps/backend/src/main.py
  apps/backend/src/routers/portfolio.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/reports.py
  apps/backend/src/routers/review.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/errors.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/schemas/review.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/api/test_typed_contract_sweep.py
  apps/frontend/.eslintignore
  apps/frontend/openapi.json
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/__tests__/apiErrorStructured.test.ts
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/lib/api-types.ts
  apps/frontend/src/lib/api.ts
  common/ssot/audit_router_contracts.py
  common/ssot/generate_openapi_spec.py
  common/ssot/preflight.py
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
  docs/reference/api.md
  docs/reference/router-contract-maturity.md
  docs/ssot/frontend-patterns.md
  tests/tooling/test_generate_openapi_spec.py
  tools/generate_openapi_spec.py
Due: validate-schemas, frontend-lint

test(ssot-hls): address Copilot review on family-model test (#1081)
  tests/tooling/test_ssot_hls_family_model.py
Due: none

fix(#531): fail closed on malformed/missing contract inputs
  common/ci/workflow_contract.py
  tests/tooling/test_workflow_contract.py
Due: none

test(tooling): parse mkdocs.yml via tag-ignoring YAML loader (#1091)
  tests/tooling/test_stale_docs_consolidation.py
Due: none

fix(#414,#923): make coverage artifact preflight opt-in for CI parity
  .github/workflows/ci.yml
  common/coverage/calculate_unified_coverage.py
  tests/tooling/test_coverage_artifact_preflight.py
Due: none

docs(#751): document shared-layer dependency rules in frontend SSOT
  docs/ssot/frontend-patterns.md
Due: none

fix(#audit): honest L1 traceability label + gitleaks secret-scan gate (AC8.13.131/132)
  .github/workflows/ci.yml
  .gitleaks.toml
  .pre-commit-config.yaml
  common/ssot/check_ac_traceability.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_check_ac_traceability.py
  tests/tooling/test_secret_scan_gate.py
Due: none

docs(#751): document shared-layer dependency rules in frontend SSOT (#1101)
  docs/ssot/frontend-patterns.md
Due: none
