Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

fix(e2e): poll statement by ID instead of institution name
  tests/e2e/test_statement_upload_e2e.py
Due: none

fix(e2e): verify statement exists immediately, skip waiting for AI parsing
  tests/e2e/test_statement_upload_e2e.py
Due: none

fix(e2e): use page.context.request for authenticated API calls
  tests/e2e/test_statement_upload_e2e.py
Due: none

fix(ci): skip stale pre-trigger deployments in poll step
  .github/workflows/pr-test.yml
Due: none

fix(e2e): use page.evaluate fetch with JWT token from localStorage
  tests/e2e/test_statement_upload_e2e.py
Due: none

fix(ui): resolve UI/UX audit issues C1-C3 and M1-M8
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/login/page.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/WorkspaceTabs.tsx
  apps/frontend/src/components/reconciliation/Workbench.tsx
Due: frontend-lint

fix: address CR comments - word-boundary key matching, cmb column docs, sys.path isolation
  scripts/pdf_fixtures/analyzers/template_extractor.py
  scripts/tests/conftest.py
  scripts/tests/test_pdf_fixture_parseable.py
Due: none

test(ui): update journalPage test for ConfirmDialog delete flow
  apps/frontend/src/__tests__/journalPage.test.tsx
Due: frontend-lint

test: close EPIC-008/009 gaps — PDF fixture integration tests + CI fix (#320)
  .github/workflows/ci.yml
  .github/workflows/pr-test.yml
  docs/infra_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-009.pdf-fixture-generation.md
  docs/project/README.md
  scripts/pdf_fixtures/analyzers/__init__.py
  scripts/pdf_fixtures/analyzers/template_extractor.py
  scripts/tests/conftest.py
  scripts/tests/test_pdf_fixture_parseable.py
  tests/e2e/test_statement_upload_e2e.py
  unified-coverage.json
Due: none

fix(ui): address CR review comments — placeholder syntax, chart heights, label consistency, match_rate
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/login/page.tsx
  apps/frontend/src/components/WorkspaceTabs.tsx
  apps/frontend/src/components/reconciliation/Workbench.tsx
Due: frontend-lint

test: add AC16.19.12/13/14, AC16.20.6, AC16.23.6 tests for UI/UX audit fixes
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/reconciliationWorkbenchComponent.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
Due: frontend-lint

fix(ui): resolve UI/UX audit issues C1–C3 and M1–M8 (#321)
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/journalPage.test.tsx
  apps/frontend/src/__tests__/reconciliationWorkbenchComponent.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/login/page.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/WorkspaceTabs.tsx
  apps/frontend/src/components/reconciliation/Workbench.tsx
Due: frontend-lint

fix: address Copilot review comments on EPIC-012 M3+M4 PR
  .github/workflows/pr-test.yml
  apps/backend/pyproject.toml
  apps/backend/src/main.py
  apps/backend/tests/infra/test_rate_limit.py
  tests/e2e/test_statement_upload_e2e.py
Due: none

feat(infra): EPIC-012 M3+M4 – global rate limiting middleware & Prometheus metrics
  .env.example
  apps/backend/pyproject.toml
  apps/backend/src/config.py
  apps/backend/src/main.py
  apps/backend/src/rate_limit.py
  apps/backend/tests/infra/test_metrics.py
  apps/backend/tests/infra/test_rate_limit.py
  apps/backend/uv.lock
  docs/ac_registry.yaml
  docs/infra_registry.yaml
  docs/project/EPIC-012.foundation-libs.md
Due: check-env-keys, validate-schemas

style: fix ruff format in main.py and rate_limit.py
  apps/backend/src/main.py
  apps/backend/src/rate_limit.py
Due: none

refactor(infra): remove Prometheus M4 - project uses SigNoz OTLP
  .env.example
  apps/backend/pyproject.toml
  apps/backend/src/config.py
  apps/backend/src/main.py
  apps/backend/tests/infra/test_metrics.py
  apps/backend/uv.lock
  docs/infra_registry.yaml
  docs/project/EPIC-012.foundation-libs.md
Due: check-env-keys, validate-schemas

fix(rate-limit): raise default API rate limit to 300 to prevent E2E 429s
  .env.example
  apps/backend/src/config.py
Due: check-env-keys, validate-schemas

fix(ci): set API_RATE_LIMIT_REQUESTS=10000 in PR test environment
  .github/workflows/pr-test.yml
Due: none

fix(ci): pass rate-limit env vars into container and accept 429 in smoke test
  docker-compose.yml
  scripts/smoke_test.sh
Due: none

fix(ci): sort deployments by startedAt to find latest, not last-indexed
  .github/workflows/pr-test.yml
Due: none

fix(ci): make register_rate_limiter configurable to prevent E2E 429s
  .env.example
  .github/workflows/pr-test.yml
  apps/backend/src/config.py
  apps/backend/src/rate_limit.py
  docker-compose.yml
Due: check-env-keys, validate-schemas

fix(e2e): flush Redis rate-limit keys before E2E tests and accept 429 in auth test
  .github/workflows/pr-test.yml
  tests/e2e/test_core_journeys.py
Due: none

feat(infra): EPIC-012 M3+M4 – global rate limiting middleware & Prometheus metrics (#322)
  .env.example
  .github/workflows/pr-test.yml
  apps/backend/pyproject.toml
  apps/backend/src/config.py
  apps/backend/src/main.py
  apps/backend/src/rate_limit.py
  apps/backend/tests/infra/test_rate_limit.py
  docker-compose.yml
  docs/ac_registry.yaml
  docs/infra_registry.yaml
  docs/project/EPIC-012.foundation-libs.md
  scripts/smoke_test.sh
  tests/e2e/test_core_journeys.py
  tests/e2e/test_statement_upload_e2e.py
Due: check-env-keys, validate-schemas

fix(ui): resolve 19 C/H/M UI/UX audit issues across 14 frontend files
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/app/(main)/statements/page.tsx
  apps/frontend/src/app/login/page.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/accounts/AccountFormModal.tsx
  apps/frontend/src/components/journal/JournalEntryForm.tsx
Due: frontend-lint

fix: stabilize flaky chatPanelComponent test by awaiting history load
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
Due: frontend-lint

fix: update frontend tests to match UI/UX audit changes
  apps/frontend/src/__tests__/accountsPage.test.tsx
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/journalPage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/statementsPage.test.tsx
Due: frontend-lint

test: add dashboard account selector coverage to meet 89.74% baseline
  apps/frontend/src/__tests__/dashboardPage.test.tsx
Due: frontend-lint

fix: resolve all 7 CR comments on PR #323
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
Due: frontend-lint

test: add accounts modal and review-queue tests to improve frontend coverage
  apps/frontend/src/__tests__/accountsPage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/app/(main)/accounts/page.tsx
Due: frontend-lint

fix(ui): resolve 19 C/H/M UI/UX audit issues across 14 frontend files (#323)
  apps/frontend/src/__tests__/accountsPage.test.tsx
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/journalPage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/statementsPage.test.tsx
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/app/(main)/statements/page.tsx
  apps/frontend/src/app/login/page.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/accounts/AccountFormModal.tsx
  apps/frontend/src/components/journal/JournalEntryForm.tsx
Due: frontend-lint

fix(ui): resolve 19 Critical/High UI/UX audit issues (Round 2)
  apps/frontend/src/__tests__/assetsPage.test.tsx
  apps/frontend/src/__tests__/chartsComponents.test.tsx
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/confirmDialogComponent.test.tsx
  apps/frontend/src/__tests__/date.test.ts
  apps/frontend/src/__tests__/loginPage.test.tsx
  apps/frontend/src/__tests__/shellAndAuth.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/app/(main)/statements/page.tsx
  apps/frontend/src/app/login/page.tsx
  apps/frontend/src/components/AppShell.tsx
  apps/frontend/src/components/AuthGuard.tsx
  apps/frontend/src/components/ChatPageClient.tsx
  apps/frontend/src/components/ChatPanel.tsx
  apps/frontend/src/components/ChatWidget.tsx
  apps/frontend/src/components/WorkspaceTabs.tsx
  apps/frontend/src/components/accounts/AccountFormModal.tsx
  apps/frontend/src/components/charts/PieChart.tsx
  apps/frontend/src/components/journal/JournalEntryForm.tsx
  apps/frontend/src/components/reconciliation/Workbench.tsx
  apps/frontend/src/components/statements/StatementUploader.tsx
  apps/frontend/src/components/ui/ConfirmDialog.tsx
  apps/frontend/src/lib/date.ts
Due: frontend-lint

refactor(infra): remove Redis dependency, use pure in-memory rate limiting
  .env.example
  .github/workflows/pr-test.yml
  apps/backend/pyproject.toml
  apps/backend/src/boot.py
  apps/backend/src/config.py
  apps/backend/src/main.py
  apps/backend/src/rate_limit.py
  apps/backend/tests/conftest.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_epic_001_contracts.py
  apps/backend/tests/infra/test_main.py
  apps/backend/tests/infra/test_rate_limit.py
  apps/backend/tests/infra/test_rate_limit_redis.py
  apps/backend/uv.lock
  docker-compose.yml
  scripts/cleanup_dev_resources.sh
  scripts/debug.py
  scripts/dev_backend.py
  scripts/infra.sh
  scripts/smoke_test.sh
  scripts/tests/test_debug.py
Due: check-env-keys, validate-schemas

test(ui): add coverage tests for focus trap, chat panel errors, and widget escape
  apps/frontend/src/__tests__/ChatPageClient.test.tsx
  apps/frontend/src/__tests__/ChatWidget.test.tsx
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/confirmDialogComponent.test.tsx
Due: frontend-lint

fix(lint): remove unused rate_limit imports in main.py
  apps/backend/src/main.py
Due: none

fix(ui): address PR #324 code review comments
  apps/frontend/src/__tests__/ChatWidget.test.tsx
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/confirmDialogComponent.test.tsx
  apps/frontend/src/__tests__/date.test.ts
  apps/frontend/src/__tests__/loginPage.test.tsx
  apps/frontend/src/__tests__/shellAndAuth.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/reconciliation/review-queue/page.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/statements/page.tsx
  apps/frontend/src/components/AppShell.tsx
  apps/frontend/src/components/ChatPageClient.tsx
  apps/frontend/src/components/ChatWidget.tsx
  apps/frontend/src/components/accounts/AccountFormModal.tsx
  apps/frontend/src/components/journal/JournalEntryForm.tsx
  apps/frontend/src/components/reconciliation/Workbench.tsx
  apps/frontend/src/components/ui/ConfirmDialog.tsx
  apps/frontend/src/hooks/useFocusTrap.ts
  apps/frontend/src/lib/date.ts
Due: frontend-lint

test(boot): cover FULL mode service error path to fix coverage regression
  apps/backend/tests/infra/test_boot.py
Due: none

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
