Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

fix(migration): use postgresql.ENUM with create_type=False for portfolio enums
  apps/backend/migrations/versions/5e7857c97b74_epic17_add_portfolio_models_and_extend_.py
Due: none

Fix P1/P2 technical debt: FX reporting consistency, reconciliation idempotency, fallback warning, orphan sweep (#346)
  .env.example
  .github/workflows/ci.yml
  apps/backend/src/config.py
  apps/backend/src/main.py
  apps/backend/src/services/fx.py
  apps/backend/src/services/reconciliation.py
  apps/backend/src/services/reporting.py
  apps/backend/src/services/storage_sweep.py
  apps/backend/tests/reconciliation/test_transfer_idempotency.py
  apps/backend/tests/reporting/test_fx_average_rate_fallback.py
  apps/backend/tests/reporting/test_net_income_average_rates.py
  apps/backend/tests/reporting/test_reporting_extreme_fallbacks.py
  apps/backend/tests/services/test_storage_sweep.py
  unified-coverage.json
Due: check-env-keys, validate-schemas

fix(migration): make 5e7857c97b74 upgrade fully idempotent (#361)
  apps/backend/migrations/versions/5e7857c97b74_epic17_add_portfolio_models_and_extend_.py
Due: none

docs(project): add vision delivery checklist for Upload PDF → Accurate Dashboard flow (#372)
  docs/project/README.md
Due: none

feat(pipeline): auto-post Stage 1 journal entries, add unmatched batch create, and harden idempotency/performance with reviewer-driven concurrency, scale, and UI safeguards (#371)
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/reconciliation.py
  apps/backend/src/schemas/review.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/frontend/src/__tests__/statementDetailPage.coverage.test.tsx
  apps/frontend/src/__tests__/statementDetailPage.test.tsx
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
Due: validate-schemas, frontend-lint

docs: snapshot OpenClaw quant company state
  docs/openclaw-quant-company-state.md
Due: none

test: add regression tests for AC traceability date-stripping in --check mode (#376)
  scripts/tests/test_build_ac_traceability.py
Due: none

fix(review): authorize statement approval before validation
  apps/backend/README.md
  apps/backend/src/routers/statements.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/api/test_statements_router.py
Due: none

test(e2e): accept approved detail redirect
  tests/e2e/test_statement_full_journey.py
Due: none

test(frontend): exercise chat model selection change
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
Due: frontend-lint

docs(project): refresh AC traceability audit
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
Due: none

test(backend): cover legacy statement error paths
  apps/backend/tests/api/test_statements_router.py
Due: none

test(e2e): tolerate staging response latency
  .github/workflows/pr-test.yml
  tests/e2e/conftest.py
  tests/e2e/test_core_journeys.py
  tests/e2e/test_e2e_flows.py
Due: none

test(e2e): assert statement detail content after parse
  tests/e2e/test_statement_full_journey.py
Due: none

test(e2e): skip full journey on AI rejection
  tests/e2e/test_statement_full_journey.py
Due: none

feat(ai): switch default provider to glm
  .env.example
  .github/workflows/pr-test.yml
  apps/backend/src/boot.py
  apps/backend/src/config.py
  apps/backend/src/routers/ai_models.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/ai_advisor.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/openrouter_models.py
  apps/backend/src/services/openrouter_streaming.py
  apps/backend/src/services/reconciliation.py
  apps/backend/tests/ai/test_ai_advisor_service.py
  apps/backend/tests/ai/test_ai_models_integration.py
  apps/backend/tests/ai/test_openrouter_models.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_config_contract.py
  apps/backend/tests/infra/test_main.py
  docker-compose.yml
  docs/contributing/branch-policy.md
  docs/infra_registry.yaml
  docs/project/EPIC-007.deployment.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/README.md
  docs/ssot/ai.md
  docs/ssot/extraction.md
  docs/ssot/observability-logging.md
  docs/ssot/tdd.md
Due: check-env-keys, validate-schemas

test(ai): align OCR default upload expectations
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_extraction_flow.py
  apps/backend/tests/extraction/test_statements_supervisor_errors.py
Due: none

ci: fix frontend coverage upload base path
  .github/workflows/ci.yml
  docs/ssot/coverage.md
Due: none

test(ai): cover OCR extraction pipeline
  apps/backend/tests/extraction/test_extraction_error_paths.py
Due: none

test(ai): cover provider compatibility branches
  apps/backend/tests/ai/test_openrouter_streaming.py
  apps/backend/tests/infra/test_config_contract.py
Due: none

ci: align Coveralls PR coverage reporting
  .github/workflows/ci.yml
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  docs/ssot/coverage.md
Due: none

test(ai): raise backend coverage for provider migration
  apps/backend/tests/ai/test_openrouter_models.py
  apps/backend/tests/extraction/test_ai_csv_parsing.py
Due: none

test(ci): harden post-merge ai ocr e2e gates
  .github/workflows/production-release.yml
  .github/workflows/staging-deploy.yml
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/ci-cd.md
  pytest.ini
  scripts/tests/test_post_merge_e2e_gates.py
  tests/e2e/conftest.py
  tests/e2e/pytest.ini
  tests/e2e/test_production_readonly_smoke.py
  tests/e2e/test_statement_full_journey.py
  tests/e2e/test_statement_upload_e2e.py
Due: none

test(ci): harden post-merge ai ocr e2e gates (#379)
  .github/workflows/production-release.yml
  .github/workflows/staging-deploy.yml
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/ci-cd.md
  pytest.ini
  scripts/tests/test_post_merge_e2e_gates.py
  tests/e2e/conftest.py
  tests/e2e/pytest.ini
  tests/e2e/test_production_readonly_smoke.py
  tests/e2e/test_statement_full_journey.py
  tests/e2e/test_statement_upload_e2e.py
Due: none

ci: serialize post-merge llm e2e gate
  .github/workflows/staging-deploy.yml
  apps/backend/src/services/openrouter_models.py
  apps/backend/tests/ai/test_openrouter_models.py
  apps/backend/tests/ai/test_openrouter_streaming.py
  apps/frontend/src/components/statements/StatementUploader.tsx
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  pytest.ini
  scripts/dokploy_deploy.sh
  scripts/tests/test_post_merge_e2e_gates.py
  tests/e2e/pytest.ini
  tests/e2e/test_statement_full_journey.py
  tests/e2e/test_statement_upload_e2e.py
Due: frontend-lint

ci: serialize post-merge llm e2e gate (#380)
  .github/workflows/staging-deploy.yml
  apps/backend/src/services/openrouter_models.py
  apps/backend/tests/ai/test_openrouter_models.py
  apps/backend/tests/ai/test_openrouter_streaming.py
  apps/frontend/src/components/statements/StatementUploader.tsx
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  pytest.ini
  scripts/dokploy_deploy.sh
  scripts/tests/test_post_merge_e2e_gates.py
  tests/e2e/pytest.ini
  tests/e2e/test_statement_full_journey.py
  tests/e2e/test_statement_upload_e2e.py
Due: frontend-lint

fix(ci): validate GLM AI secret aliases
  scripts/check_env_keys.py
Due: none

fix(ai): default to latest GLM models
  .env.example
  .github/workflows/pr-test.yml
  apps/backend/src/config.py
  apps/backend/tests/ai/test_openrouter_models.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_main.py
  docker-compose.yml
  docs/ssot/extraction.md
  docs/ssot/observability-logging.md
Due: check-env-keys, validate-schemas

fix(ci): validate GLM AI secret aliases (#381)
  .env.example
  .github/workflows/pr-test.yml
  apps/backend/src/config.py
  apps/backend/tests/ai/test_openrouter_models.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_main.py
  docker-compose.yml
  docs/ssot/extraction.md
  docs/ssot/observability-logging.md
  scripts/check_env_keys.py
Due: check-env-keys, validate-schemas

ci: centralize glm e2e provider gate
  .github/workflows/pr-test.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  scripts/tests/test_post_merge_e2e_gates.py
Due: none

ci: use zai coding endpoint for glm gates
  .github/workflows/pr-test.yml
  apps/backend/src/config.py
  apps/backend/tests/ai/test_openrouter_streaming.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_config.py
  docs/ssot/ci-cd.md
  docs/ssot/extraction.md
  scripts/tests/test_post_merge_e2e_gates.py
Due: check-env-keys, validate-schemas

ci: centralize GLM E2E provider gate (#382)
  .github/workflows/pr-test.yml
  apps/backend/src/config.py
  apps/backend/tests/ai/test_openrouter_streaming.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_config.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/extraction.md
  scripts/tests/test_post_merge_e2e_gates.py
Due: check-env-keys, validate-schemas

fix(ai): secure glm pdf fallback via file urls
  .github/workflows/pr-test.yml
  apps/backend/src/config.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/storage.py
  apps/backend/tests/ai/test_openrouter_models.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_extraction.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/extraction/test_extraction_flow.py
  apps/backend/tests/extraction/test_storage.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_main.py
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/extraction.md
  scripts/tests/test_secure_glm_file_url.py
Due: check-env-keys, validate-schemas

fix(ai): secure glm pdf fallback via file urls (#384)
  .github/workflows/pr-test.yml
  apps/backend/src/config.py
  apps/backend/src/routers/statements.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/storage.py
  apps/backend/tests/ai/test_openrouter_models.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_extraction.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/extraction/test_extraction_flow.py
  apps/backend/tests/extraction/test_storage.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_main.py
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/extraction.md
  scripts/tests/test_secure_glm_file_url.py
Due: check-env-keys, validate-schemas

Harden GLM PDF extraction gate
  .env.example
  .github/workflows/pr-test.yml
  .github/workflows/staging-deploy.yml
  apps/backend/src/config.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/openrouter_streaming.py
  apps/backend/tests/ai/test_openrouter_streaming.py
  docs/contributing/branch-policy.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/extraction.md
  scripts/dokploy_deploy.sh
  scripts/tests/test_post_merge_e2e_gates.py
Due: check-env-keys, validate-schemas

Use ZAI image URL payloads for PDF fallback
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_extraction.py
  apps/backend/tests/extraction/test_extraction_flow.py
  docs/ac_registry.yaml
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/extraction.md
  scripts/tests/test_secure_glm_file_url.py
Due: none

Render PDF pages for ZAI vision fallback
  apps/backend/pyproject.toml
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_extraction.py
  apps/backend/tests/extraction/test_extraction_flow.py
  apps/backend/uv.lock
  docs/ssot/extraction.md
  scripts/tests/test_secure_glm_file_url.py
Due: none
