Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

feat: add report package readiness state
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/report_readiness.py
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_workflow_router.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/reporting.md
  docs/ssot/workflow-events.md
Due: validate-schemas, frontend-lint

feat: add report package readiness state (#655)
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/report_readiness.py
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_workflow_router.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/reporting.md
  docs/ssot/workflow-events.md
Due: validate-schemas, frontend-lint

fix reporting annualized currency conversion (#658)
  apps/backend/src/routers/income.py
  apps/backend/src/routers/reports.py
  apps/backend/tests/reporting/test_annualized_income_schedule.py
  apps/backend/tests/reporting/test_income_annualized_router.py
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/reporting.md
Due: none

Add workflow notification surface tests
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/playwright/workflow-notifications.spec.ts
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/workflowApi.test.ts
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
Due: frontend-lint

Simplify project docs around generated proof
  README.md
  docs/project/AC-AUDIT-2026-05-04.md
  docs/project/AUDITS.md
  docs/project/EPIC-001.phase0-setup.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-006.ai-advisor.md
  docs/project/EPIC-007.deployment.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-009.pdf-fixture-generation.md
  docs/project/EPIC-010.signoz-logging.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/EPIC-015.processing-account.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/README.md
  docs/ssot/README.md
  docs/ssot/tdd.md
  docs/user-guide/reports.md
Due: none

Implement workflow notification surfaces
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/playwright/workflow-notifications.spec.ts
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/eventsPage.test.tsx
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/events/page.tsx
  apps/frontend/src/components/AppShell.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  apps/frontend/src/lib/api.ts
  apps/frontend/src/lib/types.ts
  docs/ssot/workflow-events.md
Due: frontend-lint

fix: harden report readiness contract
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/frontend/src/app/(main)/reports/package/page.tsx
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

fix: harden post-merge report schedule evidence
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pr-preview-cleanup.yml
  .github/workflows/pr-test.yml
  .github/workflows/production-release.yml
  .github/workflows/staging-ai-ocr-gate.yml
  .github/workflows/staging-deploy.yml
  apps/backend/src/routers/portfolio.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/ci-cd.md
  docs/ssot/reporting.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

fix: harden post-merge report schedule evidence (#661)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pr-preview-cleanup.yml
  .github/workflows/pr-test.yml
  .github/workflows/production-release.yml
  .github/workflows/staging-ai-ocr-gate.yml
  .github/workflows/staging-deploy.yml
  apps/backend/src/routers/portfolio.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/ci-cd.md
  docs/ssot/reporting.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_ui] Add workflow notifications (#657)
  apps/backend/src/services/workflow_events.py
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/playwright/workflow-notifications.spec.ts
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/eventsPage.test.tsx
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/__tests__/workflowApi.test.ts
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/events/page.tsx
  apps/frontend/src/components/AppShell.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  apps/frontend/src/lib/api.ts
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/workflow-events.md
Due: frontend-lint

Simplify project docs around generated proof (#659)
  README.md
  docs/project/AC-AUDIT-2026-05-04.md
  docs/project/AUDITS.md
  docs/project/EPIC-001.phase0-setup.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-006.ai-advisor.md
  docs/project/EPIC-007.deployment.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-009.pdf-fixture-generation.md
  docs/project/EPIC-010.signoz-logging.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/EPIC-015.processing-account.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/README.md
  docs/ssot/README.md
  docs/ssot/tdd.md
  docs/user-guide/reports.md
Due: none

fix: harden report readiness contract (#660)
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/frontend/src/app/(main)/reports/package/page.tsx
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

fix reporting portfolio fx readiness audit
  apps/backend/src/routers/portfolio.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  docs/project/EPIC-017.portfolio-management.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/reporting.md
Due: none

fix pr preview image deployment gate
  .github/workflows/pr-test.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_audit] Fix portfolio FX and readiness audit gaps (#662)
  .github/workflows/pr-test.yml
  apps/backend/src/routers/portfolio.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/ci-cd.md
  docs/ssot/reporting.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

Simplify project EPIC SSOT ownership docs
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-009.pdf-fixture-generation.md
  docs/project/EPIC-016.two-stage-review-ui.md
Due: none

Simplify project EPIC SSOT ownership docs (#663)
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-009.pdf-fixture-generation.md
  docs/project/EPIC-016.two-stage-review-ui.md
Due: none

fix: harden staging ai ocr gate determinism
  .github/workflows/staging-deploy.yml
  docs/ssot/ci-cd.md
  tests/e2e/test_personal_financial_report_package.py
  tests/e2e/test_statement_full_journey.py
  tests/tooling/test_personal_report_package_fixture_contract.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

Add reconciliation audit harness
  .github/workflows/ci.yml
  .gitignore
  apps/backend/src/services/reconciliation_audit.py
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-004.reconciliation-engine.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/ci-cd.md
  docs/ssot/extraction-audit-failed-cases.yaml
  docs/ssot/extraction.md
  docs/ssot/reconciliation.md
  tests/tooling/test_extraction_failed_case_registry.py
  tests/tooling/test_reconciliation_audit.py
  tools/reconciliation_audit.py
Due: none

Fix tooling audit imports
  .github/workflows/ci.yml
  apps/backend/src/services/__init__.py
Due: none

fix: cover upload-first dashboard checks
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  tests/e2e/test_four_asset_net_worth_golden_path.py
  tests/e2e/test_personal_financial_report_package.py
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: frontend-lint

feat: make dashboard upload-first workflow home
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
Due: frontend-lint

test: define upload-first dashboard ACs
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/playwright/upload-first-dashboard.spec.ts
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/workflow-events.md
Due: frontend-lint

fix: stabilize workflow notification smoke
  apps/frontend/playwright/workflow-notifications.spec.ts
Due: frontend-lint

fix: harden staging ai ocr gate determinism (#666)
  .github/workflows/staging-deploy.yml
  docs/ssot/ci-cd.md
  tests/e2e/test_personal_financial_report_package.py
  tests/e2e/test_statement_full_journey.py
  tests/tooling/test_personal_report_package_fixture_contract.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

fix: stabilize upload-first SSOT test
  apps/backend/tests/workflow/test_workflow_events.py
Due: none

[finance_report_vision] Add reconciliation audit harness (#667)
  .github/workflows/ci.yml
  .gitignore
  apps/backend/src/services/__init__.py
  apps/backend/src/services/reconciliation_audit.py
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-004.reconciliation-engine.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/ci-cd.md
  docs/ssot/extraction-audit-failed-cases.yaml
  docs/ssot/extraction.md
  docs/ssot/reconciliation.md
  tests/tooling/test_extraction_failed_case_registry.py
  tests/tooling/test_reconciliation_audit.py
  tools/reconciliation_audit.py
Due: none

[finance_report_ui] Build upload-first dashboard entry surface (#664)
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/playwright/upload-first-dashboard.spec.ts
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/workflow-events.md
  tests/e2e/test_four_asset_net_worth_golden_path.py
  tests/e2e/test_personal_financial_report_package.py
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: frontend-lint

Expand portfolio audit fixtures
  apps/backend/src/services/brokerage_positions.py
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/critical-proof-matrix.yaml
  tests/e2e/test_personal_financial_report_package.py
  tests/tooling/test_personal_report_package_fixture_contract.py
  tests/tooling/test_portfolio_audit_fixture_contract.py
  tools/_lib/fixtures/personal_report_package.py
  tools/_lib/fixtures/portfolio_audit_package.py
Due: none

[finance_report_ui] Fold workflow navigation
  apps/backend/tests/workflow/test_workflow_events.py
  apps/frontend/playwright/workflow-navigation.spec.ts
  apps/frontend/src/__tests__/mobileNav.coverage.test.tsx
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/components/MobileNav.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/navigation.ts
  docs/project/EPIC-019.event-driven-upload-to-report-ux.md
  docs/ssot/workflow-events.md
Due: frontend-lint

[finance_report_ui] Cover navigation folding branches
  apps/frontend/src/__tests__/mobileNav.coverage.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
Due: frontend-lint

[finance_report_ui] Align advanced AI settings route label
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/components/navigation.ts
  docs/project/EPIC-015.processing-account.md
Due: frontend-lint

[finance_report_vision] Gate reconciliation audit
  .github/workflows/ci.yml
  apps/backend/src/services/reconciliation_audit.py
  docs/project/EPIC-004.reconciliation-engine.md
  docs/ssot/ci-cd.md
  docs/ssot/reconciliation.md
  tests/tooling/test_archive_residual_epic_ownership.py
  tests/tooling/test_reconciliation_audit.py
Due: none

[finance_report_ui] Stabilize workflow badge sidebar test
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
Due: frontend-lint

[finance_report_vision] Gate PR preview frontend readiness
  .github/workflows/pr-test.yml
  .github/workflows/production-release.yml
  apps/frontend/Dockerfile
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_vision] Pass frontend preview build SHA
  docker-compose.yml
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
Due: none

Expand portfolio audit fixtures (#668)
  apps/backend/src/services/brokerage_positions.py
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/critical-proof-matrix.yaml
  tests/e2e/test_personal_financial_report_package.py
  tests/tooling/test_personal_report_package_fixture_contract.py
  tests/tooling/test_portfolio_audit_fixture_contract.py
  tools/_lib/fixtures/personal_report_package.py
  tools/_lib/fixtures/portfolio_audit_package.py
Due: none

Simplify PDF fixture docs into MkDocs SSOT
  common/ci/change_classifier.py
  docs/project/EPIC-009.pdf-fixture-generation.md
  docs/project/README.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/pdf-fixtures.md
  mkdocs.yml
  tests/tooling/test_ci_change_classifier.py
  tests/tooling/test_pdf_fixture_epic009_behavior.py
  tools/_lib/pdf_fixtures/FONT_HANDLING.md
  tools/_lib/pdf_fixtures/README.md
  tools/_lib/pdf_fixtures/analyzers/README.md
Due: none
