Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

[finance_report_vision] docs(governance): module → package-model migration recipe (#1357) (#1366)
  common/governance/readme.md
Due: none

[finance_report_vision] chore(counter): drop stale @ac_proof anchors left by the invariants split (#1356 follow-up) (#1368)
  docs/analysis/traceability-exceptions.md
  tests/tooling/test_counter_package.py
Due: none

[finance_report_test_and_doc] docs(vision): add Good Taste section (engineering-craft layer feeding the Decision Filter)
  vision.md
Due: none

[finance_report_audit] refactor(routers): shared get_owned_or_404 + paginate query helpers (DRY)
  apps/backend/src/routers/chat.py
  apps/backend/src/routers/journal.py
  apps/backend/src/routers/llm.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/review.py
  apps/backend/src/routers/statements.py
  apps/backend/src/utils/__init__.py
  apps/backend/src/utils/queries.py
Due: none

docs(vision): clarify "not a research paper" (Copilot review #1370)
  vision.md
Due: none

[finance_report_test_and_doc] docs(vision): add Good Taste section feeding the Decision Filter (#1370)
  vision.md
Due: none

[finance_report_audit] refactor(frontend): reuse LoadingState/EmptyState components (DRY)
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/app/(main)/processing/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
Due: frontend-lint

chore(docs): resync router-contract-maturity snapshot after helper extraction
  docs/reference/router-contract-maturity.md
Due: none

refactor(schemas): add Percent alias; stop typing percent fields as MoneyAmount
  apps/backend/src/schemas/base.py
  apps/backend/src/schemas/portfolio.py
Due: validate-schemas

refactor(queries): strip ORDER BY/LIMIT/OFFSET before counting in paginate()
  apps/backend/src/utils/queries.py
Due: none

[finance_report_vision] refactor(EPIC-026): unify authority vocabulary to CODE-ONLY/CODE-LED/LLM-LED/LLM-ONLY
  common/counter/contract.py
  common/governance/contract.py
  common/governance/package_contract.py
  common/governance/readme.md
  common/platform/contract.py
  common/platform/readme.md
  common/ssot/authority_classifier.py
  common/ssot/authority_matrix.py
  common/ssot/check_ac_proof_kind.py
  common/ssot/check_ac_tier_baseline.py
  common/ssot/check_tier_ast_literal.py
  common/ssot/check_tier_imports.py
  common/ssot/generate_ac_registry.py
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-006.ai-advisor.md
  docs/project/EPIC-007.deployment.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-020.framework-aware-personal-reporting.md
  docs/project/EPIC-021.application-ai-advisor.md
  docs/project/EPIC-023.llm-provider-abstraction.md
  docs/project/EPIC-026.ac-authority-tiers.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/authority-tiers.md
  docs/ssot/pdf-fixtures.md
  tests/tooling/test_ac_authority_tiers.py
  tests/tooling/test_ac_proof_kind.py
  tests/tooling/test_check_package_contract.py
  tests/tooling/test_framework_reporting_epic_contract.py
  tests/tooling/test_migration_safety_gates.py
  tests/tooling/test_tier_imports.py
Due: none

[finance_report_audit] refactor(schemas): single-source money/quantity field annotations (DRY) (#1369)
  apps/backend/src/schemas/account.py
  apps/backend/src/schemas/assets.py
  apps/backend/src/schemas/base.py
  apps/backend/src/schemas/income.py
  apps/backend/src/schemas/portfolio.py
Due: validate-schemas

[finance_report_audit] refactor(routers): shared get_owned_or_404 + paginate query helpers (DRY) (#1371)
  apps/backend/src/routers/chat.py
  apps/backend/src/routers/journal.py
  apps/backend/src/routers/llm.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/review.py
  apps/backend/src/routers/statements.py
  apps/backend/src/utils/__init__.py
  apps/backend/src/utils/queries.py
  docs/reference/router-contract-maturity.md
Due: none

[finance_report_audit] refactor(frontend): reuse LoadingState/EmptyState components (DRY) (#1372)
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/app/(main)/processing/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
Due: frontend-lint

[finance_report_vision] refactor(EPIC-026): unify authority vocabulary to CODE-ONLY/CODE-LED/LLM-LED/LLM-ONLY (#1373)
  common/counter/contract.py
  common/governance/contract.py
  common/governance/package_contract.py
  common/governance/readme.md
  common/platform/contract.py
  common/platform/readme.md
  common/ssot/authority_classifier.py
  common/ssot/authority_matrix.py
  common/ssot/check_ac_proof_kind.py
  common/ssot/check_ac_tier_baseline.py
  common/ssot/check_tier_ast_literal.py
  common/ssot/check_tier_imports.py
  common/ssot/generate_ac_registry.py
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-006.ai-advisor.md
  docs/project/EPIC-007.deployment.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-020.framework-aware-personal-reporting.md
  docs/project/EPIC-021.application-ai-advisor.md
  docs/project/EPIC-023.llm-provider-abstraction.md
  docs/project/EPIC-026.ac-authority-tiers.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/authority-tiers.md
  docs/ssot/pdf-fixtures.md
  tests/tooling/test_ac_authority_tiers.py
  tests/tooling/test_ac_proof_kind.py
  tests/tooling/test_check_package_contract.py
  tests/tooling/test_framework_reporting_epic_contract.py
  tests/tooling/test_migration_safety_gates.py
  tests/tooling/test_tier_imports.py
Due: none

feat: migrate money/ratio/quantity/unit_price to PackageContract
  common/money/contract.py
  common/quantity/contract.py
  common/ratio/contract.py
  common/unit_price/contract.py
Due: none

fix: use CODE-ONLY tier vocab (main adopted CODE/LLM bands as PackageContract tier)
  common/money/contract.py
  common/quantity/contract.py
  common/ratio/contract.py
  common/unit_price/contract.py
Due: none

fix(unit_price): fe=None — no apps/frontend/src/lib/unit_price exists (Copilot)
  common/unit_price/contract.py
Due: none

[finance_report_vision] feat(EPIC-026): reconcile declared authority tier vs detected CODE/LLM band
  .github/workflows/ci.yml
  common/ssot/check_authority_reconcile.py
  common/ssot/generate_ac_registry.py
  docs/ssot/MANIFEST.yaml
  tests/tooling/test_migration_safety_gates.py
  tools/check_authority_reconcile.py
Due: none

[finance_report_audit] refactor(frontend): extract FilterTabs + useConfirmDialog + useSettingsForm (DRY)
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/settings/ai/page.tsx
  apps/frontend/src/app/(main)/settings/general/page.tsx
  apps/frontend/src/components/ui/FilterTabs.tsx
  apps/frontend/src/hooks/useConfirmDialog.ts
  apps/frontend/src/hooks/useSettingsForm.ts
Due: frontend-lint

[finance_report_ui] Migrate money/ratio/quantity/unit_price to PackageContract (#1374)
  common/money/contract.py
  common/quantity/contract.py
  common/ratio/contract.py
  common/unit_price/contract.py
Due: none

fix(FilterTabs): explicit type="button" to avoid form submission
  apps/frontend/src/components/ui/FilterTabs.tsx
Due: frontend-lint

[finance_report_audit] refactor(frontend): FilterTabs + useConfirmDialog + useSettingsForm (DRY) (#1376)
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/settings/ai/page.tsx
  apps/frontend/src/app/(main)/settings/general/page.tsx
  apps/frontend/src/components/ui/FilterTabs.tsx
  apps/frontend/src/hooks/useConfirmDialog.ts
  apps/frontend/src/hooks/useSettingsForm.ts
Due: frontend-lint

docs: add readme.md + todo.md to money/ratio/quantity/unit_price
  common/money/readme.md
  common/money/todo.md
  common/quantity/readme.md
  common/quantity/todo.md
  common/ratio/readme.md
  common/ratio/todo.md
  common/unit_price/readme.md
  common/unit_price/todo.md
Due: none

docs(unit_price): fix grammar — 'a unit clash raises UnitMismatchError' (Copilot)
  common/unit_price/readme.md
Due: none

[finance_report_audit] refactor(currency): one canonical normalize_currency_code (DRY)
  apps/backend/src/money/__init__.py
  apps/backend/src/money/currency.py
  apps/backend/src/schemas/base.py
  apps/backend/src/services/accounting.py
  apps/backend/src/services/annualized_income.py
  apps/backend/src/services/fx.py
  apps/backend/src/services/report_package.py
  apps/backend/src/services/statement_posting.py
Due: validate-schemas

[finance_report_audit] refactor(frontend): StatusBadge for status->variant badges (DRY)
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/_components/StatementHeader.tsx
  apps/frontend/src/app/(main)/statements/[id]/_components/StatementTransactionsTable.tsx
  apps/frontend/src/components/ui/index.tsx
Due: frontend-lint

[finance_report_test_and_doc] chore(governance): drop the declared PC/CP/LP/PL authority-tier model
  .github/workflows/ci.yml
  common/counter/contract.py
  common/governance/contract.py
  common/governance/package_contract.py
  common/governance/readme.md
  common/platform/contract.py
  common/ssot/authority_matrix.py
  common/ssot/check_ac_proof_kind.py
  common/ssot/check_ac_tier_baseline.py
  common/ssot/check_epic_package_dual.py
  common/ssot/check_tier_ast_literal.py
  common/ssot/check_tier_imports.py
  common/ssot/generate_ac_registry.py
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-006.ai-advisor.md
  docs/project/EPIC-007.deployment.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-020.framework-aware-personal-reporting.md
  docs/project/EPIC-021.application-ai-advisor.md
  docs/project/EPIC-023.llm-provider-abstraction.md
  docs/project/EPIC-026.ac-authority-tiers.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/ac-tier-baseline.json
  docs/ssot/authority-tiers.md
  docs/ssot/ci-cd.md
  tests/e2e/test_ac_authority_tiers_epic026.py
  tests/tooling/test_ac_authority_tiers.py
  tests/tooling/test_ac_proof_execution_model.py
  tests/tooling/test_ac_proof_kind.py
  tests/tooling/test_check_package_contract.py
  tests/tooling/test_framework_reporting_epic_contract.py
  tests/tooling/test_migration_safety_gates.py
  tools/check_ac_proof_kind.py
  tools/check_ac_tier_baseline.py
  tools/check_tier_ast_literal.py
  tools/check_tier_imports.py
Due: none

fix(currency): import normalize_currency_code from submodule, not money package root
  apps/backend/src/money/__init__.py
  apps/backend/src/services/accounting.py
  apps/backend/src/services/annualized_income.py
  apps/backend/src/services/fx.py
  apps/backend/src/services/report_package.py
  apps/backend/src/services/statement_posting.py
Due: none

[finance_report_vision] feat(EPIC-026): reconcile declared authority tier vs detected CODE/LLM band (#1375)
  .github/workflows/ci.yml
  common/ssot/check_authority_reconcile.py
  common/ssot/generate_ac_registry.py
  docs/ssot/MANIFEST.yaml
  tests/tooling/test_migration_safety_gates.py
  tools/check_authority_reconcile.py
Due: none

[finance_report_ui] Add readme.md + todo.md to value packages (package-model parity) (#1377)
  common/money/readme.md
  common/money/todo.md
  common/quantity/readme.md
  common/quantity/todo.md
  common/ratio/readme.md
  common/ratio/todo.md
  common/unit_price/readme.md
  common/unit_price/todo.md
Due: none

[finance_report_vision] refactor(EPIC-026): consolidate authority_* into the common/authority package
  common/authority/__init__.py
  common/authority/authority_classifier.py
  common/authority/authority_matrix.py
  common/authority/check_ac_proof_kind.py
  common/authority/check_ac_tier_baseline.py
  common/authority/check_authority_reconcile.py
  common/authority/check_tier_ast_literal.py
  common/authority/check_tier_imports.py
  common/authority/contract.py
  common/authority/readme.md
  common/governance/contract.py
  common/governance/package_contract.py
  common/ssot/generate_ac_registry.py
  docs/project/EPIC-026.ac-authority-tiers.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/authority-tiers.md
  tests/e2e/test_ac_authority_tiers_epic026.py
  tests/tooling/test_ac_authority_tiers.py
  tests/tooling/test_ac_proof_kind.py
  tests/tooling/test_authority_classifier.py
  tests/tooling/test_migration_safety_gates.py
  tests/tooling/test_tier_imports.py
  tools/authority_counter.py
  tools/check_ac_proof_kind.py
  tools/check_ac_tier_baseline.py
  tools/check_authority_reconcile.py
  tools/check_tier_ast_literal.py
  tools/check_tier_imports.py
Due: none

[finance_report_audit] refactor(currency): one canonical normalize_currency_code (DRY) (#1379)
  apps/backend/src/money/currency.py
  apps/backend/src/schemas/base.py
  apps/backend/src/services/accounting.py
  apps/backend/src/services/annualized_income.py
  apps/backend/src/services/fx.py
  apps/backend/src/services/report_package.py
  apps/backend/src/services/statement_posting.py
Due: validate-schemas

[finance_report_audit] refactor(frontend): StatusBadge for status->variant badges (DRY) (#1380)
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/_components/StatementHeader.tsx
  apps/frontend/src/app/(main)/statements/[id]/_components/StatementTransactionsTable.tsx
  apps/frontend/src/components/ui/index.tsx
Due: frontend-lint

chore(#896): retire dead per-transaction status enum + unused commit-scoped preview URL
  .github/workflows/preview.yml
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/extraction.py
  apps/backend/src/schemas/reconciliation.py
  apps/frontend/openapi.json
  apps/frontend/src/lib/api-types.ts
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle/__init__.py
  tools/_lib/dev/pr_preview_lifecycle/_preview.py
Due: validate-schemas, frontend-lint

feat: migrate config/coverage/observability to PackageContract (governance-only)
  common/config/contract.py
  common/config/readme.md
  common/config/todo.md
  common/coverage/contract.py
  common/coverage/readme.md
  common/coverage/todo.md
  common/observability/contract.py
  common/observability/readme.md
  common/observability/todo.md
Due: none

chore(#896): regenerate docs/reference/api.md after schema removal
  docs/reference/api.md
Due: none

[finance_report_vision] refactor(EPIC-026): consolidate authority_* into the common/authority package (#1378)
  common/authority/__init__.py
  common/authority/authority_classifier.py
  common/authority/authority_matrix.py
  common/authority/check_ac_proof_kind.py
  common/authority/check_ac_tier_baseline.py
  common/authority/check_authority_reconcile.py
  common/authority/check_tier_ast_literal.py
  common/authority/check_tier_imports.py
  common/authority/contract.py
  common/authority/readme.md
  common/governance/contract.py
  common/governance/package_contract.py
  common/ssot/generate_ac_registry.py
  docs/project/EPIC-026.ac-authority-tiers.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/authority-tiers.md
  tests/e2e/test_ac_authority_tiers_epic026.py
  tests/tooling/test_ac_authority_tiers.py
  tests/tooling/test_ac_proof_kind.py
  tests/tooling/test_authority_classifier.py
  tests/tooling/test_migration_safety_gates.py
  tests/tooling/test_tier_imports.py
  tools/authority_counter.py
  tools/check_ac_proof_kind.py
  tools/check_ac_tier_baseline.py
  tools/check_authority_reconcile.py
  tools/check_tier_ast_literal.py
  tools/check_tier_imports.py
Due: none

[finance_report_test_and_doc] docs(readme): fix stale authority-tier names left by the #1373 rename
  README.md
Due: none

[finance_report_hacker] chore(#896): retire dead txn-status enum + unused commit-scoped preview URL (#1382)
  .github/workflows/preview.yml
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/extraction.py
  apps/backend/src/schemas/reconciliation.py
  apps/frontend/openapi.json
  apps/frontend/src/lib/api-types.ts
  docs/reference/api.md
  tests/tooling/test_pr_preview_lifecycle.py
  tools/_lib/dev/pr_preview_lifecycle/__init__.py
  tools/_lib/dev/pr_preview_lifecycle/_preview.py
Due: validate-schemas, frontend-lint

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
