Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

fix: swallow ObjectAlreadyExists race in _ensure_work_pool_exists
  apps/backend/scripts/register_prefect_deployment.py
  apps/backend/tests/tooling/test_prefect_deployment_registration.py
Due: none

[finance_report_vision] fix(#1834): dedicate finance-report Prefect work pool to stop racing platform's generic worker (#1857)
  apps/backend/scripts/prefect_worker_entrypoint.sh
  apps/backend/scripts/register_prefect_deployment.py
  apps/backend/tests/tooling/test_prefect_deployment_registration.py
Due: none

fix: resolve 7 of the 14 pending-package residue rows across EPIC-003/011/018
  apps/backend/tests/extraction/test_classification_service.py
  apps/backend/tests/extraction/test_extraction.py
  apps/backend/tests/reconciliation/test_review_queue.py
  common/extraction/contract.py
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-018.ai-driven-pipeline.md
Due: none

fix: resolve CI reds on #1859 — dedupe AC-extraction.3.2, sync residue baseline
  apps/backend/tests/extraction/test_extraction.py
  common/extraction/contract.py
  common/meta/data/epic-residue-baseline.json
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-011.asset-lifecycle.md
  tests/tooling/test_ac_proof_kind.py
Due: none

fix: unblock SSOT governance incremental gate (#1869 base-computation bug)
  common/meta/data/governance-exceptions.yaml
Due: none

[finance_report_audit] fix: resolve 7 of the 14 pending-package residue rows (EPIC-003/011/018) (#1859)
  apps/backend/tests/extraction/test_classification_service.py
  apps/backend/tests/extraction/test_extraction.py
  apps/backend/tests/reconciliation/test_review_queue.py
  common/extraction/contract.py
  common/meta/data/epic-residue-baseline.json
  common/meta/data/governance-exceptions.yaml
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  tests/tooling/test_ac_proof_kind.py
Due: none

[finance_report_audit] test: cover AC18.3.2/AC18.3.3 hybrid-AI reconciliation scoring
  apps/backend/tests/reconciliation/test_ai_reconciliation.py
  common/reconciliation/contract.py
  docs/project/EPIC-018.ai-driven-pipeline.md
Due: none

fix: unblock check_authority_reconcile.py (file-level LLM marker misfire)
  apps/backend/tests/reconciliation/test_ai_reconciliation.py
  apps/backend/tests/reconciliation/test_reconciliation_hybrid_scoring.py
  common/reconciliation/contract.py
Due: none

fix: sync epic-residue baseline + unblock SSOT governance gate
  common/meta/data/epic-residue-baseline.json
Due: none

[finance_report_ui] fix(#1864): S1 red-line hardening — PII-safe error text, no validation bypass, decimal-SSOT gate gap, bounded endpoints
  apps/backend/src/audit/money/exchange_rate.py
  apps/backend/src/extraction/extension/statement_parsing.py
  apps/backend/src/observability/telemetry_metrics.py
  apps/backend/src/reconciliation/extension/review_queue.py
  apps/backend/src/routers/ai_feedback.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/review.py
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/tests/api/test_ai_feedback_router.py
  apps/backend/tests/audit/money/test_money_backend_module.py
  apps/backend/tests/extraction/test_parse_failure_redaction.py
  apps/backend/tests/infra/test_telemetry_metrics.py
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/backend/tests/review/test_consistency_checks.py
  apps/frontend/openapi.json
  common/audit/money/exchange_rate.py
  common/identity/contract.py
  common/observability/contract.py
  common/portfolio/contract.py
  common/reconciliation/contract.py
  docs/reference/router-contract-maturity.md
  tests/tooling/test_decimal_scalar_ssot.py
  tests/tooling/test_safe_error_message_ssot.py
Due: validate-schemas

[finance_report_ui] fix(#1864): CI green-up — Annotated Query params, float-guard homed in extraction
  apps/backend/src/extraction/__init__.py
  apps/backend/src/extraction/extension/brokerage_statement_payload.py
  apps/backend/src/routers/ai_feedback.py
  apps/backend/src/routers/review.py
  apps/backend/src/schemas/portfolio.py
Due: validate-schemas

[finance_report_audit] test: AC18.3.2/AC18.3.3 hybrid-AI scoring (#1860)
  apps/backend/tests/reconciliation/test_ai_reconciliation.py
  apps/backend/tests/reconciliation/test_reconciliation_hybrid_scoring.py
  common/meta/data/epic-residue-baseline.json
  common/reconciliation/contract.py
  docs/project/EPIC-018.ai-driven-pipeline.md
Due: none

fix(#1859): move ai_semantic_score out of CODE-ONLY reconciliation into llm
  apps/backend/src/llm/__init__.py
  apps/backend/src/llm/extension/__init__.py
  apps/backend/src/llm/extension/semantic_scoring.py
  apps/backend/src/reconciliation/__init__.py
  apps/backend/src/reconciliation/extension/matching.py
  apps/backend/src/reconciliation/extension/scoring.py
  apps/backend/tests/llm/test_semantic_scoring.py
  apps/backend/tests/reconciliation/test_ai_reconciliation.py
  common/llm/contract.py
  common/meta/data/epic-residue-baseline.json
  common/reconciliation/contract.py
  docs/project/EPIC-018.ai-driven-pipeline.md
Due: none

fix: address Copilot review on PR #1861 (real-call risk + AC wording)
  apps/backend/tests/llm/test_semantic_scoring.py
  common/llm/contract.py
Due: none

[finance_report_ui] fix(#1864): address CI + Copilot review — contract interface sync, iterative float guard, UUID test callers
  apps/backend/src/extraction/extension/brokerage_statement_payload.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
  apps/backend/tests/reconciliation/test_review_queue.py
  common/extraction/contract.py
  tests/tooling/test_safe_error_message_ssot.py
Due: none

[finance_report_audit] fix: move ai_semantic_score to llm (AC18.3.1) (#1861)
  apps/backend/src/llm/__init__.py
  apps/backend/src/llm/extension/__init__.py
  apps/backend/src/llm/extension/semantic_scoring.py
  apps/backend/src/reconciliation/__init__.py
  apps/backend/src/reconciliation/extension/matching.py
  apps/backend/src/reconciliation/extension/scoring.py
  apps/backend/tests/llm/test_semantic_scoring.py
  apps/backend/tests/reconciliation/test_ai_reconciliation.py
  common/llm/contract.py
  common/meta/data/epic-residue-baseline.json
  common/reconciliation/contract.py
  docs/project/EPIC-018.ai-driven-pipeline.md
Due: none

[finance_report_ui] fix(#1864): S1 red-line hardening — PII-safe error text, no validation bypass, decimal-SSOT gate gap, bounded endpoints (#1871)
  apps/backend/src/audit/money/exchange_rate.py
  apps/backend/src/extraction/__init__.py
  apps/backend/src/extraction/extension/brokerage_statement_payload.py
  apps/backend/src/extraction/extension/statement_parsing.py
  apps/backend/src/observability/telemetry_metrics.py
  apps/backend/src/reconciliation/extension/review_queue.py
  apps/backend/src/routers/ai_feedback.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/review.py
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/tests/api/test_ai_feedback_router.py
  apps/backend/tests/audit/money/test_money_backend_module.py
  apps/backend/tests/extraction/test_parse_failure_redaction.py
  apps/backend/tests/infra/test_telemetry_metrics.py
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/backend/tests/review/test_consistency_checks.py
  apps/frontend/openapi.json
  common/audit/money/exchange_rate.py
  common/extraction/contract.py
  common/identity/contract.py
  common/observability/contract.py
  common/portfolio/contract.py
  common/reconciliation/contract.py
  docs/reference/router-contract-maturity.md
  tests/tooling/test_decimal_scalar_ssot.py
  tests/tooling/test_safe_error_message_ssot.py
Due: validate-schemas

[finance_report_ui] fix(#1868): S5 PR-A — wire-type SSOT, replace hand-declared Response/Request interfaces with generated Schemas aliases
  apps/frontend/src/__tests__/incomeStatementPage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.actions.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.coverage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/reviewRunPage.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueParts.test.tsx
  apps/frontend/src/__tests__/useAssetTrend.test.ts
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/app/login/page.tsx
  apps/frontend/src/components/ChatPanel.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
  apps/frontend/src/components/reconciliation/Workbench.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/components/review/stage2/ConsistencyChecksPanel.tsx
  apps/frontend/src/components/review/stage2/PendingMatchesPanel.tsx
  apps/frontend/src/components/review/stage2/ResolveCheckDialog.tsx
  apps/frontend/src/components/review/stage2/types.ts
  apps/frontend/src/hooks/dashboard/useDashboardSnapshot.ts
  apps/frontend/src/lib/statusLabels.ts
  apps/frontend/src/lib/types.ts
  common/meta/contract.py
  tests/tooling/test_fe_wire_type_ssot.py
Due: frontend-lint

[finance_report_ui] fix(#1868): address Copilot review — Stage2PendingMatch fixtures were missing confidence_tier
  apps/frontend/src/__tests__/reviewQueuePage.actions.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.coverage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/reviewRunPage.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
Due: frontend-lint

[finance_report_ui] fix(#1868): S5 PR-A — wire-type SSOT, replace hand-declared Response/Request interfaces with generated Schemas aliases (#1872)
  apps/frontend/src/__tests__/incomeStatementPage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.actions.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.coverage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/reviewRunPage.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueParts.test.tsx
  apps/frontend/src/__tests__/useAssetTrend.test.ts
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/app/login/page.tsx
  apps/frontend/src/components/ChatPanel.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
  apps/frontend/src/components/reconciliation/Workbench.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/components/review/stage2/ConsistencyChecksPanel.tsx
  apps/frontend/src/components/review/stage2/PendingMatchesPanel.tsx
  apps/frontend/src/components/review/stage2/ResolveCheckDialog.tsx
  apps/frontend/src/components/review/stage2/types.ts
  apps/frontend/src/hooks/dashboard/useDashboardSnapshot.ts
  apps/frontend/src/lib/statusLabels.ts
  apps/frontend/src/lib/types.ts
  common/meta/contract.py
  tests/tooling/test_fe_wire_type_ssot.py
Due: frontend-lint

[finance_report_ui] fix(#1868): S5 PR-B — single-home countLabel/readinessVariant/getPnlColor/isActive/formatCurrency, dedupe lib/audit wire+locale boilerplate
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/__tests__/reportsCockpit.test.tsx
  apps/frontend/src/__tests__/statementDetailParts.test.tsx
  apps/frontend/src/__tests__/statusLabels.test.ts
  apps/frontend/src/app/(main)/portfolio/[ticker]/page.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/upload/page.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/components/portfolio/HoldingsTable.tsx
  apps/frontend/src/components/reports/package/PackageReadinessSections.tsx
  apps/frontend/src/components/reports/package/PackageTraceability.tsx
  apps/frontend/src/components/reports/package/shared.tsx
  apps/frontend/src/components/shell/BottomTabBar.tsx
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  apps/frontend/src/lib/audit/localeFormat.ts
  apps/frontend/src/lib/audit/money/format.ts
  apps/frontend/src/lib/audit/money/money.ts
  apps/frontend/src/lib/audit/quantity/format.ts
  apps/frontend/src/lib/audit/quantity/quantity.ts
  apps/frontend/src/lib/audit/ratio/ratio.ts
  apps/frontend/src/lib/audit/wire.ts
  apps/frontend/src/lib/date.ts
  apps/frontend/src/lib/statusLabels.ts
  common/meta/contract.py
  tests/tooling/test_fe_helper_ssot.py
Due: frontend-lint

[finance_report_ui] fix(#1868): address Copilot review — remove dead FRONTEND_SRC assignment, govern pnlColorClass itself in the SSOT gate
  common/meta/contract.py
  tests/tooling/test_fe_helper_ssot.py
Due: none

[finance_report_ui] fix(#1868): S5 PR-B — single-home countLabel/readinessVariant/getPnlColor/isActive/formatCurrency, dedupe lib/audit wire+locale boilerplate (#1874)
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/__tests__/reportsCockpit.test.tsx
  apps/frontend/src/__tests__/statementDetailParts.test.tsx
  apps/frontend/src/__tests__/statusLabels.test.ts
  apps/frontend/src/app/(main)/portfolio/[ticker]/page.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/upload/page.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/components/portfolio/HoldingsTable.tsx
  apps/frontend/src/components/reports/package/PackageReadinessSections.tsx
  apps/frontend/src/components/reports/package/PackageTraceability.tsx
  apps/frontend/src/components/reports/package/shared.tsx
  apps/frontend/src/components/shell/BottomTabBar.tsx
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  apps/frontend/src/lib/audit/localeFormat.ts
  apps/frontend/src/lib/audit/money/format.ts
  apps/frontend/src/lib/audit/money/money.ts
  apps/frontend/src/lib/audit/quantity/format.ts
  apps/frontend/src/lib/audit/quantity/quantity.ts
  apps/frontend/src/lib/audit/ratio/ratio.ts
  apps/frontend/src/lib/audit/wire.ts
  apps/frontend/src/lib/date.ts
  apps/frontend/src/lib/statusLabels.ts
  common/meta/contract.py
  tests/tooling/test_fe_helper_ssot.py
Due: frontend-lint

[finance_report_ui] fix(#1868): classify reportPackage.test.ts in the traceability-exceptions allow-list
  docs/project/traceability-exceptions.md
Due: none

[finance_report_ui] fix(#1868): address Copilot review — god-file gate must not pass vacuously if components/workflow/ is empty
  tests/tooling/test_fe_no_godfile.py
Due: none

[finance_report_ui] fix(#1868): S5 PR-C — split WorkflowNotifications god-file, fetch ratchet, ConfirmDialog input object, stage2 filters
  apps/frontend/src/__tests__/confirmDialogComponent.test.tsx
  apps/frontend/src/__tests__/reportPackage.test.ts
  apps/frontend/src/__tests__/stage2ReviewQueueParts.test.tsx
  apps/frontend/src/__tests__/useLlmConfigStatus.test.ts
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/reports/package/PackageChrome.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/components/review/stage2/RunSummaryPanel.tsx
  apps/frontend/src/components/review/stage2/Stage2Filters.tsx
  apps/frontend/src/components/ui/ConfirmDialog.tsx
  apps/frontend/src/components/ui/index.tsx
  apps/frontend/src/components/workflow/UploadToReportHome.tsx
  apps/frontend/src/components/workflow/WorkflowEventCard.tsx
  apps/frontend/src/components/workflow/WorkflowEventsPageContent.tsx
  apps/frontend/src/components/workflow/WorkflowInbox.tsx
  apps/frontend/src/components/workflow/WorkflowNotificationCenter.tsx
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  apps/frontend/src/components/workflow/WorkflowStatusFeed.tsx
  apps/frontend/src/components/workflow/workflowFormat.ts
  apps/frontend/src/hooks/useLlmConfigStatus.ts
  apps/frontend/src/hooks/usePersonalReportPackage.ts
  apps/frontend/src/hooks/useWorkflowStatus.ts
  apps/frontend/src/lib/queryInvalidation.ts
  apps/frontend/src/lib/reportPackage.ts
  common/meta/contract.py
  common/testing/contract.py
  common/testing/fe-fetch-ratchet-baseline.json
  common/testing/fe_fetch_ratchet.py
  tests/tooling/test_fe_fetch_ratchet.py
  tests/tooling/test_fe_no_godfile.py
Due: frontend-lint

[finance_report_ui] fix(#1868): S5 PR-C — split WorkflowNotifications god-file, fetch ratchet, ConfirmDialog input object, stage2 filters (#1875)
  apps/frontend/src/__tests__/confirmDialogComponent.test.tsx
  apps/frontend/src/__tests__/reportPackage.test.ts
  apps/frontend/src/__tests__/stage2ReviewQueueParts.test.tsx
  apps/frontend/src/__tests__/useLlmConfigStatus.test.ts
  apps/frontend/src/app/(main)/journal/page.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/reports/package/PackageChrome.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/components/review/stage2/RunSummaryPanel.tsx
  apps/frontend/src/components/review/stage2/Stage2Filters.tsx
  apps/frontend/src/components/ui/ConfirmDialog.tsx
  apps/frontend/src/components/ui/index.tsx
  apps/frontend/src/components/workflow/UploadToReportHome.tsx
  apps/frontend/src/components/workflow/WorkflowEventCard.tsx
  apps/frontend/src/components/workflow/WorkflowEventsPageContent.tsx
  apps/frontend/src/components/workflow/WorkflowInbox.tsx
  apps/frontend/src/components/workflow/WorkflowNotificationCenter.tsx
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  apps/frontend/src/components/workflow/WorkflowStatusFeed.tsx
  apps/frontend/src/components/workflow/workflowFormat.ts
  apps/frontend/src/hooks/useLlmConfigStatus.ts
  apps/frontend/src/hooks/usePersonalReportPackage.ts
  apps/frontend/src/hooks/useWorkflowStatus.ts
  apps/frontend/src/lib/queryInvalidation.ts
  apps/frontend/src/lib/reportPackage.ts
  common/meta/contract.py
  common/testing/contract.py
  common/testing/fe-fetch-ratchet-baseline.json
  common/testing/fe_fetch_ratchet.py
  docs/project/traceability-exceptions.md
  tests/tooling/test_fe_fetch_ratchet.py
  tests/tooling/test_fe_no_godfile.py
Due: frontend-lint

[finance_report_ui] fix(#1868): lock readinessVariant single-definition — S5 closure review caught an unlocked AC promise
  common/meta/contract.py
  tests/tooling/test_fe_helper_ssot.py
Due: none

[finance_report_ui] fix(#1868): address Copilot review — correct readinessVariant divergence description
  common/meta/contract.py
  tests/tooling/test_fe_helper_ssot.py
Due: none

refactor: add versioned app deploy request
  .github/workflows/ci.yml
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  common/runtime/ci-cd.md
  common/runtime/contract.py
  common/runtime/deployment.md
  common/runtime/readme.md
  tests/tooling/test_app_deploy_request.py
  tools/app_deploy_request.py
Due: none

fix: bootstrap repository root in deploy request tool
  tools/app_deploy_request.py
Due: none

fix: close deploy request authority gaps
  tests/tooling/test_app_deploy_request.py
  tools/app_deploy_request.py
Due: none

test: replace deploy request text mirrors
  tests/tooling/test_app_deploy_request.py
Due: none

[infra2-sdk-deploy-request] Refactor: add versioned app deploy request (#1878)
  .github/workflows/ci.yml
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  common/runtime/ci-cd.md
  common/runtime/contract.py
  common/runtime/deployment.md
  common/runtime/readme.md
  tests/tooling/test_app_deploy_request.py
  tools/app_deploy_request.py
Due: none

[finance_report_ui] fix(#1868): lock readinessVariant single-definition — S5 closure review follow-up (#1877)
  common/meta/contract.py
  tests/tooling/test_fe_helper_ssot.py
Due: none

[finance_report_audit] Refactor: Decompose routers/schemas into packages
  commit_msg.txt
  common/advisor/contract.py
Due: none

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
