Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

[finance_report_vision_1482] fix(portfolio): unify per-holding currency contract across endpoints (#1482, #1441 part C)
  apps/backend/src/schemas/assets.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/tests/portfolio/test_position_valuation_consistency.py
Due: validate-schemas

[finance_report_audit] Stage-2: internalize extraction SSOT into the package + consolidate tests (precursor to #1421)
  .opencode/README.md
  common/authority/readme.md
  common/ci/change_classifier.py
  common/extraction/audit-failed-cases.yaml
  common/extraction/readme.md
  common/ssot/check_ssot_ownership.py
  docs/index.md
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/traceability-exceptions.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/governance-exceptions.yaml
  docs/ssot/observability-logging.md
  docs/ssot/tdd.md
  mkdocs.yml
  tests/tooling/test_extraction_failed_case_registry.py
  tests/tooling/test_ssot_cross_document_anchors.py
  tests/tooling/test_ssot_governance_report.py
Due: none

docs(extraction): resolve Copilot review — extraction is a package dir, not extraction.py
  common/extraction/readme.md
  docs/project/EPIC-011.asset-lifecycle.md
Due: none

[finance_report_vision_1482] fix(portfolio): unify per-holding currency contract across endpoints (#1482, #1441 part C) (#1496)
  apps/backend/src/schemas/assets.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/tests/portfolio/test_position_valuation_consistency.py
Due: validate-schemas

[finance_report_hacker] Retire app-side VPS host hygiene — infra2 owns host GC (#1495)
  .github/workflows/maintenance.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  tests/tooling/test_cleanup_pr_preview_resources.py
  tests/tooling/test_common_tooling_modules.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_vps_host_hygiene.py
  tools/_lib/dev/vps_host_hygiene.py
  tools/vps_host_hygiene.py
Due: none

[finance_report_ui_1486] fix(frontend): surface opening-balance gate + native currency on report/portfolio surfaces (#1486, #1487)
  apps/frontend/src/__tests__/balanceSheetPage.test.tsx
  apps/frontend/src/__tests__/holdingsTable.test.tsx
  apps/frontend/src/__tests__/openingBalanceWarningBanner.test.tsx
  apps/frontend/src/__tests__/useBaseCurrency.test.tsx
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/components/portfolio/HoldingsTable.tsx
  apps/frontend/src/components/reports/OpeningBalanceWarningBanner.tsx
  apps/frontend/src/hooks/useBaseCurrency.ts
  apps/frontend/src/lib/types.ts
Due: frontend-lint

chore(docs): register new frontend test files in traceability-exceptions
  docs/project/traceability-exceptions.md
Due: none

perf(ci): run backend test Postgres on tmpfs (ramdisk)
  .github/workflows/ci.yml
Due: none

[finance_report_ui_1486] fix(frontend): surface opening-balance gate + native currency on report/portfolio surfaces (#1486, #1487) (#1498)
  apps/frontend/src/__tests__/balanceSheetPage.test.tsx
  apps/frontend/src/__tests__/holdingsTable.test.tsx
  apps/frontend/src/__tests__/openingBalanceWarningBanner.test.tsx
  apps/frontend/src/__tests__/useBaseCurrency.test.tsx
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/components/portfolio/HoldingsTable.tsx
  apps/frontend/src/components/reports/OpeningBalanceWarningBanner.tsx
  apps/frontend/src/hooks/useBaseCurrency.ts
  apps/frontend/src/lib/types.ts
  docs/project/traceability-exceptions.md
Due: frontend-lint

[finance_report_audit] Stage-2 docs+tests precursor for #1421: internalize extraction SSOT into the package (#1497)
  .opencode/README.md
  common/authority/readme.md
  common/ci/change_classifier.py
  common/extraction/audit-failed-cases.yaml
  common/extraction/readme.md
  common/ssot/check_ssot_ownership.py
  docs/index.md
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/traceability-exceptions.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/governance-exceptions.yaml
  docs/ssot/observability-logging.md
  docs/ssot/tdd.md
  mkdocs.yml
  tests/tooling/test_extraction_failed_case_registry.py
  tests/tooling/test_ssot_cross_document_anchors.py
  tests/tooling/test_ssot_governance_report.py
Due: none

[finance_report_audit] Stage-2: internalize llm SSOT into the package + consolidate tests (precursor to #1426)
  apps/backend/src/llm/__init__.py
  apps/backend/src/llm/cassette.py
  apps/backend/src/llm/common/types.py
  apps/backend/src/models/llm_config.py
  apps/backend/tests/llm/conftest.py
  apps/backend/tests/llm/test_cassette.py
  apps/backend/tests/llm/test_catalog.py
  apps/backend/tests/llm/test_client.py
  apps/backend/tests/llm/test_contract.py
  apps/backend/tests/llm/test_env_config.py
  apps/backend/tests/llm/test_factory.py
  apps/backend/tests/llm/test_llm_api.py
  apps/backend/tests/llm/test_llm_db_config.py
  apps/backend/tests/llm/test_llm_led_blocking_gate.py
  apps/backend/tests/llm/test_routing.py
  apps/backend/tests/llm/test_secrets.py
  apps/backend/tests/llm/test_streaming_cassette.py
  apps/backend/tests/llm/test_types.py
  apps/backend/tests/llm/test_usage.py
  apps/frontend/openapi.json
  apps/frontend/src/lib/api-types.ts
  common/llm/readme.md
  common/ssot/check_ssot_ownership.py
  docs/project/EPIC-023.llm-provider-abstraction.md
  docs/project/traceability-exceptions.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/cassette-graded-eval.md
  docs/ssot/governance-exceptions.yaml
  mkdocs.yml
  tests/e2e/test_llm_provider_abstraction_epic023.py
Due: frontend-lint

perf(ci): run backend test Postgres on tmpfs (ramdisk) (#1500)
  .github/workflows/ci.yml
Due: none

[finance_report_vision_1484] fix(brokerage): link statement to its broker account on import (#1484)
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/src/services/brokerage_positions.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  docs/project/EPIC-017.portfolio-management.md
Due: validate-schemas

docs(router-contracts): regenerate maturity doc after statements.py line shift
  docs/reference/router-contract-maturity.md
Due: none

fix(brokerage): address Copilot review on #1484 linkage
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/src/services/brokerage_positions.py
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  docs/reference/router-contract-maturity.md
Due: validate-schemas

[finance_report_audit] Stage-2: internalize llm SSOT into the package + consolidate tests (precursor to #1426) (#1499)
  apps/backend/src/llm/__init__.py
  apps/backend/src/llm/cassette.py
  apps/backend/src/llm/common/types.py
  apps/backend/src/models/llm_config.py
  apps/backend/tests/llm/conftest.py
  apps/backend/tests/llm/test_cassette.py
  apps/backend/tests/llm/test_catalog.py
  apps/backend/tests/llm/test_client.py
  apps/backend/tests/llm/test_contract.py
  apps/backend/tests/llm/test_env_config.py
  apps/backend/tests/llm/test_factory.py
  apps/backend/tests/llm/test_llm_api.py
  apps/backend/tests/llm/test_llm_db_config.py
  apps/backend/tests/llm/test_llm_led_blocking_gate.py
  apps/backend/tests/llm/test_routing.py
  apps/backend/tests/llm/test_secrets.py
  apps/backend/tests/llm/test_streaming_cassette.py
  apps/backend/tests/llm/test_types.py
  apps/backend/tests/llm/test_usage.py
  apps/frontend/openapi.json
  apps/frontend/src/lib/api-types.ts
  common/llm/readme.md
  common/ssot/check_ssot_ownership.py
  docs/project/EPIC-023.llm-provider-abstraction.md
  docs/project/traceability-exceptions.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/cassette-graded-eval.md
  docs/ssot/governance-exceptions.yaml
  mkdocs.yml
  tests/e2e/test_llm_provider_abstraction_epic023.py
Due: frontend-lint

[finance_report_audit] #1420 (1/n): relocate value-package tests out of tests/accounting → tests/<pkg>/
  apps/backend/ci/backend-test-durations.json
  apps/backend/src/money/__init__.py
  apps/backend/tests/money/__init__.py
  apps/backend/tests/money/test_money.py
  apps/backend/tests/money/test_money_adopt.py
  apps/backend/tests/money/test_money_backend_module.py
  apps/backend/tests/money/test_money_conformance_backend.py
  apps/backend/tests/money/test_money_value_type_backend.py
  apps/backend/tests/quantity/__init__.py
  apps/backend/tests/quantity/test_quantity_backend.py
  apps/backend/tests/ratio/__init__.py
  apps/backend/tests/ratio/test_ratio_backend.py
  apps/backend/tests/unit_price/__init__.py
  apps/backend/tests/unit_price/test_unit_price_backend.py
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/traceability-exceptions.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/accounting.md
Due: none

[finance_report_vision_1484] fix(brokerage): link statement to its broker account on import (#1484) (#1501)
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/src/services/brokerage_positions.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  docs/project/EPIC-017.portfolio-management.md
  docs/reference/router-contract-maturity.md
Due: validate-schemas

[finance_report_vision] feat(tests): real-statement cassette corpus — source-referenced, PII-masked (batch 1: HF digital)
  apps/backend/tests/fixtures/llm_cassettes/816ca23b84808a2796b41b06d603cb3757d6200919819a7c6a617911f9032aed.json
  apps/backend/tests/fixtures/llm_cassettes/8379cad244112fe35ef056382ba5269c3a8e1a800bf95f2e77eae330e6e2673e.json
  apps/backend/tests/fixtures/llm_cassettes/8673adb3d15af87ec8672f7478f5812814111cea24e4cbe80d53e59c98e4734e.json
  apps/backend/tests/fixtures/llm_cassettes/db717adcf1d3223fb7b108a34421d1df1c746c10956a7f0f971f877e87366a1d.json
  apps/backend/tests/fixtures/llm_cassettes/e762d90d3df71522e4b8a685b5d5dc7e4844709805270e173967021bed92f1f6.json
  apps/backend/tests/fixtures/llm_cassettes/ground_truth/816ca23b84808a2796b41b06d603cb3757d6200919819a7c6a617911f9032aed.truth.json
  apps/backend/tests/fixtures/llm_cassettes/ground_truth/8379cad244112fe35ef056382ba5269c3a8e1a800bf95f2e77eae330e6e2673e.truth.json
  apps/backend/tests/fixtures/llm_cassettes/ground_truth/8673adb3d15af87ec8672f7478f5812814111cea24e4cbe80d53e59c98e4734e.truth.json
  apps/backend/tests/fixtures/llm_cassettes/ground_truth/db717adcf1d3223fb7b108a34421d1df1c746c10956a7f0f971f877e87366a1d.truth.json
  apps/backend/tests/fixtures/llm_cassettes/ground_truth/e762d90d3df71522e4b8a685b5d5dc7e4844709805270e173967021bed92f1f6.truth.json
  common/ssot/cassette_graded_eval.py
  common/ssot/check_llm_cassettes.py
  docs/project/traceability-exceptions.md
  docs/ssot/cassette-eval-baseline.jsonl
  docs/ssot/cassette-graded-eval.md
  tests/tooling/test_cassette_graded_eval.py
  tests/tooling/test_extraction_pii_mask.py
  tests/tooling/test_llm_cassette_integrity.py
  tests/tooling/test_record_hf_cassettes.py
  tools/_lib/fixtures/extraction_pii_mask.py
  tools/_lib/pdf_fixtures/record_hf_cassettes.py
Due: none

fix(#1502): repoint the moved value-test paths missed in tests/tooling + common (whole-tree grep)
  .opencode/skills/domain/accounting/SKILL.md
  common/money/guard.py
  common/quantity/conformance/README.md
  common/unit_price/conformance/README.md
  docs/project/traceability-exceptions.md
Due: none

style(#1502): ruff format guard.py after the path repoint
  common/money/guard.py
Due: none

[finance_report_vision] fix: lazy-import fitz/PIL/httpx in recorder so tooling-coverage env imports it
  tools/_lib/pdf_fixtures/record_hf_cassettes.py
Due: none

[finance_report_audit] #1420 (1/n): relocate value-package tests out of tests/accounting (#1502)
  .opencode/skills/domain/accounting/SKILL.md
  apps/backend/ci/backend-test-durations.json
  apps/backend/src/money/__init__.py
  apps/backend/tests/money/__init__.py
  apps/backend/tests/money/test_money.py
  apps/backend/tests/money/test_money_adopt.py
  apps/backend/tests/money/test_money_backend_module.py
  apps/backend/tests/money/test_money_conformance_backend.py
  apps/backend/tests/money/test_money_value_type_backend.py
  apps/backend/tests/quantity/__init__.py
  apps/backend/tests/quantity/test_quantity_backend.py
  apps/backend/tests/ratio/__init__.py
  apps/backend/tests/ratio/test_ratio_backend.py
  apps/backend/tests/unit_price/__init__.py
  apps/backend/tests/unit_price/test_unit_price_backend.py
  common/money/guard.py
  common/quantity/conformance/README.md
  common/unit_price/conformance/README.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/traceability-exceptions.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/accounting.md
Due: none

[finance_report_vision] fix(tests): strip raw page images + mask raw_text/reference in HF cassettes (PII audit)
  apps/backend/tests/fixtures/llm_cassettes/816ca23b84808a2796b41b06d603cb3757d6200919819a7c6a617911f9032aed.json
  apps/backend/tests/fixtures/llm_cassettes/8379cad244112fe35ef056382ba5269c3a8e1a800bf95f2e77eae330e6e2673e.json
  apps/backend/tests/fixtures/llm_cassettes/8673adb3d15af87ec8672f7478f5812814111cea24e4cbe80d53e59c98e4734e.json
  apps/backend/tests/fixtures/llm_cassettes/db717adcf1d3223fb7b108a34421d1df1c746c10956a7f0f971f877e87366a1d.json
  apps/backend/tests/fixtures/llm_cassettes/e762d90d3df71522e4b8a685b5d5dc7e4844709805270e173967021bed92f1f6.json
  tests/tooling/test_extraction_pii_mask.py
  tools/_lib/fixtures/extraction_pii_mask.py
  tools/_lib/pdf_fixtures/record_hf_cassettes.py
Due: none

fix(ssot): pin family=accounting on the relocated ledger/money MANIFEST concepts
  docs/ssot/MANIFEST.yaml
Due: none

[finance_report_vision] fix(tests): re-key HF cassettes on the stored (image-stripped) request + Copilot
  apps/backend/tests/fixtures/llm_cassettes/119769ccda7a7b5452b82b46362d9797bf7de577e2834de572b7c9e9d563369e.json
  apps/backend/tests/fixtures/llm_cassettes/69e9b2c1b2fb563811851dbd3a33096b68ef8f39261a0951fa3b7a5dcf7d4484.json
  apps/backend/tests/fixtures/llm_cassettes/a3238a794287b66d6217840c6d21c6b194ab93bbbc61d9b4caea0b48ddfc1ba8.json
  apps/backend/tests/fixtures/llm_cassettes/b178f1de82f9147bf22733e85161f35025b5ed5bf6397b74a7dad1126da061df.json
  apps/backend/tests/fixtures/llm_cassettes/ccd2975934705a6e8b0d04ea97879fd4d8ca8f1a093216fb2149ddbba6aafc9a.json
  apps/backend/tests/fixtures/llm_cassettes/ground_truth/119769ccda7a7b5452b82b46362d9797bf7de577e2834de572b7c9e9d563369e.truth.json
  apps/backend/tests/fixtures/llm_cassettes/ground_truth/69e9b2c1b2fb563811851dbd3a33096b68ef8f39261a0951fa3b7a5dcf7d4484.truth.json
  apps/backend/tests/fixtures/llm_cassettes/ground_truth/a3238a794287b66d6217840c6d21c6b194ab93bbbc61d9b4caea0b48ddfc1ba8.truth.json
  apps/backend/tests/fixtures/llm_cassettes/ground_truth/b178f1de82f9147bf22733e85161f35025b5ed5bf6397b74a7dad1126da061df.truth.json
  apps/backend/tests/fixtures/llm_cassettes/ground_truth/ccd2975934705a6e8b0d04ea97879fd4d8ca8f1a093216fb2149ddbba6aafc9a.truth.json
  docs/ssot/cassette-eval-baseline.jsonl
  tools/_lib/fixtures/extraction_pii_mask.py
  tools/_lib/pdf_fixtures/record_hf_cassettes.py
Due: none

[finance_report_vision] feat(tests): real-statement cassette corpus — source-referenced, PII-masked (batch 1) (#1503)
  apps/backend/tests/fixtures/llm_cassettes/119769ccda7a7b5452b82b46362d9797bf7de577e2834de572b7c9e9d563369e.json
  apps/backend/tests/fixtures/llm_cassettes/69e9b2c1b2fb563811851dbd3a33096b68ef8f39261a0951fa3b7a5dcf7d4484.json
  apps/backend/tests/fixtures/llm_cassettes/a3238a794287b66d6217840c6d21c6b194ab93bbbc61d9b4caea0b48ddfc1ba8.json
  apps/backend/tests/fixtures/llm_cassettes/b178f1de82f9147bf22733e85161f35025b5ed5bf6397b74a7dad1126da061df.json
  apps/backend/tests/fixtures/llm_cassettes/ccd2975934705a6e8b0d04ea97879fd4d8ca8f1a093216fb2149ddbba6aafc9a.json
  apps/backend/tests/fixtures/llm_cassettes/ground_truth/119769ccda7a7b5452b82b46362d9797bf7de577e2834de572b7c9e9d563369e.truth.json
  apps/backend/tests/fixtures/llm_cassettes/ground_truth/69e9b2c1b2fb563811851dbd3a33096b68ef8f39261a0951fa3b7a5dcf7d4484.truth.json
  apps/backend/tests/fixtures/llm_cassettes/ground_truth/a3238a794287b66d6217840c6d21c6b194ab93bbbc61d9b4caea0b48ddfc1ba8.truth.json
  apps/backend/tests/fixtures/llm_cassettes/ground_truth/b178f1de82f9147bf22733e85161f35025b5ed5bf6397b74a7dad1126da061df.truth.json
  apps/backend/tests/fixtures/llm_cassettes/ground_truth/ccd2975934705a6e8b0d04ea97879fd4d8ca8f1a093216fb2149ddbba6aafc9a.truth.json
  common/ssot/cassette_graded_eval.py
  common/ssot/check_llm_cassettes.py
  docs/project/traceability-exceptions.md
  docs/ssot/cassette-eval-baseline.jsonl
  docs/ssot/cassette-graded-eval.md
  tests/tooling/test_cassette_graded_eval.py
  tests/tooling/test_extraction_pii_mask.py
  tests/tooling/test_llm_cassette_integrity.py
  tests/tooling/test_record_hf_cassettes.py
  tools/_lib/fixtures/extraction_pii_mask.py
  tools/_lib/pdf_fixtures/record_hf_cassettes.py
Due: none

[finance_report_vision] fix(llm): make Gemini extraction actually work (drop GLM-only knobs, disable default thinking)
  apps/backend/src/llm/client.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/tests/ai/test_ai_streaming.py
  apps/backend/tests/llm/test_client.py
Due: none

fix(smoke): meta-guard — refuse green on a silently-empty smoke (CF-C)
  tests/tooling/test_smoke_min_checks.py
  tools/_lib/shell/smoke_test.sh
Due: none

[finance_report_vision_multicur] feat(extraction): bank statements persist per-currency balances (no single-currency collapse) (#1502)
  apps/backend/src/prompts/statement.py
  apps/backend/src/services/extraction/service.py
  apps/backend/src/services/validation.py
  apps/backend/tests/accounting/test_validation.py
  apps/backend/tests/extraction/test_bank_multi_currency_balances.py
  docs/project/EPIC-004.reconciliation-engine.md
Due: none

[finance_report_audit] regenerate router-contract-maturity doc (accounts.py line shift)
  docs/reference/router-contract-maturity.md
Due: none

[finance_report_vision] fix(llm): make Gemini extraction actually work (drop GLM-only knobs, disable default thinking) (#1480)
  apps/backend/src/llm/client.py
  apps/backend/src/services/ai_streaming.py
  apps/backend/tests/ai/test_ai_streaming.py
  apps/backend/tests/llm/test_client.py
Due: none

[finance_report_audit] address Copilot review on PR #1508
  apps/backend/src/ledger/extension/post.py
  apps/backend/tests/ledger/test_entry.py
Due: none

docs(traceability): classify test_smoke_min_checks as a contract-hardening test (no product AC)
  docs/project/traceability-exceptions.md
Due: none

fix(smoke): address CR — MIN_CHECKS int-validation, clearer wording, robust test
  tests/tooling/test_smoke_min_checks.py
  tools/_lib/shell/smoke_test.sh
Due: none

fix(extraction): address Copilot CR on #1502 bank per-currency
  apps/backend/src/prompts/statement.py
  apps/backend/src/services/extraction/service.py
  apps/backend/src/telemetry_metrics.py
Due: none

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
