Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

Format PDF vision fallback
  apps/backend/src/services/extraction.py
Due: none

Fallback to PDF URL when page render fails
  apps/backend/src/services/extraction.py
Due: none

Use GLM vision model for OCR
  .env.example
  .github/workflows/pr-test.yml
  .github/workflows/staging-deploy.yml
  apps/backend/src/config.py
  apps/backend/src/services/extraction.py
  apps/backend/tests/ai/test_openrouter_models.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_main.py
  docker-compose.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ai.md
  docs/ssot/ci-cd.md
  docs/ssot/extraction.md
  scripts/dokploy_deploy.sh
  scripts/tests/test_post_merge_e2e_gates.py
Due: check-env-keys, validate-schemas

Update AC traceability for GLM OCR
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
Due: none

Cover GLM OCR model selection
  apps/backend/tests/extraction/test_extraction_error_paths.py
Due: none

Allow single GLM vision model in E2E
  tests/e2e/test_statement_full_journey.py
  tests/e2e/test_statement_upload_e2e.py
Due: none

Cover extraction error branches
  apps/backend/tests/extraction/test_extraction_error_paths.py
Due: none

Harden GLM PDF extraction gate (#385)
  .env.example
  .github/workflows/pr-test.yml
  .github/workflows/staging-deploy.yml
  apps/backend/pyproject.toml
  apps/backend/src/config.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/openrouter_streaming.py
  apps/backend/tests/ai/test_openrouter_models.py
  apps/backend/tests/ai/test_openrouter_streaming.py
  apps/backend/tests/extraction/test_extraction.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/extraction/test_extraction_flow.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_main.py
  apps/backend/uv.lock
  docker-compose.yml
  docs/ac_registry.yaml
  docs/contributing/branch-policy.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/ai.md
  docs/ssot/ci-cd.md
  docs/ssot/extraction.md
  scripts/dokploy_deploy.sh
  scripts/tests/test_post_merge_e2e_gates.py
  scripts/tests/test_secure_glm_file_url.py
  tests/e2e/test_statement_full_journey.py
  tests/e2e/test_statement_upload_e2e.py
Due: check-env-keys, validate-schemas

fix: refresh transfer idempotency guard
  apps/backend/src/services/reconciliation.py
  apps/backend/tests/reconciliation/test_transfer_idempotency.py
  docs/ac_registry.yaml
  docs/project/EPIC-015.processing-account.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
Due: none

fix: refresh transfer idempotency guard (#374)
  apps/backend/src/services/reconciliation.py
  apps/backend/tests/reconciliation/test_transfer_idempotency.py
  docs/ac_registry.yaml
  docs/project/EPIC-015.processing-account.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
Due: none

fix(ci): preserve Dokploy query fallback under errexit
  .github/workflows/pr-test.yml
Due: none

feat(ui): add Review nav entry with aggregated pending badge and `/review` queue page (#375)
  .github/workflows/pr-test.yml
  apps/frontend/src/__tests__/reviewIndexPage.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/app/(main)/review/page.tsx
  apps/frontend/src/components/Sidebar.tsx
Due: frontend-lint

feat(review): add stage 2 run review page
  apps/frontend/src/__tests__/reviewRunPage.test.tsx
  apps/frontend/src/app/(main)/review/run/[runId]/page.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  docs/ac_registry.yaml
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/reconciliation.md
Due: frontend-lint

docs(review): refresh AC traceability audit
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
Due: none

feat(review): add Stage 2 run review page (#386)
  apps/frontend/src/__tests__/reviewRunPage.test.tsx
  apps/frontend/src/app/(main)/review/run/[runId]/page.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  docs/ac_registry.yaml
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/reconciliation.md
Due: frontend-lint

feat(assets): add manual valuation snapshots
  apps/backend/migrations/versions/0016_manual_valuation_snapshots.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/layer3.py
  apps/backend/src/routers/assets.py
  apps/backend/src/schemas/assets.py
  apps/backend/src/services/assets.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  apps/frontend/src/__tests__/assetsPage.test.tsx
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/assets.md
  docs/ssot/schema.md
Due: validate-schemas, frontend-lint

feat(reporting): add net worth time series
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/reporting/test_net_worth_timeseries.py
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.netWorthTimeSeries.test.ts
  apps/frontend/src/__tests__/uiGapAudit.netWorthTimeSeries.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.processingVisibility.test.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/components/charts/NetWorthTimeSeriesChart.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-005.reporting-visualization.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

style: format assets service
  apps/backend/src/services/assets.py
Due: none

test(reporting): cover net worth timeseries branches
  apps/backend/tests/reporting/test_net_worth_timeseries.py
Due: none

test(assets): cover manual valuation API branches
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
Due: none

docs(reporting): update AC traceability audit
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
Due: none

docs(assets): update AC traceability audit
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
Due: none

test(reporting): cover net worth router validation
  apps/backend/tests/reporting/test_net_worth_timeseries.py
Due: none

test(assets): cover valuation service and schemas
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
Due: none

test(assets): cover valuation router error paths
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
Due: none

feat(assets): manual valuation snapshots (#397)
  apps/backend/migrations/versions/0016_manual_valuation_snapshots.py
  apps/backend/src/models/__init__.py
  apps/backend/src/models/layer3.py
  apps/backend/src/routers/assets.py
  apps/backend/src/schemas/assets.py
  apps/backend/src/services/assets.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  apps/frontend/src/__tests__/assetsPage.test.tsx
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/assets.md
  docs/ssot/schema.md
Due: validate-schemas, frontend-lint

feat(reporting): net worth time-series dashboard (#402)
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/reporting/test_net_worth_timeseries.py
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.netWorthTimeSeries.test.ts
  apps/frontend/src/__tests__/uiGapAudit.netWorthTimeSeries.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.processingVisibility.test.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/components/charts/NetWorthTimeSeriesChart.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

style: format brokerage import services
  apps/backend/src/services/assets.py
  apps/backend/src/services/brokerage_positions.py
Due: none

test(portfolio): cover brokerage parser fallbacks
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
Due: none

feat(portfolio): import brokerage position snapshots
  apps/backend/src/routers/portfolio.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/src/services/assets.py
  apps/backend/src/services/brokerage_positions.py
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  docs/ac_registry.yaml
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/extraction.md
Due: validate-schemas

test(portfolio): cover brokerage endpoint and securities parsing
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
Due: none

test(portfolio): cover brokerage helpers and schemas
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
Due: none

docs(portfolio): update AC traceability audit
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
Due: none

test(portfolio): cover brokerage fallback skip paths
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
Due: none

feat(portfolio): parse brokerage position snapshots (#398)
  apps/backend/src/routers/portfolio.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/src/services/assets.py
  apps/backend/src/services/brokerage_positions.py
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  docs/ac_registry.yaml
  docs/project/EPIC-017.portfolio-management.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/extraction.md
Due: validate-schemas

docs: refresh reporting AC traceability
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
Due: none

ci: support manual PR test environment dispatch
  .github/workflows/pr-test.yml
Due: none

test: cover valuation snapshot history
  apps/backend/tests/valuation/test_valuation_router.py
Due: none

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
