Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

fix(audit): canonicalize restored parent order
  apps/backend/src/audit/extension/trace_repository.py
  apps/backend/tests/audit/trace/test_trace_causality.py
  apps/backend/tests/audit/trace/test_trace_repository.py
Due: none

test(extraction): preserve source currency in date fixtures
  apps/backend/tests/extraction/test_tolerant_date_parsing.py
  docs/reference/router-contract-maturity.md
Due: none

test(extraction): assert canonical source facts
  apps/backend/tests/extraction/test_extraction_flow.py
  apps/backend/tests/unit/services/test_brokerage_generated_fallback.py
Due: none

feat(extraction): preserve durable source facts
  apps/backend/src/extraction/__init__.py
  apps/backend/src/extraction/base/result.py
  apps/backend/src/extraction/extension/_llm_led_gate.py
  apps/backend/src/extraction/extension/brokerage_positions.py
  apps/backend/src/extraction/extension/deduplication.py
  apps/backend/src/extraction/extension/evidence_graph_integration.py
  apps/backend/src/extraction/extension/result_contract.py
  apps/backend/src/extraction/extension/service.py
  apps/backend/src/extraction/extension/statement_parsing.py
  apps/backend/src/routers/statements.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_account_last4_defense.py
  apps/backend/tests/extraction/test_brokerage_position_extraction_wiring.py
  apps/backend/tests/extraction/test_classification_migration.py
  apps/backend/tests/extraction/test_dual_write_layer2.py
  apps/backend/tests/extraction/test_extraction_cassette_replay.py
  apps/backend/tests/extraction/test_extraction_flow.py
  apps/backend/tests/extraction/test_pdf_parsing.py
  apps/backend/tests/extraction/test_statement_brokerage_import_bridge.py
  apps/backend/tests/extraction/test_statement_parsing_audit_logging.py
  apps/backend/tests/extraction/test_statement_result_contract.py
  apps/backend/tests/llm/test_llm_led_blocking_gate.py
  common/extraction/contract.py
  common/extraction/readme.md
  common/llm/contract.py
  docs/reference/router-contract-maturity.md
Due: none

test(llm): seed reviewed corpus semantics
  apps/backend/tests/e2e/test_statement_corpus_journeys.py
  common/llm/contract.py
Due: none

fix(extraction): seal statement source facts
  apps/backend/src/extraction/extension/_csv.py
  apps/backend/src/extraction/extension/review_queue.py
  apps/backend/src/reconciliation/base/config.py
  apps/backend/src/reconciliation/extension/matching.py
  apps/backend/src/reconciliation/orm/reconciliation.py
  apps/backend/src/routers/statements.py
  apps/backend/src/runtime/base/env_classification.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/e2e/test_business_value_correctness_gate.py
  apps/backend/tests/extraction/test_csv_parsing.py
  apps/backend/tests/extraction/test_extraction.py
  apps/backend/tests/extraction/test_extraction_cassette_replay.py
  apps/backend/tests/extraction/test_statement_result_contract.py
  apps/backend/tests/extraction/test_statements_supervisor_errors.py
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  common/extraction/contract.py
  docs/reference/router-contract-maturity.md
Due: none

test(extraction): migrate deployment source fixtures
  apps/backend/src/extraction/extension/review_queue.py
  apps/backend/tests/portfolio/test_brokerage_import_gated_on_review.py
  tests/e2e/fixtures/vision_hard_gate_statement.csv
  tests/e2e/test_business_value_correctness_gate.py
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: none

fix(extraction): preserve review-required posting outcome
  apps/backend/src/extraction/__init__.py
  apps/backend/src/extraction/extension/statement_posting.py
  apps/backend/src/extraction/extension/statement_workflow.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/statements.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/api/test_statement_workflow_service.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/e2e/test_business_value_correctness_gate.py
  apps/backend/tests/extraction/test_classification_migration.py
  apps/backend/tests/integration/test_full_year_statement_to_report_e2e.py
  apps/backend/tests/reconciliation/test_reconciliation_endpoints.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
  apps/backend/tests/statement_ingestion.py
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  common/audit/contract.py
  common/extraction/contract.py
  common/reconciliation/contract.py
  common/reporting/contract.py
  common/testing/contract.py
  common/testing/data/critical-proof-outcomes.yaml
  common/testing/matrix.py
  docs/project/EPIC-008.testing-strategy.md
  docs/reference/router-contract-maturity.md
  tests/e2e/test_business_value_correctness_gate.py
  tests/e2e/test_statement_full_journey.py
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: frontend-lint

fix(testing): type E2E ownership by EPIC residue
  common/testing/check_e2e_epic_traceability.py
  common/testing/contract.py
  tests/e2e/test_personal_financial_report_package.py
  tests/tooling/test_check_e2e_epic_traceability.py
Due: none

test(reconciliation): cover reviewed disposition boundaries
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
Due: frontend-lint

feat(reconciliation): require reviewed source disposition
  apps/backend/src/extraction/__init__.py
  apps/backend/src/extraction/base/disposition.py
  apps/backend/src/extraction/extension/review_queue.py
  apps/backend/src/extraction/extension/statement_posting.py
  apps/backend/src/reconciliation/__init__.py
  apps/backend/src/reconciliation/base/__init__.py
  apps/backend/src/reconciliation/base/errors.py
  apps/backend/src/reconciliation/base/reviewed_disposition.py
  apps/backend/src/reconciliation/extension/review_queue.py
  apps/backend/src/reconciliation/extension/reviewed_disposition.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/schemas/reconciliation.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/api/test_typed_contract_sweep.py
  apps/backend/tests/reconciliation/test_reconciliation_endpoints.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/backend/tests/reconciliation/test_signature_surgery.py
  apps/frontend/openapi.json
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
  apps/frontend/src/lib/api-types.ts
  common/extraction/contract.py
  common/reconciliation/contract.py
  common/reconciliation/readme.md
  common/testing/preflight.py
  docs/reference/api.md
  tests/tooling/test_preflight.py
Due: validate-schemas, frontend-lint

fix(reconciliation): align stage two approval contract
  apps/backend/src/reconciliation/extension/review_queue.py
  apps/backend/src/routers/review.py
  apps/backend/src/schemas/review.py
  apps/frontend/openapi.json
  apps/frontend/src/__tests__/reviewLandingPage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.actions.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.coverage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/reviewRunPage.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueParts.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/components/review/stage2/PendingMatchesPanel.tsx
  apps/frontend/src/lib/api-types.ts
Due: validate-schemas, frontend-lint

fix(reconciliation): guard reviewed disposition input
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
Due: frontend-lint

test(reconciliation): await reviewed disposition state
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
Due: frontend-lint

fix(extraction): align posting outcome boundaries
  apps/backend/src/extraction/__init__.py
  apps/backend/src/extraction/base/types.py
  apps/backend/src/extraction/extension/statement_posting.py
  apps/backend/src/extraction/extension/statement_workflow.py
  apps/backend/tests/extraction/test_classification_migration.py
  apps/backend/tests/extraction/test_source_type_promotion.py
  apps/backend/tests/integration/test_statement_opening_balance_auto_post.py
  apps/backend/tests/reconciliation/test_signature_surgery.py
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  common/extraction/contract.py
  common/reconciliation/contract.py
  tests/tooling/test_base_package_migration_cleanup.py
Due: frontend-lint

fix(extraction): align review outcome contracts
  apps/backend/src/routers/statements.py
  docs/reference/router-contract-maturity.md
Due: none

test(testing): read review state from owning endpoint
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
Due: none

fix(reconciliation): anchor reviewed disposition traces
  apps/backend/ci/backend-test-durations.json
  apps/backend/src/composition.py
  apps/backend/src/extraction/base/disposition.py
  apps/backend/src/extraction/extension/disposition_trace.py
  apps/backend/src/reconciliation/__init__.py
  apps/backend/src/reconciliation/extension/review_queue.py
  apps/backend/src/reconciliation/extension/reviewed_disposition.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/schemas/reconciliation.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/extraction/test_disposition_policy.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/backend/tests/reconciliation/test_signature_surgery.py
  common/extraction/contract.py
  common/reconciliation/contract.py
  common/reconciliation/readme.md
  docs/user-guide/reconciliation.md
Due: validate-schemas

test(reconciliation): reject deleted raw handlers
  apps/backend/tests/reconciliation/test_signature_surgery.py
Due: none

fix(reconciliation): publish disposition trace boundary
  apps/backend/src/extraction/__init__.py
  apps/backend/src/reconciliation/extension/reviewed_disposition.py
  common/extraction/contract.py
  common/reconciliation/contract.py
Due: none

fix(reconciliation): bind review draft to transaction
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
Due: frontend-lint

feat(extraction): seal reviewed statement envelopes
  apps/backend/migrations/versions/0055_reviewed_statement_envelope.py
  apps/backend/src/extraction/__init__.py
  apps/backend/src/extraction/base/__init__.py
  apps/backend/src/extraction/base/reviewed_statement_envelope.py
  apps/backend/src/extraction/extension/extraction_trace.py
  apps/backend/src/extraction/extension/reviewed_statement_envelope.py
  apps/backend/src/extraction/extension/statement_parsing.py
  apps/backend/src/extraction/extension/statement_validation.py
  apps/backend/src/extraction/orm/reviewed_statement_envelope.py
  apps/backend/src/extraction/orm/statement_summary.py
  apps/backend/src/routers/statements.py
  apps/backend/src/runtime/extension/snapshot_anonymizer.py
  apps/backend/src/schemas/review.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_reviewed_statement_envelope.py
  apps/frontend/openapi.json
  apps/frontend/src/__tests__/statementReviewPage.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/ReviewActionBar.tsx
  apps/frontend/src/lib/api-types.ts
  apps/frontend/src/lib/queryInvalidation.ts
  apps/frontend/src/lib/statementReviewApi.ts
  common/extraction/contract.py
  common/extraction/readme.md
  common/meta/data/delivery-layer-baseline.json
  common/meta/data/migration-risk.yaml
  common/testing/preflight.py
  docs/reference/api.md
  tests/tooling/test_preflight.py
Due: validate-schemas, frontend-lint

chore(extraction): refresh rebase artifacts
  apps/backend/src/routers/statements.py
  common/meta/data/migration-risk.yaml
  docs/reference/router-contract-maturity.md
Due: none

fix(contracts): align migration and reconciliation evidence
  apps/backend/migrations/versions/0055_reviewed_statement_envelope.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/schemas/reconciliation.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
  apps/frontend/openapi.json
  apps/frontend/src/lib/api-types.ts
  apps/frontend/src/lib/types.ts
Due: validate-schemas, frontend-lint

test(reconciliation): stabilize combined package gates
  apps/frontend/src/__tests__/unmatchedBoardComponent.test.tsx
  common/meta/data/delivery-layer-baseline.json
Due: frontend-lint

fix(reconciliation): scope unmatched exclusions by tenant
  apps/backend/src/reconciliation/extension/reviewed_disposition.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/tests/reconciliation/test_reconciliation_router_additional.py
Due: none

test(ledger): prove anchored command rollback
  apps/backend/tests/ledger/test_decision_anchor.py
  common/ledger/contract.py
Due: none

fix(extraction): fail closed on missing source authority
  apps/backend/src/extraction/extension/statement_posting.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/ledger/test_decision_anchor.py
  common/extraction/contract.py
  common/ledger/contract.py
Due: none

test(tooling): accept grouped Money imports
  tests/tooling/test_orm_value_type_boundary.py
Due: none

feat(pricing): publish decision-backed valuation contributions
  apps/backend/src/pricing/__init__.py
  apps/backend/src/pricing/base/__init__.py
  apps/backend/src/pricing/base/contribution.py
  apps/backend/src/pricing/base/observation.py
  apps/backend/src/pricing/extension/__init__.py
  apps/backend/src/pricing/extension/manual.py
  apps/backend/src/pricing/extension/repository.py
  apps/backend/src/pricing/extension/valuation.py
  apps/backend/src/pricing/extension/valuation_contribution.py
  apps/backend/src/routers/assets.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  apps/backend/tests/pricing/test_resolved_valuation_contribution.py
  common/pricing/contract.py
  common/pricing/readme.md
Due: none

chore(api): regenerate valuation snapshot contract
  apps/frontend/openapi.json
Due: none

feat(extraction): publish decision-backed statement contributions
  apps/backend/src/extraction/__init__.py
  apps/backend/src/extraction/base/__init__.py
  apps/backend/src/extraction/base/contribution.py
  apps/backend/src/extraction/extension/statement_contribution.py
  apps/backend/tests/extraction/test_statement_contribution.py
  common/extraction/contract.py
  common/extraction/readme.md
Due: none

feat(ledger): publish decision-anchored journal contributions
  apps/backend/src/ledger/__init__.py
  apps/backend/src/ledger/base/__init__.py
  apps/backend/src/ledger/base/contribution.py
  apps/backend/src/ledger/extension/__init__.py
  apps/backend/src/ledger/extension/contribution.py
  apps/backend/tests/ledger/test_decision_anchor.py
  common/ledger/contract.py
Due: none
