Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

ci(pr-test): persistent registry-backed layer cache for preview builds
  .github/workflows/pr-test.yml
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

[finance_report_hacker] #831: fix CI — retire inline-edit AC16.11.33 + restore frontend coverage
  apps/frontend/playwright/inline-edit-happy-path.spec.ts
  apps/frontend/src/__tests__/TransactionTable.test.tsx
  apps/frontend/src/__tests__/statementsPage.test.tsx
  docs/project/EPIC-016.two-stage-review-ui.md
Due: frontend-lint

docs: bind SSOT orphan cleanup threshold
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/tdd.md
  tests/tooling/test_ssot_governance_report.py
Due: none

[finance_report_hacker] #831: fix CI — SSOT governance proof paths + mobile review read-only
  apps/frontend/playwright/mobile-ux.spec.ts
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/MANIFEST.yaml
Due: frontend-lint

docs: bind SSOT orphan cleanup threshold (#838)
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/tdd.md
  tests/tooling/test_ssot_governance_report.py
Due: none

[finance_report_ui] EPIC-022 PR1: everyday-user IA skeleton
  README.md
  apps/backend/tests/e2e/test_epic022_ia.py
  apps/frontend/next.config.mjs
  apps/frontend/playwright/epic022-ia-shell.spec.ts
  apps/frontend/src/__tests__/ChatPageClient.test.tsx
  apps/frontend/src/__tests__/advisorBrief.test.tsx
  apps/frontend/src/__tests__/cashFlowPage.test.tsx
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/incomeStatementPage.test.tsx
  apps/frontend/src/__tests__/loginPage.test.tsx
  apps/frontend/src/__tests__/mobileNav.coverage.test.tsx
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/__tests__/nextConfigRedirects.test.ts
  apps/frontend/src/__tests__/notificationsPage.test.tsx
  apps/frontend/src/__tests__/rootPage.test.tsx
  apps/frontend/src/__tests__/shellAndAuth.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/__tests__/statementsPage.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.processingVisibility.test.tsx
  apps/frontend/src/__tests__/workflowSurfaces.test.tsx
  apps/frontend/src/app/(main)/notifications/page.tsx
  apps/frontend/src/app/(main)/page.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/cash-flow/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/app/(main)/upload/page.tsx
  apps/frontend/src/app/login/page.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/src/components/AuthGuard.tsx
  apps/frontend/src/components/ChatPageClient.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/advisor/AdvisorBrief.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/components/workflow/WorkflowNotifications.tsx
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-022.everyday-user-ia.md
  docs/project/README.md
Due: frontend-lint

test: cover machine-owned SSOT proof migration
  docs/project/EPIC-014.ttd-transformation.md
  tests/tooling/test_ssot_governance_report.py
Due: none

[finance_report_hacker] #831: post-Stage-3 audit remediation (#837)
  apps/backend/migrations/versions/0031_drop_orphan_stage1_status_enum.py
  apps/backend/src/routers/evidence.py
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/extraction.py
  apps/backend/src/services/reconciliation.py
  apps/backend/src/services/report_readiness.py
  apps/backend/src/services/review_queue.py
  apps/backend/src/services/storage.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/extraction/test_deduplication.py
  apps/backend/tests/extraction/test_extraction.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/infra/test_main.py
  apps/backend/tests/reconciliation/test_reconciliation_stats.py
  apps/frontend/playwright/inline-edit-happy-path.spec.ts
  apps/frontend/playwright/mobile-ux.spec.ts
  apps/frontend/src/__tests__/TransactionTable.test.tsx
  apps/frontend/src/__tests__/epic016Components.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/__tests__/statementsPage.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/TransactionTable.tsx
  apps/frontend/src/components/review/__tests__/TransactionTable.keyEvents.test.tsx
  apps/frontend/src/lib/types.ts
  docs/analysis/traceability-exceptions.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/ci-cd.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/evidence-lineage.md
  docs/ssot/extraction.md
  docs/ssot/migration-risk.yaml
  docs/ssot/processing_account.md
  docs/ssot/reconciliation.md
  docs/ssot/schema.md
  docs/ssot/workflow-events.md
Due: frontend-lint

docs: migrate machine-owned SSOT proof entries
  docs/ssot/MANIFEST.yaml
  docs/ssot/tdd.md
Due: none

ci(pr-test): persistent registry-backed layer cache for preview builds (#833)
  .github/workflows/pr-test.yml
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

ci(pr-test): make PR preview deploy opt-in (off by default)
  .github/workflows/pr-test.yml
  docs/ssot/environments.md
Due: none

test(pr-test): prove preview opt-in contract; satisfy SSOT governance gate
  docs/ssot/MANIFEST.yaml
  tests/tooling/test_issue_489_deployment_contracts.py
Due: none

[finance_report_ui] EPIC-022 PR1: fix CI + address Copilot review
  apps/backend/tests/e2e/test_auth_flows.py
  apps/backend/tests/e2e/test_e2e_flows.py
  apps/backend/tests/e2e/test_epic022_ia.py
  apps/backend/tests/infra/test_epic_001_contracts.py
  apps/frontend/playwright/advisor-brief.spec.ts
  apps/frontend/playwright/inline-edit-happy-path.spec.ts
  apps/frontend/playwright/ui-visual-smoke.spec.ts
  apps/frontend/playwright/upload-first-dashboard.spec.ts
  apps/frontend/playwright/workflow-notifications.spec.ts
  apps/frontend/src/components/navigation.ts
  docs/project/EPIC-022.everyday-user-ia.md
  mkdocs.yml
Due: frontend-lint

[finance_report_audit] test: update app vault-agent contract to AppRole
  tests/tooling/test_issue_489_deployment_contracts.py
Due: none

ci(pr-test): add image-free in-runner full-stack E2E gate
  .github/workflows/pr-test.yml
  docker-compose.ci-e2e.yml
  docs/ssot/environments.md
  tests/tooling/test_issue_489_deployment_contracts.py
  tools/ci/e2e-nginx.conf
Due: none

docs: bind migrated SSOT inbound references
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/README.md
  docs/ssot/extraction.md
  docs/ssot/tdd.md
  tests/tooling/test_ssot_governance_report.py
Due: none

[finance_report_ui] EPIC-022 PR1: fix post-merge e2e-owner + visual-smoke gates
  apps/frontend/playwright/ui-visual-smoke.spec.ts
  docs/project/EPIC-008.testing-strategy.md
Due: frontend-lint

[finance_report_audit] chore: bump repo/ submodule to infra2 main (bf95e7e) (#843)
  tests/tooling/test_issue_489_deployment_contracts.py
Due: none

ci(pr-test): activate infra,app compose profiles for in-runner E2E
  .github/workflows/pr-test.yml
Due: none

ci(pr-test): provide local dokploy-network stand-in for in-runner E2E
  .github/workflows/pr-test.yml
Due: none

docs: standardize migrated SSOT markdown links
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/README.md
  docs/ssot/extraction.md
  docs/ssot/tdd.md
  tests/tooling/test_ssot_governance_report.py
  vision.md
Due: none

ci(pr-test): pass GIT_COMMIT_SHA so in-runner E2E version check matches
  .github/workflows/pr-test.yml
Due: none

ci(pr-test): allow edge origin for CORS in in-runner E2E
  .github/workflows/pr-test.yml
Due: none

test(pr-test): assert no Dokploy deploy precisely (allow dokploy-network stand-in)
  tests/tooling/test_issue_489_deployment_contracts.py
Due: none

[finance_report_test_and_doc] Migrate machine-owned SSOT proof entries (#842)
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/README.md
  docs/ssot/extraction.md
  docs/ssot/tdd.md
  tests/tooling/test_ssot_governance_report.py
  vision.md
Due: none

ci(pr-test): trigger on 'labeled' so the preview label opts in without a re-push
  .github/workflows/pr-test.yml
Due: none

[finance_report_ui] EPIC-022 PR3: report cockpit + source drill-down
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/reporting/test_account_lineage.py
  apps/frontend/playwright/reports-cockpit.spec.ts
  apps/frontend/src/__tests__/balanceSheetDrilldown.test.tsx
  apps/frontend/src/__tests__/lineagePanel.test.tsx
  apps/frontend/src/__tests__/reportsCockpit.test.tsx
  apps/frontend/src/components/reports/AccountLineageDrawer.tsx
  apps/frontend/src/components/reports/LineagePanel.tsx
  apps/frontend/src/lib/lineage.ts
Due: validate-schemas, frontend-lint

feat(frontend): non-blocking OpenPanel page-view tracking, per-environment
  .env.example
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/__tests__/analytics.test.tsx
  apps/frontend/src/__tests__/rootLayout.test.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/Analytics.tsx
Due: check-env-keys, frontend-lint

ci(pr-test): keep per-PR preview (deploy + smoke); full E2E stays in-runner
  .github/workflows/pr-test.yml
  docs/ssot/environments.md
  tests/tooling/test_issue_489_deployment_contracts.py
Due: none

[finance_report_ui] EPIC-022 PR3: wire account-lineage service, router, and report pages
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/services/reporting.py
  apps/frontend/src/__tests__/reportsPage.test.tsx
  apps/frontend/src/app/(main)/reports/balance-sheet/page.tsx
  apps/frontend/src/app/(main)/reports/income-statement/page.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-022.everyday-user-ia.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

test(pr-test): align E2E-gate AC contracts with preview->smoke split
  .github/workflows/pr-test.yml
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

address review: force-dynamic env read, gate render, trim, configurable scriptUrl
  .env.example
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/Analytics.tsx
  docs/analysis/traceability-exceptions.md
Due: check-env-keys, frontend-lint

[finance_report_ui] EPIC-022 PR3: regenerate API reference + cover drill-down branches
  apps/frontend/src/__tests__/balanceSheetDrilldown.test.tsx
  apps/frontend/src/__tests__/balanceSheetPage.test.tsx
  apps/frontend/src/__tests__/incomeStatementPage.test.tsx
  apps/frontend/src/__tests__/lineage.test.ts
  apps/frontend/src/__tests__/lineagePanel.test.tsx
  apps/frontend/src/__tests__/reportsPage.test.tsx
  docs/reference/api.md
Due: frontend-lint

[finance_report_vision] ci: image-free in-runner E2E gate + opt-in Dokploy preview (#839) (#841)
  .github/workflows/pr-test.yml
  docker-compose.ci-e2e.yml
  docs/ssot/MANIFEST.yaml
  docs/ssot/environments.md
  tests/tooling/test_issue_489_deployment_contracts.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/ci/e2e-nginx.conf
Due: none

chore: preview-env verification probe (do not merge)
  apps/backend/src/__init__.py
Due: none

ci: keep SSOT governance ratios non-decreasing
  common/ssot/governance_report.py
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/tdd.md
  tests/tooling/test_ssot_governance_report.py
Due: none

[finance_report_ui] EPIC-022 PR3: address review + fix unified coverage regression
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/reporting/test_account_lineage.py
  apps/frontend/src/__tests__/balanceSheetPage.test.tsx
  apps/frontend/src/__tests__/incomeStatementPage.test.tsx
  apps/frontend/src/components/reports/AccountLineageDrawer.tsx
Due: validate-schemas, frontend-lint

feat(frontend): non-blocking OpenPanel page-view tracking, per-environment (#848)
  .env.example
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/src/__tests__/analytics.test.tsx
  apps/frontend/src/__tests__/rootLayout.test.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/Analytics.tsx
  docs/analysis/traceability-exceptions.md
Due: check-env-keys, frontend-lint
