Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

test: retry PR preview storage upload
  docs/ssot/deployment.md
Due: none

docs: stabilize coverage gate semantics
  apps/backend/pyproject.toml
  common/ci/metrics_contract.py
  docs/ssot/ci-cd.md
  docs/ssot/coverage.md
  tests/tooling/test_ci_metrics_contract.py
  tests/tooling/test_coverage_policy.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/_lib/coverage/calculate_unified_coverage.py
Due: none

ci: clarify backend tier1 e2e scope
  .github/workflows/ci.yml
  apps/backend/pyproject.toml
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

ci: wait for PR preview SHA rollout
  .github/workflows/pr-test.yml
  tests/tooling/test_issue_489_deployment_contracts.py
Due: none

Harden mobile review UX gates
  .github/workflows/ci.yml
  apps/frontend/playwright/mobile-ux.spec.ts
  apps/frontend/src/__tests__/detailViewComponents.test.tsx
  apps/frontend/src/__tests__/rootLayout.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.confidenceAndAiQueue.test.tsx
  apps/frontend/src/app/(main)/review/ai-suggestions/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/journal/JournalEntryDetailsModal.tsx
  common/ssot/lint_doc_consistency.py
  docker-compose.yml
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/frontend-patterns.md
  tests/tooling/test_lint_doc_consistency.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
Due: frontend-lint

feat: add investment performance report schedule
  apps/backend/src/routers/portfolio.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  apps/frontend/src/__tests__/portfolioPage.test.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/components/portfolio/InvestmentPerformanceSchedule.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/reporting.md
  tests/e2e/test_personal_financial_report_package.py
Due: validate-schemas, frontend-lint

ci: add explicit backend integration and tier-1 e2e stages (#590)
  .github/workflows/ci.yml
  .github/workflows/pr-test.yml
  apps/backend/pyproject.toml
  apps/backend/tests/e2e/test_core_journeys.py
  apps/backend/tests/unit/infra/test_test_lifecycle.py
  common/ci/metrics_contract.py
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/coverage.md
  docs/ssot/deployment.md
  tests/e2e/test_vision_upload_to_dashboard_hard_gate.py
  tests/tooling/test_ci_metrics_contract.py
  tests/tooling/test_coverage_policy.py
  tests/tooling/test_issue_489_deployment_contracts.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/_lib/coverage/calculate_unified_coverage.py
Due: none

[finance_report_vision] feat: add investment performance report schedule (#594)
  apps/backend/src/routers/portfolio.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  apps/frontend/src/__tests__/portfolioPage.test.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/components/portfolio/InvestmentPerformanceSchedule.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/reporting.md
  docs/user-guide/reports.md
  tests/e2e/test_personal_financial_report_package.py
  tests/tooling/test_investment_performance_report_contract.py
Due: validate-schemas, frontend-lint

Harden mobile review UX gates (#593)
  .github/workflows/ci.yml
  apps/frontend/playwright/mobile-ux.spec.ts
  apps/frontend/src/__tests__/detailViewComponents.test.tsx
  apps/frontend/src/__tests__/rootLayout.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.confidenceAndAiQueue.test.tsx
  apps/frontend/src/app/(main)/review/ai-suggestions/page.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/journal/JournalEntryDetailsModal.tsx
  common/ssot/lint_doc_consistency.py
  docker-compose.yml
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/frontend-patterns.md
  tests/tooling/test_lint_doc_consistency.py
  tests/tooling/test_post_merge_e2e_gates.py
  tests/tooling/test_pr_preview_lifecycle.py
Due: frontend-lint

fix stage1 account mapping formatting and AC traceability
  apps/backend/src/routers/statements.py
  apps/backend/tests/api/test_statements_router.py
Due: none

fix(stage1): avoid async lazy IO in statements approval
  apps/backend/src/routers/statements.py
Due: none

fix(stage1): avoid generating checks during stage1 approvals
  apps/backend/src/routers/statements.py
Due: none

refactor(stage1): centralize posting guards
  apps/backend/src/routers/statements.py
  apps/backend/tests/api/test_statements_router.py
  docs/project/EPIC-003.statement-parsing.md
Due: none

fix(stage1): stabilize approval guard tests
  apps/backend/src/routers/statements.py
  apps/backend/tests/api/test_statements_router.py
  docs/ac_registry.yaml
  docs/project/EPIC-003.statement-parsing.md
  docs/ssot/extraction.md
Due: none

[finance_report_audit] Enforce Stage1 consistency checks and explicit account mapping
  apps/backend/src/routers/statements.py
  apps/backend/tests/api/test_statements_router.py
Due: none

refactor(stage1): simplify posting guard contract
  .github/workflows/ci.yml
  .github/workflows/pr-test.yml
  apps/backend/src/routers/statements.py
  apps/backend/src/services/stage1_posting_guard.py
  apps/backend/tests/api/test_statements_router.py
  common/ci/metrics_contract.py
  docs/ac_registry.yaml
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/extraction.md
  tests/tooling/test_ci_metrics_contract.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

fix(stage1): use text array for jsonb guard lookup
  apps/backend/src/services/stage1_posting_guard.py
Due: none

test(ci): align preview env validation assertion
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

docs: promote investment performance proof status
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/critical-proof-matrix.yaml
Due: none

docs: promote investment performance proof status (#597)
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/critical-proof-matrix.yaml
Due: none

ci: move VPS hygiene to Dokploy schedule
  .github/pull_request_template.md
  .github/workflows/pr-preview-cleanup.yml
  .github/workflows/pr-test.yml
  deploy/systemd/finance-report-vps-hygiene.service
  deploy/systemd/finance-report-vps-hygiene.timer
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  tests/tooling/test_cleanup_pr_preview_resources.py
  tests/tooling/test_pr_preview_lifecycle.py
  tests/tooling/test_vps_host_hygiene.py
  tools/_lib/dev/cleanup_pr_preview_resources.py
  tools/_lib/dev/pr_preview_lifecycle.py
  tools/_lib/dev/vps_host_hygiene.py
Due: none

test: cover mobile review workflow completion
  apps/frontend/playwright/mobile-ux.spec.ts
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/frontend-patterns.md
Due: frontend-lint

fix: complete mobile review workflows
  apps/frontend/playwright/mobile-ux.spec.ts
  apps/frontend/src/__tests__/TransactionTable.test.tsx
  apps/frontend/src/__tests__/reconciliationWorkbenchComponent.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/ReviewActionBar.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/components/review/TransactionTable.tsx
  apps/frontend/src/components/review/__tests__/TransactionTable.keyEvents.test.tsx
  docs/project/EPIC-008.testing-strategy.md
Due: frontend-lint

Fix financial logic audit issues
  apps/backend/src/routers/portfolio.py
  apps/backend/src/schemas/journal.py
  apps/backend/src/services/accounting.py
  apps/backend/src/services/performance.py
  apps/backend/src/services/reconciliation.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/accounting/test_multicurrency_integrity.py
  apps/backend/tests/portfolio/test_financial_logic_audit.py
  apps/backend/tests/reconciliation/test_reconciliation_financial_logic.py
  apps/backend/tests/reporting/test_financial_logic_audit.py
  apps/frontend/src/__tests__/detailViewComponents.test.tsx
  apps/frontend/src/__tests__/journalEntryFormComponent.test.tsx
  apps/frontend/src/components/journal/JournalEntryDetailsModal.tsx
  apps/frontend/src/components/journal/JournalEntryForm.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/accounting.md
  docs/ssot/assets.md
  docs/ssot/reconciliation.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

Cover journal FX UI branches
  apps/frontend/src/__tests__/detailViewComponents.test.tsx
  apps/frontend/src/__tests__/journalEntryFormComponent.test.tsx
Due: frontend-lint

ci: move VPS hygiene to Dokploy schedule (#600)
  .github/pull_request_template.md
  .github/workflows/pr-preview-cleanup.yml
  .github/workflows/pr-test.yml
  deploy/systemd/finance-report-vps-hygiene.service
  deploy/systemd/finance-report-vps-hygiene.timer
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/deployment.md
  tests/tooling/test_cleanup_pr_preview_resources.py
  tests/tooling/test_pr_preview_lifecycle.py
  tests/tooling/test_vps_host_hygiene.py
  tools/_lib/dev/cleanup_pr_preview_resources.py
  tools/_lib/dev/pr_preview_lifecycle.py
  tools/_lib/dev/vps_host_hygiene.py
Due: none

[finance_report_ui] Complete mobile review workflow hardening (#599)
  apps/frontend/playwright/mobile-ux.spec.ts
  apps/frontend/src/__tests__/TransactionTable.test.tsx
  apps/frontend/src/__tests__/reconciliationWorkbenchComponent.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/ReviewActionBar.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/components/review/TransactionTable.tsx
  apps/frontend/src/components/review/__tests__/TransactionTable.keyEvents.test.tsx
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/frontend-patterns.md
Due: frontend-lint

ci: harden Dokploy host hygiene cleanup
  .github/workflows/pr-test.yml
  tests/tooling/test_pr_preview_lifecycle.py
  tests/tooling/test_vps_host_hygiene.py
  tools/_lib/dev/vps_host_hygiene.py
Due: none

Harden investment performance audit semantics
  apps/backend/src/routers/portfolio.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/src/services/performance.py
  apps/backend/tests/portfolio/test_performance_service.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  apps/frontend/src/__tests__/portfolioPage.test.tsx
  apps/frontend/src/components/portfolio/InvestmentPerformanceSchedule.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/reporting.md
  docs/user-guide/reports.md
  tests/tooling/test_investment_performance_report_contract.py
Due: validate-schemas, frontend-lint

Update cash flow test expectations
  apps/backend/tests/reporting/test_reporting.py
  apps/backend/tests/reporting/test_reporting_fx.py
Due: none

ci: harden Dokploy host hygiene cleanup (#604)
  .github/workflows/pr-test.yml
  tests/tooling/test_pr_preview_lifecycle.py
  tests/tooling/test_vps_host_hygiene.py
  tools/_lib/dev/vps_host_hygiene.py
Due: none

Harden investment performance audit semantics (#605)
  apps/backend/src/routers/portfolio.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/src/services/performance.py
  apps/backend/tests/portfolio/test_performance_service.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  apps/frontend/src/__tests__/portfolioPage.test.tsx
  apps/frontend/src/components/portfolio/InvestmentPerformanceSchedule.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/reporting.md
  docs/user-guide/reports.md
  tests/tooling/test_investment_performance_report_contract.py
Due: validate-schemas, frontend-lint

Fix CI financial logic regressions
  apps/backend/src/routers/portfolio.py
  apps/backend/src/services/accounting.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/portfolio/test_performance_service.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reporting/test_reporting.py
Due: none

Fix reconciliation fallback and cash flow expectations
  apps/backend/src/services/reconciliation.py
  apps/backend/tests/reporting/test_reporting.py
Due: none

chore: harden AC traceability governance
  .github/workflows/ci.yml
  README.md
  apps/frontend/playwright.config.ts
  common/ssot/ac_traceability_refs.py
  common/ssot/analyze_test_ac_coverage.py
  common/ssot/check_ac_traceability.py
  common/ssot/lint_doc_consistency.py
  docs/ac_registry.yaml
  docs/analysis/test-ac-coverage-report.md
  docs/contributing/branch-policy.md
  docs/infra_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/ci-cd.md
  docs/ssot/development.md
  docs/ssot/tdd.md
  docs/ssot/test-execution-matrix.yaml
  tests/tooling/test_analyze_test_ac_coverage.py
  tests/tooling/test_check_ac_traceability.py
  tests/tooling/test_cli_and_dev_servers.py
  tests/tooling/test_lint_doc_consistency.py
  tools/_lib/dev/cli.py
Due: frontend-lint

Improve backend financial edge coverage
  apps/backend/src/services/reconciliation.py
  apps/backend/tests/accounting/test_accounting.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
Due: none

Define personal report package contract
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/__tests__/reportsPage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-005.reporting-visualization.md
  docs/ssot/reporting.md
  docs/user-guide/reports.md
Due: validate-schemas, frontend-lint

chore: harden AC traceability governance (#602)
  .github/workflows/ci.yml
  README.md
  apps/frontend/playwright.config.ts
  common/ssot/ac_traceability_refs.py
  common/ssot/analyze_test_ac_coverage.py
  common/ssot/check_ac_traceability.py
  common/ssot/lint_doc_consistency.py
  docs/ac_registry.yaml
  docs/analysis/test-ac-coverage-report.md
  docs/contributing/branch-policy.md
  docs/infra_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/MANIFEST.yaml
  docs/ssot/ci-cd.md
  docs/ssot/development.md
  docs/ssot/tdd.md
  docs/ssot/test-execution-matrix.yaml
  tests/tooling/test_analyze_test_ac_coverage.py
  tests/tooling/test_check_ac_traceability.py
  tests/tooling/test_cli_and_dev_servers.py
  tests/tooling/test_lint_doc_consistency.py
  tools/_lib/dev/cli.py
Due: frontend-lint

Cover backend financial audit edge branches
  apps/backend/tests/portfolio/test_financial_logic_audit.py
  apps/backend/tests/reconciliation/test_ai_reconciliation.py
  apps/backend/tests/reconciliation/test_reconciliation_scoring_helpers.py
Due: none

Define personal report package contract (#608)
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/__tests__/reportsPage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-005.reporting-visualization.md
  docs/ssot/reporting.md
  docs/user-guide/reports.md
Due: validate-schemas, frontend-lint
