Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

test: update config test for Gemini 3 model
  apps/backend/tests/test_main.py
Due: none

feat: upgrade to Gemini 3 Flash and fix model validation (#149)
  .env.example
  README.md
  apps/backend/src/config.py
  apps/backend/src/routers/statements.py
  apps/backend/tests/test_main.py
  apps/frontend/src/components/statements/StatementUploader.tsx
Due: check-env-keys, frontend-lint

test: boost reconciliation and reporting service coverage
  apps/backend/src/constants/error_ids.py
  apps/backend/tests/test_reconciliation_coverage_boost.py
  apps/backend/tests/test_reporting_fx.py
  docs/FX_RATE_SEEDING.md
  scripts/seed_fx_rates.py
Due: none

test: boost reconciliation and reporting service coverage (#146)
  apps/backend/src/constants/error_ids.py
  apps/backend/tests/test_reconciliation_coverage_boost.py
  apps/backend/tests/test_reporting_fx.py
  docs/FX_RATE_SEEDING.md
  scripts/seed_fx_rates.py
Due: none

feat(testing): add contract tests, AI model integration tests, and smoke tests to CI
  .github/workflows/pr-test.yml
  TESTING_GAP_ANALYSIS.md
  apps/backend/tests/test_ai_models_integration.py
  apps/backend/tests/test_config_contract.py
  apps/backend/tests/test_main.py
Due: none

feat: implement unrealized FX gain/loss calculation in reports
  apps/backend/src/services/reporting.py
  apps/backend/tests/test_reporting.py
Due: none

refactor: optimize FX reporting performance and enhance observability
  apps/backend/src/services/reporting.py
Due: none

fix: resolve ruff lint errors in reporting service
  apps/backend/src/services/reporting.py
  apps/backend/tests/test_reporting.py
Due: none

fix(tests): fix AI model integration tests
  apps/backend/pyproject.toml
  apps/backend/tests/test_ai_models_integration.py
Due: none

feat: add Docker logging limits to prevent log bloat
  STAGING_TEST_PLAN.md
  docker-compose.yml
  verify_logging_staging.sh
Due: none

fix: shorten FX fallback log message for line length compliance (#141)
  apps/backend/src/services/reporting.py
Due: none

feat: improve testing infrastructure (P0 quick wins) (#151)
  .github/workflows/pr-test.yml
  TESTING_GAP_ANALYSIS.md
  apps/backend/pyproject.toml
  apps/backend/tests/test_ai_models_integration.py
  apps/backend/tests/test_config_contract.py
  apps/backend/tests/test_main.py
Due: none

feat: add Docker logging limits to prevent log bloat (#152)
  STAGING_TEST_PLAN.md
  docker-compose.yml
  verify_logging_staging.sh
Due: none

chore: cleanup temporary test files and update infra2 submodule
  STAGING_TEST_PLAN.md
  apps/backend/tests/test_ai_models_integration.py
  apps/backend/tests/test_reporting_fx.py
  verify_logging_staging.sh
Due: none

chore: cleanup temporary test files and update infra2 submodule (#153)
  STAGING_TEST_PLAN.md
  apps/backend/tests/test_ai_models_integration.py
  apps/backend/tests/test_reporting_fx.py
  verify_logging_staging.sh
Due: none

feat(e2e): add API integration tests and deploy staging
  docs/README.md
  tests/e2e/pytest.ini
  tests/e2e/test_core_journeys.py
Due: none

fix: documentation and config cleanup from codebase audit
  AGENTS.md
  apps/backend/src/config.py
  docs/ssot/development.md
Due: check-env-keys

feat(assets): implement P0 asset lifecycle management with position reconciliation
  apps/backend/src/main.py
  apps/backend/src/routers/__init__.py
  apps/backend/src/routers/assets.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/assets.py
  apps/backend/src/services/assets.py
  apps/backend/tests/test_asset_service.py
  apps/backend/tests/test_assets_router.py
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/README.md
  docs/ssot/schema.md
Due: frontend-lint

fix: documentation and config cleanup from codebase audit (#156)
  AGENTS.md
  apps/backend/src/config.py
  docs/ssot/development.md
Due: check-env-keys

test: address PR review feedback - add security & accounting integrity tests
  tests/e2e/test_core_journeys.py
Due: none

feat(e2e): add API integration tests and deploy staging (#155)
  docs/README.md
  tests/e2e/pytest.ini
  tests/e2e/test_core_journeys.py
Due: none

fix: address PR review feedback for assets module
  apps/backend/src/routers/assets.py
  apps/backend/src/schemas/assets.py
  apps/backend/src/services/assets.py
  apps/backend/tests/test_assets_router.py
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/lib/types.ts
Due: frontend-lint

feat(assets): EPIC-011 P0 asset lifecycle management (#157)
  apps/backend/src/main.py
  apps/backend/src/routers/__init__.py
  apps/backend/src/routers/assets.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/assets.py
  apps/backend/src/services/assets.py
  apps/backend/tests/test_asset_service.py
  apps/backend/tests/test_assets_router.py
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/README.md
  docs/ssot/schema.md
Due: frontend-lint

feat(test): add testing infrastructure with project conventions compliance
  apps/backend/moon.yml
  apps/backend/pyproject.toml
  apps/backend/tests/conftest.py
  apps/backend/tests/e2e/conftest.py
  apps/backend/tests/e2e/test_statement_upload_e2e.py
  apps/backend/tests/factories.py
  apps/backend/tests/locustfile.py
  apps/backend/tests/test_accounting_coverage_boost.py
  apps/backend/tests/test_factories.py
  apps/backend/tests/test_reporting_coverage_final.py
  apps/backend/uv.lock
  docs/project/testing-gap-analysis.md
  docs/project/testing-implementation.md
Due: none

feat(test): add testing infrastructure with project conventions compliance (#154)
  apps/backend/moon.yml
  apps/backend/pyproject.toml
  apps/backend/tests/conftest.py
  apps/backend/tests/e2e/conftest.py
  apps/backend/tests/e2e/test_statement_upload_e2e.py
  apps/backend/tests/factories.py
  apps/backend/tests/locustfile.py
  apps/backend/tests/test_accounting_coverage_boost.py
  apps/backend/tests/test_factories.py
  apps/backend/tests/test_reporting_coverage_final.py
  apps/backend/uv.lock
  docs/project/testing-gap-analysis.md
  docs/project/testing-implementation.md
Due: none

feat(statements): improve parsing progress UX
  apps/frontend/src/app/(main)/statements/page.tsx
  apps/frontend/src/components/statements/StatementUploader.tsx
Due: frontend-lint

fix(frontend): improve reliability and cross-tab sync (#65)
  apps/frontend/src/components/AuthGuard.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
  apps/frontend/src/hooks/useWorkspace.tsx
Due: frontend-lint

fix(frontend): improve reliability and cross-tab sync (#65) (#159)
  apps/frontend/src/components/AuthGuard.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/reconciliation/UnmatchedBoard.tsx
  apps/frontend/src/hooks/useWorkspace.tsx
Due: frontend-lint

fix(frontend): eliminate direct fetch() usage - use api.ts wrapper
  apps/frontend/src/app/login/page.tsx
  apps/frontend/src/app/ping-pong/page.tsx
  apps/frontend/src/components/ChatPanel.tsx
  apps/frontend/src/lib/api.ts
Due: frontend-lint

feat(statements): improve parsing progress UX (#158)
  apps/frontend/src/app/(main)/statements/page.tsx
  apps/frontend/src/components/statements/StatementUploader.tsx
Due: frontend-lint

fix(frontend): eliminate direct fetch() usage - use api.ts wrapper (#160)
  apps/frontend/src/app/login/page.tsx
  apps/frontend/src/app/ping-pong/page.tsx
  apps/frontend/src/components/ChatPanel.tsx
  apps/frontend/src/lib/api.ts
Due: frontend-lint

fix(backend): distinguish OpenRouter error types with appropriate HTTP status codes
  apps/backend/src/routers/statements.py
  apps/backend/tests/test_statements_router.py
Due: none

fix(backend): distinguish OpenRouter error types with appropriate HTTP status codes (#162)
  apps/backend/src/routers/statements.py
  apps/backend/tests/test_statements_router.py
Due: none

feat(backend): implement CSV statement parsing for multiple bank formats
  apps/backend/src/services/extraction.py
  apps/backend/tests/test_csv_parsing.py
Due: none

perf(reporting): use SQL SUM/GROUP BY for balance sheet aggregation
  apps/backend/src/services/reporting.py
Due: none

feat(backend): implement CSV statement parsing for multiple bank formats (#163)
  apps/backend/src/services/extraction.py
  apps/backend/tests/test_csv_parsing.py
Due: none

fix(reporting): use historical FX rates for net income calculation
  apps/backend/src/services/reporting.py
Due: none
