Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

check-env-keys:
  name: Check env var consistency
  entry: python scripts/check_env_keys.py
  language: python
  pass_filenames: false

validate-schemas:
  name: Validate Pydantic schemas
  entry: python scripts/validate_schemas.py
  language: python
  pass_filenames: false

frontend-lint:
  name: Frontend ESLint
  entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
  language: system
  pass_filenames: false

[finance_report_audit] Fix financial logic audit issues (#603)
  apps/backend/src/routers/portfolio.py
  apps/backend/src/schemas/journal.py
  apps/backend/src/services/accounting.py
  apps/backend/src/services/performance.py
  apps/backend/src/services/reconciliation.py
  apps/backend/src/services/reporting.py
  apps/backend/src/services/review_queue.py
  apps/backend/tests/accounting/test_accounting.py
  apps/backend/tests/accounting/test_multicurrency_integrity.py
  apps/backend/tests/portfolio/test_financial_logic_audit.py
  apps/backend/tests/portfolio/test_performance_service.py
  apps/backend/tests/reconciliation/test_ai_reconciliation.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_financial_logic.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reconciliation/test_reconciliation_scoring_helpers.py
  apps/backend/tests/reporting/test_financial_logic_audit.py
  apps/backend/tests/reporting/test_reporting.py
  apps/backend/tests/reporting/test_reporting_fx.py
  apps/frontend/src/__tests__/detailViewComponents.test.tsx
  apps/frontend/src/__tests__/journalEntryFormComponent.test.tsx
  apps/frontend/src/components/journal/JournalEntryDetailsModal.tsx
  apps/frontend/src/components/journal/JournalEntryForm.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/accounting.md
  docs/ssot/assets.md
  docs/ssot/reconciliation.md
  docs/ssot/reporting.md
Due: validate-schemas, frontend-lint

ci: align vault app-token lifecycle
  common/shell/common.sh
  docs/ssot/deployment.md
  tests/tooling/test_issue_489_deployment_contracts.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/_lib/shell/dokploy_deploy.sh
Due: none

test: cover responsive review and accounts UX
  apps/frontend/playwright/mobile-ux.spec.ts
  apps/frontend/src/__tests__/TransactionTable.test.tsx
  apps/frontend/src/__tests__/epic016Components.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.actions.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/components/review/__tests__/TransactionTable.keyEvents.test.tsx
  docs/ac_registry.yaml
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/frontend-patterns.md
Due: frontend-lint

fix: reserve review table width margin
  apps/frontend/src/__tests__/TransactionTable.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/components/review/TransactionTable.tsx
Due: frontend-lint

test: cover frontend error branches
  apps/frontend/src/__tests__/pingPongPage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.coverage.test.tsx
Due: frontend-lint

fix: harden responsive account and review layouts
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/components/review/TransactionTable.tsx
Due: frontend-lint

fix: stabilize responsive review table widths
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/components/review/TransactionTable.tsx
Due: frontend-lint

ci: align vault app-token lifecycle (#610)
  common/shell/common.sh
  docs/ssot/deployment.md
  tests/tooling/test_issue_489_deployment_contracts.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/_lib/shell/dokploy_deploy.sh
Due: none

Define annualized income package schedule
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/reporting/test_annualized_income_schedule.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/reporting.md
  docs/user-guide/reports.md
Due: validate-schemas, frontend-lint

Define annualized income package schedule (#609)
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/backend/tests/reporting/test_annualized_income_schedule.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/ssot/reporting.md
  docs/user-guide/reports.md
Due: validate-schemas, frontend-lint

[finance_report_ui] Harden responsive account and review layouts (#607)
  apps/frontend/playwright/mobile-ux.spec.ts
  apps/frontend/src/__tests__/TransactionTable.test.tsx
  apps/frontend/src/__tests__/epic016Components.test.tsx
  apps/frontend/src/__tests__/pingPongPage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.actions.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.coverage.test.tsx
  apps/frontend/src/__tests__/reviewQueuePage.test.tsx
  apps/frontend/src/__tests__/stage2ReviewQueueCoverage99.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/review/Stage2ReviewQueue.tsx
  apps/frontend/src/components/review/TransactionTable.tsx
  apps/frontend/src/components/review/__tests__/TransactionTable.keyEvents.test.tsx
  docs/ac_registry.yaml
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/frontend-patterns.md
Due: frontend-lint

Add frontend UI primitives
  apps/frontend/README.md
  apps/frontend/src/__tests__/accountsPage.test.tsx
  apps/frontend/src/__tests__/statementsPage.test.tsx
  apps/frontend/src/__tests__/uiPrimitives.test.tsx
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/app/(main)/statements/page.tsx
  apps/frontend/src/components/ui/index.tsx
  docs/ac_registry.yaml
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/frontend-patterns.md
Due: frontend-lint

ci: publish failure-path observability artifacts
  .github/workflows/ci.yml
  .github/workflows/pr-preview-cleanup.yml
  .github/workflows/pr-test.yml
  .github/workflows/production-release.yml
  .github/workflows/staging-ai-ocr-gate.yml
  .github/workflows/staging-deploy.yml
  apps/backend/tests/reporting/test_financial_logic_audit.py
  common/ci/metrics_contract.py
  docs/ssot/ci-cd.md
  docs/ssot/coverage.md
  tests/tooling/test_calculate_unified_coverage.py
  tests/tooling/test_ci_metrics_contract.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/_lib/coverage/calculate_unified_coverage.py
Due: none

sync vision proof trackers
  docs/ac_registry.yaml
  docs/analysis/test-ac-coverage-report.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/critical-proof-matrix.yaml
  tests/e2e/test_personal_financial_report_package.py
Due: none

Add frontend UI primitives (#619)
  apps/frontend/README.md
  apps/frontend/src/__tests__/accountsPage.test.tsx
  apps/frontend/src/__tests__/statementsPage.test.tsx
  apps/frontend/src/__tests__/uiPrimitives.test.tsx
  apps/frontend/src/app/(main)/accounts/page.tsx
  apps/frontend/src/app/(main)/statements/page.tsx
  apps/frontend/src/components/ui/index.tsx
  docs/ac_registry.yaml
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/frontend-patterns.md
Due: frontend-lint

ci: publish failure-path observability artifacts (#625)
  .github/workflows/ci.yml
  .github/workflows/pr-preview-cleanup.yml
  .github/workflows/pr-test.yml
  .github/workflows/production-release.yml
  .github/workflows/staging-ai-ocr-gate.yml
  .github/workflows/staging-deploy.yml
  apps/backend/tests/reporting/test_financial_logic_audit.py
  common/ci/metrics_contract.py
  docs/ssot/ci-cd.md
  docs/ssot/coverage.md
  tests/tooling/test_calculate_unified_coverage.py
  tests/tooling/test_ci_metrics_contract.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/_lib/coverage/calculate_unified_coverage.py
Due: none

sync vision proof trackers (#626)
  docs/ac_registry.yaml
  docs/analysis/test-ac-coverage-report.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/critical-proof-matrix.yaml
  tests/e2e/test_personal_financial_report_package.py
Due: none

Add design token acceptance tests
  apps/frontend/src/__tests__/designTokens.test.tsx
  docs/ac_registry.yaml
Due: frontend-lint

Implement frontend design tokens
  apps/frontend/README.md
  apps/frontend/src/__tests__/uiPrimitives.test.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/ui/ConfidenceBadge.tsx
  apps/frontend/src/components/ui/index.tsx
  apps/frontend/tailwind.config.ts
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/frontend-patterns.md
Due: frontend-lint

Harden market data transaction boundaries
  apps/backend/src/routers/market_data.py
  apps/backend/src/routers/reports.py
  apps/backend/src/services/market_data.py
  apps/backend/src/services/market_data_scheduler.py
  apps/backend/tests/infra/test_transaction_boundaries.py
  apps/backend/tests/market_data/test_fx.py
  apps/backend/tests/market_data/test_provider_parsers.py
  apps/backend/tests/market_data/test_scheduler.py
  apps/backend/tests/market_data/test_sync.py
  docs/infra_registry.yaml
  docs/project/EPIC-012.foundation-libs.md
  docs/ssot/accounting.md
Due: none

Implement package notes disclosures
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/analysis/test-ac-coverage-report.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/critical-proof-matrix.yaml
  docs/ssot/reporting.md
  tests/e2e/test_personal_financial_report_package.py
Due: validate-schemas, frontend-lint

[finance_report_ui] Expand frontend design tokens (#628)
  apps/frontend/README.md
  apps/frontend/src/__tests__/designTokens.test.tsx
  apps/frontend/src/__tests__/uiPrimitives.test.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/ui/ConfidenceBadge.tsx
  apps/frontend/src/components/ui/index.tsx
  apps/frontend/tailwind.config.ts
  docs/ac_registry.yaml
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/frontend-patterns.md
Due: frontend-lint

Cover transaction boundary router paths
  apps/backend/tests/market_data/test_sync_router.py
  apps/backend/tests/reporting/test_reports_router.py
Due: none

ci: left-shift coverage and deploy gates
  .github/workflows/ci.yml
  common/ci/change_classifier.py
  common/ci/metrics_contract.py
  docs/ssot/ci-cd.md
  tests/tooling/test_ci_change_classifier.py
  tests/tooling/test_ci_metrics_contract.py
  tests/tooling/test_cli_and_dev_servers.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/_lib/dev/cli.py
Due: none

ci: keep coveralls out of pr gates
  .github/workflows/ci.yml
  README.md
  common/ci/metrics_contract.py
  docs/ac_registry.yaml
  docs/project/DELIVERY_ENGINE_RECOMMENDATIONS.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/coverage.md
  tests/tooling/test_ci_metrics_contract.py
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

Update pending review test for legacy parsed rows
  apps/backend/tests/api/test_statements_router.py
Due: none

Address Stage 1 posting review gaps
  apps/backend/src/routers/statements.py
  apps/backend/src/services/statement_posting.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/review/test_statement_validation.py
  docs/project/EPIC-003.statement-parsing.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/extraction.md
Due: none

Fix Stage 1 auto-post eligibility
  apps/backend/src/routers/statements.py
  apps/backend/src/services/statement_parsing.py
  apps/backend/src/services/statement_posting.py
  apps/backend/src/services/statement_validation.py
  apps/backend/src/services/validation.py
  apps/backend/tests/accounting/test_validation.py
  apps/backend/tests/ai/test_models_repr.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_extraction_flow.py
  apps/backend/tests/extraction/test_pdf_parsing.py
  apps/backend/tests/review/test_statement_validation.py
  docs/ac_registry.yaml
  docs/project/EPIC-003.statement-parsing.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/extraction.md
Due: none

Implement package notes disclosures (#629)
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/analysis/test-ac-coverage-report.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/critical-proof-matrix.yaml
  docs/ssot/reporting.md
  tests/e2e/test_personal_financial_report_package.py
Due: validate-schemas, frontend-lint

[finance_report_test_and_doc] Left-shift CI coverage and deploy gates (#627)
  .github/workflows/ci.yml
  README.md
  common/ci/change_classifier.py
  common/ci/metrics_contract.py
  docs/ac_registry.yaml
  docs/project/DELIVERY_ENGINE_RECOMMENDATIONS.md
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  docs/ssot/coverage.md
  tests/tooling/test_ci_change_classifier.py
  tests/tooling/test_ci_metrics_contract.py
  tests/tooling/test_cli_and_dev_servers.py
  tests/tooling/test_post_merge_e2e_gates.py
  tools/_lib/dev/cli.py
Due: none

Harden frontend UI verification
  apps/frontend/playwright/ui-visual-smoke.spec.ts
  apps/frontend/src/__tests__/confirmDialogComponent.test.tsx
  apps/frontend/src/__tests__/designTokens.test.tsx
  apps/frontend/src/__tests__/sheetAndDetailDialogComponents.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/__tests__/toastProviderComponent.test.tsx
  apps/frontend/src/__tests__/uiPrimitives.test.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/AppShell.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/WorkspaceTabs.tsx
  apps/frontend/src/components/ui/index.tsx
  docs/ac_registry.yaml
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/frontend-patterns.md
Due: frontend-lint

[finance_report_audit] Fix Stage 1 auto-post eligibility (#615)
  apps/backend/src/routers/statements.py
  apps/backend/src/services/statement_parsing.py
  apps/backend/src/services/statement_posting.py
  apps/backend/src/services/statement_validation.py
  apps/backend/src/services/validation.py
  apps/backend/tests/accounting/test_validation.py
  apps/backend/tests/ai/test_models_repr.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_extraction_flow.py
  apps/backend/tests/extraction/test_pdf_parsing.py
  apps/backend/tests/review/test_statement_validation.py
  docs/ac_registry.yaml
  docs/project/EPIC-003.statement-parsing.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/extraction.md
Due: none

Use savepoints for market data flush conflicts
  apps/backend/src/services/market_data.py
  apps/backend/tests/market_data/test_fx.py
  apps/backend/tests/market_data/test_provider_parsers.py
  apps/backend/tests/market_data/test_sync.py
  apps/backend/tests/market_data/test_sync_router.py
  apps/backend/tests/reporting/test_reports_router.py
Due: none

Harden frontend UI verification (#631)
  apps/frontend/playwright/ui-visual-smoke.spec.ts
  apps/frontend/src/__tests__/confirmDialogComponent.test.tsx
  apps/frontend/src/__tests__/designTokens.test.tsx
  apps/frontend/src/__tests__/sheetAndDetailDialogComponents.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/__tests__/toastProviderComponent.test.tsx
  apps/frontend/src/__tests__/uiPrimitives.test.tsx
  apps/frontend/src/app/globals.css
  apps/frontend/src/components/AppShell.tsx
  apps/frontend/src/components/Sidebar.tsx
  apps/frontend/src/components/WorkspaceTabs.tsx
  apps/frontend/src/components/ui/index.tsx
  docs/ac_registry.yaml
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/frontend-patterns.md
Due: frontend-lint

Implement package traceability appendix
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/ssot/critical-proof-matrix.yaml
  docs/ssot/reporting.md
  docs/user-guide/reports.md
  tests/e2e/test_personal_financial_report_package.py
Due: validate-schemas, frontend-lint

test: cover audit b financial invariants
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/reporting/test_reporting_fx_fallbacks.py
  apps/backend/tests/review/test_tolerance_policy.py
  apps/backend/tests/services/test_confidence_tier.py
  docs/ac_registry.yaml
Due: none

fix: enforce reconciliation audit invariants
  apps/backend/src/routers/review.py
  apps/backend/src/services/accounting.py
  apps/backend/src/services/confidence_tier.py
  apps/backend/src/services/reporting.py
  apps/backend/src/services/review_queue.py
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/reconciliation.md
  docs/ssot/reporting.md
Due: none

fix: align audit b regression expectations
  apps/backend/src/services/review_queue.py
  apps/backend/tests/reporting/test_reporting.py
Due: none

Implement package traceability appendix (#632)
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/tests/api/test_personal_report_package_contract.py
  apps/frontend/src/__tests__/personalReportPackagePage.test.tsx
  apps/frontend/src/app/(main)/reports/package/page.tsx
  apps/frontend/src/lib/types.ts
  docs/ac_registry.yaml
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/ssot/critical-proof-matrix.yaml
  docs/ssot/reporting.md
  docs/user-guide/reports.md
  tests/e2e/test_personal_financial_report_package.py
Due: validate-schemas, frontend-lint

fix: wire critical llm proof into staging gates
  .github/workflows/staging-ai-ocr-gate.yml
  .github/workflows/staging-deploy.yml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  tests/tooling/test_post_merge_e2e_gates.py
Due: none

Path conditions:
  check-env-keys: any of: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
  validate-schemas: any of: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
  frontend-lint: any of: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
