Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

test: cover dashboard empty-state onboarding
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  docs/ac_registry.yaml
  docs/project/EPIC-016.two-stage-review-ui.md
Due: frontend-lint

Fix reconciliation script test import stub
  scripts/tests/test_reconciliation_thresholds_unit.py
Due: none

fix: avoid dashboard onboarding heading collision
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
Due: frontend-lint

Add source type priority unit coverage
  apps/backend/src/services/source_type_priority.py
  apps/backend/tests/unit/services/test_source_type_priority.py
Due: none

[codex] Add dashboard empty-state onboarding (#466)
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  docs/ac_registry.yaml
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/ssot/frontend-patterns.md
Due: frontend-lint

ci: group AC registries by scenario anchors
  docs/ac_registry.yaml
  docs/infra_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/tdd.md
  scripts/ac_registry_format.py
  scripts/analyze_test_ac_coverage.py
  scripts/audit_ac_epic_mismatches.py
  scripts/build_ac_traceability.py
  scripts/check_ac_traceability.py
  scripts/generate_ac_registry.py
  scripts/lint_doc_consistency.py
  scripts/tests/test_analyze_test_ac_coverage.py
  scripts/tests/test_audit_ac_epic_mismatches.py
  scripts/tests/test_build_ac_traceability.py
  scripts/tests/test_check_ac_traceability.py
  scripts/tests/test_generate_ac_registry.py
  scripts/tests/test_lint_doc_consistency.py
Due: none

test: cover grouped AC registry validation
  scripts/tests/test_ac_registry_format.py
  scripts/tests/test_generate_ac_registry.py
Due: none

ci: group AC registries by scenario anchors (#468)
  docs/ac_registry.yaml
  docs/infra_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/tdd.md
  scripts/ac_registry_format.py
  scripts/analyze_test_ac_coverage.py
  scripts/audit_ac_epic_mismatches.py
  scripts/build_ac_traceability.py
  scripts/check_ac_traceability.py
  scripts/generate_ac_registry.py
  scripts/lint_doc_consistency.py
  scripts/tests/test_ac_registry_format.py
  scripts/tests/test_analyze_test_ac_coverage.py
  scripts/tests/test_audit_ac_epic_mismatches.py
  scripts/tests/test_build_ac_traceability.py
  scripts/tests/test_check_ac_traceability.py
  scripts/tests/test_generate_ac_registry.py
  scripts/tests/test_lint_doc_consistency.py
Due: none

Eliminate placeholder-only AC coverage
  apps/backend/src/main.py
  apps/backend/src/routers/__init__.py
  apps/backend/src/routers/assets.py
  apps/backend/src/routers/income.py
  apps/backend/src/routers/portfolio.py
  apps/backend/src/routers/review.py
  apps/backend/src/schemas/assets.py
  apps/backend/src/schemas/income.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/src/schemas/review.py
  apps/backend/tests/extraction/test_extraction.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  apps/backend/tests/reporting/test_income_annualized_router.py
  apps/backend/tests/review/test_review_conflicts_router.py
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/holdingDetailPage.test.tsx
  apps/frontend/src/__tests__/portfolioPage.test.tsx
  apps/frontend/src/__tests__/reviewIndexPage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.annualizedIncome.test.ts
  apps/frontend/src/__tests__/uiGapAudit.portfolioFE.test.ts
  apps/frontend/src/__tests__/uiGapAudit.stage1Refactor.test.ts
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/portfolio/[ticker]/page.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/ci-cd.md
  scripts/check_ac_traceability.py
  scripts/tests/test_analyze_test_ac_coverage.py
  scripts/tests/test_build_ac_traceability.py
  scripts/tests/test_check_ac_traceability.py
Due: validate-schemas, frontend-lint

Improve placeholder hardening coverage
  apps/frontend/src/__tests__/dashboardPage.test.tsx
Due: frontend-lint

test: cover dashboard trend failure path
  apps/frontend/src/__tests__/dashboardPage.test.tsx
Due: frontend-lint

test: cover coverage policy failure reporting
  scripts/tests/test_coverage_policy.py
Due: none

Improve placeholder hardening coverage
  apps/backend/tests/portfolio/test_portfolio_router.py
  apps/backend/tests/reporting/test_income_annualized_router.py
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/holdingDetailPage.test.tsx
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
Due: frontend-lint

Refresh traceability audit after registry regrouping
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  scripts/check_ac_traceability.py
  scripts/tests/test_coverage_policy.py
Due: none

[codex] Eliminate placeholder-only AC coverage (#467)
  apps/backend/src/main.py
  apps/backend/src/routers/__init__.py
  apps/backend/src/routers/assets.py
  apps/backend/src/routers/income.py
  apps/backend/src/routers/portfolio.py
  apps/backend/src/routers/review.py
  apps/backend/src/schemas/assets.py
  apps/backend/src/schemas/income.py
  apps/backend/src/schemas/portfolio.py
  apps/backend/src/schemas/review.py
  apps/backend/tests/extraction/test_extraction.py
  apps/backend/tests/portfolio/test_portfolio_router.py
  apps/backend/tests/reporting/test_income_annualized_router.py
  apps/backend/tests/review/test_review_conflicts_router.py
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  apps/frontend/src/__tests__/holdingDetailPage.test.tsx
  apps/frontend/src/__tests__/portfolioPage.test.tsx
  apps/frontend/src/__tests__/reviewIndexPage.test.tsx
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/__tests__/uiGapAudit.annualizedIncome.test.ts
  apps/frontend/src/__tests__/uiGapAudit.portfolioFE.test.ts
  apps/frontend/src/__tests__/uiGapAudit.stage1Refactor.test.ts
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/portfolio/[ticker]/page.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-011.asset-lifecycle.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/ci-cd.md
  scripts/check_ac_traceability.py
  scripts/tests/test_analyze_test_ac_coverage.py
  scripts/tests/test_build_ac_traceability.py
  scripts/tests/test_check_ac_traceability.py
  scripts/tests/test_coverage_policy.py
Due: validate-schemas, frontend-lint

[codex] Implement source type trust hierarchy (#465)
  apps/backend/migrations/versions/0018_source_type_priority.py
  apps/backend/src/models/journal.py
  apps/backend/src/routers/reconciliation.py
  apps/backend/src/routers/review.py
  apps/backend/src/routers/statements.py
  apps/backend/src/schemas/journal.py
  apps/backend/src/services/accounting.py
  apps/backend/src/services/reconciliation.py
  apps/backend/src/services/review_queue.py
  apps/backend/src/services/source_type_priority.py
  apps/backend/tests/_ac_stubs/test_epic_13_stubs.py
  apps/backend/tests/accounting/test_accounting_integration.py
  apps/backend/tests/api/test_reconciliation_router.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_source_type_promotion.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_review_queue.py
  apps/backend/tests/reconciliation/test_source_type.py
  apps/backend/tests/services/test_confidence_tier.py
  apps/backend/tests/unit/services/test_source_type_priority.py
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/ssot/source-type-priority.md
  scripts/tests/test_reconciliation_thresholds_unit.py
Due: validate-schemas

harden brokerage import reporting path
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/extraction.md
Due: none

harden brokerage import reporting path (#473)
  apps/backend/tests/portfolio/test_brokerage_position_parsing.py
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/extraction.md
Due: none

route brokerage OCR mismatches to parsed
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_statement_brokerage_import_bridge.py
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/extraction.md
Due: none

Add account statement coverage checks
  apps/backend/src/routers/accounts.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/account.py
  apps/backend/src/services/account_coverage.py
  apps/backend/tests/accounting/test_account_statement_coverage.py
  docs/ac_registry.yaml
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/README.md
  docs/ssot/extraction.md
  docs/ssot/schema.md
  scripts/tests/test_post_merge_e2e_gates.py
Due: validate-schemas

route brokerage OCR mismatches to parsed (#474)
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_statement_brokerage_import_bridge.py
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/extraction.md
Due: none

Add account statement coverage checks (#469)
  apps/backend/src/routers/accounts.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/account.py
  apps/backend/src/services/account_coverage.py
  apps/backend/tests/accounting/test_account_statement_coverage.py
  docs/ac_registry.yaml
  docs/project/EPIC-003.statement-parsing.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/README.md
  docs/ssot/extraction.md
  docs/ssot/schema.md
  scripts/tests/test_post_merge_e2e_gates.py
Due: validate-schemas

ci: reuse staging images after post-merge CI
  .github/workflows/ci.yml
  .github/workflows/staging-deploy.yml
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  scripts/check_ghcr_image_tag.sh
  scripts/tests/test_check_ghcr_image_tag.py
  scripts/tests/test_post_merge_e2e_gates.py
Due: none

Clean up traceability drift
  README.md
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/reporting/test_income_annualized_router.py
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  docs/ac_registry.yaml
  docs/analysis/test-ac-coverage-report.md
  docs/analysis/traceability-exceptions.md
  docs/project/AUDITS.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/project/README.md
  docs/ssot/assets.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/schema.md
Due: frontend-lint

ci: reuse staging images after post-merge CI (#476)
  .github/workflows/ci.yml
  .github/workflows/staging-deploy.yml
  docs/ac_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/ssot/ci-cd.md
  scripts/check_ghcr_image_tag.sh
  scripts/tests/test_check_ghcr_image_tag.py
  scripts/tests/test_post_merge_e2e_gates.py
Due: none

Clean up traceability drift (#481)
  README.md
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/reporting/test_income_annualized_router.py
  apps/frontend/src/__tests__/dashboardPage.test.tsx
  docs/ac_registry.yaml
  docs/analysis/test-ac-coverage-report.md
  docs/analysis/traceability-exceptions.md
  docs/project/AUDITS.md
  docs/project/EPIC-002.double-entry-core.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/project/README.md
  docs/ssot/assets.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/schema.md
Due: frontend-lint

test: add brokerage import completion flow
  apps/frontend/src/__tests__/brokerageImportCompletionFlow.test.tsx
Due: frontend-lint

test: add brokerage import completion flow (#483)
  apps/frontend/src/__tests__/brokerageImportCompletionFlow.test.tsx
Due: frontend-lint

test: prove automatic brokerage import reaches reports
  AGENTS.md
  apps/backend/tests/extraction/test_statement_brokerage_import_bridge.py
  docs/contributing/branch-policy.md
Due: none

fix ac epic mismatch triage
  README.md
  docs/analysis/ac-epic-mismatch-report.md
  docs/analysis/test-ac-coverage-report.md
  docs/project/AUDITS.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/README.md
  docs/ssot/tdd.md
  scripts/audit_ac_epic_mismatches.py
  scripts/tests/test_audit_ac_epic_mismatches.py
Due: none

test: prove automatic brokerage import reaches reports (#486)
  AGENTS.md
  apps/backend/tests/extraction/test_statement_brokerage_import_bridge.py
  docs/contributing/branch-policy.md
Due: none

fix ac epic mismatch triage (#485)
  README.md
  docs/analysis/ac-epic-mismatch-report.md
  docs/analysis/test-ac-coverage-report.md
  docs/project/AUDITS.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/README.md
  docs/ssot/tdd.md
  scripts/audit_ac_epic_mismatches.py
  scripts/tests/test_audit_ac_epic_mismatches.py
Due: none

docs: add brokerage upload proof matrix
  README.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/ci-cd.md
Due: none

docs: add brokerage upload proof matrix (#487)
  README.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/ci-cd.md
Due: none

close ac traceability gate hardening
  .github/workflows/ci.yml
  .github/workflows/pr-test.yml
  README.md
  docs/analysis/ac-epic-mismatch-report.md
  docs/analysis/test-ac-coverage-report.md
  docs/project/AUDITS.md
  docs/project/DECISIONS.md
  docs/project/DECISIONS_ZH.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/README.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/README.md
  docs/ssot/ci-cd.md
  docs/ssot/tdd.md
  scripts/ac_traceability_refs.py
  scripts/analyze_test_ac_coverage.py
  scripts/build_ac_traceability.py
  scripts/check_ci_metrics_contract.py
  scripts/ci_change_classifier.py
  scripts/tests/test_check_ac_traceability.py
  scripts/tests/test_ci_change_classifier.py
  scripts/tests/test_ci_metrics_contract.py
  scripts/tests/test_post_merge_e2e_gates.py
Due: none

close ac traceability gate hardening (#495)
  .github/workflows/ci.yml
  .github/workflows/pr-test.yml
  README.md
  docs/analysis/ac-epic-mismatch-report.md
  docs/analysis/test-ac-coverage-report.md
  docs/project/AUDITS.md
  docs/project/DECISIONS.md
  docs/project/DECISIONS_ZH.md
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/README.md
  docs/project/archive/AC-TEST-TRACEABILITY-AUDIT.md
  docs/ssot/README.md
  docs/ssot/ci-cd.md
  docs/ssot/tdd.md
  scripts/ac_traceability_refs.py
  scripts/analyze_test_ac_coverage.py
  scripts/build_ac_traceability.py
  scripts/check_ci_metrics_contract.py
  scripts/ci_change_classifier.py
  scripts/tests/test_check_ac_traceability.py
  scripts/tests/test_ci_change_classifier.py
  scripts/tests/test_ci_metrics_contract.py
  scripts/tests/test_post_merge_e2e_gates.py
Due: none

harden coveralls coverage parity gate
  .github/workflows/ci.yml
  docs/ssot/ci-cd.md
  docs/ssot/coverage.md
  scripts/check_ci_metrics_contract.py
  scripts/tests/test_ci_change_classifier.py
  scripts/tests/test_ci_metrics_contract.py
  scripts/tests/test_wait_for_github_status.py
  scripts/wait_for_github_status.py
Due: none

docs: require MECE task framing for agents
  AGENTS.md
  docs/agents/orchestration.md
Due: none
