Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

fix(testing): restore test_health_check to respect mirror assertion ratchet baseline
  tests/tooling/test_health_check.py
Due: none

fix(#2073): converge SSOT across API types, route redirects, APP_ROUTES, and manifest metadata
  apps/frontend/openapi.json
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/app/(main)/review/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/app/(main)/statements/upload/page.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/lib/api-operations.ts
  apps/frontend/src/lib/api-types.ts
  common/advisor/contract.py
  common/audit/contract.py
  common/extraction/contract.py
  common/identity/contract.py
  common/ledger/contract.py
  common/meta/contract.py
  common/meta/data/MANIFEST.yaml
  common/observability/contract.py
  common/pricing/contract.py
  common/reconciliation/contract.py
  common/reporting/contract.py
  common/runtime/contract.py
  common/testing/contract.py
  common/workflow/contract.py
Due: frontend-lint

test(runtime): cover observability link branches without mirror assertion
  tests/tooling/test_health_check.py
Due: none

fix(frontend): update approveCall body expectation to include auto_fill_default_categories and retain AC19.4.3 redirect
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/app/(main)/statements/upload/page.tsx
Due: frontend-lint

fix(lint): remove unused variables, resolve duplicate test definition, and clean unused import
  tests/tooling/test_ac_proof_kind.py
  tests/tooling/test_context_contract.py
  tools/resolve_release_coordinate.py
Due: none

feat(ssot): decouple private infrastructure domains and isolate Dokploy adapter (#2070)
  apps/frontend/next.config.mjs
  apps/frontend/src/__tests__/analytics.test.tsx
  apps/frontend/src/__tests__/api-urls.test.ts
  apps/frontend/src/components/Analytics.tsx
  common/runtime/health_check.py
  tests/tooling/test_health_check.py
  tools/_lib/dev/pr_preview_lifecycle/_dokploy.py
Due: frontend-lint

test(navigation): assert every APP_ROUTES entry is registered in ROUTE_CONFIG
  apps/frontend/src/__tests__/navigation.test.ts
Due: frontend-lint

fix(reconciliation): report detector input failures and align owner docs
  apps/backend/src/reconciliation/extension/candidate_policy.py
  apps/backend/tests/reconciliation/test_economic_disposition_governance.py
  common/reconciliation/extension/governance_detector.py
  common/reconciliation/readme.md
Due: none

test(reconciliation): migrate threshold fixture to candidate owner
  tests/tooling/test_reconciliation_thresholds_unit.py
Due: none

fix(reconciliation): align governance detector with rejection-aware unique index
  common/reconciliation/contract.py
  common/reconciliation/extension/governance_detector.py
Due: none

fix(testing): scope non-executed proof rejection to specific scenario proof
  tests/tooling/test_workflow_selection_conformance.py
Due: none

refactor(reconciliation): unify live and audit candidate policy
  apps/backend/src/reconciliation/__init__.py
  apps/backend/src/reconciliation/extension/candidate_policy.py
  apps/backend/src/reconciliation/extension/matching.py
  apps/backend/src/reconciliation/extension/phases/many_to_one.py
  apps/backend/src/reconciliation/extension/phases/normal_matching.py
  apps/backend/src/reconciliation/extension/reconciliation_audit.py
  apps/backend/tests/reconciliation/test_candidate_policy.py
  apps/backend/tests/reconciliation/test_economic_disposition.py
  apps/backend/tests/reconciliation/test_economic_disposition_governance.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reconciliation/test_signature_surgery.py
  common/reconciliation/contract.py
  common/reconciliation/extension/governance_detector.py
  common/reconciliation/readme.md
Due: none

governance(reconciliation): prove economic disposition invariants
  apps/backend/tests/reconciliation/test_economic_disposition.py
  apps/backend/tests/reconciliation/test_economic_disposition_governance.py
  common/reconciliation/contract.py
  common/reconciliation/extension/__init__.py
  common/reconciliation/extension/governance_detector.py
  common/reconciliation/readme.md
Due: none

test(reconciliation): add unbalanced batch test and tooling coverage anchor for governance detector
  apps/backend/tests/reconciliation/test_candidate_policy.py
  tests/tooling/test_reconciliation_governance_detector.py
Due: none

fix(ssot): align source_type_priority family with EPIC-014 member group source
  common/audit/contract.py
Due: none

[finance_report] fix(#2073): converge SSOT across API types, route redirects, and manifest metadata (#2074)
  apps/frontend/openapi.json
  apps/frontend/src/__tests__/navigation.test.ts
  apps/frontend/src/__tests__/statementReviewPage.coverage.test.tsx
  apps/frontend/src/app/(main)/review/page.tsx
  apps/frontend/src/app/(main)/statements/[id]/review/page.tsx
  apps/frontend/src/components/navigation.ts
  apps/frontend/src/lib/api-operations.ts
  apps/frontend/src/lib/api-types.ts
  common/advisor/contract.py
  common/audit/contract.py
  common/extraction/contract.py
  common/identity/contract.py
  common/ledger/contract.py
  common/meta/contract.py
  common/meta/data/MANIFEST.yaml
  common/observability/contract.py
  common/pricing/contract.py
  common/reconciliation/contract.py
  common/reporting/contract.py
  common/runtime/contract.py
  common/testing/contract.py
  common/workflow/contract.py
  tests/tooling/test_ac_proof_kind.py
  tests/tooling/test_context_contract.py
  tools/resolve_release_coordinate.py
Due: frontend-lint

fix(testing): add AC reference to test_reconciliation_governance_detector
  tests/tooling/test_reconciliation_governance_detector.py
Due: none

docs(agents): single-source merge authority, fix unsatisfiable §4 deploy clause (#2072)
  AGENTS.md
  docs/agents/orchestration.md
  docs/agents/red-lines.md
  docs/contributing/branch-policy.md
  docs/project/traceability-exceptions.md
  tests/tooling/test_merge_authority_wording.py
Due: none

[finance_report_pic] Unify reconciliation candidate policy and prove disposition invariants (#2029)
  apps/backend/src/reconciliation/__init__.py
  apps/backend/src/reconciliation/extension/candidate_policy.py
  apps/backend/src/reconciliation/extension/matching.py
  apps/backend/src/reconciliation/extension/phases/many_to_one.py
  apps/backend/src/reconciliation/extension/phases/normal_matching.py
  apps/backend/src/reconciliation/extension/reconciliation_audit.py
  apps/backend/tests/reconciliation/test_candidate_policy.py
  apps/backend/tests/reconciliation/test_economic_disposition.py
  apps/backend/tests/reconciliation/test_economic_disposition_governance.py
  apps/backend/tests/reconciliation/test_reconciliation_engine.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/reconciliation/test_signature_surgery.py
  common/reconciliation/contract.py
  common/reconciliation/extension/__init__.py
  common/reconciliation/extension/governance_detector.py
  common/reconciliation/readme.md
  tests/tooling/test_reconciliation_governance_detector.py
  tests/tooling/test_reconciliation_thresholds_unit.py
  tests/tooling/test_workflow_selection_conformance.py
Due: none

fix(coverage): re-baseline unified coverage after #2029 merge
  unified-coverage.json
Due: none

[runtime] fix(#2076): decouple backend config, boot status, and compose from private infra assets
  apps/backend/src/boot.py
  apps/backend/src/config.py
  apps/backend/tests/infra/test_boot.py
  docker-compose.yml
Due: check-env-keys, validate-schemas

[audit_project_completeness] fix(coverage): re-baseline unified coverage after #2029 merge (#2075)
  unified-coverage.json
Due: none

fix(compose): preserve dokploy-network external: true for CI preview compatibility
  docker-compose.yml
Due: none

fix(security): normalize empty CORS_ORIGIN_REGEX to None and omit from compose
  apps/backend/src/config.py
  apps/backend/src/main.py
  apps/backend/tests/infra/test_config.py
  common/runtime/env-reference.generated.md
  docker-compose.yml
Due: check-env-keys, validate-schemas

build(deps): upgrade infra2-sdk to v1.6.0 (#2078)
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  common/runtime/ci-cd.md
  common/runtime/deployment.md
Due: none

build(deps): upgrade infra2-sdk to v1.6.0 (#2078) (#2079)
  apps/backend/pyproject.toml
  apps/backend/uv.lock
  common/runtime/ci-cd.md
  common/runtime/deployment.md
Due: none

fix(cors): default CORS_ORIGIN_REGEX to ^$ and preserve Settings signature contract
  apps/backend/src/config.py
  apps/backend/src/main.py
  apps/backend/tests/infra/test_config.py
  common/runtime/env-reference.generated.md
Due: check-env-keys, validate-schemas

[runtime] fix(#2076): decouple backend config, boot status, and compose from private infra assets (#2076) (#2077)
  apps/backend/src/boot.py
  apps/backend/src/config.py
  apps/backend/src/main.py
  apps/backend/tests/infra/test_boot.py
  apps/backend/tests/infra/test_config.py
  common/runtime/env-reference.generated.md
  docker-compose.yml
Due: check-env-keys, validate-schemas

[runtime] fix(#2081): apply dynamic Content-Security-Policy via Next.js middleware
  apps/frontend/src/__tests__/middleware.test.ts
  apps/frontend/src/middleware.ts
Due: frontend-lint

test(runtime): reference AC1.10.4 in middleware.test.ts
  apps/frontend/src/__tests__/middleware.test.ts
Due: frontend-lint

test(runtime): use vi.stubEnv in middleware.test.ts
  apps/frontend/src/__tests__/middleware.test.ts
Due: frontend-lint

[audit_project_completeness] fix(runtime): apply dynamic Content-Security-Policy via Next.js middleware (#2081) (#2082)
  apps/frontend/src/__tests__/middleware.test.ts
  apps/frontend/src/middleware.ts
Due: frontend-lint

fix(runtime): include NEXT_PUBLIC_OTEL_EXPORTER_OTLP_ENDPOINT and NEXT_PUBLIC_API_URL in CSP connect-src (#2083)
  apps/frontend/next.config.mjs
  apps/frontend/src/__tests__/api-urls.test.ts
  apps/frontend/src/__tests__/middleware.test.ts
Due: frontend-lint

[audit_project_completeness] fix(runtime): include NEXT_PUBLIC_OTEL_EXPORTER_OTLP_ENDPOINT and NEXT_PUBLIC_API_URL in CSP connect-src (#2083) (#2084)
  apps/frontend/next.config.mjs
  apps/frontend/src/__tests__/api-urls.test.ts
  apps/frontend/src/__tests__/middleware.test.ts
Due: frontend-lint

docs(contributing): align branch-policy.md with owner standing grant on rule PRs
  docs/contributing/branch-policy.md
Due: none

docs(contributing): align branch-policy.md with owner standing grant on rule PRs (#2086)
  docs/contributing/branch-policy.md
Due: none

feat(deps): adopt infra2-sdk v2.0.1 release (#2087)
  apps/backend/pyproject.toml
  apps/backend/uv.lock
Due: none

feat(deps): adopt infra2-sdk v2.0.1 release (#2087) (#2088)
  apps/backend/pyproject.toml
  apps/backend/uv.lock
Due: none

feat(skills): vendor the eight common agent skills from dev_env
  skills/audit/SKILL.md
  skills/close/SKILL.md
  skills/codegraph/SKILL.md
  skills/prr/SKILL.md
  skills/recall/SKILL.md
  skills/smoke/SKILL.md
  skills/ssot/SKILL.md
  skills/start/SKILL.md
Due: none

fix(runtime): finish sensitivity and consumer manifest validation (#2016)
  apps/backend/src/config.py
  common/runtime/contract.py
  common/runtime/required-env.generated.json
  tests/tooling/test_required_env_manifest.py
  tools/generate_env_reference.py
Due: check-env-keys, validate-schemas
