Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

test(reports): assert real response fields per Copilot review
  apps/backend/tests/api/test_reports_router.py
Due: none

[finance_report_ui] #914 unified allocation first slice (#958)
  apps/frontend/src/__tests__/portfolioPage.test.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  docs/project/EPIC-017.portfolio-management.md
Due: frontend-lint

feat(reports): add net worth allocation schedule
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/reporting/test_reporting_net_worth_components.py
  apps/backend/tests/reporting/test_reports_router.py
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/reporting.md
Due: validate-schemas

docs(api): refresh reports reference
  docs/reference/api.md
Due: none

[finance_report_ui] #914 net-worth allocation contract (#961)
  apps/backend/src/routers/reports.py
  apps/backend/src/schemas/__init__.py
  apps/backend/src/schemas/reporting.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/reporting/test_reporting_net_worth_components.py
  apps/backend/tests/reporting/test_reports_router.py
  docs/project/EPIC-017.portfolio-management.md
  docs/reference/api.md
  docs/ssot/reporting.md
Due: validate-schemas

[finance_report_test_and_doc] test(reports): cover untested report-package/lineage/export branches (#959)
  apps/backend/tests/api/test_reports_router.py
Due: none

fix(reporting): audit-review fixes — restricted heads filter, provenance distinct, time-series scan amplification
  apps/backend/src/routers/assets.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  apps/backend/tests/reporting/test_balance_sheet_confidence.py
  apps/backend/tests/reporting/test_net_worth_timeseries.py
Due: none

test(core): cover reporting helpers, investment validation, journal fx/service-error
  apps/backend/tests/accounting/test_core_unit_coverage.py
  apps/backend/tests/accounting/test_journal_router_errors.py
Due: none

fix(reconciliation): Stage-1 duplicate guard respects balance_after (#962)
  apps/backend/migrations/versions/0038_atomic_txn_balance_after.py
  apps/backend/src/models/layer2.py
  apps/backend/src/routers/review.py
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/extraction/test_deduplication.py
  apps/backend/tests/review/test_statement_validation.py
  docs/project/EPIC-004.reconciliation-engine.md
Due: none

fix(reporting): audit-review fixes — restricted heads filter, provenance distinct, time-series scan amplification (#968)
  apps/backend/src/routers/assets.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  apps/backend/tests/reporting/test_balance_sheet_confidence.py
  apps/backend/tests/reporting/test_net_worth_timeseries.py
Due: none

fix(ci): green the #962 balance_after change (lint/schema/risk/columns)
  apps/backend/migrations/versions/0038_atomic_txn_balance_after.py
  apps/backend/tests/extraction/test_deduplication.py
  apps/backend/tests/infra/test_main.py
  apps/backend/tests/review/test_statement_validation.py
  docs/ssot/migration-risk.yaml
Due: none

fix(reconciliation): backfill balance_after for legacy rows on re-parse (#962 CR)
  apps/backend/src/services/deduplication.py
  apps/backend/tests/extraction/test_deduplication.py
Due: none

feat(assets): structured valuation basis for manual valuations (AC11.9.5, #706)
  apps/backend/migrations/versions/a14bb9204a08_add_valuation_basis_to_manual_valuations.py
  apps/backend/src/models/layer3.py
  apps/backend/src/routers/assets.py
  apps/backend/src/schemas/assets.py
  apps/backend/src/services/assets.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/assets/test_manual_valuation_basis.py
  docs/project/EPIC-011.asset-lifecycle.md
Due: validate-schemas

feat(audit): wire the confidence axis live — North-Star recording + load-bearing gate (#919/#930)
  apps/backend/src/routers/metrics.py
  apps/backend/src/routers/reports.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/api/test_reports_router.py
  apps/backend/tests/metrics/test_confidence_north_star_metric.py
  apps/backend/tests/review/test_statement_validation.py
  docs/project/EPIC-018.ai-driven-pipeline.md
Due: none

[finance_report_hacker] fix(reconciliation): Stage-1 duplicate guard respects balance_after (#962) (#970)
  apps/backend/migrations/versions/0038_atomic_txn_balance_after.py
  apps/backend/src/models/layer2.py
  apps/backend/src/routers/review.py
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/extraction/test_deduplication.py
  apps/backend/tests/infra/test_main.py
  apps/backend/tests/review/test_statement_validation.py
  docs/project/EPIC-004.reconciliation-engine.md
  docs/ssot/migration-risk.yaml
Due: none

docs(api): regenerate API reference for ManualValuationBasis schema
  docs/reference/api.md
Due: none

test(core): add AC references to satisfy doc-consistency traceability check
  apps/backend/tests/accounting/test_core_unit_coverage.py
Due: none

fix: regenerate api.md for new snapshot endpoint + tighten assertion to ==1 (CI/CR #973)
  apps/backend/tests/api/test_reports_router.py
  docs/reference/api.md
Due: none

fix(migration): chain valuation_basis migration after 0038 (resolve dual head)
  apps/backend/migrations/versions/a14bb9204a08_add_valuation_basis_to_manual_valuations.py
Due: none

chore(migrations): register a14bb9204a08 in migration-risk contract
  docs/ssot/migration-risk.yaml
Due: none

feat(portfolio): wire net worth allocation schedule
  apps/frontend/playwright/portfolio-provenance.spec.ts
  apps/frontend/src/__tests__/portfolioPage.test.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/reporting.md
Due: frontend-lint

[finance_report_audit] wire the confidence axis live: North-Star recording + load-bearing promotion gate (#919/#930) (#973)
  apps/backend/src/routers/metrics.py
  apps/backend/src/routers/reports.py
  apps/backend/src/services/statement_validation.py
  apps/backend/tests/api/test_reports_router.py
  apps/backend/tests/metrics/test_confidence_north_star_metric.py
  apps/backend/tests/review/test_statement_validation.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/reference/api.md
Due: none

fix(extraction): advance Stage-1 doc status + set stage1_status on review (#964, #966)
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_dual_write_layer2.py
  apps/backend/tests/extraction/test_extraction_flow.py
  docs/project/EPIC-016.two-stage-review-ui.md
Due: none

test(core): address Copilot review on fx_rate cross-currency tests
  apps/backend/tests/accounting/test_core_unit_coverage.py
Due: none

fix(audit): close the deterministic audit-review follow-ups in one pass
  apps/backend/src/routers/assets.py
  apps/backend/src/services/assets.py
  apps/backend/src/services/confidence_metric.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  apps/backend/tests/reporting/test_balance_sheet_confidence.py
  common/testing/detached_owner_guard.py
  tests/tooling/test_detached_owner_guard.py
Due: none

feat(portfolio): wire net worth allocation schedule (#971)
  apps/frontend/playwright/portfolio-provenance.spec.ts
  apps/frontend/src/__tests__/portfolioPage.test.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/lib/types.ts
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/reporting.md
Due: frontend-lint

fix(extraction): persist stage1_status onto the reused envelope (#966 CR)
  apps/backend/src/services/deduplication.py
  apps/backend/tests/extraction/test_dual_write_layer2.py
Due: none

[finance_report_vision] feat(assets): structured valuation basis for manual valuations (AC11.9.5, #706) (#972)
  apps/backend/migrations/versions/a14bb9204a08_add_valuation_basis_to_manual_valuations.py
  apps/backend/src/models/layer3.py
  apps/backend/src/routers/assets.py
  apps/backend/src/schemas/assets.py
  apps/backend/src/services/assets.py
  apps/backend/src/services/report_readiness.py
  apps/backend/tests/assets/test_manual_valuation_basis.py
  docs/project/EPIC-011.asset-lifecycle.md
  docs/reference/api.md
  docs/ssot/migration-risk.yaml
Due: validate-schemas

fix(audit): close the deterministic audit-review follow-ups in one pass (#979)
  apps/backend/src/routers/assets.py
  apps/backend/src/services/assets.py
  apps/backend/src/services/confidence_metric.py
  apps/backend/src/services/reporting.py
  apps/backend/tests/assets/test_manual_valuation_snapshots.py
  apps/backend/tests/reporting/test_balance_sheet_confidence.py
  common/testing/detached_owner_guard.py
  tests/tooling/test_detached_owner_guard.py
Due: none

test(core): assert on structured detail field per Copilot review
  apps/backend/tests/accounting/test_journal_router_errors.py
Due: none

feat(portfolio): reframe asset-dashboard performance answer (#914)
  apps/frontend/src/__tests__/investmentPerformanceSchedule.test.tsx
  apps/frontend/src/__tests__/performanceCard.test.tsx
  apps/frontend/src/app/(main)/portfolio/page.tsx
  apps/frontend/src/components/portfolio/InvestmentPerformanceSchedule.tsx
  apps/frontend/src/components/portfolio/PerformanceCard.tsx
  apps/frontend/src/lib/portfolioPerformance.ts
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/reporting.md
Due: frontend-lint

[finance_report_hacker] fix(extraction): Stage-1 state hygiene — doc status + stage1_status (#964, #966) (#975)
  apps/backend/src/services/deduplication.py
  apps/backend/src/services/extraction.py
  apps/backend/tests/extraction/test_dual_write_layer2.py
  apps/backend/tests/extraction/test_extraction_flow.py
  docs/project/EPIC-016.two-stage-review-ui.md
Due: none

test(portfolio): cover return formatting branches and drop dead defensive catches
  apps/frontend/src/__tests__/performanceCard.test.tsx
  apps/frontend/src/components/portfolio/PerformanceCard.tsx
Due: frontend-lint

[finance_report_test_and_doc] test(core): raise core financial-module coverage toward 99% / backend 98% (#969)
  apps/backend/tests/accounting/test_core_unit_coverage.py
  apps/backend/tests/accounting/test_journal_router_errors.py
Due: none

fix(portfolio): tolerate a partial performance schedule missing holdings
  apps/frontend/playwright/portfolio-provenance.spec.ts
  apps/frontend/src/__tests__/portfolioPerformance.test.ts
  apps/frontend/src/lib/portfolioPerformance.ts
Due: frontend-lint

feat(metrics): make the correction feedback loop observable (#931) + audit-tail cleanup
  apps/backend/src/routers/metrics.py
  apps/backend/src/schemas/metrics.py
  apps/backend/src/services/correction_loop.py
  apps/backend/tests/metrics/test_correction_loop_replay.py
  apps/backend/tests/services/test_correction_loop.py
  common/ssot/generate_ac_registry.py
  common/testing/detached_owner_guard.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/reference/api.md
  tests/tooling/test_generate_ac_registry.py
Due: validate-schemas

feat(accounting): guided opening-balance flow (AC2.15, #949)
  apps/backend/src/routers/accounts.py
  apps/backend/src/schemas/account.py
  apps/backend/src/services/account_service.py
  apps/backend/src/services/accounting.py
  apps/backend/tests/accounting/test_opening_balance.py
  docs/project/EPIC-002.double-entry-core.md
  docs/reference/api.md
Due: validate-schemas

test(reporting): year-scale reporting validation (AC5.20, #951)
  apps/backend/tests/reporting/test_year_scale_reporting.py
  docs/project/EPIC-005.reporting-visualization.md
Due: none

test(portfolio): tag performance helper unit test with AC17.14.4
  apps/frontend/src/__tests__/portfolioPerformance.test.ts
Due: frontend-lint

feat(metrics): make the correction feedback loop observable (#931) + audit-tail cleanup (#984)
  apps/backend/src/routers/metrics.py
  apps/backend/src/schemas/metrics.py
  apps/backend/src/services/correction_loop.py
  apps/backend/tests/metrics/test_correction_loop_replay.py
  apps/backend/tests/services/test_correction_loop.py
  common/ssot/generate_ac_registry.py
  common/testing/detached_owner_guard.py
  docs/project/EPIC-018.ai-driven-pipeline.md
  docs/reference/api.md
  tests/tooling/test_generate_ac_registry.py
Due: validate-schemas
