Repository wangzitian0/finance_report: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-env-keys, validate-schemas, frontend-lint

.pre-commit-config.yaml:

# Pre-commit hooks for Finance Report
# Install: pip install pre-commit && pre-commit install
#
# This prevents common CI failures:
# 1. Ruff lint errors (auto-fixed locally)
# 2. Environment variable sync issues (caught before push)
# 3. Trailing whitespace / merge conflicts

repos:
  # Ruff - Fast Python linter & formatter (replaces flake8, isort, black)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      # Run linter with auto-fix
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi]
      # Run formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Type checking with mypy
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=2.7.0
          - sqlalchemy>=2.0.30
          - types-redis
        args: [--warn-unused-ignores, --ignore-missing-imports]
        pass_filenames: false  # Run from apps/backend directory
        entry: bash -c 'cd apps/backend && mypy src/'

  # General file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.snap)$
      - id: end-of-file-fixer
        exclude: ^(.*\.md|.*\.snap)$
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in GitHub Actions
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: no-commit-to-branch
        args: [--branch, main]

  # Environment variable consistency check
  - repo: local
    hooks:
      - id: check-env-keys
        name: Check env var consistency
        entry: python scripts/check_env_keys.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|\.env\.example|repo/.*secrets\.ctmpl)$
        # Only run when relevant files change

  # Schema validation
  - repo: local
    hooks:
      - id: validate-schemas
        name: Validate Pydantic schemas
        entry: python scripts/validate_schemas.py
        language: python
        pass_filenames: false
        files: ^(apps/backend/src/config\.py|apps/backend/src/schemas/.*\.py)$
        # Only run when relevant files change

  # Frontend lint (if changed)
  - repo: local
    hooks:
      - id: frontend-lint
        name: Frontend ESLint
        entry: bash -c 'set -e; cd apps/frontend && npm run lint -- --max-warnings 0'
        language: system
        files: ^apps/frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

# CI configuration
ci:
  autofix_prs: true
  autofix_commit_msg: "style: auto-fix from pre-commit hooks"
  autoupdate_schedule: monthly

fix(tests): isolate TestBaselineComparison from real ROOT_DIR to prevent baseline corruption
  scripts/tests/test_calculate_unified_coverage.py
Due: none

fix: handle empty BASELINE_FILE and align docs with no-regression-only coverage gate
  docs/ssot/coverage.md
  docs/ssot/development.md
  scripts/calculate_unified_coverage.py
Due: none

chore: update coverage baseline after BASELINE_FILE fix (scripts +2 lines)
  unified-coverage.json
Due: none

test: CI coverage gate verification (baseline comparison + lint extraction) (#308)
  .github/workflows/ci.yml
  .gitignore
  docs/ssot/coverage.md
  docs/ssot/development.md
  scripts/calculate_unified_coverage.py
  scripts/tests/test_calculate_unified_coverage.py
  unified-coverage.json
Due: none

docs: close 6 AC/SSOT gaps — EPIC-017 ACs, source-type SSOT, confirmation workflow, KPI ACs, coverage ACs, reconciliation ACs
  docs/ac_registry.yaml
  docs/infra_registry.yaml
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/README.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/source-type-priority.md
Due: none

docs: fix 9 review findings in gap-closure-docs PR
  docs/ac_registry.yaml
  docs/infra_registry.yaml
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/README.md
  docs/ssot/source-type-priority.md
Due: none

test: raise unified coverage to 96.61% (backend 97.09% + frontend 89.63% + scripts 96.63%)
  apps/backend/lcov.info
  apps/backend/tests/accounting/test_processing_account.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_csv_parsing.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/unit/utils/test_security.py
  apps/frontend/src/__tests__/StatementUploader.test.tsx
  apps/frontend/src/__tests__/apiFunctions.test.ts
  apps/frontend/src/__tests__/auth_ssr.test.ts
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/__tests__/statementDetailPage.test.tsx
  apps/frontend/src/__tests__/types.test.ts
  docs/project/README.md
  docs/ssot/README.md
  docs/ssot/coverage-verification.md
  docs/ssot/coverage.md
  docs/ssot/development.md
  docs/ssot/tdd.md
  scripts/lcov.info
  scripts/tests/test_check_env_keys.py
  scripts/tests/test_cli_and_dev_servers.py
  scripts/tests/test_debug.py
  scripts/tests/test_generate_fixtures.py
  scripts/tests/test_lifecycle_and_pdf_scripts.py
  scripts/tests/test_sanitize_fixtures.py
  scripts/tests/test_seed_fx_rates.py
  scripts/tests/test_validate_schemas.py
  unified-coverage.json
Due: frontend-lint

fix: address all 9 remaining Copilot review comments on PR #310
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/source-type-priority.md
Due: none

fix(test): restore reconciliation config cache after env/path mocking to prevent test isolation leak
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
Due: none

fix(test): mock src.* and sqlalchemy imports in test_seed_fx_rates for CI
  .github/workflows/ci.yml
  scripts/tests/test_seed_fx_rates.py
Due: none

fix(ci): add pytest-asyncio and anyio to scripts test uv run deps
  .github/workflows/ci.yml
Due: none

fix: address second-round Copilot review comments (Fix A/B/C)
  docs/infra_registry.yaml
  docs/project/EPIC-014.ttd-transformation.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/source-type-priority.md
Due: none

test(scripts): cover dev_backend/dev_frontend main() and unified coverage edge cases; fix CI baseline denominator
  apps/backend/tests/extraction/test_extraction_error_paths.py
  scripts/tests/test_calculate_unified_coverage.py
  scripts/tests/test_cli_and_dev_servers.py
  unified-coverage.json
Due: none

docs: close 6 AC/SSOT gaps — portfolio KPIs, source-type priority, confirmation workflow, reconciliation ACs, coverage tooling (#310)
  docs/ac_registry.yaml
  docs/infra_registry.yaml
  docs/project/EPIC-004.reconciliation-engine.md
  docs/project/EPIC-005.reporting-visualization.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/EPIC-014.ttd-transformation.md
  docs/project/EPIC-016.two-stage-review-ui.md
  docs/project/EPIC-017.portfolio-management.md
  docs/project/README.md
  docs/ssot/README.md
  docs/ssot/confirmation-workflow.md
  docs/ssot/source-type-priority.md
Due: none

chore: remove committed lcov artifacts and add *.lcov/*.info to .gitignore
  .gitignore
  apps/backend/lcov.info
  scripts/lcov.info
Due: none

fix(tests): address Copilot CR comments on PR #311
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/frontend/src/__tests__/StatementUploader.test.tsx
  apps/frontend/src/__tests__/apiFunctions.test.ts
  apps/frontend/src/__tests__/auth_ssr.test.ts
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/statementDetailPage.test.tsx
  docs/ssot/tdd.md
  scripts/tests/test_cli_and_dev_servers.py
  scripts/tests/test_seed_fx_rates.py
Due: frontend-lint

test: fix sys.modules patch scoping and strengthen test_main_default_env_is_local assertion
  scripts/tests/test_seed_fx_rates.py
Due: none

test: raise unified coverage to 96.61% — target 96% achieved (#311)
  .github/workflows/ci.yml
  .gitignore
  apps/backend/tests/accounting/test_processing_account.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_csv_parsing.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/unit/utils/test_security.py
  apps/frontend/src/__tests__/StatementUploader.test.tsx
  apps/frontend/src/__tests__/apiFunctions.test.ts
  apps/frontend/src/__tests__/auth_ssr.test.ts
  apps/frontend/src/__tests__/chatPanelComponent.test.tsx
  apps/frontend/src/__tests__/sidebarAndTabs.test.tsx
  apps/frontend/src/__tests__/statementDetailPage.test.tsx
  apps/frontend/src/__tests__/types.test.ts
  docs/project/README.md
  docs/ssot/README.md
  docs/ssot/coverage-verification.md
  docs/ssot/coverage.md
  docs/ssot/development.md
  docs/ssot/tdd.md
  scripts/tests/test_calculate_unified_coverage.py
  scripts/tests/test_check_env_keys.py
  scripts/tests/test_cli_and_dev_servers.py
  scripts/tests/test_debug.py
  scripts/tests/test_generate_fixtures.py
  scripts/tests/test_lifecycle_and_pdf_scripts.py
  scripts/tests/test_sanitize_fixtures.py
  scripts/tests/test_seed_fx_rates.py
  scripts/tests/test_validate_schemas.py
  unified-coverage.json
Due: frontend-lint

fix(ci): use GITHUB_TOKEN with contents:write instead of BASELINE_UPDATE_PAT for baseline push
  .github/workflows/ci.yml
Due: none

fix(ci): use GITHUB_TOKEN with contents:write instead of BASELINE_UPDATE_PAT (#314)
  .github/workflows/ci.yml
Due: none

fix(ci): remove baseline auto-push that conflicts with branch protection
  .github/workflows/ci.yml
Due: none

fix(ci): exclude integration tests from regular CI runs
  .github/workflows/ci.yml
Due: none

fix: adjust frontend coverage thresholds for CI
  apps/frontend/vitest.config.ts
Due: frontend-lint

feat(test): improve test coverage to 96.61%
  apps/backend/pyproject.toml
  apps/backend/tests/unit/schemas/test_schemas.py
  apps/frontend/src/__tests__/ChatPageClient.test.tsx
  apps/frontend/src/__tests__/ChatWidget.test.tsx
  apps/frontend/src/__tests__/api-urls.test.ts
  apps/frontend/vitest.config.ts
  unified-coverage.json
Due: frontend-lint

fix: address Copilot PR review comments
  apps/frontend/src/__tests__/ChatPageClient.test.tsx
  apps/frontend/src/__tests__/ChatWidget.test.tsx
  apps/frontend/src/__tests__/api-urls.test.ts
Due: frontend-lint

fix(ci): remove baseline auto-push that conflicts with branch protection (#315)
  .github/workflows/ci.yml
Due: none

fix: auto-fix pre-existing F841 and I001 lint violations in extraction/reconciliation tests
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
Due: none

fix: close EPIC-013/012/008 gaps — pool config, BaseAppException, 5 E2E journeys
  .env.example
  apps/backend/src/config.py
  apps/backend/src/database.py
  apps/backend/src/utils/exceptions.py
  apps/backend/tests/e2e/test_core_journeys.py
  apps/backend/tests/infra/test_config_contract.py
  apps/backend/tests/infra/test_exceptions.py
  docs/ac_registry.yaml
  docs/infra_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/README.md
Due: check-env-keys, validate-schemas

fix: rename ambiguous variable l to line in E2E journey tests (E741)
  apps/backend/tests/e2e/test_core_journeys.py
Due: none

style: apply ruff format to exceptions.py, test_core_journeys.py, test_config_contract.py
  apps/backend/src/utils/exceptions.py
  apps/backend/tests/e2e/test_core_journeys.py
  apps/backend/tests/infra/test_config_contract.py
Due: none

fix: resolve review comments — BaseAppException handler, pool alias, test improvements
  .env.example
  apps/backend/src/config.py
  apps/backend/src/main.py
  apps/backend/tests/e2e/test_core_journeys.py
  apps/backend/tests/infra/test_config_contract.py
  apps/backend/tests/infra/test_exceptions.py
  docs/infra_registry.yaml
Due: check-env-keys, validate-schemas

fix: address review comments — pool validators, SQLite compat, deterministic tests
  apps/backend/src/config.py
  apps/backend/src/database.py
  apps/backend/tests/infra/test_config_contract.py
Due: check-env-keys, validate-schemas

style: apply ruff format to 7 pre-existing unformatted test files
  apps/backend/tests/accounting/test_processing_account.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/extraction/test_csv_parsing.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/infra/test_exceptions.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/unit/utils/test_security.py
Due: none

fix: update baseline to CI-actual coverage
  unified-coverage.json
Due: none

feat: improve test coverage to 96.61% (#313)
  apps/backend/pyproject.toml
  apps/backend/tests/unit/schemas/test_schemas.py
  apps/frontend/src/__tests__/ChatPageClient.test.tsx
  apps/frontend/src/__tests__/ChatWidget.test.tsx
  apps/frontend/src/__tests__/api-urls.test.ts
  apps/frontend/vitest.config.ts
  unified-coverage.json
Due: frontend-lint

fix: address second-round review comments
  apps/backend/src/main.py
  apps/backend/tests/e2e/test_core_journeys.py
  apps/backend/tests/infra/test_config_contract.py
  apps/backend/tests/infra/test_exceptions.py
Due: none

fix: close EPIC-013/012/008 gaps — pool config, BaseAppException, 5 E2E journeys (#312)
  .env.example
  apps/backend/src/config.py
  apps/backend/src/database.py
  apps/backend/src/main.py
  apps/backend/src/utils/exceptions.py
  apps/backend/tests/accounting/test_processing_account.py
  apps/backend/tests/api/test_statements_router.py
  apps/backend/tests/e2e/test_core_journeys.py
  apps/backend/tests/extraction/test_csv_parsing.py
  apps/backend/tests/extraction/test_extraction_error_paths.py
  apps/backend/tests/infra/test_config_contract.py
  apps/backend/tests/infra/test_exceptions.py
  apps/backend/tests/reconciliation/test_reconciliation_matching_unit.py
  apps/backend/tests/unit/utils/test_security.py
  docs/ac_registry.yaml
  docs/infra_registry.yaml
  docs/project/EPIC-008.testing-strategy.md
  docs/project/EPIC-012.foundation-libs.md
  docs/project/EPIC-013.statement-parsing-v2.md
  docs/project/README.md
Due: check-env-keys, validate-schemas

feat: improve vision alignment across dashboard, reports, and portfolio pages
  apps/frontend/src/app/(main)/assets/page.tsx
  apps/frontend/src/app/(main)/dashboard/page.tsx
  apps/frontend/src/app/(main)/reports/page.tsx
Due: frontend-lint
